{% extends "m/m_base_new.html" %}
{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page heizflaechenoptimierung{% endblock %}
{% block mheader %}
    <a href="/m_{{regelung}}/{{ haus.id }}/show/{{objid}}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none">&nbsp;</a>
{% endblock %}

{% block mcontent %}

<div data-role="tabs" id="tabs">

    <div data-role="navbar">
        <ul>
            <li><a href="#one" data-ajax="false">Übersicht</a></li>
            <li><a href="#two" data-ajax="false">Einstellungen</a></li>
        </ul>
    </div>

    <div class="ui-grid-a ui-alt-icon" style="border-bottom: #ccc solid 1px; margin-top: -5px">
        <a data-role="none" href="/m_{{regelung}}/{{ haus.id }}/show/{{objid}}/" class="ui-link-inherit custome_a">
            <div class="room_wrapper">
                <img src="/static/heating-icons/icon_{{reg_param.icon}}.png" alt="icon"/>{{reg_param.name}}
            </div>
        </a>
    </div>

    <div id="one" class="ui-body-d ui-content ui-alt-icon">

        <div style="padding-left: 30px; padding-right: 30px">
            <h4>Aktueller Zustand</h4>


            <b>Berechnungszeitpunkte</b>
            <ul>
                <li>Letzte Berechnung: {{ last_check }}</li>
                <li>Geplante nächste Berechnung: {{ next_check }}</li>
            </ul>

            <b>Verwendete Parameter</b>
            <ul>
                <li>Mittelwert-Zeitraum Außentemperatur {{ module_params.start_time }} / {{ module_params.end_time }} </li>
                <li>Korrekturkennlinie: {{ module_params.heating_element_end_1 }} / {{ module_params.heating_element_end_2 }} </li>
            </ul>

            <b>Berechnete Werte</b>
            <ul>
                <li>Durchschnittliche Außentemperatur: {{ average|floatformat:2 }}°C </li>
                <li>Basierend auf Vorhersagereihe:
                    {% if forecast %}
                        {% for item in forecast %}
                            {{ item.0}} {{ item.1 }}°C ,
                        {% endfor %}
                    {% else %}
                        -
                    {% endif %}
                </li>
                <li>Berechneter Offset: {{ heating_element_temp|floatformat:2 }} °C </li>
            </ul>
        </div>

    </div>

    <div id="two" class="ui-body-d ui-content ui-alt-icon" style="padding: 0px">
        <form action="/m_{{ regelung }}/{{ haus.id }}/show/{{ objid }}/aussentemperaturkorrektur/" method="post" data-ajax="false">{% csrf_token %}

            <div id="rangesslider-list" class="custom_slider" style="padding:30px">

                <div class="slider-wrapper">
                    <div>
                        <div data-role="rangeslider" id="range1" data-mini="true" data-highlight="true" data-popup-enabled="true">
                            <label for="time-startmz" >Mittelwert-Zeitraum-Außentemperatur</label>
                            <input data-popup-enabled="true" type="range"
                                   name="time-start" id="time-startmz" min="0" max="72" value="{{module_params.start_time}}" step="1"/>

                            <label for="time-endmz">Mittelwert-Zeitraum-Außentemperatur</label>
                            <input data-popup-enabled="true" type="range"
                                   name="time-end" id="time-endmz" min="0" max="72" value="{{module_params.end_time}}" step="1"/>

                        </div>
                        <div class="label-before align-center">von</div>
                        <div class="label-after">bis</div>

                    </div>
                </div>

                <p/>
                
                <div id="correction-heating-element-wrapper">
                    <label for="heating-element-end_1">Korrekturkennlinie</label>
                    <input data-popup-enabled="true" type="range"
                        name="heating-element-end_1" id="heating_element_end_1" data-mini="true"
                        data-highlight="true" step="0.1" min="-10" max="10" value="{{module_params.heating_element_end_1}}"/>
                    <div id="label_after_bei21" class="label-after">bei +20 AT</div>
                </div>
                <br/>
                <div  id="correction-heating-element-wrapper">
                    <input data-popup-enabled="true" type="range"
                        name="heating-element-end_2" id="heating_element_end_2" data-mini="true"
                        data-highlight="true" step="0.1" min="-10" max="10" value="{{module_params.heating_element_end_2}}"/>
                    <div id="label_after_bei20" class="label-after">bei -20 AT</div>
                </div>
            </div>

            <input type="hidden" name="id" value="{{raum.id}}"/>
            <input type="submit" value='Speichern' style="padding: 0px; width: 100%" data-corners="false" class="ui-btn ui-btn"/>

        </form>
    </div>
</div>

{% endblock %}
