{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Ereignisprotokoll{% endblock %}

{% block mheader %}
        <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="https://support.controme.com/logmonitor/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block bodycls %}main-config-page logmonitor{%endblock%}

{% block mcontent %}

<form method="post" action="/m_setup/{{haus.id}}/logmonitor/" data-ajax="false"> {% csrf_token %}
<ul data-role="listview" id="wlist">
    <li data-role="list-divider">
        Ereignisprotokoll
    </li>
    <li>
        <label style="margin:0px;border:0;" data-corners="false">
            <input type="checkbox" {%if r_m_active %}checked{%endif%}
                   name="right_menu" id="right-menu-ch" value='1'/>
                   Link zur Konfigurationsseite im rechten Menü anzeigen
        </label>
      
    </li>
    <li>
        <label style="margin:0px;border:0;" data-corners="false">
            <input type="checkbox" id="logger_status" name="logger_status" {% if log_status == 'enabled' %} checked {% else %} unchecked {% endif %} onclick="save_log_status();">
            <label for="logger_status">Ereignisprotokoll aktivieren</label>
        </label>
    </li>
    <li data-icon='false' style="padding:0px">
        <a href=" /m_logmonitor/{{ haus.id }}/"  target="_blank" style="text-align:center">öffne Benutzeroberfläche</a>
    </li>

</ul>
</form>
{% endblock %}

{% block footer %}
<script>
let save_log_status = function (){
if ($("#logger_status").is(':checked') == false){
    alert('Ereignisprotokoll deaktiviert!')
    $.ajax({
        url: window.location.href,
        type: "POST",
        data: {'logmonitor_status':'log-off', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        async: true,});}
else {
    alert('Ereignisprotokoll aktiviert!')
    $.ajax({
        url: window.location.href,
        type: "POST",
        data: {'logmonitor_status':'log-on', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
        async: true,})}
};
</script>
{% endblock %}