{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Virtuelle Sensoren{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/vsensoren/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    {% if vs.id %}
        {% if user.userprofile.get.role != 'K' %}
            <!-- <a href="/m_setup/{{haus.id}}/vsensoren/?vsdel={{ vs.id }}" data-role="button" data-icon="delete" data-mini="true" data-inline="true" class="ui-btn-right" data-iconpos="notext"></a> -->
            <a href="/m_setup/{{haus.id}}/vsensoren/?vsdel={{ vs.id }}" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
            <a href="http://support.controme.com/bedienung-module/modul-virtuellesensoren/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" style="right: 80px;"></a>

        {% endif %}
    {% else %}
       <a href="http://support.controme.com/bedienung-module/modul-virtuellesensoren/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
    {% endif %}
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $("#vsform").submit(function(e) {
        e.preventDefault();
        checkForm();
        return false;
    });
    function checkForm() {
        if($("#sensortyp").val() == "0") {
            $("#selsenerr").html("Bitte Sensortypen auswählen!<p/>");
            return false;
        } else {
            $("#sensortyp").selectmenu("refresh", true);
            $("#vsform").get(0).submit();
        }
    }
</script>
<form action="/m_setup/{{haus.id}}/vsensoren/" method="post" data-ajax="false" id='vsform'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li data-role="list-divider">Virtuellen Sensor {% if vs.id %}editieren{% else %}anlegen{% endif %}</li>
        {% if error %}
            <li style="color:#cb0963">
                {% autoescape off %}{{ error }}{% endautoescape %}
            </li>
        {% endif %}
        <li>
            <label>
                Name
                <input type="text" name="description" id="description" value="{{ vs.description }}"/>
            </label>
        </li>
        <li>
            <label>
                F&uuml;r Raum
                <select id="raumid" name="raumid" data-mini="true">
                    <option value="0">---</option>
                    {% for e in eundr %}
                        {% for etage, raeume in e.items %}
                            {% for raum in raeume %}
                                {% ifequal raum.id vs.raum.id %}
                                    <option selected="selected" value="{{raum.id}}">{{etage.name}}/{{raum.name}}</option>
                                {% else %}
                                    <option value="{{raum.id}}">{{etage.name}}/{{raum.name}}</option>
                                {% endifequal %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </select>
            </label>
        </li>
        <li>
            <label for="sensortyp">Sensortyp</label>
            <select name="sensortyp" id="sensortyp" data-mini="true">
                <option value="0">-</option>
                <option value="rt" {% if vs.mainsensor %}selected="selected"{% endif %}>Raumtemperatursensor</option>
                <option value="rl" {% if rlsensor %}selected="selected"{% endif %}>Rücklaufsensor</option>
                <option value="at" {% if atsensor %}selected="selected"{% endif %}>Außentemperatursensor</option>
                <option value="no" {% if vs.id and not atsensor and not rlsensor and not vs.mainsensor %}selected="selected"{% endif %}>keine Funktion</option>
            </select>
            <span style="color:#cb0963" id="selsenerr"></span>
            <small>
                Ein Raumtemperatursensor ist der Sensor, der in der Raumliste für den jeweiligen Raum und im Raum
                selbst angezeigt wird. Er ist außerdem der für die Heizungssteuerung maßgebliche Sensor. Jedem
                Raum kann nur ein Raumtemperatursensor zugeordnet sein.
                <br/>
                Ein Rücklaufsensor ist ein Sensor, der an einem Rücklauf im Heizkreisverteiler installiert ist. Sobald
                einem Raum ein Rücklaufsensor zugeordnet ist, wird der Raum per Rücklaufregelung geregelt.
                <br/>
                Ein Außentemperatursensor wird hausweit an den entsprechenden Stellen zur Messung der aktuellen
                Außentemperatur verwendet. Es kann hausweit nur einen Außentemperatursensor geben.
                <br/>
                Die Auswahl eines Sensortyps ist <i>nicht</i> zwingend erforderlich. Wenn kein Typ ausgewählt wurde,
                    wird der Sensor nur angezeigt, vom System aber nicht aktiv in einer Steuerungsfunktion verwendet.
            </small>
        </li>
        <li>
            <label>
                Zusammenzufassende Sensoren
                {% for sensor, last, marker in sensoren %}
                    <label style='font-weight:normal'>
                        <input type="checkbox" data-mini="true" name="is{{ sensor.get_identifier }}" id="is{{ sensor.get_identifier }}" {% if sensor.get_identifier in input_sensoren %}checked{% endif %}/>
                        {% if sensor.raum_id %}{{ sensor.raum.etage.name }}/{{ sensor.raum.name }} - {% endif %}{{ sensor.name }} / {{ sensor.description }}
                        <span style="color:{{ marker }}">&#8226;</span>
                    </label>
                {% endfor %}

                {% for vsensor, last, marker in vsensoren %}
                    {% if vsensor.id != vs.id %}
                        <label style='font-weight:normal'>
                            <input type="checkbox" data-mini="true" name="is{{ vsensor.get_identifier }}" id="is{{ vsensor.get_identifier }}" {% if vsensor.get_identifier in input_sensoren %}checked{% endif %}/>
                            {% if vsensor.raum_id %}{{ vsensor.raum.etage.name }}/{{ vsensor.raum.name }} - {% endif %}{{ vsensor.name }} / {{ sensor.description }}
                            <span style="color:{{ marker }}">&#8226;</span>
                        </label>
                    {% endif %}
                {% endfor %}
            </label>
        </li>

        <li>
            <label>
                Verkn&uuml;pfung
                <select name="con" data-mini="true">
                    <option value="1" {% if vs.verknuepfung == "1" %}selected="selected"{% endif %}>Minimalwert</option>
                    <option value="2" {% if vs.verknuepfung == "2" %}selected="selected"{% endif %}>Maximalwert</option>
                    <option value="3" {% if vs.verknuepfung == "3" %}selected="selected"{% endif %}>Medianwert</option>
                    <option value="4" {% if vs.verknuepfung == "4" %}selected="selected"{% endif %}>Durchschnittswert</option>
                    <option value="5" {% if vs.verknuepfung == "5" %}selected="selected"{% endif %}>Durchschnitt ohne Minimum</option>
                    <option value="6" {% if vs.verknuepfung == "6" %}selected="selected"{% endif %}>Durchschnitt ohne Maximum</option>
                    <option value="7" {% if vs.verknuepfung == "7" %}selected="selected"{% endif %}>Durchschnitt ohne Minimum und Maximum</option>
                </select>
            </label>

            <br/>
            <small>
                Ein Virtueller Sensor fasst einen oder mehrere physische Sensoren (oder andere Virtuelle Sensoren)
                zusammen, indem er aus den Werten dieser Eingabesensoren seinen eigenen Wert berechnet. Die Verknüpfung
                gibt an, wie die Eingabewerte zusammengefasst werden sollen.
            </small>
        </li>

        <li>
            <label>
                Backup-Sensor
                <select id="backup" name="backup" data-mini="true">
                    <option value="0">---</option>
                    {% for sensor, last, marker in sensoren %}
                        {% if sensor.get_type == "Sensor" %}
                            <option value="{{ sensor.id }}" {% ifequal sensor.id vs.backup_sensor.id %}selected="selected"{% endifequal %}>
                                {{ sensor.raum.etage.name }}/{{ sensor.raum.name }} - {{ sensor.name }} / {{ sensor.description }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
            </label>

            <br/>
            <small>
                Der Wert eines Virtuellen Sensors kann nicht mehr berechnet werden, wenn einer der Eingabesensoren
                ausfällt. Damit in diesem Fall der Regelbetrieb aufrecht erhalten werden kann, können Sie einen
                Backupsensor angeben, dessen Wert dann als Ersatz übernommen wird. Der Backupsensor muss am selben
                Gateway angeschlossen sein wie die Ausgänge des Raumes, dem der Virtuelle Sensor zugeordnet ist.
            </small>
        </li>
        <li data-icon='false'>
            {% if vs.id %}
                <input type="hidden" name="vsedit" value="{{ vs.id }}"/>
            {% else %}
                <input type="hidden" name="vscreate" value="1"/>
            {% endif %}
            <a href="#" onclick="checkForm($('#vsform').get(0));" style="text-align:center">Speichern</a>
        </li>
    </ul>
</form>

{% endblock %}