{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Dynamischer hydraulischer Maximal-Abgleich{% endblock %}

{% block mheader %}
        <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="https://www.controme.com/hydraulischer-abgleich" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block bodycls %}main-config-page maximaldurchfluss{%endblock%}

{% block mcontent %}
<script type="text/javascript">

</script>
<form method="post" action="/m_setup/{{haus.id}}/maximaldurchfluss/" data-ajax="false" id='max_increase'> {% csrf_token %}
<ul data-role="listview" id="wlist">
    <li data-role="list-divider">
        Dynamischer hydraulischer Maximal-Abgleich
    </li>
    <li>
        <label style="margin:0px;border:0;" data-corners="false">
                <label for="max_increase_dhma" style="vertical-align: middle;">Maximale Erhöhung der maximal Öffnung: </label>
                <input type="number" name="max_increase_dhma" id="max_increase_dhma" min="0" max="100"
                       value="{{max_increase_dhma|default:'100'}}" required/>
        </label>
    </li>
    <li data-icon='false'>
        <a href="#" onclick="$('#max_increase').get(0).submit();" style="text-align:center">Speichern</a>
    </li>
</ul>
</form>
{% endblock %}

{% block footer %}

{% endblock %}
