{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - AHA Pro{% endblock %}

{% block mheader %}
    <a href="/config/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    {% load static %}
    <script src="{% static 'sweetalert2.all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'sweetalert2.min.css' %}">
{% endblock %}

{% block bodycls %}AHA-Pro{% endblock %}

{% block mcontent %}
<style>
.custom-label {
  display: inline-block;
  position: relative;
  padding-left: 38px;
  padding-top: 8px;
  padding-right: 5px;
  padding-bottom: 8px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #bdbdbd;
}

.custom-label .checkbox-label {
  position: relative;
  top: 0;
  line-height: 1;
  padding-left: 0px;
  font-weight: bold;
  display: inline-block;
  padding: 5px;
}

.custom-label input[type="checkbox"] {
  position: absolute;
  opacity: 0.9;
  cursor: pointer;
  left: -25px;
  top: 7px;
  width: 20px;
  height: 20px;
  background-color: #387BBB;
  border: 1px solid rgb(0, 145, 255);
}

</style>

<form method="post" id="configurator-form">
    {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" class="items">
        <li>
            <h2>AHA-Pro</h2>
            <input type="hidden" name="aha_pro_status" value="off"> <!-- Default value when unchecked -->
            <label for="aha_pro_status">
                <input type="checkbox" id="aha_pro_status" name="aha_pro_status" value="on" {% if aha_pro.aha_pro_status %}checked{% endif %}>
                AHA-PRO aktivieren
            </label>
        </li>
        <li>
            <a href="/m_setup/{{haus.id}}/ahapro/configurator">Reglereinstellungen</a>
        </li>
        <li>
            <a href="/m_setup/{{haus.id}}/ahapro/heizlastberechnung">Dateneingabe aus der Heizlastberechnung</a>
        </li>
        <li>
            <a href="/m_setup/{{haus.id}}/ahapro/maximaloeffnungen">Maximalöffnungen verwalten</a>
        </li>
        <li>
            <h2>Raum in den Abgleich einbeziehen:</h2>
            <select name="raumid" id="raumid">
                {% for raum in raums %}
                    <option value="{{ raum.id }}">{{ raum.name }}</option>
                {% endfor %}
            </select>
            <div class="custom-label">
                <input type="checkbox" id="userActive" name="userActive">
                <div class="checkbox-label">Raum für AHA-PRO aktiviert</div>
            </div>
            <br>
            <br>
            <label for="option-select">Regelmethode:</label>
            <select name="option" id="option-select">
                <option value="1" {% if aha_pro.algorithm == '1' %}selected{% endif %}>Manuelle Soll-Rücklauftemperaturen</option>
                <option value="2" {% if aha_pro.algorithm == '2' %}selected{% endif %}>Auslegungs-Rücklauftemperaturen aus der Heizlastberechung</option>
                <option value="3" {% if aha_pro.algorithm == '3' %}selected{% endif %}>median_last_rl</option>
                <option value="4" {% if aha_pro.algorithm == '4' %}selected{% endif %}>average_last_rl</option>
                <option value="5" {% if aha_pro.algorithm == '5' %}selected{% endif %}>min_last_rl</option>
                <option value="6" {% if aha_pro.algorithm == '6' %}selected{% endif %}>max_last_rl</option>
            </select>
            <div class="custom-label">
                <input type="checkbox" id="userActiveAll" name="userActiveAll">
                <div class="checkbox-label">Alle Räume einbeziehen (separate Raum Auswahlkästchen ignorieren)</div>
            </div>
            <br>
            <br>
            <input type="button" id="submit-btn" value="Calculate">
            <div id="roomValueContainer" style="display: none;">
                <label for="roomValueField">Soll-Rücklauftemperatur:</label>
                <input type="text" name="roomValueField" id="roomValueField">
            </div>
        </li>
        <li>
            <p class="error-text" style="display: none;"></p>
            <input type="submit" value="Speichern" class="ui-btn ui-btn-b" />
        </li>
    </ul>
</form>
<script>
    // Add event handler for form submission
    document.getElementById("configurator-form").addEventListener("submit", function(event) {
        event.preventDefault(); // Prevent the default form submission
        var form = this;
        var formData = new FormData(form);
        // Submit the form using AJAX
        $.ajax({
            type: "POST",
            url: form.action,
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                Swal.fire({
                    icon: 'success',
                    title: response.success_message,
                    confirmButtonText: 'OK'
                }).then(() => {
                    location.reload(); // Reload the page
                });
            },
            error: function(xhr, textStatus, error) {
                console.log(xhr.responseText);
            }
        });
    });

    $(document).ready(function() {
        $('input[name="roomValueField"]').on('input', function() {
            var raumid = $('select[name="raumid"]').val();
            var data = $(this).val();
            saveRoomData(raumid, data);
        });

        function saveRoomData(raumid, data) {
            console.log('error');
            $.ajax({
                url: "/m_setup/{{ haus.id }}/ahapro/",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'raumid': raumid,
                    'data': data
                },
                success: function() {
                    console.log("Data saved successfully!");
                },
                error: function(xhr, textStatus, error) {
                    console.error("Error saving data:", error);
                }
            });
        }
    });

    $(document).ready(function() {
        $('input[name="userActive"]').on('change', function() {
            var raumid = $('select[name="raumid"]').val();
            var data = $(this).prop('checked');
            $('#userActive').prop('checked', data);
            saveRoomStatus(raumid, data);
        });

        function saveRoomStatus(raumid, data) {
            $.ajax({
                url: "/m_setup/{{ haus.id }}/ahapro/",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'raumid': raumid,
                    'room_status': data
                },
                success: function() {
                    console.log("Data saved successfully!");
                },
                error: function(xhr, textStatus, error) {
                    console.error("Error saving data:", error);
                }
            });
        }
    });

    $(document).ready(function() {
        $('input[name="userActiveAll"]').on('change', function() {
            var data = $(this).prop('checked');
            $('#userActiveAll').prop('checked', data);
            saveRoomStatusData(data);
        });

        function saveRoomStatusData(data) {
            $.ajax({
                url: "/m_setup/{{ haus.id }}/ahapro/",
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'all_rooms_status': data,
                },
                success: function() {
                    console.log("Data saved successfully!");
                },
                error: function(xhr, textStatus, error) {
                    console.error("Error saving data:", error);
                }
            });
        }
    });

    $(document).ready(function() {
        // Function to fetch and update room value
        function updateRoomValue(raumid) {
            $.ajax({
                url: "/m_setup/{{ haus.id }}/ahapro/",
                type: "GET",
                data: {
                    'raumid_get': raumid
                },
                success: function(response) {
                    var roomValue = response.value;
                    var roomCheck = response.room_status;
                    isChecked = roomCheck === 'true';
                    var roomCheckAll = response.room_status_all;
                    isCheckedAll = roomCheckAll === 'true';
                    // Update the UI with the fetched room value
                    $('#roomValueField').val(roomValue);
                    $('#userActive').prop('checked', isChecked);
                    $('#userActiveAll').prop('checked', isCheckedAll);
                },
                error: function(xhr, textStatus, error) {
                    console.error("Error fetching room value:", error);
                }
            });
        }

        // Update room value function with default value
        function updateRoomValueWithDefault() {
            var raumid = $('select[name="raumid"]').val();
            updateRoomValue(raumid);
        }

        // Initial loading of room value
        updateRoomValueWithDefault();

        // Update room value when the selected room changes
        $('select[name="raumid"]').on('change', function() {
            var raumid = $(this).val();
            updateRoomValue(raumid);
        });

        $(window).on('load', function() {
            setTimeout(function() {
                var raumid = $('select[name="raumid"]').val();
                updateRoomValue(raumid);
            }, 500);
        });
    });

    $(document).ready(function() {
        $('#option-select').change(function() {
            var selectedOptionId = $(this).val();
            toggleRoomValueField(selectedOptionId);
            sendOptionIdToBackend(selectedOptionId);
        }).change(); // Trigger the change event on page load
    });

    function toggleRoomValueField(optionId) {
        if (optionId === '1') {
            $('#roomValueContainer').show();
        } else {
            $('#roomValueContainer').hide();
        }
    }

    function sendOptionIdToBackend(optionId) {
        $.ajax({
            url: '/m_setup/{{ haus.id }}/ahapro/',
            type: 'POST',
            data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
                   'algorithm': optionId },
            success: function(response) {
                console.log(response);
            }
        });
    }

    $(document).ready(function() {
        $("#submit-btn").click(function() {
            var selectedValue = $('#option-select').val();
            $.ajax({
                url: '/m_setup/{{ haus.id }}/ahapro/',
                type: 'POST',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'calculate': selectedValue},
                success: function(response) {
                    Swal.fire({
                        title: 'Success',
                        text: response.calculation_response,
                        icon: 'success',
                        confirmButtonText: 'OK'
                    })
                },
                error: function(error) {
                    Swal.fire({
                        title: 'Error',
                        text: 'There was a problem submitting your selection',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    })
                }
            });
        });
    });
</script>
{% endblock %}
