<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            padding: 20px;
        }
        .log-wrapper {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin-bottom: 20px;
        }
        .log-title {
            color: #333;
            font-weight: bold;
            border-bottom: 1px solid #ddd;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        .log-content {
            font-size: 14px;
            white-space: pre-line;
        }
        .green {
            color: green;
        }
        .red {
            color: red;
        }
    </style>
</head>
<body>
    <div class="log-wrapper">
        <div class="log-title">
            Auslegungs-Rücklauftemperaturen aus der Heizlastberechung Logs:
        </div>
        <div class="log-content">
            {{ log_file_content }}
        </div>
    </div>
    <script>
        const logContent = document.querySelector('.log-content');
        const lines = logContent.innerHTML.trim().split('\n');
        lines.forEach((line, index) => {
            if (line.includes('included:')) {
                if (line.includes('included: true')) {
                    lines[index] = `<span class="green">${line}</span>`;}
                else{
                    lines[index] = `<span class="red">${line}</span>`;
                }
            }
            if (line.includes('hlb_corrected_last_rl:')) {
                if (line.includes('hlb_corrected_last_rl: None')) {
                    lines[index] = `<span class="red">${line}</span>`;}
                else{
                    lines[index] = `<span class="green">${line}</span>`;
                }
            }
    });
        logContent.innerHTML = lines.join('<br>');
    </script>
</body>
</html>
