{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - AHA Pro{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/ahapro/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% load static %}
    <script src="{% static 'sweetalert2.all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'sweetalert2.min.css' %}">
{% endblock %}

{% block bodycls %}AHA-Pro{%endblock%}
{% block mcontent %}
<ul data-role="listview" data-divider-theme="a" class="items">
    <li data-icon='false'>
        <form  method="post"> {% csrf_token %}
                <input type="submit" value="Download Daten" class="ui-btn ui-btn-b" name="download" id="download"/>
        </form>
    </li>
    <li data-icon='false'>
        <form  id="save_openings_form" method="post"> {% csrf_token %}
                <input type="submit" value="Aktuelle Ventilstellungen als Maximalöffnungen sichern" class="ui-btn ui-btn-b" name="save_openings" id="save_openings"/>
        </form>
        <form  id="sync_openings" method="post"> {% csrf_token %}
            <input type="submit" value="Aktuelle Ventilstellungen als Maximalöffnungen übernehmen" class="ui-btn ui-btn-b" name="sync_openings" id="sync_openings"/>
    </form>
        <form  id="save_max_form" method="post"> {% csrf_token %}
                <input type="submit" value="Backup aktuell eingestellter Maximalöffnungen" class="ui-btn ui-btn-b" name="save_maximal" id="save_maximal"/>
        </form>
    </li>
    <li>
        <h2>Maximalöffnung wiederherstellen</h2>
        <form method="post">
            {% csrf_token %}
            <select name="selected_file">
                <option value="">Bitte auswählen</option>
                {% for file in files %}
                    <option value="{{ file }}">{{ file }}</option>
                {% endfor %}
            </select>
            <button type="submit" name="download_config">Laden Sie JSON herunter</button>
            <input type="submit" name="update_max" id="update_max" value="Maximalöffnung wiederherstellen">
        </form>
    </li>
</ul>

<script>
        $(document).ready(function() {
            $('#save_openings_form').on('submit', function(e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/m_setup/{{ haus.id }}/ahapro/maximaloeffnungen/',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'save_openings': 'save_openings',
                    },
                    success: function(response) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: response.success_message,
                        }).then((result) => {
                    // Reload the page when the user clicks "OK"
                    if (result.isConfirmed) {
                        location.reload();
                    }});
                    },
                    error: function(error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Something went wrong!',
                        })
                    }
                });
            });
        });

        $(document).ready(function() {
            $('#save_max_form').on('submit', function(e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/m_setup/{{ haus.id }}/ahapro/maximaloeffnungen/',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'save_maximal': 'save_maximal',
                    },
                    success: function(response) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: response.success_message,
                        }).then((result) => {
                    // Reload the page when the user clicks "OK"
                    if (result.isConfirmed) {
                        location.reload();
                    }});
                    },
                    error: function(error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Something went wrong!',
                        })
                    }
                });
            });
        });

        $(document).ready(function() {
            $('#sync_openings').on('submit', function(e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    url: '/m_setup/{{ haus.id }}/ahapro/maximaloeffnungen/',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'sync_openings': 'sync_openings',
                    },
                    success: function(response) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Success',
                            text: response.success_message,
                        }).then((result) => {
                    // Reload the page when the user clicks "OK"
                    if (result.isConfirmed) {
                        location.reload();
                    }});
                    },
                    error: function(error) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error',
                            text: 'Something went wrong!',
                        })
                    }
                });
            });
        });

    $(document).ready(function() {
        $('#update_max').on('click', function(e) {
            e.preventDefault();
            var selectedFile = $('select[name="selected_file"]').val();
            $.ajax({
                type: 'POST',
                url: '/m_setup/{{ haus.id }}/ahapro/maximaloeffnungen',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'selected_file': selectedFile,
                },
                success: function(response) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'Die Funktion wurde erfolgreich ausgeführt!',
                    }).then((result) => {
                // Reload the page when the user clicks "OK"
                if (result.isConfirmed) {
                    location.reload();
                    }});
                },
                error: function(error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Fehler beim Lesen der Datei!',
                    })
                }
            });
        });
    });
</script>
{% endblock %}