{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - AHA Pro{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/ahapro/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% load static %}
    <script src="{% static 'sweetalert2.all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'sweetalert2.min.css' %}">
{% endblock %}

{% block bodycls %}AHA-Pro{%endblock%}
{% block mcontent %}
<form method="post" id="configurator-form">
{% csrf_token %}
<ul data-role="listview" data-divider-theme="a" class="items">
    <li>
        <input type="hidden" name="aha_pro_room_daten" value="off"> <!-- Default value when unchecked -->
        <label for="aha_pro_room_daten">
            <input type="checkbox" id="aha_pro_room_daten" name="aha_pro_room_daten" value="on" {% if aha_pro.aha_pro_room_daten %}checked{% endif %}>
            Daten der Heizlastberechnung anzeigen / eingeben
        </label>
    </li>
    <li>
    {% if aha_pro.aha_pro_room_daten %}
        <div>
            <h2>Gebäudedaten Heizlastberechnung:</h2>
            <br>
            <label>Auslegungs-Außentemperatur des Gebäudes</label>
            <label for="hlb_house_atT" style="margin:0px;border:0;" data-corners="false">
                <input type="number" name="hlb_house_atT" id="hlb_house_atT" step="0.01"
                    value="{{ aha_pro.hlb_house_atT }}" required/>
            </label>
            <br>
            <label>Auslegungs-Vorlauftemperatur des Gebäudes bzw. Gesamt-Heizkreises</label>
            <label for="hlb_house_vlT" style="margin:0px;border:0;" data-corners="false">
                <input type="number" name="hlb_house_vlT" id="hlb_house_vlT" step="0.01"
                    value="{{ aha_pro.hlb_house_vlT }}" required/>
            </label>
            <br>
            <label>Auslegungs-Rücklauftemperatur des Gebäudes bzw. Gesamt-Heizkreises</label>
            <label for="hlb_house_rlT" style="margin:0px;border:0;" data-corners="false">
                <input type="number" name="hlb_house_rlT" id="hlb_house_rlT" step="0.01"
                    value="{{ aha_pro.hlb_house_rlT }}" required/>
            </label>
        </div>
    </li>
    {% endif %}
    {% if aha_pro.aha_pro_room_daten %}
    <li>
        <div>
            <h2>Raumdaten Heizlastberechnung:</h2>
            <select name="raumid" id="raumid">
                {% for raum in raums %}
                    <option value="{{ raum.id }}">{{ raum.name }}</option>
                {% endfor %}
            </select>
            <br>
            <label>Auslegungs-Innentemperatur des Raumes</label>
            <label for="hlb_room_T" style="margin:0px;border:0;" data-corners="false">
                <input type="number" name="hlb_room_T" id="hlb_room_T" step="0.01"
                    value="{{ hlb_room_T }}" required/>
            </label>
            <br>
            <label>Normheizlast des Raumes in W/m²</label>
            <label for="hlb_room_Q" style="margin:0px;border:0;" data-corners="false">
                <input type="number" name="hlb_room_Q" id="hlb_room_Q" step="0.01"
                    value="{{ hlb_room_Q }}" required/>
            </label>
            <br>
            <label>Normheizleistung einer Heizschleife dieses Raumes in W/m²</label>
            <label for="hlb_heat_loop_Q" style="margin:0px;border:0;" data-corners="false">
                <input type="number" name="hlb_heat_loop_Q" id="hlb_heat_loop_Q" step="0.01"
                    value="{{ hlb_heat_loop_Q }}" required/>
            </label>
            <br>
            <label>Berechneter Durchfluss in l/min der gewählten Heizschleife</label>
            <label for="hlb_heat_loop_flow_rate" style="margin:0px;border:0;" data-corners="false">
                <input type="number" name="hlb_heat_loop_flow_rate" id="hlb_heat_loop_flow_rate" step="0.01"
                    value="{{ hlb_heat_loop_flow_rate }}" required/>
            </label>
            <br>
            <label>Berechnete Auslegungs-Rücklauftemperatur der gewählten Heizschleife</label>
            <label for="hlb_heat_loop_rlT" style="margin:0px;border:0;" data-corners="false">
                <input type="number" name="hlb_heat_loop_rlT" id="hlb_heat_loop_rlT" step="0.01"
                    value="{{ hlb_heat_loop_rlT }}" required/>
            </label>
        </div>
    </li>
    {% endif %}
    <li>
        <p class="error-text" style="display: none;"></p>
        <input type="submit" value="Speichern" class="ui-btn ui-btn-b" />
    </li>
</ul>
</form>

<script>
    $(document).ready(function() {
        // Function to fetch and update room value
        function updateRoomValue(raumid) {
            $.ajax({
                url: "/m_setup/{{ haus.id }}/ahapro/heizlastberechnung",
                type: "GET",
                data: {
                    'raumid_get': raumid
                },
                success: function(response) {
                    // Update the UI with the fetched room value
                    var hlb_room_T = response.hlb_room_T;
                    $('#hlb_room_T').val(hlb_room_T);
                    var hlb_room_Q = response.hlb_room_Q;
                    $('#hlb_room_Q').val(hlb_room_Q);
                    var hlb_heat_loop_Q = response.hlb_heat_loop_Q;
                    $('#hlb_heat_loop_Q').val(hlb_heat_loop_Q);
                    var hlb_heat_loop_flow_rate = response.hlb_heat_loop_flow_rate;
                    $('#hlb_heat_loop_flow_rate').val(hlb_heat_loop_flow_rate);
                    var hlb_heat_loop_rlT = response.hlb_heat_loop_rlT;
                    $('#hlb_heat_loop_rlT').val(hlb_heat_loop_rlT);
                },
                error: function(xhr, textStatus, error) {
                    console.error("Error fetching room value:", error);
                }
            });
        }

        // Update room value function with default value
        function updateRoomValueWithDefault() {
            var raumid = $('select[name="raumid"]').val();
            updateRoomValue(raumid);
        }

        // Initial loading of room value
        updateRoomValueWithDefault();

        // Update room value when the selected room changes
        $('select[name="raumid"]').on('change', function() {
            var raumid = $(this).val();
            updateRoomValue(raumid);
        });

        $(window).on('load', function() {
            setTimeout(function() {
                var raumid = $('select[name="raumid"]').val();
                updateRoomValue(raumid);
            }, 500);
        });
    });
</script>
{% endblock %}