{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - AHA Pro{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/ahapro/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% load static %}
    <script src="{% static 'sweetalert2.all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'sweetalert2.min.css' %}">
{% endblock %}

{% block bodycls %}AHA-Pro{%endblock%}
{% block mcontent %}
<form method="post" id="configurator-form">
    {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" class="items">
        <li>
        <h2>Reglergeschwindigkeit</h2>
        <label for="aha_pro_change_factor_gain" style="margin:0px;border:0;" data-corners="false">
            <input type="number" name="aha_pro_change_factor_gain" id="aha_pro_change_factor_gain" min="0" step="0.01"
                value="{{ aha_pro.aha_pro_change_factor_gain }}" required/>
        </label>
        <div class="descriptions">
            Die Reglergeschwindigkeit bestimmt die Intensität, mit der der Regler auf Änderungen der Rücklauftemperatur reagiert.
            Eine Einstellung von beispielsweise 0.1 bedeutet, dass der Regler die Ventilposition um 5% ändert, wenn die Rücklauftemperatur um 1K von der Ziel-Rücklauftemperatur abweicht.
        </div>
        </li>
        <li>
            <h2>Maximale Ventiländerung</h2>
            <label for="aha_pro_max_change_factor" style="margin:0px;border:0;" data-corners="false">
                <input type="number" name="aha_pro_max_change_factor" id="aha_pro_max_change_factor" min="0" step="0.1"
                    value="{{ aha_pro.aha_pro_max_change_factor }}" required/>
            </label>
            <div class="descriptions">
                Der Parameter "maximale Ventiländerung" definiert die maximale erlaubte prozentuale Änderung der Ventilstellung pro Schritt.
            </div>
        </li>
        <li>
            <h2>Schwellenwert für minimale Ventilstellung</h2>
            <label for="aha_pro_min_valve_threshold" style="margin:0px;border:0;" data-corners="false">
                <input type="number" name="aha_pro_min_valve_threshold" id="aha_pro_min_valve_threshold" min="0" step="0.1"
                    value="{{ aha_pro.aha_pro_min_valve_threshold }}" required/>
            </label>
            <div class="descriptions">
                Der Schwellenwert ermöglicht es, eine Ventilposition festzulegen, unterhalb derer der Regler seine Funktion einstellt und stattdessen auf einer konstanten 'minimalen Ventilstellung' verbleibt.
                Falls eine berechnete Ventilstellung also den hier spezifizierten Wert unterschreitet, verfährt der Regler zur 'minimalen Ventilstellung' (im nachfolgenden Feld).
                Der in diesem Feld eingetragene Wert muss gleich oder höher als die 'minimale Ventilstellung' sein.
            </div>
        </li>
        <li>
            <h2>Minimale Ventilstellung</h2>
            <label for="aha_pro_min_valve_value" style="margin:0px;border:0;" data-corners="false">
                <input type="number" name="aha_pro_min_valve_value" id="aha_pro_min_valve_value" min="0" step="0.1"
                    value="{{ aha_pro.aha_pro_min_valve_value }}" required/>
            </label>
            <div class="descriptions">
                Die hier eingestellte Ventilstellung wird innerhalb der Aktivitätsschwellen nicht unterschritten.
            </div>
        </li>
        <li>
            <p class="error-text" style="display: none;"></p>
            <input type="submit" value="Speichern" class="ui-btn ui-btn-b" />
        </li>
    </ul>
</form>

<script>
    // Form submission and handling
    document.getElementById("configurator-form").addEventListener("submit", function(event) {
        event.preventDefault();
        var minValveThreshold = parseFloat(document.getElementById("aha_pro_min_valve_threshold").value);
        var minValveValue = parseFloat(document.getElementById("aha_pro_min_valve_value").value);
        if (minValveThreshold >= minValveValue) {
            var form = this;
            var formData = new FormData(form);
            // Submit the form using AJAX
            $.ajax({
                type: "POST",
                url: form.action,
                data: formData,
                processData: false,
                contentType: false,
                success: function(response) {
                    Swal.fire({
                        icon: 'success',
                        title: response.success_message,
                        confirmButtonText: 'OK'
                    }).then(() => {
                        location.reload(); // Reload the page
                    });
                },
                error: function(xhr, textStatus, error) {
                    console.log(xhr.responseText);
                }
            });
        } else {
            var errorText = document.querySelector(".error-text");
            errorText.style.display = "block";
            errorText.innerHTML = '';
            Swal.fire({
                text: 'Schwellenwert für minimale Ventilstellung muss kleiner oder gleich sein als Minimale Ventilstellung.',
                icon: 'error',
                showConfirmButton: true
            });
        }
    });
</script>
{% endblock %}