{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/hardware/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}
    <script type="text/javascript">
    $(document).ready(function() {

    });

    </script>

    <form action="/m_setup/{{haus.id}}/wifi/" method="post" data-ajax="false" id='wifi-form'>{% csrf_token %}
        <ul data-role="listview">
            <li data-role="list-divider">
                WLAN
            </li>
            <li>
                <div data-enhance="false">
                    <ul style="font-style: italic;">
                        <li>
                            WLAN ermöglicht den Betrieb des Miniservers ohne festen Netzwerkanschluss.
                             Empfohlen ist dies nur bei der Anwendung des Miniservers zur Funk-Reichweitenerhöhung.
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <fieldset>
                    <legend>WLAN-Status:</legend>
                    <input type="radio" name="wifi_status" id="AUS" value="off" {% if params.status == 'off' %} checked {% endif %}>
                    <label for="AUS">AUS</label>
                    <input type="radio" name="wifi_status" id="EIN" value="on" {% if params.status == 'on' %} checked {% endif %}>
                    <label for="EIN">EIN</label>
                </fieldset>
                {% if wifi_ip %}
                <small>
                    IP Address: {{ wifi_ip }}
                </small>
                {% endif %}
            </li>
            <li>
                <div data-role="fieldcontain">
                    <label for="ssid" style="vertical-align: middle;">Netzwerk SSID</label>
                    <input type="text" name="ssid" id="ssid" value="{{ params.ssid }}" required/>
                </div>
                 <small>
                    Geben Sie hier den exakten Namen des WLAN-Netzwerks ein, zu dem der Miniserver verbinden soll.
                </small>
            </li>
            <li>
                <div data-role="fieldcontain">
                    <label for="password" style="vertical-align: middle;">WLAN Passwort</label>
                    <input type="password" name="password" id="password" value="{{ params.password }}" required/>
                </div>
                <small>
                    Geben Sie hier das WLAN-Passwort ein.
                </small>
            </li>
            <li data-icon='false'>
                <a href="#" onclick="$('#wifi-form').get(0).submit();" style="text-align:center">Speichern</a>
            </li>
        </ul>
    </form>

{% endblock %}
