{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Wetter - Hilfe{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/wetter/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

    <h2>Wetter</h2>

    <h3>Funktionsweise</h3>

        <p>
            Die Wetterfunktion verwendet die Wettervorhersage, um steigende und fallende Außentemperaturen mit in die
            Regelung einzubeziehen. Bei ohnehin ansteigenden Temperaturen wird die Regelung etwas zurückgefahren, so
            dass ein gegebener Raum nicht überheizt und gleichzeitig Energie gespart wird. Bei fallenden Temperaturen
            wird die Zieltemperatur in Räumen leicht angehoben, um den Temperaturabfall bereits frühzeitig zu
            kompensieren. Das spart auch Energie, da sonst nach Eintreten des Temperaturabfalls üblicherweise stark
            geheizt werden muss, um die gewünschte Temperatur zu erreichen.
        </p>

    <h3>Konfigurationsmöglichkeiten</h3>

        <p>
            Man kann alle Räume einheitlich über die hausweiten Einstellungen konfigurieren oder jeden Raum einzeln
            justieren. Letzteres lohnt sich, wenn Räume sehr unterschiedlich auf äußere Einflüsse reagieren. Ein
            Raum auf der Ostseite eines Hauses kann beispielsweise von der Morgensonne profitieren, reagiert also
            auf ansteigende Temperaturen anders und zu anderer Zeit als ein Raum auf der Nordseite.
        </p>

        <p>
            Der Einfluss von steigenden und fallenden Temperaturen kann separat konfiguriert werden. Damit können
            Präferenzen hinsichtlich Wohnkomfort und Energieeinsparung zum Ausdruck gebracht werden. Über die Stärke
            des Einflusses, d.h. frühzeitiges Anheben oder Absenken von Zieltemperaturen in Räumen, kann den
            individuellen Eigenheiten eines Raumes Rechnung getragen werden, also etwa seiner Himmelsrichtung.
        </p>

{% endblock %}
