{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Wettereinstellungen{% endblock %}

{% block mheader %}
        <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/bedienung-module/modul-wetter/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block bodycls %}wetter{%endblock%}

{% block mcontent %}

<script type="text/javascript">
    $(document).on('pageshow', function(){
        $("#wgrid").hide();
        $('#wlist').listview('refresh', true);
    });
    function toggleSlider() {
        $("#wgrid").toggle();
        $('#wlist').listview('refresh', true);
    }
    $(document).ready(function() {
        $('#right-menu-ch').change(function(){
            let right_menu = 0;
            if ($(this).attr("checked")){
                right_menu = 1;
            }
            $.ajax({
                url: '/m_setup/{{haus.id}}/wetter/',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'right_menu_ajax': right_menu
                },
                type: 'post',
                async: true,
                success: function() {

                }
            });
        })
    })
</script>
<style type="text/css">
    input.ui-slider-input {
        display: none !important;
    }
    div.ui-slider-track {
        margin:0;
    }
    label.ui-btn {
        font-weight: normal;
    }
</style>

<form method="post" action="/m_setup/{{haus.id}}/wetter/" data-ajax="false" id='wform'> {% csrf_token %}
<ul data-role="listview" id="wlist">
    <li data-role="list-divider">
        Wettereinstellungen
    </li>
    <li>
        <label style="margin:0px;border:0;" data-corners="false">
            <input type="checkbox" {%if r_m_active %}checked{%endif%}
                   name="right_menu" id="right-menu-ch" value='1'/>
                   Link zur Konfigurationsseite im rechten Menü anzeigen
        </label>

    </li>

    <li data-icon='false' style="padding:0px">
        <a href=" /m_wetter/{{ haus.id }}/" target="_blank" style="text-align:center">öffne Benutzeroberfläche</a>
    </li>

    <li>
        <label style="margin:0px;border:0;" data-corners="false"><input type="checkbox" onclick="toggleSlider();" name="wetterparameter" id="wetterparameter" value='1' {%if not active%}disabled='true'{%endif%}/>Hausweiten Standard setzen</label>
        <div id="wgrid">
            <br/>
            vorzeitig absenken bei steigenden Au&szlig;entemperaturen?

            <div class="ui-grid-b">
                <div class="ui-block-a" style="min-width:30px;max-width:20%;text-align:right;padding-right:15px;padding-top:8px;">
                    wenig
                </div>
                <div class="ui-block-b" style="max-width:100%;min-width:60%;">
                    <input type="range" name="hwarm" id="hwarm" value="5"
                                   min="0" max="10" step="1"  data-mini="true" data-highlight="true"
                                   data-popup-enabled="true"/>
                </div>
                <div class="ui-block-c"  style="min-width:30px;max-width:20%;padding-left:15px;padding-top:8px;">
                    viel
                </div>
            </div>
        
            vorzeitig anheben bei sinkenden Au&szlig;entemperaturen?
            
            <div class="ui-grid-b">
                <div class="ui-block-a" style="min-width:30px;max-width:20%;text-align:right; padding-right:15px;padding-top:8px;">
                    wenig
                </div>
                <div class="ui-block-b" style="max-width:100%;min-width:60%;">
                    <input type="range" name="hkalt" id="hkalt" value="5"
                                   min="0" max="10" step="1"  data-mini="true" data-highlight="true"
                                   data-popup-enabled="true"/>
                </div>
                <div class="ui-block-c"  style="min-width:30px;max-width:20%; padding-left:15px;padding-top:8px;">
                    viel
                </div>
            </div>

            <br/>
            <label style="margin:0px;border:0;" data-corners="false">
                <input type="checkbox" name="activateall" checked/>
                Wettersteuerung in allen R&auml;umen aktivieren
                <br/>
                <small>(aktiviert die Wettersteuerung und setzt die Parameter in allen R&auml;umen unabh&auml;ngig von deren momentaner Einstellung. Ansonsten werden die Einstellungen nur in R&auml;ume mit bereits aktivierter Wettersteuerung &uuml;bertragen)</small>
            </label>

            <br/>
            Hier vorgenommene Einstellungen werden in R&auml;ume mit aktivierter Wettersteuerung bzw. in alle R&auml;ume
            &uuml;bertragen. Die Einstellungen werden <i>nicht</i> hausweit gespeichert, da im Weiteren vorgenommene
            &Auml;nderungen in einzelnen R&auml;umen zu Inkonsistenzen f&uuml;hren w&uuml;rden.
        </div>
    </li>
    <li data-icon='false' style="padding:0px">
        {% if user.userprofile.get.role == 'K' %}
            <a href="" style="text-align:center">Speichern</a>
        {% else %}
            <a href="#" onclick="$('#wform').get(0).submit();" style="text-align:center">Speichern</a>
        {% endif %}
    </li>
</ul>
</form>
{% endblock %}