{% extends "m/m_base_new.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS - Wetterkorrektur" %}{% endblock %}
{% block bodyclass %}page wetter luftfeuchte{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/bedienung-module/modul-wetter/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#absenkung_checkbox").click(function() {
            if(this.checked) {
                // set the slider as disable
                $('#absenkung').slider("option", "disabled", false);
            } else {
                // set the slider as enable again when you click to uncheck
                $('#absenkung').slider("option", "disabled", true);
            }
        });

        $("#anhebung_checkbox").click(function() {
            if(this.checked) {
                // set the slider as disable
                $('#anhebung').slider("option", "disabled", false);
            } else {
                // set the slider as enable again when you click to uncheck
                $('#anhebung').slider("option", "disabled", true);
            }
        });

        $("#select-type").change(function(){
            $("#one .slider-wrapper").addClass('hide');
            $("#one div[data-type='"+$(this).val()+"']").removeClass('hide');
        });

        $(".wetter #one .ui-slider-input").on('slidestop',function() {

            var id = $(this).data('id'),
                    number = $(this).val(),
                    name = $(this).attr('name');

            $.ajax({
                url: '/m_wetter/{{ haus.id }}/',
                data: {
                    'number': number,
                    'id': id,
                    'name': name,
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val(),
                    'singleroom': true
                },
                type: 'post',
                async: true,
                beforeSend: function() {
                    if(typeof startAjaxSlider === "function"){startAjaxSlider();}
                },
                complete: function() {
                    if(typeof endAjaxSlider === "function"){endAjaxSlider();}
                }
            });
        });
        $(".wetter #one input").on('change',function(e) {
            if (e.originalEvent === undefined) {
            } else {
                $(this).trigger("slidestop");
            }
        });
    });
</script>
<style type="text/css">
@media (max-width: 60em) {
    #correction-heating-element-wrapper .ui-checkbox {
        float: right;
        margin: -22px 12px 0 0;
    }
}
@media (min-width: 60em) {
    #correction-heating-element-wrapper .ui-checkbox {
        float: right;
        margin: -24px 14px 0 0;
    }
}
.p-label {
    margin-bottom: 0
}
#two .p-label {
    margin-bottom: 0;
    padding: 0 15px;
}
</style>
<div data-role="tabs" id="tabs">

    <div data-role="navbar">
        <ul>
            <li><a href="#one" class="ui-btn-active" data-ajax="false">{% trans "Einstellungen" %}</a></li>
            <li><a href="#two" data-ajax="false">{% trans "Gruppeneinstellung" %}</a></li>
        </ul>
    </div>
    <div id="one" class="ui-body-d ui-content ui-alt-icon">
        <select name="select-type" id="select-type">
            <option value="absenkung">{% trans "Absenkung" %}</option>
            <option value="anhebung">{% trans "Anhebung" %}</option>
        </select>
        {% for e in eundr %}
            {% for etage, raeume in e.items %}
            <h2>{{ etage.name }}</h2>
            {% for raum in raeume %}
                <p class="p-label"><img src="/static/icons/{{ raum.icon }}.png">{{ raum.name }}</p>
                <div id="correction-heating-element-wrapper" class="slider-wrapper custom_slider normal_slider" data-id="{{ raum.id }}" data-type="absenkung">
                    <label for="Absenkung">Absenkung</label>
                    <input data-popup-enabled="true" data-id={{ raum.id }} type="range" {% if 'wetter' not in raum.get_modules %}disabled="disabled"{% endif %} name="absenkung"
                           id="absenkung" data-mini="true" data-highlight="true" step="1" min="0" max="10"
                           value="{{ raum.get_wetter_params.0 }}"/>
                </div>
                <div id="correction-heating-element-wrapper" class="slider-wrapper custom_slider normal_slider hide" data-id="{{ raum.id }}" data-type="anhebung">
                    <label for="Absenkung">Anhebung</label>
                    <input data-popup-enabled="true" data-id={{ raum.id }} type="range" {% if 'wetter' not in raum.get_modules %}disabled="disabled"{% endif %} name="anhebung"
                           id="anhebung" data-mini="true" data-highlight="true" step="1" min="0" max="10"
                           value="{{ raum.get_wetter_params.1 }}"/>
                </div>
            {% endfor %}
            <p/>
            {% endfor %}
        {% endfor %}
        <h2>{% if diff_params%}Differenzregelug{%endif%}</h2>
        {% for d_reg_id, objid, reg_params, wetter_params in diff_params %}
        <p class="p-label"><img src="/static/heating-icons/icon_{{ reg_params.icon }}.png">{{ reg_params.name }}</p>
           <div id="correction-heating-element-wrapper" class="slider-wrapper custom_slider normal_slider" data-id="{{ raum.id }}" data-type="absenkung">
                <label for="absenkung">Absenkung</label>
                <input data-popup-enabled="true" data-id={{ d_reg_id }} type="range"  name="reg_absenkung"
                       id="reg_absenkung" data-mini="true" data-highlight="true" step="1" min="0" max="10"
                       value="{{ wetter_params.warm }}"/>
            </div>
            <div id="correction-heating-element-wrapper" class="slider-wrapper custom_slider normal_slider hide" data-id="{{ raum.id }}" data-type="anhebung">
                <label for="Anhebung">Anhebung</label>
                <input data-popup-enabled="true" data-id={{ d_reg_id }} type="range"  name="reg_anhebung"
                       id="reg_Anhebung" data-mini="true" data-highlight="true" step="1" min="0" max="10"
                       value="{{ wetter_params.kalt }}"/>
            </div>


        {% endfor %}
        <p/>
        <h2>{% if vor_params%}Vorlauftemperaturregelung{%endif%}</h2>
        {% for d_reg_id, objid, reg_params, wetter_params in vor_params %}
        <p class="p-label"><img src="/static/heating-icons/icon_{{ reg_params.icon }}.png">{{ reg_params.name }}</p>
           <div id="correction-heating-element-wrapper" class="slider-wrapper custom_slider normal_slider" data-id="{{ d_reg_id }}" data-type="absenkung">
                <label for="reg_absenkung">Absenkung</label>
                <input data-popup-enabled="true" data-id={{ d_reg_id }} type="range"  name="reg_absenkung"
                       id="reg_absenkung" data-mini="true" data-highlight="true" step="1" min="0" max="10"
                       value="{{ wetter_params.warm }}"/>
            </div>
            <div id="correction-heating-element-wrapper" class="slider-wrapper custom_slider normal_slider hide" data-id="{{ raum.id }}" data-type="anhebung">
                <label for="Anhebung">Anhebung</label>
                <input data-popup-enabled="true" data-id={{ d_reg_id }} type="range"  name="reg_anhebung"
                       id="reg_Anhebung" data-mini="true" data-highlight="true" step="1" min="0" max="10"
                       value="{{ wetter_params.kalt }}"/>
            </div>

        {% endfor %}
    </div>
    <div id="two">
        <form action="/m_wetter/{{ haus.id }}/" method="post" data-ajax="false">{% csrf_token %}
            <div class="ui-grid-a ui-alt-icon">
                <p class="p-label">{% trans "Über die Gruppeneinstellung können Sie mehrere Räume gleichzeitig setzen, auswählen und übernehmen." %}</p>
                <div id="correction-heating-element-wrapper" class="custom_slider slider-wrapper correction-heating-element-wrapper">

                    <div>
                        <label for="absenkung">{% trans "Absenkung" %}</label>
                        <input data-popup-enabled="true" type="range" name="absenkung" id="absenkung" data-mini="true"
                                    data-highlight="true" step="1" min="0" max="10" value="4"/>
                        <input type="checkbox" id="absenkung_checkbox" name="absenkung_checkbox" checked="checked"/>
                    </div>

                    <div>
                        <label for="anhebung">{% trans "Anhebung" %}</label>
                        <input data-popup-enabled="true" type="range" name="anhebung" id="anhebung" data-mini="true"
                                    data-highlight="true" step="1" min="0" max="10" value="1"/>
                        <input type="checkbox" id="anhebung_checkbox" name="anhebung_checkbox" checked="checked"/>
                    </div>
                </div>

            </div>

            <div class="jahreskalender">
                <div class="ui-grid-a select-room jahreskalender">

                <fieldset data-role="controlgroup" data-iconpos="right">

                    <input type="checkbox" name="select-all" value="select-all" id="select-all" class="select-all"/>
                    <label id="select-all-label" for="select-all" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">alle Räume auswählen</label>
                    {% for e in eundr %}
                        {% for etage, raeume in e.items %}
                            {% for r in raeume %}

                                <input type="checkbox" name="rooms" value="{{ r.id }}" class="room" data-house="{{ etage.id }}" style="border-bottom-width: 1px;" id="room-{{ r.id }}"/>
                                <label for="room-{{ r.id }}" style="border-bottom-width: 1px;" class="line-border"><img src="/static/icons/{{ r.icon }}.png"/>{{etage.name}} | {{ r.name }}</label>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    <input type="checkbox" name="select-all-diff" value="select-all" id="select-all-diff" class="select-all-diff"/>
                    <label id="select-all-label-diff" for="select-all-diff" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">alle Differenzregelungs auswählen</label>
                    {% for d_reg_id, objid, reg_params, wetter_params in diff_params %}
                        <input type="checkbox" name="regs" value="{{ d_reg_id }}" data-house="{{ dregid }}" id="diff-{{ d_reg_id }}" class="diff"/>
                                <label for="diff-{{ d_reg_id }}" class="line-border">
                                    {% if reg_params.icon %}<img src="/static/heating-icons/icon_{{ reg_params.icon }}.png"/> {% endif %}
                                    {{ reg_params.name }}
                                </label>
                    {% endfor %}
                    <input type="checkbox" name="select-all-vor" value="select-all" id="select-all-vor" class="select-all-vor"/>
                    <label id="select-all-label-vor" for="select-all-vor" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">alle Vorlauftemperaturregelung auswählen</label>
                    {% for d_reg_id, objid, reg_params, wetter_params in vor_params %}
                        <input type="checkbox" name="regs" value="{{ d_reg_id }}" data-house="{{ d_reg_id }}" id="vor-{{ d_reg_id }}" class="vor"/>
                                <label for="vor-{{ d_reg_id }}" class="line-border">
                                    {% if reg_params.icon %}<img src="/static/heating-icons/icon_{{ reg_params.icon }}.png"/> {% endif %}
                                    {{ reg_params.name }}
                                </label>
                    {% endfor %}
            </fieldset>

            </div>
            </div>
            <input type="submit" value='{% trans "speichern" %}' style="padding:0px;" data-corners="false" class="ui-btn ui-btn"/>
        </form>
    </div>
</div>

{% endblock %}
