{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Kaminofen{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{ haus.id }}/kaminofen/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    {% if k_id %}
        <a href="/m_setup/{{haus.id}}/kaminofen/delete/{{k_id}}/" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
    {% endif %}
{% endblock %}

{% block mcontent %}
<style type="text/css">
    .kamin-summery{
        font-size: medium;
        margin: 0;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $(".kaminofen-room-selection .select-all").change(function(){
            var elem  = $(".select-room input[class=room]");
            if($(this).is(':checked')){
                elem.prop('checked', true).checkboxradio("refresh");
            }else{
                elem.prop('checked', false).checkboxradio("refresh");
            }
        });
        $(".kaminofen-room-selection input[class=room]").change(function(){
            var elem  = $(".kaminofen-room-selection .select-all");
            if(!$(this).is(':checked')){
                elem.prop('checked', false).checkboxradio("refresh");
            }
        });
    });
</script>

<form method="post" action="/m_setup/{{haus.id}}/kaminofen/edit/{% if k_id %}{{ k_id }}/{% endif %}" data-ajax="false" id='kam-form'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li data-role="list-divider">Kaminofen-Plugin</li>
        {% if k_id %}
        <li style="">
            <p class="kamin-summery">Letzte Prüfung: {{ last_check}}</p>
            <p class="kamin-summery">nächste Prüfung: {{ next_check }}</p>
            <p class="kamin-summery">Raum-Sensor Isttemperatur: {{ s1 }}</p>
            <p class="kamin-summery">Kaminofen-Sensor Isttemperatur: {{ s2 }}</p>
            <p class="kamin-summery">Differenztemperatur Schwelle/Ist: {{ diff }}</p>
            <p class="kamin-summery">Ergebnis: <b> Regelungsanpassung {{active}} </b> </p>
        </li>
        {% endif %}
        <li>
            <div data-role="fieldcontain">
                <label for="name" style="vertical-align: middle;">Name</label>
                <input type="text" name="name" id="name" value="{{ k_param.name }}" required/>
            </div>
        </li>
        <li class="">
        <div data-role="fieldcontain">
            <label for="raum-sensor" style="margin-top: .5em;">Raum-Sensor</label>
            <select name="raum_sensor" data-mini="true" id="raum-sensor">
                {% for sensor in sensors %}
                        <option value="{{ sensor.sensorid }}" {% if k_param.raum_sensor == sensor.sensorid %}selected="selected"{% endif %}>{{ sensor.name }}</option>
                {% endfor %}
            </select>
        </div>
        </li>
        <li class="">
        <div data-role="fieldcontain">
            <label for="kaminofen-sensor" style="margin-top: .5em;">Kaminofen-Sensor</label>
            <select name="kaminofen_sensor" data-mini="true" id="kaminofen-sensor">
                {% for sensor in sensors %}
                        <option value="{{ sensor.sensorid }}" {% if k_param.kaminofen_sensor == sensor.sensorid %}selected="selected"{% endif %}>{{ sensor.name }}</option>
                {% endfor %}
            </select>
        </div>
        </li>
        <li>
        <div data-role="fieldcontain">
            <label for="a-differenztemperatur" style="vertical-align: middle;">Differenztemperatur für Aktivierung</label>
            <input type="number" name="a_differenztemperatur" id="a-differenztemperatur" value="{{ k_param.a_differenztemperatur|default:3 }}" required/>
        </div>
        <div data-role="fieldcontain">
            <label for="d-differenztemperatur" style="vertical-align: middle;">Differenztemperatur für Deaktivierung</label>
            <input type="number" name="d_differenztemperatur" id="d-differenztemperatur" value="{{ k_param.d_differenztemperatur|default:0.4 }}" required/>
        </div>
        </li>
        <li class="kaminofen-room-selection">
            <div  class="select-room">
                <h2>Raum-Auswahl</h2>
                <input type="checkbox" name="select-all" value="select-all" id="select-all" class="select-all" {% if select_all_room %}checked="checked"{% endif %} />
                <label id="select-all-label" for="select-all" data-corners="false" class="bold" >
                    alle Räume auswählen
                </label>
                {% for e in eundr %}
                    {% for etage, raeume in e.items %}
                        {% for r in raeume %}
                            <input type="checkbox" name="rooms" value="{{ r.id }}" class="room"
                                    data-house="{{ etage.id }}" style="border-bottom-width: 1px;margin-left: 15px;"
                                    id="room-{{ r.id }}"
                                   {% if r.id|stringformat:"i" in k_param.rooms %}checked="checked"{% endif %} />
                            <label for="room-{{ r.id }}" style="border-bottom-width: 1px;margin-left: 15px;" class="line-border">
                                <img width="20" src="/static/icons/{{ r.icon }}.png"/>&nbsp;
                                {{etage.name}} | {{ r.name }}
                            </label>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        </li>
         <li data-icon='false'>
            <a href="#" onclick="$('#kam-form').get(0).submit();" style="text-align:center">Speichern</a>
        </li>
    </ul>
</form>

{% endblock %}
