{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Heizflaechenoptimierung{% endblock %}

{% block mheader %}
    <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zurück</a>
    <a href="http://support.controme.com/heizflaechenoptimierung/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% load static %}
    <script src="{% static 'sweetalert2.all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'sweetalert2.min.css' %}">
{% endblock %}

{% block bodycls %}main-config-page heizprogramm{% endblock %}

{% block mcontent %}
    <form action="/m_setup/{{ raumid }}/heizflaechenoptimierung/configurator/" method="POST" id="configurator-form">
        {% csrf_token %}
        <ul data-role="listview" data-divider-theme="a" class="items">
            <li>
                <h2>Reglergeschwindigkeit</h2>
                <label for="change_factor_gain" style="margin:0px;border:0;" data-corners="false">
                    <input type="number" name="change_factor_gain" id="change_factor_gain" min="0" step="0.01"
                           value="{{ change_factor_gain }}" required/>
                </label>
                <div class="descriptions">
                    Die Reglergeschwindigkeit bestimmt die Intensität, mit der der Regler auf Änderungen der Rücklauftemperatur reagiert.
                    Eine Einstellung von beispielsweise 0.1 bedeutet, dass der Regler die Ventilposition um 5% ändert, wenn die Rücklauftemperatur um 1K von der Ziel-Rücklauftemperatur abweicht.
                </div>
            </li>
            <li>
                <h2>Maximale Ventiländerung</h2>
                <label for="max_change_factor" style="margin:0px;border:0;" data-corners="false">
                    <input type="number" name="max_change_factor" id="max_change_factor" min="0" step="0.1"
                           value="{{ max_change_factor }}" required/>
                </label>
                <div class="descriptions">
                    Der Parameter "maximale Ventiländerung" definiert die maximale erlaubte prozentuale Änderung der Ventilstellung pro Schritt.
                </div>
            </li>
            <li>
                <h2>Schwellenwert für minimale Ventilstellung</h2>
                <label for="min_valve_threshold" style="margin:0px;border:0;" data-corners="false">
                    <input type="number" name="min_valve_threshold" id="min_valve_threshold" min="0" step="0.1"
                           value="{{ min_valve_threshold }}" required/>
                </label>
                <div class="descriptions">
                    Der Schwellenwert ermöglicht es, eine Ventilposition festzulegen, unterhalb derer der Regler seine Funktion einstellt und stattdessen auf einer konstanten 'minimalen Ventilstellung' verbleibt.
                    Falls eine berechnete Ventilstellung also den hier spezifizierten Wert unterschreitet, verfährt der Regler zur 'minimalen Ventilstellung' (im nachfolgenden Feld).
                    Der in diesem Feld eingetragene Wert muss gleich oder höher als die 'minimale Ventilstellung' sein.
                </div>
            </li>
            <li>
                <h2>Minimale Ventilstellung</h2>
                <label for="min_valve_value" style="margin:0px;border:0;" data-corners="false">
                    <input type="number" name="min_valve_value" id="min_valve_value" min="0" step="0.1"
                           value="{{ min_valve_value }}" required/>
                </label>
                <div class="descriptions">
                    Die hier eingestellte Ventilstellung wird innerhalb der Aktivitätsschwellen nicht unterschritten.
                </div>
            </li>
            <li>
                <h2>Notfallmodus bei Raumsensor-Ausfall</h2>
                <label for="roomsensor_failure_mode" style="margin:0px;border:0;" data-corners="false">
                    <input type="checkbox" name="roomsensor_failure_mode" id="roomsensor_failure_mode" {% if roomsensor_failure_mode %}checked{% endif %} />
                    Notfallmodus bei Raumsensor-Ausfall
                </label>
                <div class="descriptions">
                    Im aktivierten Notfallmodus wird bei einem Ausfall des Raumtemperatursensors die Beheizung des Raumes fortgesetzt, wobei nur die relevanten Rücklaufsensoren verwendet werden.
                    Während dieses Zustands wird die eingestellte Raum-Zieltemperatur direkt als Isttemperatur herangezogen, bis eine tatsächliche Isttemperatur wieder verfügbar ist.
                </div>
            </li>
            <li>
                <h2>Außentemperatur-Schwelle für Notfallmodus</h2>
                <label for="emergency_mode_threshold" style="margin:0px;border:0;" data-corners="false">
                    <input type="number" name="emergency_mode_threshold" id="emergency_mode_threshold" step="0.1" value="{{ emergency_mode_threshold }}" required/>
                </label>
                <div class="descriptions">
                    Für die Aktivierung des 'Notfallmodus bei Raumsensor-Ausfall' muss zusätzlich die Außentemperatur den in diesem Feld spezifizierten Wert unterhalb der festgelegten Ziel-Raumtemperatur liegen.
                </div>
            </li>
            <li>
                <p class="error-text" style="display: none;"></p>
                <input type="submit" value="Speichern" class="ui-btn ui-btn-b" />
            </li>
        </ul>
    </form>

    <script>
        // Form submission and handling
        document.getElementById("configurator-form").addEventListener("submit", function(event) {
            event.preventDefault();
    
            var minValveThreshold = parseFloat(document.getElementById("min_valve_threshold").value);
            var minValveValue = parseFloat(document.getElementById("min_valve_value").value);
    
            if (minValveThreshold >= minValveValue) {
                var form = this;
                var formData = new FormData(form);
    
                // Submit the form using AJAX
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        Swal.fire({
                            icon: 'success',
                            title: response.success_message,
                            confirmButtonText: 'OK'
                        }).then(() => {
                            location.reload(); // Reload the page
                        });
                    },
                    error: function(xhr, textStatus, error) {
                        console.log(xhr.responseText);
                    }
                });
            } else {
                var errorText = document.querySelector(".error-text");
                errorText.style.display = "block";
                errorText.innerHTML = '';
    
                Swal.fire({
                    text: 'Schwellenwert für minimale Ventilstellung muss kleiner oder gleich sein als Minimale Ventilstellung.',
                    icon: 'error',
                    showConfirmButton: true
                });
            }
        });
    </script>    
{% endblock %}
