{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Heizflaechenoptimierung{% endblock %}

{% block mheader %}
        <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/heizflaechenoptimierung/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block bodycls %}main-config-page heizprogramm{%endblock%}

{% block mcontent %}

<style>

    .desc-text{
        color: #8C8B8A;
        text-shadow: none;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 20px;
        font-size: 16px;
        text-align: justify;
    }

    .icon-afr {
      width: 35%;
      height: auto;
    }

    .yellow-aha{
        color: #EFB54F;
    }
    .yellow-dhma{
        color: #F58B48;
    }
    .red-font{
        color: #CF3368;
    }

    .text-justify, p{
      text-align: center;
      text-justify: inter-word;
    }

    u, a{
        text-shadow: none;
    }

    .descriptions{
        font-size: 12px;
        font-style: italic;
        font-weight: 600;
        line-height: 1.5;
    }

    .text-underline{
        text-decoration: underline;
        text-shadow: none;
    }


</style>

<form method="post" action="/m_setup/{{haus.id}}/heizflaechenoptimierung/" data-ajax="false"> {% csrf_token %}

<ul data-role="listview" data-divider-theme="a" class="items">

        <li style="text-align: center;">
            <div style="text-align: center;">
                <img class="icon-afr" src="/static/images/rfr-pro.png">
            </div>

            <div class="descriptions">
                RFR-PRO 4.0 ist der fortschrittliche Regelalgorithmus für Fußbodenheizungen in Smart-Heat-OS.
                Mehrere bahnbrechende Funktionalitäten erzielten durch die Einbindung zusätzlicher Sensoren am Heizkreis-Rücklauf
                hohe Energieeinsparungen und ein bemerkenswert gutes Regelergebnis.
            </div>
        </li>


        <li style="text-align: center">
            <h2 class="text-underline">Automatischer hydraulischer Abgleich <span class="yellow-aha">(AHA)</span></h2>
            <div class="descriptions">
                Hydraulischer Abgleich gemäß dem von Controme entwickelten Rücklauftemperatur-Verfahren.
                RFR-PRO 4.0 lernt dabei das Verhalten der einzelnen Heizschleifen <u>bei Volllast</u> kennen.
                
            </div>
        </li>

        <li>

            <div data-role="collapsible" data-iconpos="right" class="collapsible-content">
              <h4>Was macht <span class="yellow-aha">AHA</span> genau?</h4>
              <div>
                  Konventionelle Methoden des hydraulischen Abgleichs bei Fußbodenheizungen sind aufwändig zu berechnende Behelfslösungen,
                  die eine direkte Messung umgehen. Gerade im Bestand können die für eine genaue Berechnung notwendigen Rohrlängen der Heizschleifen meist nur geschätzt werden.
                  Temperaturverluste im Verteilsystem werden bei der Berechnung generell nicht berücksichtigt.

                  Mit Controme wird der hydraulische Abgleich gemäß des Rücklauftemperatur-Verfahrens durchgeführt.
                  Durch den Abgleich aller Heizschleifen auf die gleiche Mitteltemperatur ist ein sehr genauer Abgleich möglich,
                  der die tatsächlichen Gegebenheiten unter Berücksichtigung aller Einflussfaktoren widerspiegelt.
                  Das Ergebnis übertrifft die konventionellen Berechnungsmethoden deutlich.


                  <br><br>

                  <a href="https://www.controme.com/hydraulischer-abgleich/">  Weitere Infos > </a>

              </div>
            </div>

        </li>

        <li style="padding: 17px;">
            <div class="ui-btn aha-link" style="border-radius: 10px;text-align: center; border-width: 1px; border-style: solid; padding: 10px; border-color: lightgray">
                <span class="yellow-aha">AHA</span> jetzt durchführen </div>
        </li>

        <li style="text-align: center;">
            <h2 class="text-underline"> Dynamischer hydraulischer Maximalabgleich <span class="yellow-dhma">(DHMA)</span> </h2>
            <div class="descriptions">
                DHMA berechnet aufbauend auf den im AHA ermittelten Werten die
                optimalen Ventilöffnungen für die <u>aktuelle Betriebssituation</u>.
            </div>
        </li>

        <li>

            <div data-role="collapsible" data-iconpos="right" class="collapsible-content">
              <h4>Was macht <span class="yellow-dhma">DHMA</span> genau?</h4>
              <div>
                  Die im zuvor beschriebenen automatischen hydraulischen Abgleich (AHA) ermittelten maximalen
                  Öffnungswerte für jede Heizschleife sind ausschließlich für
                  die Betriebssituation Vollast (“Alle Räume sollen aktuell mit maximaler und gleicher Menge an Wärmeenergie versorgt werden“) optimal.
                  Diese Betriebssituation ist jedoch sehr selten.

                  Der dynamische Abgleich Maximalabgleich (DHMA) berechnet deshalb aufbauend auf
                  den im automatischen hydraulischen Abgleich ermittelten Werten,
                  individuell zu jeder Betriebssituation die maximal mögliche Ventilöffnung für jede Heizschleife.
                  <br><br>
                  <a href="https://www.controme.com/hydraulischer-abgleich/#dhag">Weitere Infos ></a>

              </div>
            </div>
        </li>

        <li>
            <h2><span class="dhma">DHMA</span>-Begrenzung</h2>
            <label style="margin:0px;border:0;" data-corners="false">
                    <input type="number" name="max_increase_dhma" id="max_increase_dhma" min="0" max="100"
                           value="{{max_increase_dhma|default:'100'}}" required/>
            </label>
            <div class="descriptions">
                Einstellbar von 1-100. Eine Einstellung von “2” bedeutet, dass eine Heizschleife,
                die auf 10% Öffnung begrenzt ist, maximal bis 20% geöffnet wird (auch in Fällen, wo eigentlich noch weiter geöffnet werden könnte).
                Für das volle Potential dieses Feld auf 100 einstellen.
            </div>
        </li>

        <li style="text-align: center">
            <h2 class="text-underline">Fußbodenheizung-<span class="red-font">KI</span></h2>
            <div class="descriptions">
                Leistungsfähige KI-Algorithmen lernen durch permanente Analyse aller Sensor- und Wetterdaten das genaue Heizverhalten ihres Fußbodens.
            </div>
        </li>

        <li>

            <div data-role="collapsible" data-iconpos="right" class="collapsible-content">
              <h4>Was macht die <span class="red-font">KI</span> genau?</h4>
              <div>
                  Der Programmteil Fußbodenheizung-KI analysiert die Verläufe der Raum- und Rücklauftemperaturen.
                  Intelligente Regelalgorithmen verknüpfen diese mit Wetterparametern.
                  RFR-PRO 4.0  lernt so das genaue Verhalten des Fußbodens in jedem Raum und kann dadurch immer die optimale Fußbodentemperatur vorhersehen.
                  <br><br>
                  <a href="https://www.controme.com/machine-learning-ki-fuer-fussbodenheizung/"> Weitere Infos > </a>

              </div>
            </div>
        </li>


        <li>

            <label for="off">
                <span class="red-font">KI</span> AUS (raumweise Einstellung über Heizkennlinie)
            </label>
            <input type="radio" name="ki_mode" value="off" data-mode="off"  id="off" {% if ki_mode == "off" %} checked {% endif %} data-chtype="ki_mode"/>

            <label for="on">
                <span class="red-font">KI</span> EIN. Benötigt
                <span style="color: royalblue;" class="controm-link">
                    Controme-Services-Paket
                </span>
                {% if ki_activated %}
                    <span style="color: #9ec552;">(ist bereits aktiviert).</span>
                {% else %}
                    <span class="red-font">(aktuell nicht aktiviert).</span>

                {% endif %}
            </label>
            <input type="radio" name="ki_mode" value="on" data-mode="on"  id="on" {% if ki_mode == "on" %} checked {% endif %} data-chtype="ki_mode"/>

        </li>
</ul>

</form>
    <script>
        $(document).ready(function() {

            $("#max_increase_dhma").on("change", function() {
                $.ajax({
                    url: `/m_setup/{{haus.id}}/maximaldurchfluss/`,
                    data: {
                      'max_increase_dhma': $(this).val(),
                      'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val(),
                    },
                    type: 'post',
                    async: true,
                    complete: function() {
                      //
                    }
                });
            });

            $('input[type=radio][name=ki_mode]').change(function() {

                $.ajax({
                    url: `/m_setup/{{haus.id}}/heizflaechenoptimierung/`,
                    data: {
                      'ki_mode': $(this).val(),
                      'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val(),
                    },
                    type: 'post',
                    async: true,
                    complete: function() {
                      //
                    }
                });
            });

            $('.aha-link').on("click", function() {
                window.location.href = "/m_setup/{{ haus.id }}/aha/";
            })

            $('.controm-link').on("click", function(e) {
                window.open('https://shop.controme.com/produkt/smart-heat-os-services-paket-12-monate/', '_blank');
            })

            $('.controm-link').on("click", function(e) {
                window.open('https://shop.controme.com/produkt/smart-heat-os-services-paket-12-monate/', '_blank');
            })

            $('.controm-link').on("click", function(e) {
                window.open('https://shop.controme.com/produkt/smart-heat-os-services-paket-12-monate/', '_blank');
            })



        });
    </script>
{% endblock %}

{% block footer %}

{% endblock %}
