{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}wochenkalender page{% endblock %}
{% block mheader %}
        <a href="/m_raum/{{raum.id}}/"class="ui-btn-icon-notext ui-icon-shadow  ui-icon-carat-l ui-alt-icon " data-role="none">&nbsp;</a>
{% endblock %}

{% block mcontent %}

<div class="plus">
<a href="/m_raum/{{raum.id}}/wochenkalender?add" style="float:right" class="ui-btn ui-icon-plus ui-btn-icon-notext ui-corner-all  ui-alt-icon ui-icon-shadow icon-no-bg ">Add</a>
</div>
<div class="room_wrapper"><img src="/static/icons/{{raum.icon}}.png" alt="icon">{{raum.name}}</div>
<ul data-role="listview"  class="ui-alt-icon sort" data-collapsed-icon="arrow-u" and data-expanded-icon="arrow-d" data-iconpos="right" data-inset="false">

{% if list %}
    {% for item in list %}
        {% if item %}
        <li data-day="{{item.begin_day}}" data-hour="{{item.begin_hour}}"><a href="/m_raum/{{raum.id}}/wochenkalender?edit={{forloop.counter0}}">{{item.begin_day_name}}. {{item.begin_hour}}&nbsp;&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;&nbsp;{{item.end_day_name}}  {{item.end_hour}} <span class="offset">{{ item.offset|floatformat }}</span></a></li>
        {% endif %}
    {% endfor %}
{% endif %}

</ul>
{% endblock %}