{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page wochenkalender{% endblock %}
{% block mheader %}
        <a href="/m_raum/{{raum.id}}/wochenkalender"class="ui-btn-icon-notext ui-icon-shadow  ui-icon-carat-l ui-alt-icon " data-role="none">&nbsp;</a>
{% endblock %}

{% block mcontent %}

<div class="room_wrapper"><img src="/static/icons/{{raum.icon}}.png" alt="icon">{{raum.name}}</div>
<div class="white-block">Neuer Temperaturoffset</div>
    {% if error %}
        <br/>
        <span style="color:#cb0963">{{ error }}</span>
        <br/>
    {% endif %}
<form action="/m_raum/{{raum.id}}/wochenkalender/" method="post" data-ajax="false">{% csrf_token %}
<div class="temp_set">
        <h4>Temperaturoffset</h4>
        <span class="temp_offset">{{ data.offset|default:"0.00"  }}</span>
        <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-minus minus-tempOne ui-alt-icon">&nbsp;</span>
        <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-plus plus-tempOne ui-alt-icon">&nbsp;</span>
    <input type="hidden" value="{{ data.offset|default:"0.00"  }}" name="offset" >
        <input  type="range" id="offset-slider"  min="-5" max="5" value="{{ data.offset|default:"0.00"  }}" step=".1" min="0" max="100" data-mini="true" value="0" data-highlight="true" data-popup-enabled="true">
</div>
<div class="white-block">beginnt</div>
<fieldset data-role="controlgroup" data-corners="false"  data-type="horizontal" data-mini="true">
    <input type="radio" name="begin-day" id="radio-choice-mo" value="1" required {% if data.begin_day == "1" %}checked="checked"{% endif %}>
    <label for="radio-choice-mo">Mo</label>
    <input type="radio" name="begin-day" id="radio-choice-di" value="2" {% if data.begin_day == "2" %}checked="checked"{% endif %}>
    <label for="radio-choice-di">Di</label>
    <input type="radio" name="begin-day" id="radio-choice-mi" value="3" {% if data.begin_day == "3" %}checked="checked"{% endif %}>
    <label for="radio-choice-mi">Mi</label>
    <input type="radio" name="begin-day" id="radio-choice-do" value="4" {% if data.begin_day == "4" %}checked="checked"{% endif %}>
    <label for="radio-choice-do">Do</label>
    <input type="radio" name="begin-day" id="radio-choice-fr" value="5" {% if data.begin_day == "5" %}checked="checked"{% endif %}>
    <label for="radio-choice-fr">Fr</label>
    <input type="radio" name="begin-day" id="radio-choice-sa" value="6" {% if data.begin_day == "6" %}checked="checked"{% endif %}>
    <label for="radio-choice-sa">Sa</label>
    <input type="radio" name="begin-day" id="radio-choice-so" value="0" {% if data.begin_day == "0" %}checked="checked"{% endif %}>
    <label for="radio-choice-so">So</label>
</fieldset>

<div class="ui-grid-a">
  <div class="ui-block-a">Start</div>
  <div class="ui-block-b"><input type="time" data-clear-btn="true" name="begin-hour" required  value="{{ data.begin_hour|default:"0"  }}"></div>
</div>

<div class="white-block">endet</div>
<fieldset data-role="controlgroup" data-corners="false"  data-type="horizontal" data-mini="true">
    <input type="radio" name="end-day" id="radio-ends-mo" value="1" required {% if data.end_day == "1" %}checked="checked"{% endif %}>
    <label for="radio-ends-mo">Mo</label>
    <input type="radio" name="end-day" id="radio-ends-di" value="2" {% if data.end_day == "2" %}checked="checked"{% endif %}>
    <label for="radio-ends-di">Di</label>
    <input type="radio" name="end-day" id="radio-ends-mi" value="3" {% if data.end_day == "3" %}checked="checked"{% endif %}>
    <label for="radio-ends-mi">Mi</label>
    <input type="radio" name="end-day" id="radio-ends-do" value="4" {% if data.end_day == "4" %}checked="checked"{% endif %}>
    <label for="radio-ends-do">Do</label>
    <input type="radio" name="end-day" id="radio-ends-fr" value="5" {% if data.end_day == "5" %}checked="checked"{% endif %}>
    <label for="radio-ends-fr">Fr</label>
    <input type="radio" name="end-day" id="radio-ends-sa" value="6" {% if data.end_day == "6" %}checked="checked"{% endif %}>
    <label for="radio-ends-sa">Sa</label>
    <input type="radio" name="end-day" id="radio-ends-so" value="0" {% if data.end_day == "0" %}checked="checked"{% endif %}>
    <label for="radio-ends-so">So</label>
</fieldset>
<div class="ui-grid-a">
  <div class="ui-block-a">Ende</div>
  <div class="ui-block-b"><input type="time" data-clear-btn="true" name="end-hour" required value="{{ data.end_hour|default:"0"  }}"></div>
</div>
<div class="white-block">wiederholen</div>
<fieldset data-role="controlgroup" data-corners="false"  data-type="horizontal" data-mini="true">
    <input type="checkbox" name="repeat" id="wiederholen-mo" value="1" {% if "1" in data.repeat  %}checked="checked"{% endif %}>
    <label for="wiederholen-mo">Mo</label>
    <input type="checkbox" name="repeat" id="wiederholen-di" value="2" {% if "2" in data.repeat  %}checked="checked"{% endif %}>
    <label for="wiederholen-di">Di</label>
    <input type="checkbox" name="repeat" id="wiederholen-mi" value="3" {% if "3" in data.repeat  %}checked="checked"{% endif %}>
    <label for="wiederholen-mi">Mi</label>
    <input type="checkbox" name="repeat" id="wiederholen-do" value="4" {% if "4" in data.repeat  %}checked="checked"{% endif %}>
    <label for="wiederholen-do">Do</label>
    <input type="checkbox" name="repeat" id="wiederholen-fr" value="5" {% if "5" in data.repeat  %}checked="checked"{% endif %}>
    <label for="wiederholen-fr">Fr</label>
    <input type="checkbox" name="repeat" id="wiederholen-sa" value="6" {% if "6" in data.repeat  %}checked="checked"{% endif %}>
    <label for="wiederholen-sa">Sa</label>
    <input type="checkbox" name="repeat" id="wiederholen-so" value="0" {% if "0" in data.repeat  %}checked="checked"{% endif %}>
    <label for="wiederholen-so">So</label>
</fieldset>

<input type="submit" value="speichern"  style="padding:0px;" data-corners="false" class="ui-btn ui-btn">
{% if index > -1 %}
<a href="/m_raum/{{raum.id}}/wochenkalender?delete={{index}}"  style="margin: 20px -10px;" data-corners="false" class="ui-btn ui-mini red-str">Eintrag l&ouml;schen</a>
<input type="hidden" name="index" value="{{index}}">
{% endif %}
    </form>

<div data-role="popup" id="popupTemp" data-theme="a" class="ui-corner-all">
    <div id="popupTempContent">
    <span class="popupTempIcon"><img src=""> </span><span class="popupTempName"></span>
    <label for="popupTempInput">Solltemperatur:</label>
    <input type="text" name="popupTempInput" id="popupTempInput"  value="">
    <a href="#" id="popupTempSave" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Speichern</a>
    </div>
</div>

{% endblock %}