{% extends "m_base.html" %}

{% block title %}Smart-Heat-OS - Funkeinrichtung - Hilfe{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/rf/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

    <h2>Funkeinrichtung</h2>

    <h3>Übersicht</h3>

        <p>
            Sobald ein Raspberry Pi mit angestecktem Funk-Stick / ZWave Controller zum controme Server überträgt, stehen
            die übertragenen Daten im System zur Verfügung. Diese sind allerdings nicht mit einem Haus assoziiert. Die
            Assoziation wird hergestellt über den Link <b>Controller anlegen</b> und der Eingabe der Controller ID.
        </p>

        <p>
            Die Übersicht zeigt dann den Controller selbst so wie alle in den Controller eingelernten Funkgeräte mit
            ihrer vom Controller zugewiesenen ID an. Jedes Gerät der Liste ist mit einem <b>roten, gelben oder grünen
            Punkt</b> gekennzeichnet. Der Punkt signalisiert, ob das jeweilige Gerät Daten zum Server überträgt und wie
            regelmäßig dies geschieht. Ein roter Punkt bedeutet, dass in den letzten 24h keine Daten übertragen wurden.
            Ein gelber Punkt zeigt an, dass zwar Daten übertragen werden, allerdings unregelmäßig, d.h. außerhalb
            der eingestellten Aufwachintervalle (s.u.). Ein grüner Punkt bedeutet, das das Gerät regelmäßig überträgt
            und ordnungsgemäß funktioniert.
        </p>

        <p>
            Das kürzeste Aufwachintervall aller Geräte an einem Controller bestimmt zudem das Übertragungsintervall
            der Daten vom Raspberry Pi zum Server.
        </p>

        <p>
            Neben Geräten, die kein Controller sind, befinden sich zudem <b>zwei Haken</b>. Der linke Haken zeigt an,
            ob der Typ des Geräts konfiguriert wurde, der rechte, ob das Gerät einem Raum zugewiesen wurde.
        </p>

    <h3>Konfigurationsmöglichkeiten</h3>

        <h5>Controller</h5>

            <p>
                In Funknetzwerken gibt es zwei Arten von Geräten: Geräte, die immer 'wach' sind und damit jederzeit
                vom Controller angesprochen werden können, und Geräte, die in bestimmten Intervallen aufwachen und nur
                dann mit dem Controller kommunizieren. Letztere Geräte sind meist batteriebetrieben. Für
                unterschiedliche Kategorien batteriebetriebener Geräte können Sie <b>Aufwachintervalle</b> festlegen.
                Die Geräte dieser Kategorie wachen dann in ungefähr diesen Intervallen auf. Kürzere Intervalle
                verkürzen die Batterielebensdauer.
            </p>

            <p>
                Wenn Sie den <b>Controller entfernen</b>, werden der Controller und alle Geräte aus ihrem Haus entfernt.
                Die Konfiguration der Geräte geht hierbei nicht verloren.
            </p>

        <h5>Geräte</h5>

            <p>
                Geräte werden vom Controller über ihre ID identifiziert. Sie können darüberhinaus jedes Geräte mit
                einer <b>Beschreibung</b> zur einfacheren Identifikation versehen.
            </p>

            <p>
                Wir unterstützen eine Reihe unterschiedlicher Geräteklassen. Der Typ eines bestimmten Geräts kann über
                die Auswahl <b>Typ</b> eingestellt werden.
            </p>

            <p>
                Damit Geräte systemweit als Aktoren und Sensoren verwendet werden können, müssen sie einem <b>Raum</b>
                zugeordnet sein.
            </p>

            <p>
                Sensoren können als <b>Raumtemperatursensor</b> verwendet werden, d.h. sie werden in der Raumtemperatur-
                Übersicht zur Anzeige der Temperatur in ihrem jeweiligen Raum verwendet. Als Raumtemperatursensor
                sind sie zudem für die Regelung maßgeblich verantwortlich. Sensoren, die keine Raumtemperatursensoren
                sind, können in der jeweiligen Raumseite durch Klick auf "aktuelle Temperatur" aufgerufen werden.
            </p>

            <p>
                Manche Aktoren funktionieren aufgrund schlechter Funkverbindung mitunter unzuverlässig. Dies kann dazu
                führen, dass ein Aktor selbsttätig seine Einstellungen verändert, insbesondere wenn der Aktor
                Benutzerinteraktion zulässt. Derartige Einstellungen werden dann vom Server übernommen, da wir auf dem
                Server nicht die Ursachen der Änderung unterscheiden können. Um solche Übernahmen zu verhindern, können
                mit dem Button <b>Änderungen am Aktor gesperrt</b> werden.
            </p>

            <p>
                Das Feld 'Nachbarn' gibt an, welche anderen Geräte dieses Gerät im ZWave-Netz kennt. Jedes Gerät kennt
                automatisch den zentralen Controller. Batteriebetriebene Geräte können sich zur Verbesserung der
                Übertragungsqualität jedoch andere, nicht-batteriebetriebene Geräte sozusagen als Funkverstärker zu
                Nutze machen.
            </p>

            <p>
                Manche Geräte, z.B. Mehrfachsensoren, müssen vom Funk Controller konfiguriert werden, um korrekt zu
                arbeiten. Mitunter scheint der Konfigurationsvorgang laut Anleitung ordnungsgemäß abgeschlossen zu sein,
                obwohl da Gerät die Konfiguration tatsächlich nicht angenommen hat. Wenn dies der Fall ist, wird eine
                Meldung angezeigt, dass unvollständige Daten übertragen wurden. Ist dies der Fall, folgen Sie bitte den
                Schritten im zugehörigen Link.
            </p>

{% endblock %}
