{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}

    <a href="/m_setup/{{hausid}}/rf/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    <a href="https://support.controme.com/mini-server/#Funkkomponenten" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" style="margin-right:30px;"></a>

{% load static %}
    <script src="{% static 'sweetalert2.all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'sweetalert2.min.css' %}">
{% endblock %}
{% csrf_token %}
{% block mcontent %}

<style>
.system_status {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        text-align: center;
        font-size: 12px;
        display:none;
        }
ul {
    margin: 4px 0;
    }
ul.dashed {
  list-style-type: none;
    }
ul.dashed > li {
  text-indent: -8px;
  margin: 2px 0;
    }
ul.dashed > li:before {
  content: "- ";
  text-indent: -5px;
    }
</style>
<ul data-role="listview">
<li>
    <label style="display: block;text-align: center; text-decoration: underline; text-decoration-thickness: 2px; text-underline-offset: 3px;"><b>Wahl des Funkchip-Handlers</b></label>
</li>
<li>
    <br>
    <div><label>Für die <a href="https://shop.controme.com/produkt/smartes-heizkoerper-thermostat/" target="_blank" style="text-decoration:none;">smarten Heizkörperthermostate (eTRV)</a> wurde der Handler des internen Funk-Chips in Q4/2022 vollständig neu programmiert.</label></div>
    <br>
    <div><label><b>Bitte beachten:</b></label></div>
    <div><ul class="dashed">
        <li>Nur die neue Version gewährleistet einen zuverlässigen Betrieb der eTRVs.</li>
        <li><a href="https://support.controme.com/raumcontroller/#Direktfunk" target="_blank" style="text-decoration:none;">Raumcontroller im Direktfunk-Modus, </a>sowie die alten <a href="http://support.controme.com/smartes-heizkoerperthermostat/" target="_blank" style="text-decoration:none;">Genius- oder Comet HKTs</a> funktionieren mit dem neuen Funk-Handler nicht.</li>
        <li>Mit dem neuen Funk-Handler können also ausschließlich <a href="https://shop.controme.com/produkt/smartes-heizkoerper-thermostat/" target="_blank" style="text-decoration:none;">smarte Heizkörperthermostate (eTRV)</a> betrieben werden.</li>
        <li>Über <a href="https://support.controme.com/raumcontroller/#Wire" target="_blank" style="text-decoration:none;">Kabel-</a> oder <a href="https://support.controme.com/raumcontroller/#WLAN" target="_blank" style="text-decoration:none;">WLAN</a> angebundene Raumcontroller, sowie Geräte die über den <a href="https://support.controme.com/funk/#Funk-Stick_TRANSPARENT" target="_blank" style="text-decoration:none;">transparenten</a> oder <a href="https://support.controme.com/raumcontroller/#Wire" target="_blank" style="text-decoration:none;">weißen Funk-Stick</a> betrieben werden, sind nicht betroffen. Diese funktionieren unabhängig von der Wahl des Funkchip-Handlers.</li>
    </ul></div>
    <br>
    <div data-role="navbar">
        <ul>
        <li><a href="#"  onclick="handler_old_service();" {% if handler_version == 'Ein' %} class="ui-btn-active" {% else %} class="ui-btn-inactive" {% endif %}><b>Alt</b></a></li>
        <li><a href="#"  onclick="handler_new_service();" {% if handler_version == 'Aus' %} class="ui-btn-active" {% else %} class="ui-btn-inactive" {% endif %}><b>Neu (2022)</b></a></li>
        </ul>
    </div>
<br>
</li>
<li>
    <label style="display: block;text-align: center; text-decoration: underline; text-decoration-thickness: 2px; text-underline-offset: 3px;"><b>Pairing</b></label>
</li>
<li>
    <br>
    <div>
        <label>Die <a href="https://shop.controme.com/produkt/smartes-heizkoerper-thermostat/" target="_blank" style="text-decoration:none;">smarten Heizkörperthermostate (eTRV)</a> müssen nach dem <a href="https://support.controme.com/smartes-heizkoerperthermostat-df/#Grundkonfiguration_und_Einrichtung" target="_blank" style="text-decoration:none;">anlegen</a> gepairt werden. Klicke hierzu auf „Pairing starten“ und drücke anschließend die Taste mit dem Uhrensymbol am eTRV. Das Pairing war erfolgreich, wenn im Pairing-Status ein Secret-Key angezeigt wird.</label>
    </div>
    <br>
</li>

{% for dev in all_etrv %}
    <li ><lable style="font-weight: bold;"> {{ dev.name }} {% if dev.status  == 'red' %} </lable><lable style="color:#cb0963;font-weight: bold;"> (Achtung: Pairing noch nicht erfolgt!) </lable> <label style="font-weight: bold;">{% endif %} - {{ dev.description }}</label>
        <br><br>
        <button  id={{ dev.name }} onclick="getId(this)" style="display: inline-block;" type="button">Pairing starten</button>
        <pre id="pairing_status_{{ dev.name }}" class="system_status"><div style="display: inline-block; text-align: left;">
        <li><b>Secret key(current): </b>{{ dev.text_master }}</li>
        <li><b>Secret key(master): </b>{{ dev.text_drop }}</li>
        <div><button id={{ dev.name }} onclick="deletegetId(this)"><lable style="color:#cb0963;">Delete Secret Key</lable></button></div>
        </div></pre>
        <button type="button" id={{ dev.name }}  onclick="show_pairing(this)">Pairing Status</button>
    </li>
{% endfor %}
</ul>
<script>
let handler_old_service = function (){
    alert('Please wait 10 seconds for old handler config!')
    $.ajax({
        url: window.location.href,
        type: "POST",
        data: {'ble':'handler_old', csrfmiddlewaretoken: '{{ csrf_token }}'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },8000),});
};

let handler_new_service = function (){
    alert('Please wait 10 seconds for new handler config!')
    $.ajax({
        url: window.location.href,
        type: "POST",
        data: {'ble':'handler_new', csrfmiddlewaretoken: '{{ csrf_token }}'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },8000),});
};
</script>
<script>
function getId(btn){
    swal.showLoading();
    Swal.fire({
    title: 'Am Heizkörperthermostat die Taste mit dem Uhrensymbol kurz drücken',
    text: 'Verbinden mit ' + btn.id,
    allowEscapeKey: false,
    allowOutsideClick: false,
    timer: 1000,
    onOpen: () => {
      swal.showLoading();
    }
    }).then(() => {
    
    $.ajax({
        url: window.location,
        type: "POST",
        data: {'pair_id': btn.id, csrfmiddlewaretoken: '{{ csrf_token }}'},
        async: false,
        cache:false,
        dataType: "json",
        success: function(resp){
            if (resp.msg == 'error'){
                console.log('Error');
                Swal.fire('','Fehler beim Pairing mit ' + btn.id , 'error');
                }
            else {
                Swal.fire('','Pairing mit ' + btn.id + ' erfolgreich', 'success').then(function() {
                window.location.reload();})
            }
            
        },
        });})
};

function show_pairing(btn) {
    console.log(btn.id);
    console.log('pairing_status_' + btn.id);
    var e = document.getElementById('pairing_status_' + btn.id);
    e.style.display = (e.style.display == 'block') ? 'none' : 'block';
};

function deletegetId(btn){
    $.ajax({
        url: window.location,
        type: "POST",
        data: {'delete_id': btn.id, csrfmiddlewaretoken: '{{ csrf_token }}'},
        async: false,
        cache:false,
        dataType: "json",
        success: function(resp){
            window.location.reload();
        }
    })};
</script>
{% endblock %}