{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/hardware/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    <a href="https://support.controme.com/mini-server/#Funkkomponenten" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" style="margin-right:30px;"></a>
    {% load static %}
    <script src="{% static 'sweetalert2.all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'sweetalert2.min.css' %}">
{% endblock %}
{% block mcontent %}

    <script type="text/javascript">
        var ids = [{% for device in devices %}{% if device.controller.get_autark %}'{{ device.get_type }}'+'*'+{{ device.id }},{% endif %}{% endfor %}];

        var id2cnt = new Object();
        {% for rfc in rfcontroller %}
            id2cnt[{{ rfc.0 }}] = 0;
        {% endfor %}

        var id2ctrl = new Object();
        {% for device in devices %}
            id2ctrl['{{device.get_type}}'+'*'+{{ device.id }}] = {{ device.controller_id }};
            id2cnt[{{ device.controller_id }}] += 1;
        {% endfor %}

        function sendChanges(val, name, obj) {
            var dev = name.split('_')[0];
            var typ = name.split('_')[1];
            var url = "/m_setup/{{ haus.id }}/rf/?dev="+dev+"&type="+typ+"&val=" + encodeURIComponent(val);
            $.ajax({
                url: url,
                async: false,
                success: function(data) {

		    if (typ == "newmac") {
			if (!data['error'])
				$(obj).text("Gerät wurde hinzugefügt.  Bitte Seite neu laden.");
			else
				$(obj).text(data['error']);
		    }
                    if(val == "undef" || data['error']) {
                        setMarker(false, name);
                    } else {
                        setMarker(true, name);
                    }

                    if(!data['error']) {
                        $("#fb1").text("Änderungen gespeichert");
                    } else {
                        $("#fb1").text("Änderungen nicht gespeichert");
                        var errorhtml = $("<p style='color:#cb0963'>" + data['error'] + "</p>");
                        $(jq(data['id'])).append(errorhtml);
                    }

                    if(typ == "autark") {
                        location.reload();
                    }

                    if(typ == "delete") {
                        if(obj === null || obj === undefined) location.reload();
                        $(obj).parent().append("<strong style='color:#cb0963;'>Gerät wurde gelöscht und wird beim nächsten Laden der Seite nicht mehr angezeigt.</strong>");
                        $(obj).parent().parent().parent().css('opacity', '0.7');
                        try {
                            $(obj).attr("onclick", "").unbind("click");
                            $(obj).prop("onclick", null).off('click');
                        }
                        catch(err) {
                            console.log(err.message);
                        }
                    }

                    if(typ == "raum") {
                        if(val == "undef") {
                            $(jq(dev) + '_mainsensor').attr('disabled', true);
                            if ($(jq(dev) + '_mainsensor').prop('checked')) {
                                $(jq(dev) + '_mainsensor').prop('checked', false);
                            }
                        } else {
                            $(jq(dev) + '_mainsensor').removeAttr('disabled');
                        }
                        if(data['mainsensor']) {
                            $(jq(dev)+'_mainsensor').attr('checked', true);
                        }
                        $(jq(dev)+'_mainsensor').checkboxradio('refresh');
                        if(!data['error']) {
                            $(jq(dev)+'_raum').selectmenu('refresh', true);
                        }
                        $(jq(dev) + '_configtemp_p').hide();
                    }

                    if((typ == "mainsensor" || (typ == "raum" && val != "undef")) && $(jq(dev)+'_mainsensor').prop('checked')) {
                        var raum = $(jq(dev)+"_raum").val();
                        $.each($("select[id$='raum']"), function(idx, r) {
                            var rid = r.id.split('_')[0];
                            if(r.value == raum && dev != rid) {
                                $(jq(rid) + '_mainsensor').prop('checked', false);
                                $(jq(rid) + '_mainsensor').checkboxradio('refresh');
                            }
                        });
                    }

                    if(typ == "type") {
                        $(jq(dev) + "_descshow").parent().parent().parent().parent().parent().parent().remove();
                        var $rfcsid = $("#rfcs_" + id2ctrl[dev]);
                        var $csetid = $("#cset_" + id2ctrl[dev]);
                        if(dev != data['id']) {
                            id2ctrl[data['id']] = id2ctrl[dev];
                            dev = data['id'];
                        }
                        $.ajax({
                            type: "GET",
                            url: "?d=" + dev,
                            success: function (text) {
                                if(!text.length) { return; }
                                response = text;
                                $rfcsid.append(response).collapsibleset('refresh');
                                $csetid.siblings().sort(function (a, b) {
                                    var aname = $(jq(a.id)).attr("name");
                                    var bname = $(jq(b.id)).attr("name");
                                    return aname - bname;
                                }).each(function () {
                                    var elem = this;
                                    elem.remove();
                                    $rfcsid.append(elem);
                                });
                                $rfcsid.trigger('create');
                                $(".chg").off('change').on('change', function() {
                                    var val = this.value;
                                    var name = this.name;
                                    sendChanges(val, name);
                                });
                            }
                        });
                        $rfcsid.collapsibleset('refresh');
                    }
                },
                error: function(data) {
                    $("#fb1").text("Änderungen nicht gespeichert");
                }
            });
            if(typ == "desc") {
                $(jq(dev)+"_descshow").html(" - " + val);
            }
        }

        function jq(myid) {
            return '#' + myid.replace(/[*]/g, "\\$&")
        }

        $(document).on( "pageshow", function() {
            $(".collapse").bind("collapse", function() {
                $("#fb1").text("");
            });
            $("select").bind("focus", function() {
                $("#fb1").text("");
            });

            $.each(ids, function(idx, id) {
                var response;
                var $rfcsid = $("#rfcs_" + id2ctrl[id]);
                var $csetid = $("#cset_" + id2ctrl[id]);
                $.ajax({
                    type: "GET",
                    url: "?d=" + id,
                    success: function (text) {
                        if(!text.length) { return; }
                        response = text;
                        $rfcsid.append(response).collapsibleset('refresh');
                        if($csetid.siblings().length == id2cnt[id2ctrl[id]]) {
                            $csetid.siblings().sort(function (a, b) {
                                var aname = $(jq(a.id)).attr("name");
                                var bname = $(jq(b.id)).attr("name");
                                if(isNaN(aname)) {
                                    return aname.localeCompare(bname);
                                } else {
                                    return aname - bname;
                                }
                            }).each(function () {
                                var elem = this;
                                elem.remove();
                                $rfcsid.append(elem);
                            });
                            $rfcsid.trigger('create');
                            $(".chg").off('change').on('change', function() {
                                var val = this.value;
                                var name = this.name;
                                sendChanges(val, name);
                            });
                        }
                    }
                });
                $rfcsid.collapsibleset('refresh');
            });
            {% for rfc in rfcontroller %}
                //$('.{{rfc.id}}cchg').change(function() {
                $('.{{rfc.0}}cchg').change(function() {
                    var val = this.value;
                    var name = this.name;
                    sendChanges(val, name);
                });
            {% endfor %}
        });

        function setMarker(isSet, which) {
            if(isSet) {
                $(jq(which)+"c").html("&#10003;");
                $(jq(which)+"c").css("color", "green");
            } else {
                $(jq(which)+"c").html("&#x2717;");
                $(jq(which)+"c").css("color", "red")
            }
        }
    </script>

    <style type="text/css">
        .ui-btn-text {font-weight:normal;}
    </style>
    <ul data-role="listview">
        {% if pairing_status == 'log-on' %}
            <li>
                <a  href="/m_setup/{{haus.id}}/rf/pairing">Pairing für smarte Heizkörperthermostate (eTRV)</a>
            </li>
        {% endif %}
        <li data-role="list-divider" style="min-height: 20px">
            {% if wifi_on %}
                Funk-Geräte <label style="color:#cb0963;">- Achtung: Funkchip Miniserver eingeschränkt wg. WLAN </label><a  target="_blank" href="https://support.controme.com/mini-server/#Achtung_WLAN_nicht_gleichzeitig_mit_8222Funkchip-Miniserver8220_verwenden">(Info)</a>
            {% else %}
                Funk-Geräte
            {% endif %}
            <div style="float:right;" id="fb1"></div>
        </li>
    </ul>

    {% for rfc in rfcontroller %}

        <div data-role="collapsible-set" data-inset="false" id="rfcs_{{ rfc.0 }}">
            <div data-role="collapsible" class="collapse" id="cset_{{ rfc.0 }}">
                <h3>
                    <div style="float:left">
                        {% ifequal rfc.8 'btle' %}Funkchip Miniserver {% endifequal %}{{ rfc.1 }} {% ifnotequal rfc.6 "localhost" %} - Dropserver {% endifnotequal%}
                        {% if rfc.8 == 'enocean' %}
                            (transparenter Funk-Stick) {% ifnotequal rfc.3 macaddr %} {{rfc.3}} {% endifnotequal %}
                        {% elif rfc.8 == 'zwave' %}
                            (weißer Funk-Stick) {% ifnotequal rfc.3 macaddr %} {{rfc.3}} {% endifnotequal %}
                        {% endif %}
                    </div>

                    <div style="float: right">
                        {% if rfc.4 %}
                            {% for lrfc, vals in last_seen_rfc.items %}
                                {% ifequal rfc.1 lrfc %}
                                    <span style='color:{{ vals.1 }}'>&nbsp;&#8226;</span>
                                {% endifequal %}
                            {% endfor %}
                        {% else %}
                            {% ifequal datadest "mycontromecom" %}
                                my.controme.com
                            {% else %}
                                {{ datadest }}
                            {% endifequal %}
                        {% endif %}
                    </div>
                </h3>

                <p>
                    {% ifequal rfc.8 'zwave' %}Aufwachintervalle an diesem Controller für:{% endifequal %}
                    {% for ctrl, wi in battery_devices.items %}
                        {% if ctrl == rfc.1 %}

                            {% for type, typestring, fullname, interval, intervals in wi %}
                            {% ifequal rfc.8 'btle'%}
                            <span style="color: #636363; text-decoration: underline;">{{ typestring }}
                                <a href="#" class="tooltip-icon" style="text-decoration: none;" id="tooltipLink{{ forloop.counter }}">
                                  <img src="/static/images/hw_text.png" width="16" height="16" alt="Tooltip" />
                                </a>
                              </span>
                            
                            <div data-role="popup" id="tooltipPopup{{ forloop.counter }}" class="ui-content" data-theme="a" style="max-width: 500px;">
                              <p id="tooltipContent{{ forloop.counter }}"></p>
                            </div>
                            {% endifequal %}
                                <fieldset data-role="controlgroup" data-type="horizontal">
                                    <label>
                                        <input type="radio" id="{{ rfc.0 }}-{{ type }}_interval_{{ intervals.0 }}" name="{{ rfc.0 }}-{{ type }}_interval"
                                               value="{{ intervals.0 }}" class="chg" {% if interval == intervals.0 %}checked{% endif %}/>
                                        kurz {% ifequal rfc.8 'btle' %}/ Installation{% endifequal %}
                                    </label>
                                    <label>
                                        <input type="radio" id="{{ rfc.0 }}-{{ type }}_interval_{{ intervals.1 }}" name="{{ rfc.0 }}-{{ type }}_interval"
                                               value="{{ intervals.1 }}" class="chg" {% if interval == intervals.1 %}checked{% endif %}/>
                                        {% ifequal rfc.8 'zwave'%}
                                            mittel
                                        {% else %}
                                            Normalbetrieb
                                        {% endifequal %}
                                    </label>
                                    {% ifequal rfc.8 'zwave' %}
                                        <label>
                                            <input type="radio" id="{{ rfc.0 }}-{{ type }}_interval_{{ intervals.2 }}" name="{{ rfc.0 }}-{{ type }}_interval"
                                                   value="{{ intervals.2 }}" class="chg" {% if interval == intervals.2 %}checked{% endif %}/>
                                            lang
                                        </label>
                                    {% endifequal %}
                                </fieldset>

                            {% endfor %}

                        {% endif %}
                    {% endfor %}
                    </p>
                    {% ifequal rfc.6 "localhost" %}
                    {% ifequal rfc.8 "btle" %}
                        <button data-corners="false" id="bt" onclick="device_popup('#switchingPopup_{{rfc.0}}')" style="font-weight: normal;">Gerät hinzufügen</button>
                        </p>



                        <div data-role="popup" id="switchingPopup_{{rfc.0}}" data-dismissible="false">
                            <div style="text-align: center; font-weight: bold; padding: 8px;">
                                <span>Gerät hinzufügen</span>
                            </div>
                            <div style="padding: 15px;">
                                {% csrf_token %}
                                <div class="elem">
                                    <input type="text" data-clear-btn="false" name="{{rfc.0}}_mac" id="{{rfc.0}}_mac" value="" />
                                </div>

                                <div style="text-align: center; font-weight: bold">
                                    Bitte die Adresse nach dieser Syntax eingeben:<br>
                                    xx:xx:xx:xx:xx:xx
                                </div>
                                <br />
                                <div style="text-align: center; font-weight: bold">Bitte wählen Sie den Gerätetyp aus:</div>
                                <div style="padding: 15px;">
                                    <select name="{{rfc.0}}_type" id="{{rfc.0}}_type" class="chg1">
                                        <option value="hktControme" selected="selected">Controme Raumcontroller PRO</option>
                                        <option value="hktGenius">Heizkörperthermostat Genius</option>
                                        <option value="hkt">Heizkörperthermostat Comet</option>
                                        <option value="hkteTRV">Heizkörperthermostat eTRV</option>
                                    </select>

                                </div>
                                <script>
function add_{{rfc.0}} ()
{
    dev1 = document.getElementById('{{rfc.0}}_mac').value;
    nType = document.getElementById('{{ rfc.0 }}_type').value
  var myRe = /^([(A-F)|(a-f)|(0-9)][(A-F)|(a-f)|(0-9)]:){5}([(A-F)|(a-f)|(0-9)]){2}$/;
  if (dev1.match(myRe) == null)
  {
    $(dadd_{{rfc.0}}).text("Ungültige MAC-Adresse.");
    return;
  }
sendChanges(dev1,'{{rfc.0}}-'+nType +'_newmac',dadd_{{rfc.0}});
}
                                </script>
                                <div class="elem">
                                    <button onclick="add_{{rfc.0}}()">hinzufügen</button>
                                    <div style="text-align: center; font-weight: bold" id="dadd_{{rfc.0}}"></div>
                                </div>
                            </div>
                        </div>
                    {% endifequal %}
                    {% endifequal %}

                    <div data-role="content">
                        <span style="color: #636363; text-decoration: underline;">
                          Modus- und Routing dieses Miniservers
                          <a href="#" class="tooltip-icon2" style="text-decoration: none;" id="tooltipLink2{{ forloop.counter }}">
                            <img src="/static/images/hw_text.png" width="16" height="16" alt="Tooltip" />
                          </a>
                        </span>
                      </div>
                      
                      <!-- Tooltip Popup -->
                      <div data-role="popup" id="tooltipPopup2{{ forloop.counter }}" class="ui-content" data-theme="a" style="max-width: 500px;">
                        <p id="tooltipContent2{{ forloop.counter }}"></p>
                      </div>
                                  
                <fieldset data-role="controlgroup">
                    <input type="radio" name="{{ rfc.0 }}-{{ rfc.5 }}_autark" id="radio-choice-2" value="localhost" {% ifequal rfc.6 "localhost" %}checked="checked"{% endifequal %} class="{{rfc.0}}cchg"/>
                    <label for="radio-choice-2">Master-Modus</label>

                    {% for rpi in rpis %}
                        <input type="radio" name="{{ rfc.0 }}-{{ rfc.5 }}_autark" id="radio-choice-{{ forloop.counter0|add:3 }}" value="{{ rpi.name }}" {% ifequal rfc.6 rpi.local_ip %}checked="checked"{% endifequal %} class="{{rfc.0}}cchg"/>
                        <label for="radio-choice-{{ forloop.counter0|add:3 }}">Drop-Modus: Daten an {{ rpi.name }} senden.</label>
                    {% endfor %}
                </fieldset>
                <br>
                {% if rfc.8 == 'enocean'%}
                    <label for="{{ rfc.0 }}-{{ rfc.5 }}_discovery">Discovery Modus</label>
                    <input type="checkbox" name="{{ rfc.0 }}-{{ rfc.5 }}_discovery" id="{{ rfc.0 }}-{{ rfc.5 }}_discovery" class="{{ rfc.0 }}cchg" {% if rfc.9 %}checked="checked"{% endif %}/>
                    {% if rfc.8 == 'enocean'%}
                        <p style="font-size: small;">Wenn aktiviert, werden Funk-Signale von unbekannten Geräten jeweils als neues Gerät angelegt.</p>
                    {% endif %}
                {% endif %}
                {% if rfc.8 == 'btle'%}
                    <a href="#" onclick="confirmDelete('{{ haus.id }}', '{{ rfc.0 }}')">Funkchip Miniserver {{ rfc.1 }} entfernen</a>
                {% else %}
                    <a href="#" onclick="confirmDelete('{{ haus.id }}', '{{ rfc.0 }}')">Funk-Stick {{ rfc.1 }} entfernen</a>
                {% endif %}           
                <span style="color: #636363; text-decoration: underline;">{{ typestring }}
                    <a href="#" class="tooltip-icon3" name="{{ rfc.8 }}" style="text-decoration: none;" id="tooltipLink3{{ forloop.counter }}">
                      <img src="/static/images/hw_text.png" width="16" height="16" alt="Tooltip" />
                    </a>
                  </span>
                
                <div data-role="popup" id="tooltipPopup3{{ forloop.counter }}" class="ui-content" data-theme="a" style="max-width: 500px;">
                  <p id="tooltipContent3{{ forloop.counter }}"></p>
                </div>

            </div>
        </div>
    {% endfor %}
    <script>

    $(".tooltip-icon").on("click", function (event) {
        var tooltipText = 'Hinweis: Beim Gerätetyp “Heizkörperthermostat eTRV” wird das Abfrageintervall immer vom Master-Server gesteuert. Sofern dieser Miniserver auf „Drop-Modus“ gesetzt ist, ist diese Einstellung obsolet.';
        var tooltipId = this.id.replace("tooltipLink", "");
          event.preventDefault();
          var popup = $("#tooltipPopup" + tooltipId);
          popup.find('#tooltipContent' + tooltipId).text(tooltipText);
          popup.popup("open", {
            positionTo: event.target, // Position the popup relative to the clicked element (the tooltip icon)
            transition: "pop"
          });
        });

    $(document).ready(function () {
    // Attach event handler to the tooltip icons
    $(".tooltip-icon2").on("click", function (event) {
        var tooltipId = this.id.replace("tooltipLink2", ""); // Extract the tooltip ID
        var tooltipText = "Im Drop-Modus arbeitet der Miniserver als Erweiterungseinheit. Alle Daten werden zum ausgewählten Miniserver über das IP-Netzwerk weitergeleitet. ";
        showPopup(event, tooltipId, tooltipText);
    });

    function showPopup(event, tooltipId, tooltipText) {
        event.preventDefault();
        var popup = $("#tooltipPopup2" + tooltipId);
        var tooltipContent = popup.find('#tooltipContent2' + tooltipId);
        tooltipContent.text(""); // Clear existing content

        // Add the text to the tooltipContent
        tooltipContent.text(tooltipText);

        // Add a link with a "javascript:void(0)" URL
        var link = $('<a>', {
        href: 'https://support.controme.com/mini-server/#Drop-Server_zur_Reichweitenerhoehung',
        text: "Weitere Infos…",
        target: "_blank"
        });
        tooltipContent.append(link); // Add the link

        popup.popup("open", {
        positionTo: event.target, // Position the popup relative to the clicked element (the tooltip icon)
        transition: "pop"
        });
    }
    });

    $(".tooltip-icon3").on("click", function (event) {
        var nameAttributeValue = event.currentTarget.getAttribute('name');
        if (nameAttributeValue === 'btle') {
            var tooltipText = "Beim Entfernen werden alle Daten inkl. der diesem Funkchip zugeordneten Geräte gelöscht." + "\n\n" +
            "Handelt es sich um diesen Miniserver, wird der Funkchip nach einem Neustart automatisch (ohne Geräte) wieder angelegt."+ "\n\n" +
            "Handelt es sich nicht um diesen Miniserver, wird die Zeile dann wieder angelegt, wenn der Dropserver erneut Daten an diesen Miniserver sendet.";
        }
        else{
            var tooltipText = "Beim Entfernen werden alle Daten inkl. der diesem Funkchip zugeordneten Geräte gelöscht." + "\n\n"+
            "Steckt der Funk-Stick in diesem Miniserver, wird er nach einem Neustart automatisch (ohne Geräte) wieder angelegt." +"\n\n"+
            "Steckt der Funk-Stick nicht in diesem Miniserver, sondern in einem Dropserver, wird die Zeile nur dann wieder angelegt, wenn der Dropserver erneut Daten an diesen Miniserver sendet.";
        }
        var tooltipId = this.id.replace("tooltipLink3", "");
          event.preventDefault();
          var popup = $("#tooltipPopup3" + tooltipId);
          popup.find('#tooltipContent3' + tooltipId).text(tooltipText);
          popup.popup("open", {
            positionTo: event.target, // Position the popup relative to the clicked element (the tooltip icon)
            transition: "pop"
          });
        });
      </script>

<script>

let isDevicePopupActive = false;

$(document).on('click', function(event) {
    if (isDevicePopupActive) {
        return;
    }
    if ($(event.target).closest(window.currentOpenPopupId).length === 0) {
        $(window.currentOpenPopupId).popup('close');
    }
});

function device_popup(id) {
    isDevicePopupActive = true;
    $(id).popup('open');
    window.currentOpenPopupId = id;
    setTimeout(function() {
        isDevicePopupActive = false;
    }, 100);
}
</script>

<script>
    function confirmDelete(hausId, rfcValue) {
        // Show the confirmation dialog in German
        swal.fire({
            title: 'Warnung!',
            text: 'Möchten Sie den Funkchip wirklich löschen?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Ja, löschen',
            cancelButtonText: 'Abbrechen'
        }).then((result) => {
            // If the user clicks the confirm button, proceed with the deletion
            if (result.isConfirmed) {
                // Make a request to the delete URL using JavaScript
                // Replace '/m_setup/' with the appropriate URL of your delete view in Django
                const deleteUrl = `/m_setup/${hausId}/rf/?rfcdel=${rfcValue}`;
                // Uncomment the following line to perform the actual delete operation
                window.location.href = deleteUrl;
            }
        });
    }
</script>

{% endblock %}
