{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS- Temperatur&uuml;berwachung  {% endblock %}
{% block bodyclass %}page heizprogramm{% endblock %}

{% block mheader %}
    <span><a href="http://support.controme.com/heizprogramm/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25" style="height: 25px;margin-top: 0px;"></a></span>
    <span><a href="/m_heizprogramm/{{ haus.id }}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
<script>
  $(document).on('pageshow', '.heizprogramm', function(){
    $('a.rename-Heizprogramm').click(function(){
         $( "#popup-rename" ).popup("open");
         return false;
    });
    $('#switchingbtn').click(function(){
         $( "#switchingPopup" ).popup("open");
    });
    $('.reset-btnn').click(function(){
        $("#popupReset").popup("open");
    });
    $('.delete-complete-btn').click(function(){
        $("#popupDelete").popup("open");
    });

    var haus_id = $('#haus-id').val();
    var heizp_id = $('#heizp_id').val();
    var url = '/m_heizprogramm/' + haus_id + '/?edit=' + heizp_id;
    var data = {fill_data: true}
    var headers = {"X-CSRFToken": $("[name=csrfmiddlewaretoken]").val()};
      ajax_temperaturszenen(url,headers, data, function(data){
      for (item in data){
            $('ul[id="'+data[item].day+'"]').append('<li data-id='+ data[item].id +' class="li-entry">'+
            '<span class="mod">'+data[item].mode_name+'</span> <span class="timeli">' + data[item].time +' <span class="arrow"></span> </span></li>');
        }
        $("#switchingPopup").popup("close");
        $('.dayUl').listview('refresh');
    }, function(request, textStatus, errorThrown){
        $("#switchingPopup").popup("close");
        $("#popupInfo").popup("open");
    });
})
</script>
<input  type="hidden" id="haus-id" value="{{haus.id}}">
<input  type="hidden" id="heizp_id" value="{{heizprogramm_id}}">
<input  type="hidden" id="heizp_name" value="{{heizprogramm_name}}">
<ul data-role="listview" data-icon="false">
    <li class="heizprogramm-li">
        <!-- <span class="flip-switch"><input type="checkbox" data-role="flipswitch" {% if is_switchingmod_enabled == True %} checked {% endif %} data-hausid="{{haus.id}}" name="heizprogramm-en-dis" id="heizprogramm-en-dis" data-on-text="EIN" data-off-text="AUS" data-wrapper-class="custom-label-flipswitch" data-mini="true"></span> -->
        <span>
            <p style="text-align: center;font-size:16px;font-weight: bold;">
                Heizprogramm: <a href="#" class="rename-Heizprogramm" style="text-decoration: underline">{{heizprogramm_name}}</a>
            </p>
        </span>
    </li>
    <li class="reset-btn-li">
        <button data-corners="false" class="reset-btn delete-complete-btn" style="font-weight: normal;">Heizprogramm komplett löschen</button>
    </li>
    <li class="reset-btn-li">
        <button data-corners="false" class="reset-btnn reset-btn" style="font-weight: normal;">Schaltzeitpunkte löschen</button>
    </li>
    <li class="add-btn-li">
        <button data-corners="false" class="add-btn" id="switchingbtn" style="font-weight: normal;">Schaltzeitpunkt hinzufügen</button>
    </li>
    <li class="arrow-img-li" style="border:0;">
        <img src="/static/images/carat-d-black.png" style="left: 49%;top: 25px;">
    </li>
</ul>

<ul data-role="listview" data-icon="false" id="0" class="dayUl mon">
    <li class="dayofweek">Montag</li>
</ul>
<ul data-role="listview" data-icon="false" id="1" class="dayUl dien">
    <li class="dayofweek">Dienstag</li>

</ul>
<ul data-role="listview" data-icon="false" id="2" class="dayUl mit">
    <li class="dayofweek">Mittwoch</li>

</ul>
<ul data-role="listview" data-icon="false" id="3" class="dayUl don">
    <li class="dayofweek">Donnerstag</li>

</ul>
<ul data-role="listview" data-icon="false" id="4" class="dayUl freit">
    <li class="dayofweek">Freitag</li>
</ul>
<ul data-role="listview" data-icon="false" id="5" class="dayUl sam">
    <li class="dayofweek">Samstag</li>
</ul>
<ul data-role="listview" data-icon="false" id="6" class="dayUl son">
    <li class="dayofweek">Sonntag</li>
</ul>


<div data-role="popup" id="switchingPopup">
    <div class="align-center header">
        <span class="image"><img src="/static/icons/icon-clock.png" width="25" height="25"></span><span>neuer  Schaltzeitpunkt</span>
    </div>
    <form action="/m_heizprogramm/{{haus.id}}/?edit={{heizprogramm_id}}" method="POST" id="frm-addpoint">
        {% csrf_token %}
    <div class="elem">
        <input type="time" data-clear-btn="false" name="time" id="time" value="" data-role="datebox"
                 data-option='{ "overrideTimeFormat": 24, "overrideTimeOutput": "%k:%M" }' />
    </div>

    <div class="elem">
        <fieldset data-role="controlgroup" data-corners="false" data-type="horizontal" data-mini="true" class="repeats">
            <input type="checkbox" name="repeat" id="wiederholen-mo" value="0" checked>
            <label for="wiederholen-mo">Mo</label>
            <input type="checkbox" name="repeat" id="wiederholen-di" value="1" {% if 2 in data.repeat %}checked="checked"{% endif %}>
            <label for="wiederholen-di">Di</label>
            <input type="checkbox" name="repeat" id="wiederholen-mi" value="2" {% if 3 in data.repeat %}checked="checked"{% endif %}>
            <label for="wiederholen-mi">Mi</label>
            <input type="checkbox" name="repeat" id="wiederholen-do" value="3" {% if 4 in data.repeat %}checked="checked"{% endif %}>
            <label for="wiederholen-do">Do</label>
            <input type="checkbox" name="repeat" id="wiederholen-fr" value="4" {% if 5 in data.repeat %}checked="checked"{% endif %}>
            <label for="wiederholen-fr">Fr</label>
            <input type="checkbox" name="repeat" id="wiederholen-sa" value="5" {% if 6 in data.repeat %}checked="checked"{% endif %}>
            <label for="wiederholen-sa">Sa</label>
            <input type="checkbox" name="repeat" id="wiederholen-so" value="6" {% if 0 in data.repeat %}checked="checked"{% endif %}>
            <label for="wiederholen-so">So</label>
        </fieldset>
    </div>
    <div class="elem">
        <select name="select-mode" id="select-mode">
        {% for modeid, modeparam, order in mode_items%}
        <option value="{{modeid}}">{{modeparam.name}}</option>
        {% endfor %}
    </select>
    </div>
    <div class="elem">
        <button type="button" class="addpoint">hinzufügen</button>
    </div>
    <input type="hidden" value="add_entry" name="add_entry" id="action_add">
    <input  type="hidden" name="heizprogramm_name" value="{{heizprogramm_name}}">
    </form>
</div>


<div data-role="popup" id="switchingEditPopup" data-transition="none" data-position-to="window" data-overlay-theme="a" data-theme="a">
    <div class="align-center header">
        <span class="image"><img src="/static/icons/icon-clock.png" width="25" height="25"></span><span>Schaltzeitpunkt bearbeiten</span>
    </div>
    <form action="/m_heizprogramm/{{haus.id}}/?edit={{heizprogramm_id}}" method="POST" id="frm-EditPoint">
        {% csrf_token %}
    <div class="elem"><input type="time" data-clear-btn="false" name="edit-time" id="edit-time"/></div>
    <div class="elem">
        <select name="select-edit-mode" id="select-edit-mode">
        {% for modeid, modeparam, order in mode_items%}
        <option value="{{modeid}}">{{modeparam.name}}</option>
        {% endfor %}
    </select>
    </div>
    <div class="elem">
        <button type="button" class="editPoint">speichern</button>
    </div>
    <div class="elem">
        <button type="button" class="deletePoint">Schaltzeitpunkt löschen</button>
    </div>
    <input type="hidden" value="edit_entry" id="action_edit">
    <input type="hidden" value="" id="data_id">
    </form>
</div>

<div data-role="popup" id="popupReset" data-transition="none" data-position-to="window" data-overlay-theme="a" data-theme="a">
    <div class="align-center header">
        <!-- <span class="reset-header">Reset</span> -->
    </div>
    <div class="content">
        <button data-corners="false" data-hausid="{{haus.id}}" data-heizpid="{{heizprogramm_id}}" class="heiz-reset-btn">Alle Schaltzeitpunkte löschen</button>
    </div>
    <br>
</div>

<div data-role="popup" id="popupDelete" data-transition="none" data-position-to="window" data-overlay-theme="a" data-theme="a">
    <div class="align-center header">
        <!-- <span class="reset-header">Delete</span> -->
    </div>
    <div class="content">
        <form action="/m_heizprogramm/{{haus.id}}/?delete={{heizprogramm_id}}" method="POST" style="margin:0;">
            {% csrf_token %}
            <button type="submit" data-corners="false" class="reset-btn heiz-delete-btn">Heizprogramm komplett löschen</button>
        </form>
    </div>
    <br>
</div>

<div data-role="popup" id="popupInfo" data-transition="none" data-position-to="window" data-overlay-theme="a" data-theme="a">
    <div class="align-center header">
        <span class="reset-header">Error</span>
    </div>
    <div class="content" style="padding: 5px; text-align: center">
        Bitte Browsercache leeren.
        Damit nach einem Update alles korrekt funktioniert,
        muss diese Seite ohne Cache-Zugriff neu geladen werden.
        Eine Anleitung finden Sie <a target="_blank" href="http://support.controme.com/browsercache-leeren/" style="color: blue">hier.</a>
    </div>
    <br>
</div>


<div data-role="popup" id="popup-rename">
        <div class="align-center header" style="padding-top: 10px;">
            <span style="font-weight: bold;">Name bearbeiten</span>
        </div>
        <form action="/m_heizprogramm/{{haus.id}}/?edit={{heizprogramm_id}}" method="POST">
            {% csrf_token %}
            <div class="elem">
                <input type="text" name="new_name" id="new_name" value="{{heizprogramm_name}}" />
            </div>

            <div class="elem">
                <button type="submit" type="button" style="font-weight: normal;">speichern</button>
            </div>
            <input type="hidden" value="edit_rename" name="edit_rename">
            <input  type="hidden" name="heizprogramm_name" value="{{heizprogramm_name}}">
        </form>
    </div>

<script>
    /* check if browser is Safari */
    var browser_selectvar = (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1);
    if (browser_selectvar) 
        {
            var timerbox = document.getElementById('time');
            timerbox.value = "00:00";
        };
</script>
{% endblock %}

