{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - FPS{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/fps/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>

        {% if fpsid %}
          <!-- <a id="drdel" href="/m_setup/{{ haus.id }}/fps/delete/{{ fpsid }}/" data-role="button" data-icon="delete" data-mini="true" data-inline="true" class="ui-btn-right" data-iconpos="notext"></a> -->
          <a id="drdel" href="/m_setup/{{ haus.id }}/fps/delete/{{ fpsid }}/" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
          <a href="http://support.controme.com/frei-programmierbare-steuerung/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" style="right: 80px;"></a>
        {% else %}
          <a href="http://support.controme.com/frei-programmierbare-steuerung/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
        {% endif %}
{% endblock %}

{% block mcontent %}

<style type="text/css">
    label.ui-btn, div.ui-btn {
        font-weight: normal;
    }
    .ui-btn-text {font-weight:normal;}
    #igrid .ui-slider-input {
        display: none !important;
    }
    #igrid .ui-slider-track {
        margin-left:15px;
    }

    .txtarea-label{
        margin-top: 20px !important;
    }
    .varselectli{
        min-height: 155px;
    }
    .varselectli .ui-checkbox{
        float: right;
        width: 78%;
    }
    .varselectli .ui-input-text{
        margin-top: 6px !important;
    }

</style>
<script type="text/javascript">

    if (!String.prototype.format) {
        String.prototype.format = function() {
            var args = arguments;
            return this.replace(/{(\d+)}/g, function(match, number) {
                return typeof args[number] != 'undefined' ? args[number] : match;
            });
        };
    }

    var regs = {{ regs|safe }};
    var outselectli = "<li class='ui-li ui-li-static ui-btn-up-a outselectli'><div data-role='fieldcontain' class='ui-field-contain ui-body ui-br'><label style='padding-top: .5em;' for='a{0}'>A{1}</label><select name='a{0}' id='a{0}' data-mini='true' class='outselect'><option value='0'>-</option>";
    $.each(regs, function(idx, reg) {
        outselectli += "<option value='{0}'>{1} {2}</option>".format(reg['regid'], reg['regtype'], reg['name']);
    });
    outselectli += "</select></div></li>";

    var sensors = {{ sensors|safe }};
    var sensorselectli = "<li class='ui-li ui-li-static ui-btn-up-a sensorselectli'><div data-role='fieldcontain' class='ui-field-contain ui-body ui-br'><label style='padding-top: .5em;' for='s{0}'>S{1}</label><select name='s{0}' id='s{0}' data-mini='true' class='sensorselect'><option value='0'>-</option>";
    $.each(sensors, function(idx, sensor) {
        sensorselectli += "<option value='{0}'>{1}</option>".format(sensor['sensorid'], sensor['name']);
    });
    sensorselectli += "</select></div></li>";

    var varselectli ="<li class='ui-li ui-li-static ui-btn-up-a varselectli'>" +
        "<div data-role='fieldcontain' class='ui-field-contain ui-body ui-br'>" +

        "<label for='v{0}'>V{0}</label>"+
        "<input type='number' placeholder='Wert der Variable eingeben' name='v{0}' id='v{0}' data-mini='true' class='varinput'/>"+

        "<label for='v{0}_name'></label>"+
        "<input type='text' placeholder='Name der Variable eingeben' name='v{0}_name' id='v{0}_name' data-mini='true' class='varinput'/>" +

        "<label for='v{0}_show_slider' id='v{0}_label_slider'>Slider zum Verändern der Variable auf der Benutzerseite anzeigen</label>"+
        "<input type='checkbox' name='v{0}_show_slider' id='v{0}_show_slider' class='varcheckbox' />"+

        "</div></li>";

    var selected_variables = {{ selected_variables|safe }};
    var module_variables = {{ module_variables|safe }};

    var modulevariableselectli = "<li class='ui-li ui-li-static ui-btn-up-a modulevariableselectli'><div data-role='fieldcontain' class='ui-field-contain ui-body ui-br'><label style='padding-top: .5em;' for='m{0}'>M{1}</label><select name='m{0}' id='m{0}' data-mini='true' class='modulevariableselect'><option value='0'>-</option>";
    $.each(module_variables, function(idx, mod) {
        $.each(mod.variables, function(idx, mod_var) {
            modulevariableselectli += "<option value='{0}'>{1}</option>".format(mod.module_name + '_' + mod_var[0], mod.verbose_module_name + ' - ' + mod_var[1]);
        });
    });
    modulevariableselectli += "</select></div></li>";

    $(document).ready(function() {
        $("#formula").on("change", function() {

        });

        $("#noouts").on("change", function() {
            changeNumber("out");
        });

        $("#nosensors").on("change", function() {
            changeNumber("sensor");
        });

        $("#novars").on("change", function() {
            changeNumber("var");
        });

        $("#nomodulevariables").on("change", function() {
            changeNumber("modulevariable");
        });

        function changeNumber(noChangeType) {
            var no = parseInt($("#no" + noChangeType + "s").val());
            var actualno = $("." + noChangeType + "selectli").length;
            if(no < actualno) {
                for(var i = 0; i < actualno-no; i++) {
                    $("." + noChangeType + "selectli").last().remove();
                }
            } else if(no > actualno) {
                for(var i = 0; i < no-actualno; i++) {
                    $(window[noChangeType + "selectli"].format(actualno+i+1, actualno+i+1)).insertBefore("#" + noChangeType + "sblank");
                    if(noChangeType == "var") {  // textinput
                        $("." + noChangeType + "input").textinput();
                        $("." + noChangeType + "checkbox").checkboxradio().trigger('create');

                    } else {  // selectmenu
                        $("." + noChangeType + "select").last().selectmenu();
                    }
                    $("#fpslv").listview("refresh", true);
                }
            } else {
                // all good
            }
            if(no > 0) {
                $("#" + noChangeType + "sblank").hide();
            } else {
                $("#" + noChangeType + "sblank").show();
            }

            $("#evalli").removeClass("ui-li-static");
            $("#evalli div").removeClass("ui-li-static");
            $("#submitli").removeClass("ui-li-static");
            $("#submitli div").removeClass("ui-li-static");
        }

        if(selected_variables!==null) {
            let item_counts;
            let patt = /^v\d+$/;
            $.each(selected_variables, function (key, value) {
                item_counts = 0;
                if(key=='vars'){
                    // count variables
                    for (let item in value){
                        if(patt.test(item)){
                            item_counts++;
                        }
                    }
                }else {
                    item_counts = Object.keys(value).length;
                }
                $("#no" + key).val(item_counts);
                $("#no"+key).trigger("change");
                $.each(value, function(sen, sid) {
                    if(sid == 'on') { // for checkboxes
                        $("#" + sen).prop('checked', true);
                        $("#" + sen).checkboxradio('refresh');
                    }else{
                       $("#" + sen).val(sid);
                    }
                    if(key != "vars") {
                        $("#" + sen).selectmenu("refresh", true);
                    }
                });
            });
        }

        $("#mode").on("change", function() {
            $(".mode_output").hide();
            $(".mode_offset").hide();
            $(".mode_" + $("#mode").val()).show();
        });
        $("#mode").trigger("change");

        $("#raeume_alle").on("change", function() {
            if(this.checked) {
                $(".mode_offset_raum").prop("checked", true);
            } else {
                $(".mode_offset_raum").prop("checked", false);
            }
            $(".mode_offset_raum").checkboxradio("refresh");
        });

        $(".mode_offset_raum").on("change", function() {
            if(!this.checked) {
                $("#raeume_alle").prop("checked", false);
            }
            $("#raeume_alle").checkboxradio("refresh");
        });

        var raeume = {{ raeume|safe }};
        $.each(raeume, function() {
            $("#raeume_" + this).prop("checked", true);
            $("#raeume_" + this).checkboxradio("refresh");
        });
        if(raeume.length == $(".mode_offset_raum").length) {
            $("#raeume_alle").prop("checked", true);
            $("#raeume_alle").checkboxradio("refresh");
        }
        var offset_regs = {{ offset_regs|safe }};
        $.each(offset_regs, function() {
            $("#oregs_" + this).prop("checked", true);
            $("#oregs_" + this).checkboxradio("refresh");
        });
    });

    function evaluateFormula() {
        var data = {};
        data.formula = $("#formula").val();
        var noouts = $("#noouts").val() || 0;
        for(var i = 1; i <= noouts; i++) {
            data["a"+i] = $("#a"+i).val();
        }
        var nosensors = $("#nosensors").val() || 0;
        for(i = 1; i <= nosensors; i++) {
            data["s"+i] = $("#s"+i).val();
        }
        var novars = $("#novars").val() || 0;
        for(i = 1; i <= novars; i++) {
            data["v"+i] = $("#v"+i).val();
        }
        var nomodulevars = $("#nomodulevariables").val() || 0;
        for(i = 1; i <= nomodulevars; i++) {
            data["m"+i] = $("#m"+i).val();
        }
        data["hysterese"] = $("#hysterese").val();
        {% if fpsid %}
        var fpsid = {{ fpsid }};
        {% else %}
        var fpsid = 0;
        {% endif %}
        data['fpsid'] = fpsid;
        data['error_value'] = $("#error_value").val();

        $("#formulaeval").show();
        $("#fespinner").show();
        $("#formulaevalfc").hide();
        var ret = false;
        $.ajax({
            data: data,
            url: "/m_setup/{{ haus.id }}/fps/evaluate/",
            dataType: "json",
            async: false,
            success: function(response) {
                if(response['error']) {
                    var evaltext = response['error'];
                    $("#eval_label").css("color", "red");
                } else {
                    $("#eval_label").css("color", "black");
                    ret = true;
                    var evaltext = "A0 = " + response['A0'] + "<br/>";
                    if(noouts > 0) {
                        evaltext += "<br/>momentane Werte der Ausgänge:";
                        for (var i = 1; i <= noouts; i++) {
                            if(response.hasOwnProperty('A' + i)) {
                                evaltext += "<br/>A" + i + " = " + response['A' + i];
                            }
                        }
                    }
                    if(nosensors > 0) {
                        evaltext += "<br/>momentane Werte der Sensoren:";
                        for (var i = 1; i <= nosensors; i++) {
                            if(response.hasOwnProperty('S' + i)) {
                                evaltext += "<br/>S" + i + " = " + response['S' + i] + "°";
                            }
                        }
                    }
                    if(nomodulevars > 0) {
                        evaltext += "<br/>momentane Werte der Plugins:";
                        for(var i = 1; i <= nomodulevars; i++) {
                            if(response.hasOwnProperty('M' + i)) {
                                evaltext += "<br/>M" + i + " = " + response['M' + i];
                            }
                        }
                    }
                    if(Object.keys(response).length > (parseInt(noouts)+parseInt(nosensors)+parseInt(novars)+parseInt(nomodulevars)+3)) {
                        evaltext += "<br/>andere Variablen:";
                        $.each(response, function(varname, varval) {
                            if(varname == "last_a0") {
                                evaltext += "<br/>Letzter ausgegebener Wert dieser FPS = " + varval;
                            }
                            if(varname.startsWith("vtr_") || varname.startsWith("raum_")) {
                                evaltext += "<br/>" + varname + " = " + varval.toFixed(2);
                            }
                        });
                    }
                }
                $("#eval").html(evaltext).trigger('create');
                $("#fespinner").hide();
                $("#formulaevalfc").show();
            }
        });
        return ret;
    }

    function validate() {
        var err = false;
        if(!$("#formula").val() || !evaluateFormula()) {
            err = true;
        }
        if(!$("#name").val()) {
            $("#name_label").css("color", "red");
            err = true;
        } else {
            $("#name_label").css("color", "black");
        }

        if(!$("#error_value").val()) {
            $("#error_value_label").css("color", "red");
            err = true;
        } else {
            $("#error_value_label").css("color", "black");
        }

        if(!err) {
            $('#fpsform').get(0).submit();
        }
    }

</script>

<form method="post" action="/m_setup/{{haus.id}}/fps/" data-ajax="false" id='fpsform'> {% csrf_token %}
    {% if fpsid %}
    <input type="hidden" name="fpsid" id="fpsid" value="{{ fpsid }}"/>
    {% endif %}

    <ul data-role="listview" data-divider-theme="a" id="fpslv">
        <li data-role="list-divider">FPS<div style="float:right;" id="fb1"></div></li>

        {% if error %}
            <li style="color:#cb0963">{{error}}</li>
        {% endif %}

        <li>
            <div data-role="fieldcontain">
                <label for="name" style="vertical-align: middle;" id="name_label">Name</label>
                <input type="text" name="name" id="name" value="{{ name }}" required/>
            </div>
        </li>
        <li>
            <div data-role="fieldcontain">
                <label for="error_value" style="vertical-align: middle;" id="error_value_label">Wert im Fehlerfall</label>
                <input type="number" name="error_value" id="error_value" value="{{ error_value }}" min="0" max="1" step="1" required/>
            </div>
        </li>
        <li>
            <div data-role="fieldcontain"  >
                <label class="txtarea-label" for="explanation-txt">Erläuterungen zur Formel</label>
                <textarea  data-clear-btn="true" cols="40" rows="8" id="explanation-txt" name="explanation_text">{{ explanation_text }}</textarea>
            </div>
        </li>
        <li id="formulali">
            <div data-role="fieldcontain">
                <label for="formula" style="vertical-align: middle;">Formel: A0 = </label>
                <input type="text" name="formula" id="formula" value="{{ formula }}" required/>
            </div>
        </li>
    
        <li id="formulaeval" style="display: none">
            <span id='fespinner'><center><img src='/static/images/ajax-loader.gif'/></center></span>
            <div data-role="fieldcontain" id="formulaevalfc">
                <label for="eval" class="ui-input-text" id="eval_label">Auswertung</label>
                <div id="eval" class="ui-input-text"></div>
            </div>
        </li>

        <li data-icon="false" id="evalli">
            <a href="#" onclick="evaluateFormula();" style="text-align: center">Formel prüfen</a>
        </li>

        <li data-role="list-divider">
            zu verknüpfende Ausgänge
        </li>

        <li>
            <div data-role="fieldcontain">
                <label for="noouts" style="vertical-align: middle;">Anzahl</label>
                <input type="number" name="noouts" id="noouts" value="{{ noouts }}" min="0" step="1"/>
            </div>
        </li>

        <li id="outsblank">
            -
        </li>

        <li data-role="list-divider">
            zu verknüpfende Sensoren
        </li>

        <li>
            <div data-role="fieldcontain">
                <label for="nosensors" style="vertical-align: middle;">Anzahl</label>
                <input type="number" name="nosensors" id="nosensors" value="{{ nosensors }}" min="0" step="1"/>
            </div>
        </li>

        <li id="sensorsblank">
            -
        </li>

        <li data-role="list-divider">
            zu verknüpfende Ergebnisse aus Plugins
        </li>

        <li>
            <div data-role="fieldcontain">
                <label for="nomodulevariables" style="vertical-align: middle;">Anzahl</label>
                <input type="number" name="nomodulevariables" id="nomodulevariables" value="" min="0" step="1"/>
            </div>
        </li>

        <li id="modulevariablesblank">
            -
        </li>

        <li data-role="list-divider">
            Variablen
        </li>

        <li>
            <div data-role="fieldcontain">
                <label for="novars" style="vertical-align: middle;">Anzahl</label>
                <input type="number" name="novars" id="novars" value="" min="0" step="1"/>
            </div>
        </li>

        <li id="varsblank">
            -
        </li>

        <li data-role="list-divider">
            Extras
        </li>

        <li>
            <div data-role="fieldcontain" class='ui-field-contain ui-body ui-br'>
                <label for="mode" style="padding-top: .5em;">Modus</label>
                <select name="mode" id="mode" data-mini="true">
                    <option value="output" {% if mode == "output" %}selected="selected"{% endif %}>Ausgang</option>
                    <option value="offset" {% if mode == "offset" %}selected="selected"{% endif %}>Offset</option>
                </select>
            </div>
        </li>

        <li class="mode_output">
            <div data-role="fieldcontain">
                <label for="hysterese" style="vertical-align: middle;">Hysterese auf Vergleiche</label>
                <input type="number" name="hysterese" id="hysterese" value="{{ hysterese }}" step="0.1"/>
            </div>
        </li>

        <li class="mode_output">
            <div data-role="fieldcontain">
                <label for="einvzg" style="vertical-align: middle;">Einschaltverzögerung</label>
                <input type="number" name="einvzg" id="einvzg" value="{{ einvzg }}" step="1"/>
            </div>
        </li>

        <li class="mode_output">
            <div data-role="fieldcontain">
                <label for="ausvzg" style="vertical-align: middle;">Ausschaltverzögerung</label>
                <input type="number" name="ausvzg" id="ausvzg" value="{{ ausvzg }}" step="1"/>
            </div>
        </li>

        <li class="mode_offset">
            <div data-role="fieldcontain">
            <label for="raeume_alle">alle Räume</label>
            <input type="checkbox" name="raeume_alle" id="raeume_alle"/>
            {% for e in eundr %}
            {% for etage, raeume in e.items %}
            {% for raum in raeume %}
            <label for="raeume_{{ raum.id }}">{{ etage.name }} / {{ raum.name }}</label>
            <input type="checkbox" name="raeume_{{ raum.id }}" id="raeume_{{ raum.id }}" class="mode_offset_raum"/>
            {% endfor %}
            {% endfor %}
            {% endfor %}
            {% for reg in plain_regs %}
            {% if reg.regid|slice:":2" == "mr" or reg.regid|slice:":2" == "dr" %}
            <label for="oregs_{{ reg.regid }}">{{ reg.regtype }} {{ reg.name }}</label>
            <input type="checkbox" name="oregs_{{ reg.regid }}" id="oregs_{{ reg.regid }}"/>
            {% endif %}
            {% endfor %}
            </div>
        </li>
        <li>
            <div data-role="fieldcontain" >
                <label class="txtarea-label"  for="benutzer-txt-0">Benutzer-Text 0</label>
                <textarea class="txtarea-input" cols="25" rows="12" id="benutzer-txt-0"
                          name="benutzer_text_0"
                placeholder="Der eingegebene Text wird oben mittig auf der Benutzerseite angezeigt, wenn das Berechnungsergebnis 0 beträgt.">{{ benutzer_text_0 }}</textarea>
            </div>
        </li>
        <li>
           <div data-role="fieldcontain" >
                <label class="txtarea-label"  for="explanation-txt">Benutzer-Text 1</label>
                <textarea class="txtarea-input" data-clear-btn="true" cols="25" rows="12" id="benutzer-txt-1"
                          name="benutzer_text_1"
                placeholder="Der eingegebene Text wird oben mittig auf der Benutzerseite angezeigt, wenn das Berechnungsergebnis 1 bzw >0 beträgt.
                ">{{ benutzer_text_1 }}</textarea>
            </div>
        </li>
        <li>
            <label for="show_in_menu">Link im linken Benutzermenü anzeigen</label>
            <input type="checkbox" name="show_in_menu" id="show_in_menu" {% if show_in_menu == None or show_in_menu %}checked="checked"{% endif %}/>
        </li>
        <li>
            <label for="show_details">FPS-Details auf der Benutzerseite anzeigen</label>
            <input type="checkbox" name="show_details" id="show_details" {% if show_details %} checked="checked" {% endif %}/>
        </li>
        <li data-icon='false' id="submitli">
            <!--<a href="#" onclick="$('#fpsform').get(0).submit();" style="text-align:center; max-height:43px">Speichern</a>-->
            <a href="#" onclick="validate();" style="text-align: center;">Speichern</a>
        </li>

    </ul>
</form>

{% endblock %}

{% block footer %}

{% endblock %}
