<!DOCTYPE html>
<html>
<head>
  <title>Report Table</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #ddd;
    }
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Zeitpunkt</th>
        <th>Check</th>
        <th>Meldung</th>
      </tr>
    </thead>
    <tbody>
      {% for row in report_data %}
      <tr>
        <td
            {% if 'online' in row.2 %} style="color: #019BB0" {% endif %}
            {% if 'offline' in row.2 %} style="color: #cb0963" {% endif %}

        >{{ row.0 }}</td>
        <td>{{ row.1 }}</td>
        <td>{{ row.2 }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>