{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - benachrichtigung{% endblock %}

{% block mheader %}
    <a href="/config/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    <a href="https://support.controme.com/email-benachrichtigungen/" target="_blank" data-role="button"
      data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon"
      data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
<style type="text/css">

</style>
<script type="text/javascript">

</script>

<ul data-role="listview" data-divider-theme="a">
        <li class="benachrichtigung-row">
            <a href=" /m_setup/{{ haus.id }}/benachrichtigung/settings/" class="">Einstellungen</a>
        </li>
        <li data-role="list-divider">
            angelegte Email-Benachrichtigungen
        </li>
        <li class="benachrichtigung-row">
            <a href=" /m_setup/{{ haus.id }}/support-benachrichtigung/status/" class="">Miniserver-Ausfallbenachrichtigung</a>
        </li>
        {% for id, params in b_params %}
            <li class="benachrichtigung-row">
                <a href="/m_setup/{{ haus.id }}/support-benachrichtigung/edit/{{ id }}/" class="">{{ params.name }}</a>

            </li>
        {% endfor %}
    </ul>

{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false">
        <ul>
            <li>
                <a href=' /m_setup/{{ haus.id }}/support-benachrichtigung/edit/' data-icon='gear'>
                    Support-Benachrichtigung anlegen
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
