{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - benachrichtigung{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{ haus.id }}/benachrichtigung/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

<ul data-role="listview">
    <li>
        <br>
        <p style="word-wrap: normal; white-space: initial; font-size: 15px;"><b>
            Email-Versand Option Wählen
        </b></p>
        <p style="word-wrap: normal; white-space: initial; font-size: 13px; padding-top: 3px;">
            <i>
                Sie können den Controme Mailservice nutzen und/oder einen eigenen SMTP-Server einrichten
                <a style="text-decoration: none;"
                   href="https://support.controme.com/email-benachrichtigungen/#Email-Versand_ueber_den_Controme-Mailservice"
                   target="_blank" > Info… </a><br>
            </i>
        </p>
    </li>
    <li>
        <br>
        <label for="mini-server"><p style="word-wrap: normal; white-space: initial; font-size: 14px;">
            <b>Miniserver Name</b></p>
        </label>
        <input type="text" name="miniserver_name" id="miniserver-name"  value="{{ email_setting.miniserver_name }}">
        <br>
        <p style="word-wrap: normal; white-space: initial;">
            <i>
                Der Miniserver Name erscheint im Betreff der Email zusammen mit dem Namen der Benachrichtigung.
            </i>
        </p>
    </li>
    <li>
        <label for="mail-service">Controme Mailservice (standard)</label>
        <input type="checkbox" name="mail_service" id="mail-service" {% if email_setting.mail_service_use != '' %} checked {% endif %}>

        <label for="smtp">SMTP</label>
        <input type="checkbox" name="smtp" id="smtp" {% if email_setting.smtp_use == 'true' %} checked {% endif %}>
    </li>

    <li>
        <br>
        <p style="word-wrap: normal; white-space: initial; font-size: 15px;"><b>Testemail versenden</b></p>
        <p style="word-wrap: normal; white-space: initial; font-size: 13px; padding-top: 3px;">
            <i>
                Für den Controme-Mailservice muss der Miniserver aus Sicherheitsgründen über eine ...fwd.controme.com
                Webadresse aufrufbar sein, damit Emails versendet werden können.
            </i>
        </p>
    </li>

    <li>
        <label for="test-email-input">Email-Adresse zum empfangen der Test-Email</label>
        <input type="text" name="test_mail_input" id="test-email-input">
    </li>
    <li>
        <br>
        <p style="word-wrap: normal; white-space: initial; font-size: 15px;"><b>SMTP-Mailer Einstellungen</b></p>
        <p style="word-wrap: normal; white-space: initial; font-size: 13px; padding-top: 3px;">
            <i>
                Wenn Sie den Controme-Mailservice verwenden, sind keine SMTP-Mailer Einstellungen notwendig.<br>
                Achtung: Verwenden Sie NICHT ihre private Emailadresse.<a style="text-decoration: none;" href="https://support.controme.com/email-benachrichtigungen/#SMTP_Einrichtung" target="_blank" > Weitere Infos… </a><br>
            </i>
        </p>
    </li>

    <li>
        <br>
        <label for="smtp_host"><p style="word-wrap: normal; white-space: initial; font-size: 14px;">
            <b>SMTP-Host</b></p>
        </label>
        <input type="text" id="smtp_host" value="{{ email_setting.smtp_host }}" readonly onfocus="this.removeAttribute('readonly');">
        <br>
        <p style="word-wrap: normal; white-space: initial;">
            <i>
                SMTP-Server der zum senden von Emails verwendet werden soll. Zum Beispiel: <u>smtp.gmail.com</u><br>
            </i>
        </p>
    </li>

    <li>
        <br>
        <label for="smtp_auth"><p style="word-wrap: normal; white-space: initial; font-size: 14px;">
            <b>SMTP-Authentication</b></p>
        </label>
        <select id='smtp_auth' Size="Number_of_options">  
            <option value="TRUE" selected="TRUE" > TRUE (fixed)</option>   
        </select> 
        <br>
        <p style="word-wrap: normal; white-space: initial;">
            <i>
                SMTP Authentication verwenden beim senden einer Email (empfohlen: TRUE).<br>
            </i>
        </p>
    </li>

    <li>
        <br>
        <label for="smtp_user"><p style="word-wrap: normal; white-space: initial; font-size: 14px;">
            <b>SMTP-Username</b></p>
        </label>
        <input type="text" id="smtp_user" value="{{ email_setting.smtp_user }}" readonly onfocus="this.removeAttribute('readonly');">
        <br>
        <p style="word-wrap: normal; white-space: initial;">
            <i>
                Dein SMTP-Username.<br>
            </i>
        </p>
    </li>

    <li>
        <br>
        <label for="smtp_pass"><p style="word-wrap: normal; white-space: initial; font-size: 14px;">
            <b>SMTP-Passwort</b></p>
        </label>
        <input type="password" id="smtp_pass" value="{{ email_setting.smtp_pass }}" readonly onfocus="this.removeAttribute('readonly');">
        <br>
        <p style="word-wrap: normal; white-space: initial;">
            <i>
                Dein SMTP-Passwort.<br>
            </i>
        </p>
    </li>

    <li>
        <br>
        <label for="smtp_encrypt"><p style="word-wrap: normal; white-space: initial; font-size: 14px;">
            <b>Typ der Encryption</b></p>
        </label>
        <select id='smtp_encrypt' Size="Number_of_options">  
            <option value="TLS"> TLS (Empfohlen)</option>  
            <option value="SSL" {% if email_setting.smtp_encrypt  == "SSL" %} selected="SSL" {% endif %} > SSL</option>  
        </select> 
        <br>
        <p style="word-wrap: normal; white-space: initial;">
            <i>
                Die Encryption die beim senden einer Email verwendet werden soll (empfohlen: TLS).<br>
            </i>
        </p>
    </li>

    <li>
        <br>
        <label for="smtp_port"><p style="word-wrap: normal; white-space: initial; font-size: 14px;">
            <b>SMTP-Port</b></p>
        </label>
        <input type="text" id="smtp_port" value="{{ email_setting.smtp_port }}" readonly onfocus="this.removeAttribute('readonly');">
        <br>
        <p style="word-wrap: normal; white-space: initial;">
            <i>
                Der Port der beim senden einer Email verwendet werden soll (587/465/25). Bei TLS soll der Port üblicherweise 587 sein.<br>
            </i>
        </p>
    </li>

    <li>
        <br>
        <label for="smtp_name"><p style="word-wrap: normal; white-space: initial; font-size: 14px;">
            <b>VON Name</b></p>
        </label>
        <input type="text" id="smtp_name" value="{{ email_setting.smtp_name }}" readonly onfocus="this.removeAttribute('readonly');">
        <br>
        <p style="word-wrap: normal; white-space: initial;">
            <i>
                Der Name der als VON-Name in der Email erscheint, sofern diese nicht vom Mail-Anbieter festgelegt wird.<br>
            </i>
        </p>
    </li>

    <li>
        <br>
        <label for="smtp_testname"><p style="word-wrap: normal; white-space: initial; font-size: 14px;">
            <b>Test-Email</b></p>
        </label>
        <input type="text" id="smtp_testname" value="{{ email_setting.smtp_testname }}" readonly onfocus="this.removeAttribute('readonly');">
        <br>
        <p style="word-wrap: normal; white-space: initial;">
            <i>
                Dein Email-Adresse zum Senden einer Test-Email von SMTP.<br>
            </i>
        </p>
    </li>

    <li>
        <br>
        <div>
            <button href="#" id='send-test-notification' onclick="send_test_email_smtp();" style="text-align:center;">
                Test-Email über SMTP senden
            </button>
            <button href="#" id='save_info' onclick="save_config();" style="text-align:center;">Speichern</button>
        </div>
        <br>
    </li>
</ul>

<script>
let save_config = function (){
    let mail_service = $('#mail-service').is(':checked');
    let miniserver_name = $('#miniserver-name').val();
    if(!mail_service){
        mail_service = ''
    }
    let smtp = $('#smtp').is(':checked');
    if(!smtp){
        smtp = ''
    }

    let smtp_data = {'smtp_data':{
                    'smtp_host': $('#smtp_host').val(),
                    'smtp_auth':$('#smtp_auth').val(),
                    'smtp_user':$('#smtp_user').val(),
                    'smtp_pass':$('#smtp_pass').val(),
                    'smtp_encrypt':$('#smtp_encrypt').val(),
                    'smtp_port':$('#smtp_port').val(),
                    'smtp_name':$('#smtp_name').val(),
                    'smtp_testname':$('#smtp_testname').val(),
                    'mail_service_use': mail_service.toString(),
                    'smtp_use': smtp.toString(),
                    'miniserver_name': miniserver_name
                    }
                };
    $.ajax({
        url: "/m_setup/{{ haus.id }}/benachrichtigung/settings/",
        type: "POST",
        data: {'email_data': JSON.stringify(smtp_data)},
        async: true,
        success: setTimeout(function (result) {
        location.reload();
        },1000),
    });
};

let send_test_email = function (){
    $.ajax({
            url: "/m_setup/{{ haus.id }}/benachrichtigung/settings/",
            type: "POST",
            data: {'send_test_email': 'smtp'},
            async: true,
            success: setTimeout(function (result) {
            alert('Bitte überprüfen Sie Ihre E-Mail!')
            },100),
        });
};

let send_test_controme_email = function (){
    let to_email = $('#test-email-input').val();
    $.ajax({
            url: "/m_setup/{{ haus.id }}/benachrichtigung/settings/",
            type: "POST",
            data: {'send_test_controme_email': 'smtp', 'to': to_email},
            async: true,
            success: setTimeout(function (result) {
            alert('Bitte überprüfen Sie Ihre E-Mail!')
            },100),
        });
}


let send_test_email_smtp = function (){
    let to_email = $('#test-email-input').val();
    $.ajax({
            url: "/m_setup/{{ haus.id }}/benachrichtigung/settings/",
            type: "POST",
            data: {'send_test_email_smtp': 'true', 'to': to_email},
            async: true,
            success: setTimeout(function (result) {
            alert('Bitte überprüfen Sie Ihre E-Mail!')
            },100),
        });
}
</script>
{% endblock %}
