{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - benachrichtigung{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{ haus.id }}/benachrichtigung/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}
    <ul data-role="listview" data-divider-theme="a">

        <li>
            <label> Email-Adressen: </label>
            {% for user in userlist %}
                <input type="checkbox" name="users" value="{{ user.user.email }}" id="email-{{ user.user.id }}" class="email-addr"
                {% if user.user.email in device_emails %}checked="checked"{% endif %}/>
                <label for="email-{{ user.user.id }}" class="line-border"> {{ user.user.email }}</label>
            {% endfor %}
        </li>
        <li>
            <div data-role="navbar">
                <ul>
                    <li><input type="button" name="restart" value="Speichern" onclick="save_cloud()"></li>
                </ul>
            </div>
        </li>
    </ul>
<script>

let save_cloud = function (){
        $.ajax({
            url: "/m_setup/{{ haus.id }}/benachrichtigung/status/",
            type: "POST",
            data: {'cloud':'save'},
            async: true,
            success: setTimeout(function (result) {
            location.reload();
            },9000),
        });
};


$(document).ready(function(){
    $(".email-addr").change(function(){
        if(this.checked) {
            $.ajax({
            url: "/m_setup/{{ haus.id }}/benachrichtigung/status/",
            type: "POST",
            data: {'email_on':$(this).val()},
            async: true,})
        } else {
            $.ajax({
            url: "/m_setup/{{ haus.id }}/benachrichtigung/status/",
            type: "POST",
            data: {'email_off':$(this).val()},
            async: true,})
        }
    });
});

</script>
{% endblock %}
