{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - benachrichtigung{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{ haus.id }}/support-benachrichtigung/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    {% if b_id %}
        <a href="/m_setup/{{haus.id}}/support-benachrichtigung/delete/{{b_id}}/" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
    {% endif %}
{% endblock %}

{% block mcontent %}
<style type="text/css">
    .desc-text{
        color: #8C8B8A;
        font-size: 14px;
        text-shadow: none;
        white-space: normal;
        overflow: hidden;
        padding: 5px;
    }
    .email-text-input{
        width: 100% !important;
        height: 150px !important;
        margin-top: 15px !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {

        // check email text box showing
        let email_text_showing_check = function(){
            if ($('#modus option:selected').val() == 'fps'){
                $('.email-text').show();
                $('.ausfall-email-text').hide();
                $('.g-s-checkboxes').hide();


            }else{
                $('.email-text').hide();
                $('.ausfall-email-text').show();
                $('.g-s-checkboxes').show();
            }
        }

        $('#modus').change(function(){
            email_text_showing_check();
        })
        email_text_showing_check();
    });
</script>

<form method="post" action="/m_setup/{{haus.id}}/support-benachrichtigung/edit/{% if b_id %}{{ b_id }}/{% endif %}" data-ajax="false" id='benachichtung-form'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li>
            <div data-role="fieldcontain">
                <label for="name" style="vertical-align: middle;">Name</label>
                <input type="text" name="name" id="name" value="{{ b_param.name }}" required/>
            </div>
        </li>
        <li>
            <label> Email-Adressen: </label>
            <input type="checkbox" name="controme_s_email" value="1" id="controme-email" class="email-addr"
            {% if b_param.controme_s_email %}checked="checked"{% endif %} />
            <label for="controme-email"  class="line-border">support@controme.com</label>
            {% for user in userlist %}
                <input type="checkbox" name="users" value="{{ user.user.id }}" id="email-{{ user.user.id }}" class="email-addr"
                {% if user.user.id|stringformat:"i" in b_param.users %}checked="checked"{% endif %} />
                <label for="email-{{ user.user.id }}" class="line-border"> {{ user.user.email }}</label>
            {% endfor %}
        </li>
        <li>
            <p class="desc-text" style="padding: 20px;">
                Die Benachrichtigung wird an die oben ausgewählten Email-Adressen versendet.
                Es sind ausschließlich Email-Adressen von Usern auswählbar,
                die in der <a target="_blank" href="/m_benutzerverwaltung/{{ haus.id }}"> Benutzerverwaltung </a> angelegt sind.
            </p>
        </li>

        <li class="">
            <div data-role="fieldcontain">
                <label for="modus" style="margin-top: .5em;">Modus</label>
                <select name="notify_mode" data-mini="true" id="modus">
                    <option value="device-status" {% if  b_param.notify_mode == 'device-status'%} selected="selected" {% endif %}>Ausfallbenachrichtigung</option>
                    <option value="fps" {% if  b_param.notify_mode == 'fps'%} selected="selected" {% endif %}>FPS</option>
                </select>
            </div>
            <p class="desc-text" style="padding-bottom: 0;">
                - im Modus FPS / Ausgang werden Benachrichtigungen versendet, wenn ein Wert von 0 auf 1 (bzw. > 0) oder umgekehrt wechselt.
            </p>
            <p class="desc-text" style="padding-top: 0;">
                - im Modus Ausfallbenachrichtigung werden Benachrichtigungen versendet, wenn ein Gerät / Sensor ausfällt oder wieder online geht.
            </p>
        </li>
        <li class="email-text">
            <div data-role="fieldcontain">
                <label for="modus" style="margin-top: .5em;">FPS auswählen</label>
                <select name="selected_fps" data-mini="true" id="selected-fps">
                    <option value="0">FPS auswählen</option>
                    {% for fps in fps_lst %}
                        <option value="{{ fps.0 }}" {% if  b_param.selected_fps == fps.0 %} selected="selected" {% endif %}>FPS {{ fps.0 }}: {{ fps.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <p class="desc-text" style="padding-bottom: 0;">

                Die nachfolgenden Textmeldungen werden versendet, sobald die oben ausgewählte FPS den Status ändert.
                Bitte beachten: Die Email wird nur versendet, wenn der ausgewählten FPS ein
                    <a target="_blank" href="/m_setup/{{ haus.id }}/hardware/a/"> Ausgang </a> zugewiesen ist.

            </p>
        </li>

        <li class="ausfall-email-text">
            <div data-role="fieldcontain">
                <label for="email-for-support">Email Text für Support:</label>
                <textarea class="email-text-input" cols="25" rows="12"
                          id="email-for-support" name="email_for_support">{{ b_param.email_for_support }}</textarea>
            </div>
        </li>

        <li class="email-text">
            <div data-role="fieldcontain">
                <label for="email_text_1">Email-Text bei FPS-Wert 0:</label>
                <textarea class="email-text-input" cols="25" rows="12" id="email-text-1" name="email_text_1">{{ b_param.email_text_1 }}</textarea>
            </div>
            <p class="desc-text" style="padding-top: 0;">
                Der eingetragene Text wird versendet, wenn:</br>
                - im Modus FPS ein Wert von 1 (bzw > 0) auf 0 wechselt.</br>
                - im Modus Ausfallbenachrichtigung ein Gerät offline geht.
            </p>
        </li>
        <li class="email-text">
            <div data-role="fieldcontain">
                <label for="email_text_2">Email-Text bei FPS-Wert 1:</label>
                <textarea class="email-text-input" cols="25" rows="12" id="email-text-2" name="email_text_2">{{ b_param.email_text_2 }}</textarea>
            </div>
            <p class="desc-text">
                Der eingetragene Text wird versendet, wenn:</br>
                - im Modus FPS ein Wert von 0 auf 1 (bzw > 0) wechselt.</br>
                - im Modus Ausfallbenachrichtigung ein Gerät offline geht.
            </p>
        </li>
        <li data-icon='false'>
            <label for="q-time-selection">
                Email-Sendefrequenz
            </label>
            <select id="q-time-selection" name="send_frequency">
                <option value="0" {% ifequal b_param.send_frequency 0 %} selected="selected" {% endifequal %}>0 Minuten</option>
                <option value="15" {% ifequal b_param.send_frequency 15 %} selected="selected" {% endifequal %}>15 Minuten</option>
                <option value="30" {% ifequal b_param.send_frequency 30 %} selected="selected" {% endifequal %}>30 Minuten</option>
                <option value="60" {% ifequal b_param.send_frequency 60 %} selected="selected" {% endifequal %}>1 Stunde</option>
                <option value="120" {% ifequal b_param.send_frequency 120 %} selected="selected" {% endifequal %}>2 Stunden</option>
                <option value="180" {% ifequal b_param.send_frequency 180 %} selected="selected" {% endifequal %}>3 Stunden</option>
                <option value="360" {% ifequal b_param.send_frequency 360 %} selected="selected" {% endifequal %}>6 Stunden</option>
                <option value="720" {% ifequal b_param.send_frequency 720 %} selected="selected" {% endifequal %}>12 Stunden</option>
                <option value="1440" {% ifequal b_param.send_frequency 1440 %} selected="selected" {% endifequal %}>24 Stunden</option>
            </select>
        </li>
        <li>
        {% if b_id %}
            <p>
                {% if b_param.send_frequency > 0 %}
                    Email-Sendefrequenz: {{ b_param.send_frequency }} Minuten
                {% endif %}

                <br>
                Email zuletzt gesendet: {{ last_time_email_sent }}
                <br>

                {% if next_allowed_time %} Email senden erlaubt ab: {{ next_allowed_time }}
                <br>
                <span class="send-button" onclick="send_email()">(Berechnung jetzt auslösen). </span>
                {% endif %}
            </p>

        {% endif %}
        </li>
        <li class="g-s-checkboxes">
            <p style="margin-top: 10px; font-size: 16px;">
                Benachrichtigung versenden beim Ausfall von:
            </p>

            <input type="checkbox" name="gateways_on" id="gateways-on" class="custom" value="1"
            {% if b_param.gateways_on == None or b_param.gateways_on == 1 %}checked="checked"{% endif %} />
            <label for="gateways-on">Gateways</label>

            <input type="checkbox" name="sensors_on" id="sensors-on" class="custom" value="1"
            {% if b_param.sensors_on == None or b_param.sensors_on == 1 %}checked="checked"{% endif %} />
            <label for="sensors-on">Sensoren (einschl. Raumcontroller und Funkgeräten)</label>
        </li>
        {% if b_id %}
        <li>
            <a href="/m_setup/{{ haus.id }}/benachrichtigung/report/{{ b_id }}" target="_blank">Ereignisse anzeigen</a>
        </li>
        {% endif %}
        <li data-icon='false'>
            <a href="#" onclick="$('#benachichtung-form').get(0).submit();" style="text-align:center">Speichern</a>
        </li>

    </ul>
</form>

<script>
    let send_email = function (){
        $.ajax(
            {
                url: '/m_setup/benachrichtigung/send_email/support/{{ b_id }}/',
                type: 'GET',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    b_id: '{{ b_id }}',
                },
                success: function (data) {
                    if(data.next_execution_time){
                        $('#next-execution-time').html(data.next_execution_time)

                    }
                }
            }
        )
    }
</script>

{% endblock %}
