{% extends "m/m_base.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS sensor-simulator" %}{% endblock %}
{% block bodycls %}main-config-page sensor-simulator page{% endblock %}
{% block mheader %}
        <a href="/config/" data-role="button" data-icon="arrow-l" data-mini="true"
           data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>

        <a href="https://support.controme.com/"
           target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true"
           data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
    {% csrf_token %}
    <input type="hidden" value="{{ haus.id }}" id="haus_id">
    <ul data-role="listview" data-divider-theme="a">

        <li>
            <h2>Sensor-Simulator</h2>

            <p class="desc-text">
                Das Plugin simulirert Sensoren, die mit 01_... beginnen und Gateways, die mit c0-... beginnen.
            </p>

        </li>

        <li class="minute-slider-li">
            <div>
                <label for="minute-slider">Frequenz in Minuten</label>
                <input type="range" name="minute_slider" id="minute-slider"
                       class="minute-slider" data-mini="true" data-id="{{ haus.id }}"
                       data-highlight="true" data-popup-enabled="true"
                       min="1" max="60" step="1" value="{{ params.minute_slider|default:30 }}">
            </div>

            <p class="desc-text">
                Das Plugin generiert die Sensorwerte in der eingestellten Frequenz.
            </p>

        </li>

        <li class="zero-padding">
            <div data-role="navbar">
                <ul>
                    <li>
                        <a href="#"
                        class="{% if params.status|default:'off' == 'off' %} ui-btn-active {% else %} ui-btn-inactive {% endif %}  set-status set-off">
                            Simulator AUS
                        </a>
                    </li>
                    <li>
                        <a href="#"
                           class="{% if params.status == 'on' %} ui-btn-active {% else %} ui-btn-inactive {% endif %} set-status set-on">
                            Simulator EIN</a>
                    </li>
                </ul>
            </div>
        </li>
        {% if params.status == 'on' %}
        <li>
            <label>Sensor-Script ist aktiv seit {{ params.date }}. Neue Sensorwerte werden {{ params.minute_slider }}m generiert. Nächster Berechnung in {{ left_time }}.</label>
        </li>
        {% endif %}
    </ul>

{% endblock %}
