{% extends "m/m_base.html" %}
{% block title %}Smart-Heat-OS - Backup Control{% endblock %}
{% block bodyclass %}backupcontrol page{% endblock %}
{% block mheader %}
        <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/backup-control/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}
{% block mcontent %}
<script type="text/javascript">
    $(document).ready(function () {
        $("#aactive").on("change", function () {
            var val = $("#aactive").is(":checked");
            $.ajax({
                url: "/m_setup/{{ haus.id }}/backupcontrol/?aactive=" + val,
                type: "get"
            });
        });
    });
</script>

<ul data-role="listview" id="bclist">

    {% if message %}
    <li style="color: #cb0963">
        {{ message }}
    </li>
    {% endif %}

    <li data-role="list-divider">
        Backup als Datei herunterladen
    </li>

    <li>
        Hier können Sie die aktuelle Konfiguration als Datei herunterladen und speichern.
    <li>
        <a href="/m_setup/{{ haus.id }}/backupcontrol/?dbdl" >Backup als Datei speichern</a>
    </li>

    <li data-role="list-divider">
        Backup hochladen
    </li>

    <li>
        Hier können Sie ein zuvor heruntergeladenes Backup wiederherstellen. Bitte beachten Sie, dass Ihr System
        komplett auf die Backupversion zurückgesetzt wird. Das Backup beinhaltet ALLE einstellungen - also auch
        die Temperatureinstellungen, Kalendereinträge, etc.
    </li>

    <li>
        <form action='/m_setup/{{ haus.id }}/backupcontrol/' method='post' enctype='multipart/form-data' id="ulform">
            {% csrf_token %}
            <input type='file' name='db'/>
            <input type="hidden" name="dbul"/>
        </form>
    </li>
    <li {#data-icon='false' style="padding:0px"#}>
        <a href="#" onclick="$('#ulform').get(0).submit();" style="{# text-align:center #}">Hochladen</a>
    </li>

    <li data-role="list-divider">
        Automatische Backups
    </li>
    <li>
        Wenn automatische Backups aktiviert sind, wird jeden Tag um 03:00 Uhr automatisch ein Backup angelegt.
        Diese Backups werden vier Wochen vorgehalten und dann automatisch gelöscht.
    </li>
    <li>
        <input type="checkbox" id="aactive" name="aactive" {% if active %}checked="checked"{% endif %}/>
        <label for="aactive">Automatische Backups aktivieren</label>
    </li>

    <li data-role="list-divider">
        (Automatisches) Backup wiederherstellen
    </li>

    <li>
        Hier haben Sie die Möglichkeit, automatisch erstellte Backup-Versionen Ihres Systems bequem wiederherzustellen.
        Bitte beachten Sie, dass Ihr System komplett auf die Backupversion zurückgesetzt wird. Das Backup beinhaltet
        ALLE einstellungen - also auch die Temperatureinstellungen, Kalendereinträge, etc.
{#        passt das, wenn die intervalle für automatische backups nicht eingestellt werden können?#}
    </li>
    <li>
        <form action="." method="post" data-ajax="false" id="recform">{% csrf_token %}
            <select name="select_backup_file" id="select_backup_file">
                <option value="0">wähle Backup-Version</option>
                {% for item in bklist %}
                <option value="{{item}}" style="padding-left:10px;">{{item}}</option>
                {% endfor %}
            </select>
        </form>
    </li>
    <li {# data-icon='false' style="padding:0px" #}>
        <a href="#" onclick="if($('#select_backup_file').val() != '0') {$('#recform').get(0).submit();}" style="{# text-align:center #}">Backup wiederherstellen</a>
    </li>

    <li data-role="list-divider">
        Backup auf Miniserver abspeichern
    </li>
    <li>
        Erstellen Sie ein Backup, das auf dem Miniserver abgelegt wird. Das Backup kann in der Auswahlliste der
        (automatischen) Backups wiederhergestellt werden.
{#        button: jetzt backup erstellen. oben steht dann nicht "automatisches"#}
    </li>
    <li>
        <a href="/m_setup/{{ haus.id }}/backupcontrol/?backupnow">Jetzt Backup erstellen</a>
    </li>
</ul>

{% endblock %}
