{% extends "m/m_base_new.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS  - Luftfeuchte" noop %}{% endblock %}
{% block bodyclass %}page luftfeuchte{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/luftfeuchte/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}

<script type="text/javascript">
    $(document).ready(function () {
        $( "#ausgang-checkbox" ).click(function(){
            if(this.checked) {
                $('#initial-slider').slider( "option", "disabled", false );
            } else {
                $('#initial-slider').slider( "option", "disabled", true );
            }
        });

        $( "#intensity-checkbox" ).click(function(){
            if(this.checked) {
                $('#intensity-slider').slider( "option", "disabled", false );
            } else {
                $('#intensity-slider').slider( "option", "disabled", true );
            }
        });

        $(".luftfeuchte #select-type").change(function(){
            $(".luftfeuchte #one .slider-wrapper").hide();
            $(".luftfeuchte #one div[data-type='"+$(this).val()+"']").show();
        });

        $(".luftfeuchte #one .ui-slider-input").on('slidestop', function() {
            var raum_id = $(this).data('id'),
                    field_value =  $(this).val(),
                    field_name =  $(this).attr('name');

            $.ajax({
                url: '/m_luftfeuchte/{{ haus.id }}/',
                data: {
                    'field_value': field_value ,
                    'raum_id': raum_id ,
                    'field_name': field_name,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                type: 'post',
                async: true,
                beforeSend: function() {
                    if(typeof startAjaxSlider === "function"){startAjaxSlider();}
                },
                complete: function() {
                    if(typeof endAjaxSlider === "function"){endAjaxSlider();}
                }
            });
        });
        $(".luftfeuchte #one input").on('change', function(e) {
            if (e.originalEvent === undefined) {
            } else {
                $(this).trigger("slidestop");
            }
        });
    });
</script>
<style type="text/css">
.p-label {
    margin-bottom: 0
}
#two .p-label {
    margin-bottom: 0;
    padding: 0 15px;
}
</style>

<div data-role="tabs" id="tabs">
    <div data-role="navbar">
        <ul>
            <li><a href="#one" class="ui-btn-active" data-ajax="false">{% trans "Einstellungen" noop %}</a></li>
            <li><a href="#two" data-ajax="false">{% trans "Gruppeneinstellung" noop %}</a></li>
        </ul>
    </div>
    <div id="one" class="ui-body-d ui-content ui-alt-icon">
        <select name="select-type" id="select-type">
            <option value="initial">{% trans "Ausgangswert" noop %}</option>
            <option value="intensity">{% trans "Intensität" noop %}</option>
        </select>
        {% for e in eundr %}
            {% for etage, raeume in e.items %}
            <h2>{{ etage.name }}</h2>
            {% for raum in raeume %}
                <p class="p-label"><img src="/static/icons/{{ raum.icon }}.png">{{ raum.name }}</p>
                <div id="correction-heating-element-wrapper" class="slider-wrapper custom_slider normal_slider" data-id="{{ raum.id }}"  data-type="initial">
                    <label for="initial" for="initial" data-type="initial">Ausgangswert in % rel. Luftfeuchte</label>
                    <input data-id="{{ raum.id }}" type="range" {% if raum.get_humidity == -1 or raum.get_humidity == None %}disabled="disabled"{% endif %}
                           name="initial" id="initial" value="{{ raum.get_humidity_params.initial }}" min="30" max="70" step="1"
                           data-popup-enabled="true" data-highlight="true" data-mini="true"/>
                </div>
                <div id="correction-heating-element-wrapper" class="slider-wrapper custom_slider normal_slider" style="display: none" data-id="{{ raum.id }}"  data-type="intensity">
                    <label for="intensity" data-type="intensity">Intensität</label>
                    <input data-id="{{ raum.id }}" type="range" {% if raum.get_humidity == -1 or raum.get_humidity == None %}disabled="disabled"{% endif %}
                           name="intensity" id="intensity" value="{{ raum.get_humidity_params.intensity }}" min="0.01" max="0.3" step="0.01"
                           data-popup-enabled="true" data-highlight="true" data-mini="true"/>
                </div>
            {% endfor %}
            <p/>
            {% endfor %}
        {% endfor %}
    </div>
    <div id="two">
        <form action="/m_luftfeuchte/{{ haus.id }}/" method="post" data-ajax="false">
            {% csrf_token %}
            <div class="ui-grid-a ui-alt-icon">
                <p class="p-label">{% trans "Über die Gruppeneinstellung können Sie mehrere Räume gleichzeitig setzen, auswählen und übernehmen." %}</p>
                <div class="rangeslider-list">
                    <div id="correction-heating-element-wrapper" class="slider-wrapper correction-heating-element-wrapper custom_slider normal_slider">
                        <div>
                            <label for="initial-slider">{% trans "Ausgangswert in % rel. Luftfeuchte" noop %}</label>
                            <input type="range" name="initial" id="initial-slider" value="50" min="30" max="70" step="1" data-popup-enabled="true" data-highlight="true" data-mini="true"/>
                        </div>
                        <input type="checkbox" checked name="ausgang-checkbox" id="ausgang-checkbox" />
                    </div>

                    <div id="correction-heating-element-wrapper" class="slider-wrapper correction-heating-element-wrapper custom_slider normal_slider">
                        <div>
                            <label for="intensity-slider">{% trans "Intensität" noop %}</label>
                            <input type="range" name="intensity" id="intensity-slider" value="0.01" min="0.00" max="0.3" step="0.01" data-popup-enabled="true" data-highlight="true" data-mini="true"/>
                        </div>
                        <input type="checkbox" checked name="intensity-checkbox" id="intensity-checkbox" />
                    </div>
                </div>
            </div>

            <div class="jahreskalender"> {# todo der class name ist scheisse #}
{#                {% if room_html_right %}#}
                    <div class="ui-grid-a select-room jahreskalender">
                        <fieldset data-role="controlgroup" data-iconpos="right">
                            <input type="checkbox" name="select-all" value="select-all" id="select-all" class="select-all"/>
                            <label id="select-all-label" for="select-all">{% trans "alle Räume auswählen" noop %}</label>
                            {% for e in eundr %}
                                {% for etage, raeume in e.items %}
                                    {% for r in raeume %}

                                        <input type="checkbox" name="rooms" value="{{ r.id }}" class="room" data-house="{{ etage.id }}" style="border-bottom-width: 1px;" id="room-{{ r.id }}"/>
                                        <label for="room-{{ r.id }}" style="border-bottom-width: 1px;" class="line-border"><img src="/static/icons/{{ r.icon }}.png"/>{{etage.name}} | {{ r.name }}</label>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                    </fieldset>
                    </div>
{#                {% endif %}#}
            </div>
            <input type="submit" value='{% trans "Speichern" noop %}'  style="padding:0px;" data-corners="false" class="ui-btn ui-btn" name="submit">

        </form>
    </div>
</div>


{% endblock %}