{% extends "m_base_new.html"%}

{% block title %}Smart-Heat-OS - Abwesenheitsschalter{% endblock %}
{% block bodyclass %}page {% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/bedienung-module/modul-zeitschalter/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}

<form action="/m_zeitschalter/{{haus.id}}/" method="post" data-ajax='false' id='zshform'>{% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" data-split-icon="delete" data-split-theme='c'>
        <li data-role='list-divider'>Abwesenheitsschalter</li>
        {% if delta %}
            {% autoescape off %}{{delta}}{% endautoescape %}
        {% endif %}
        <li>
            <label>Zeit</label>
            <select name="zeitd">
                <option value="0">Tage</option>
                {% for d in zeitd %}
                    <option value="{{d.0}}" {%ifequal d.0 dd%}selected='selected'{%endifequal%}>{{d.1}}</option>
                {% endfor %}
            </select>
            <select name="zeith">
                <option value="0.0">Stunden</option>
                {% for h in zeith %}
                    <option value="{{h.0}}" {%ifequal h.0 hh%}selected='selected'{%endifequal%}>{{h.1}}</option>
                {% endfor %}
            </select>
        </li>
        <li><br><br>
            <label for="offset">Zieltemperatur-Offset</label>
            <input type="range" name="offset" id="ooffset" value="{{ default }}" min="-4" max="4" step="0.1"  data-mini="true"
                            data-highlight="true" data-popup-enabled="true"/>
        </li>
        {% if error %}
            <li style="color:#cb0963">
                {% autoescape off %}{{error}}{% endautoescape %}
            </li>
        {% endif %}
        <li data-icon='false'>
            <a href="#" onclick="$('#zshform').get(0).submit();" style="text-align:center">Abwesenheitsschalter aktivieren</a>
        </li>
    </ul>
</form>
{% endblock %}