{% extends "m_base.html" %}

{% block title %}Smart-Heat-OS - Logger - Hilfe{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/logger/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

    <h2>Logging</h2>

    <p>
        Ja.
    </p>

{% endblock %}
