{% extends "m_base_new.html"%}

{% block title %}Smart-Heat-OS - Logs{% endblock %}
{% block bodyclass %}page{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/bedienung-module/modul-logging/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/m_logger/{{ haus.id }}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}

{% block mcontent %}
    <div style="padding-left: 20px;">
    {%  if path_error %}
        <h3 style="color: red;"> Someting went wrong with the USB </h3>
    {% endif %}
    <h3>Verfügbare Logs {{ log_device_hw }} :</h3>

    {% for csv_file in csv_files %}
        <p>
            <a href="/dl/?download={{ csv_file }}">{{ csv_file }}</a>
            {% ifequal action 'xcsv' %}
                {% if csv_file|slice:"-2:" == 'db' or  csv_file|slice:"-3:" == 'csv' %}
                    <a style="color: #38c;" href="/m_logger/{{ haus.id }}/xcsv/?delete={{ csv_file }}">Delete</a>
                {% endif %}
            {% endifequal %}
        </p>
    {% endfor %}
    {% ifequal action 'xcsv' %}
    <a style="color: #38c;" href="?ul">upload csv... </a>
    {% endifequal %}
    </div>
{% endblock %}
