{% extends "m_base_new.html"%}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page quick_change{% endblock %}

{% block mheader %}
    <a href="/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon " data-role="none">&nbsp;</a>
    {% if tempmode %}
    <span class="ui-btn-text mode-selection mode-select">
    <!--<p style="text-align: center;margin: 0;">-->
        <center>
            <select data-id="{{raum.id}}" data-hid="{{haus.id}}" id="mode-select" data-shadow="false">
              <option value="0" selected>----</option>
              {% for id,params in tempmodes%}
               <option value="{{id}}">{{params.name}}</option>
              {% endfor %}
            </select>
        </center>
    <!--</p>-->
    </span>
    {% endif %}
    <span  onclick="window.open('https://support.controme.com/bedienung/#Interface_Raumregelung_TEMP');" style="float: right;margin-top: 5px;position: absolute;right: 15px;top: 5px;"><img src="/static/icons/bulb-icon-grey.png" width="20" height="20" ></span>
{% endblock %}



{% block mcontent %}
{% if is_any_room %}
<ui data-role="listview" class="ui-listview" id="room_list">
{% csrf_token %}
<li class="top_header">
    <a data-rel="popup" class="ui-btn ui-btn-inline ui-corner-all" style="text-align: center;">
            <div><img src="/static/icons/icon-hand.png" width="20" height="20" style="float: left;">
                <span class="align-center text">Änderungen werden übernommen bis: <span class="time">{{time_all}}</span> Uhr</span>
            </div>
    </a>
</li>

{% for e in eundr %}
        {% for etage, raeume in e.items %}
                <li>
                    <div>
                    <span style="padding: 10px 0 5px !important;" class="align-center bold text">{{etage.name}}</span>
                    </div>
                </li>
                {% for raum, temp, ziel,time in raeume %}
                    <li data-id="{{raum.id}}">
                        <div class="first_row">
                            <input type="hidden" id="first_row_roomid" value="{{raum.id}}">
                            <div class="room">
                                <input type="hidden" id="raum_id" value="{{raum.id}}">
                                <span class="room_icon"><img src="/static/icons/{{raum.icon}}.png" alt="icon"/></span>
                                <span class="raum_name">{{raum.name}}</span></div>
                            <div class="hand_time">
                                <div class="hand {% if not time  %} hide {% endif %}">
                                    <div><img src="/static/icons/icon-hand.png" width="30" height="30"></div>
                                    <div class="in_rooms">{{time}}</div>
                                </div>
                            </div>
                            <div class="temperatures">
                                <div class="ist left-temp">
                                    <div class="temperatures-right">
                                        <div class="bold underline temp" temp-value="{{ temp }}">{{temp}}</div>
                                        <div style="padding-right: 10px;">Ist</div>
                                    </div>
                                </div>
                                <div class="ziel right-temp">
                                    <div class="temperatures-right">
                                        <div id="ziel{{ raum.id }}" data-ziel="{{ ziel }}" class="ziel_val bold" style="color: #779A45;">{{ziel}}</div>
                                        <div style="padding-right: 6px">Ziel</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="slider_row">
                            <input type="number" data-type="range" name="zielslider" id="zielslider" data-id="{{raum.id}}" value="{{ziel}}" min="18" max="26" step="0.1" data-mini="true" data-highlight="true" data-popup-enabled="true" class="ui-input-text ui-body-a ui-corner-all ui-shadow-inset ui-mini ui-slider-input">
                        </div>

                    </li>
                {% endfor %}
        {% endfor %}

    {% endfor %}
</ui>
<div data-role="popup" id="popupTime" data-theme="a" class="ui-corner-all">
        <div class="popupTimeContent">
            <div class="align-center">
                <div><img alt="icon" width="25" height="25"/></div>
                <div class="popup_raum_name">{{raum.name}}</div>
                <input type="hidden" id="room_id" value="0">
            </div>
            <div class="align-center">
                Manueller Zielwert bis <span class="time_inner_room">{{time}}</span>
            </div>
            <div class="align-center">
                <input type="number" data-type="range" name="time" id="time" value="0" min="0" max="720" step="10" data-mini="true" data-highlight="true" data-popup-enabled="false" class="ui-input-text ui-body-a ui-corner-all ui-shadow-inset ui-mini ui-slider-input">
            </div>
            <div class="align-center time_row">
                <div class="slider_left">0h</div>
                <div class="slider_center">6h</div>
                <div class="slider_right">12h</div>
            </div>
            <div class="align-center">
                <a href="#" id="popupTimeSave" class="ui-btn">Manuellen Zielwert in diesem Raum löschen</a>
            </div>
        </div>
</div>

<div data-role="popup" id="all_popupTime" data-theme="a" class="ui-corner-all">
        <div class="popupTimeContent">
            <div class="align-center">
                Manueller Zielwert bis <span class="time_inner_popup">{{time}}</span>
            </div>
            <div class="align-center">
                <input type="number" data-type="range" name="all_time" id="all_time" value="{{default_time}}" min="0" max="720" step="5" data-mini="true" data-highlight="true" data-popup-enabled="false" class="ui-input-text ui-body-a ui-corner-all ui-shadow-inset ui-mini ui-slider-input">
            </div>
            <div class="align-center time_row">
                <div class="slider_left">0h</div>
                <div class="slider_center">6h</div>
                <div class="slider_right">12h</div>
            </div>
            <div class="align-center">
                <a href="#" id="all_popupTimeDelete" class="ui-btn">Manuellen Zielwert in allen Räumen löschen</a>
            </div>
        </div>
</div>

<div data-role="popup" id="popupTemp" data-theme="a" class="ui-corner-all">
        <div id="popupTempContent">
        <span class="popupTempIcon"><img src=""> </span><span class="popupTempName"></span>
            <input type="hidden" id="ziel_popup_roomid">
        <label for="popupZielInput">Zieltemperatur:</label>
        <input type="text" name="popupTempInput" id="popupZielInput" value="">
        <a href="#" id="popupZielSave" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Speichern</a>
        </div>
    </div>

</ui>
{%endif%}
{% endblock %}

