{% extends "m/m_base.html" %}
{% block title %} Smart-Heat-OS - Vorlauftemperaturkorrektur {% endblock %}

{% block mheader %}
    <a href="/m_setup/{{ haus.id }}/vorlauftemperaturkorrektur/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    {% if vtk_id %}
        <a id="mdel" href="/m_setup/{{ haus.id }}/vorlauftemperaturkorrektur/?delete={{ vtk_id }}" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
        <a href="http://support.controme.com/vorlauftemperatur-mischer/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" style="right: 80px;"></a>
    {% else %}
        <a href="http://support.controme.com/vorlauftemperatur-mischer/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
    {% endif %}
{% endblock %}

{% block mcontent %}
<script>
    $(document).ready(function() {
        $(".vtk-room-selection .select-all").change(function(){
            var elem  = $(".select-room input[class=room]");
            if($(this).is(':checked')){
                elem.prop('checked', true).checkboxradio("refresh");
            }else{
                elem.prop('checked', false).checkboxradio("refresh");
            }
        });
        $(".vtk-room-selection input[class=room]").change(function(){
            var elem  = $(".vtk-room-selection .select-all");
            if(!$(this).is(':checked')){
                elem.prop('checked', false).checkboxradio("refresh");
            }
        });
    });
</script>
<form action="/m_setup/{{ haus.id }}/vorlauftemperaturkorrektur/?edit{% if vtk_id %}={{ vtk_id }}{% endif %}" id="savesetting" method="post" data-ajax="false">{% csrf_token %}
    {% if vtk_id %}
        <input type="hidden" name="vtk_id" id="vtk_id" value="{{ vtk_id }}"/>
    {% endif %}
    <ul data-role="listview" id="wlist">
        <li data-role="list-divider">Vorlauftemperaturkorrektur</li>

        {% if error %}
            <li style="color:#cb0963">
                {% autoescape off %}{{error}}{% endautoescape %}
            </li>
        {% endif %}

        <li style="overflow: auto; white-space: normal;">
            Nachfolgend können Sie die maximal erlaubte Absenkung bzw. Anhebung eingeben, die von Vorlauftemperaturkorrektur generiert wird. Der Ablauf im Plugin erfolgt wie folgt: <br/>
            <br/>
            1.  Es wird der Raum mit der aktuell größten Heizlast bestimmt.<br/>
            2.  Anhand dieses Raums wird der maßgebliche Offset bestimmt.<br/>
            3.  Sollte der in (2) berechnete Offset größer sein als die nachfolgenden Parameter,
                so wird nicht der berechnete Offset, sondern der in den nachfolgenden Parametern eingegebene,
                maximal erlaubte Offset auf die Vorlauftemperatur addiert.
        </li>
        <li>
            <div data-role="fieldcontain">
                <label for="name" style="vertical-align: middle;">Name</label>
                <input type="text" name="name" id="name" value="{{ name }}" required/>
            </div>
        </li>
        <li>
            <div>
                Maximal erlaubte Absenkung in °C
                <input type="range"  data-mini="true" data-popup-enabled="true" name="absenkung" id="absenkung" data-highlight="true" value="{{ max_decrease }}" min="0" max="10" step="0.1">
            </div>
            <br>
            <div>
                Maximal erlaubte Anhebung in °C
                <input type="range" name="anhebung" id="anhebung" data-mini="true" data-popup-enabled="true" data-highlight="true" value="{{ max_increase }}" min="0" max="10" step="0.1">
            </div>
        </li>

        <li>
            <div data-role="fieldcontain">
                <label for="vtr_id" style="margin-top: .5em;">Vorlauftemperaturregelung</label>
                <select name="vtr_id" data-mini="true" id="vtr_id">
                    <!-- <option value="">-</option> -->
                    {% for vid, v in list_vorlauftemperaturregelung %}
                        <option value="{{ vid }}" {% if vorlauftemperaturregelung_id and vorlauftemperaturregelung_id == vid %}selected="selected"{% endif %}>{{ v.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </li>

        <li class="vtk-room-selection">
            <div  class="select-room">
                <h2>Raum-Auswahl</h2>
                <input type="checkbox" name="select-all" value="select-all" id="select-all" class="select-all" {% if select_all_room %}checked="checked"{% endif %} />
                <label id="select-all-label" for="select-all" data-corners="false" class="bold" >
                    alle Räume auswählen
                </label>
                {% for e in eundr %}
                    {% for etage, raeume in e.items %}
                        {% for r in raeume %}
                            <input type="checkbox" name="rooms" value="{{ r.id }}" class="room" 
                                    data-house="{{ etage.id }}" style="border-bottom-width: 1px;margin-left: 15px;" 
                                    id="room-{{ r.id }}"
                                   {% if r.id|stringformat:"i" in rooms_list %}checked="checked"{% endif %} />
                            <label for="room-{{ r.id }}" style="border-bottom-width: 1px;margin-left: 15px;" class="line-border">
                                <img width="20" src="/static/icons/{{ r.icon }}.png"/>&nbsp;
                                {{etage.name}} | {{ r.name }}
                            </label>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
            <span>Wählen Sie hier die Räume, für die diese Regelung maßgeblich ist.</span>
        </li>


        <li data-icon='false' style="padding:0px">
            <a href="#" onclick="$('#savesetting').get(0).submit();" style="text-align:center">Speichern</a>
        </li>
    </ul>
</form>

{% endblock %}

{% block footer %}

{% endblock %}