{% extends "m/m_base.html" %}
{% block title %} Smart-Heat-OS - Vorlauftemperaturkorrektur {% endblock %}
{% block bodyclass %} page vorlauftemperatur {% endblock %}
{% block mheader %}
        <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/vorlauf-korrektur/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}

<!-- <form action="/m_setup/{{ haus.id }}/vorlauftemperaturkorrektur/" id="savesetting" method="post" data-ajax="false">{% csrf_token %}
<ul data-role="listview" id="wlist">
    <li data-role="list-divider">Vorlauftemperaturkorrektur</li>
    <li style="overflow: auto; white-space: normal;">
        Nachfolgend können Sie die maximal erlaubte Absenkung bzw. Anhebung eingeben, die von Vorlauftemperaturkorrektur generiert wird. Der Ablauf im Plugin erfolgt wie folgt: <br/>
        <br/>
        1.  Es wird der Raum mit der aktuell größten Heizlast bestimmt.<br/>
        2.  Anhand dieses Raums wird der maßgebliche Offset bestimmt.<br/>
        3.  Sollte der in (2) berechnete Offset größer sein als die nachfolgenden Parameter,
            so wird nicht der berechnete Offset, sondern der in den nachfolgenden Parametern eingegebene,
            maximal erlaubte Offset auf die Vorlauftemperatur addiert.
    </li>
    <li>
        <div>
            Maximal erlaubte Absenkung in °C
            <input type="range"  data-mini="true" data-popup-enabled="true" name="absenkung" id="absenkung" data-highlight="true" value="{{ max_decrease }}" min="0" max="10" step="0.1">
        </div>
        <br>
        <div>
            Maximal erlaubte Anhebung in °C
            <input type="range" name="anhebung" id="anhebung" data-mini="true" data-popup-enabled="true" data-highlight="true" value="{{ max_increase }}" min="0" max="10" step="0.1">
        </div>
        </li>
    <br>

    <li data-icon='false' style="padding:0px">
        <a href="#" onclick="$('#savesetting').get(0).submit();" style="text-align:center">Speichern</a>
    </li>
</ul>
</form> -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#right-menu-ch').change(function(){
            let right_menu = 0;
            if ($(this).attr("checked")){
                right_menu = 1;
            }
            $.ajax({
                url: '/m_setup/{{haus.id}}/vorlauftemperaturkorrektur/',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'right_menu_ajax': right_menu
                },
                type: 'post',
                async: true,
                success: function() {

                }
            });
        })

    })
</script>
<ul data-role="listview" data-divider-theme="a" id="mixerlist">
    <li data-role="list-divider">
        Temperaturszenen
    </li>
    <li>
        <label style="margin:0px;border:0;" data-corners="false">
            <input type="checkbox" {%if r_m_active %}checked{%endif%}
                   name="right_menu" id="right-menu-ch" value='1'/>
                   Link zur Konfigurationsseite im rechten Menü anzeigen
        </label>

    </li>
    <li data-icon='false' style="padding:0px">
        <a href=" /m_vorlauftemperaturkorrekturen{{ haus.id }}/" target="_blank" style="text-align:center">öffne Benutzeroberfläche</a>
    </li>
    <li data-role="list-divider" id="mixers">Angelegte Vorlauftemperaturkorrekturen</li>
    {% if list_vorlauftemperaturkorrektur|length %}
        {% for mid, mparams in list_vorlauftemperaturkorrektur.items %}
            <li>
                <a href="/m_setup/{{ haus.id }}/vorlauftemperaturkorrektur/?edit={{ mid }}">Vorlauftemperaturkorrektur {{ mid }}{% if mparams.name %}: {{ mparams.name }}{% endif %}</a>
            </li>
        {% endfor %}
    {% else %}
        <li>-</li>
    {% endif %}
</ul>

{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false">
        <ul>
            <li>
                <a href='/m_setup/{{haus.id}}/vorlauftemperaturkorrektur/?edit' data-icon='gear'>Vorlauftemperaturkorrektur anlegen</a>
            </li>
        </ul>
    </div>
{% endblock %}