{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page wetter{% endblock %}
{% block mheader %}
    <a href="/m_{{regelung}}/{{haus.id}}/{{objid}}/gcal/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none">&nbsp;</a>
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $(document).on('pageshow', function(){
        {% if not active %}
            $("#cgrid").hide();
        {% endif %}
        $('#raumcallv').listview('refresh', true);
    });
    function toggleSlider() {
        $("#cgrid").toggle();
        $('#raumcallv').listview('refresh', true);
    }
</script>
<style type="text/css">
    label.ui-btn, a.ui-collapsible-heading-toggle {
        font-weight: normal;
    }
</style>

{% if regelung_obj.name %}
<a data-role="none" href="m_{{regelung}}/{{haus.id}}/{{objid}}/gcal/" class="ui-link-inherit custome_a">
    <div class="room_wrapper">
        {% if regelung_obj.icon %}<img src="/static/heating-icons/icon_{{regelung_obj.icon}}.png" alt="icon">{%endif%}{{regelung_obj.name}}
    </div>
</a>
{% endif %}

<form action="/m_{{regelung}}/{{haus.id}}/show/{{objid}}/gcal/" method="post" data-ajax='false' id='calrform'>{% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" id="raumcallv">
        <li data-role='list-divider'>Kalendereintr&auml;ge</li>
        {% if gactive %}
            <li>
                <label style="margin:0px;border:0;" data-corners="false"><input type="checkbox" onclick="toggleSlider();" name="gcal" value='1' {%if active%}checked{%endif%}/>Kalendersteuerung aktiviert</label>
                <div id="cgrid">
                    <br/>
                    {% autoescape off %}{{matches}}{%endautoescape%}
                </div>
            </li>
            <li data-icon='false' style="padding:0px">
                <a href="#" onclick="$('#calrform').get(0).submit();" style="text-align:center">Speichern</a>
            </li>
        {% else %}
            <li>
                <a href='/m_setup/{{haus.id}}/gcal/'>Kalender deaktiviert</a>
            </li>
        {% endif %}
    </ul>
</form>
{% endblock %}