{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Offsets{% endblock %}

{% block mheader %}
    <a href="/config/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    <a href="https://support.controme.com/fenster-offen-erkennung/" target="_blank" data-role="button"
      data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon"
      data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
<style type="text/css">
    .row-slider input.ui-slider-input {
            display : none !important;
    }
    .row-slider .ui-slider-track .ui-btn-active{
        background: #9ec552 !important;
    }

    .row-slider{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .row-slider .ui-slider.ui-mini{
        width: 90%;
    }

</style>

<script type="text/javascript">
    $(document).ready(function() {
        $(document).on( "change", "#activation_value",function(){
            $('#active-slider-val').text($(this).val());
        });

        $(document).on( "change", "#deactivation_value",function(){
            $('#deactive-slider-val').text($(this).val());
        });
        
        $(".fenster-room-selection .select-all").change(function(){
            var elem  = $(".select-room input[class=room]");
            if($(this).is(':checked')){
                elem.prop('checked', true).checkboxradio("refresh");
            }else{
                elem.prop('checked', false).checkboxradio("refresh");
            }
        });
        $(".fenster-room-selection input[class=room]").change(function(){
            var elem  = $(".fenster-room-selection .select-all");
            if(!$(this).is(':checked')){
                elem.prop('checked', false).checkboxradio("refresh");
            }
        });

    });
</script>

<script>
    let reset_offset = function (){
        $.ajax({
            url: "/m_setup/{{haus.id}}/fenster_offen/",
            type: "POST",
            data: {'offset': 'reset', csrfmiddlewaretoken: '{{ csrf_token }}'},
            async: true,
            success: setTimeout(function(result) {
            location.reload();
            },2000),
        });
    };

var currentRequest = null;
let activation_val = function (value){
    clearTimeout($(this).data('timer'));
    var timer = setTimeout(function() {
        console.log(value);
        $.ajax({
            url: "/m_setup/{{haus.id}}/fenster_offen/",
            type: "POST",
            data: {'activation_val': value, csrfmiddlewaretoken: '{{ csrf_token }}'},
            beforeSend : function(){
                if(currentRequest != null) {
                    currentRequest.abort();
                        }
                },
            async: true,
            success: function (result) {
            //
            },});}, 300);
    $(this).data('timer', timer);
};

var currentRequest2 = null;
let deactivation_val = function (value){
    clearTimeout($(this).data('timer'));
    var timer = setTimeout(function() {
        console.log(value);
        $.ajax({
            url: "/m_setup/{{haus.id}}/fenster_offen/",
            type: "POST",
            data: {'deactivation_val': value, csrfmiddlewaretoken: '{{ csrf_token }}'},
            beforeSend : function(){
                if(currentRequest2 != null) {
                    currentRequest2.abort();
                        }
                },
            async: true,
            success: function (result) {
            //
            },});}, 300);
    $(this).data('timer', timer);
};

</script>

<form method="post" action="/m_setup/{{haus.id}}/fenster_offen/" data-ajax="false" id='fenster_offen'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li data-role="list-divider">Fenster-offen-Erkennung</li>
        <li>
            <div>
                Zur <span style="color: #019BB0">Aktivierung</span> notwendiger Temperaturabfall innerhalb von 10 Minuten:
                <span id="active-slider-val">{{ activation_value }}</span>
            </div>
            <div class="row-slider">
                <input type="range" value="{{ activation_value }}" class="fenster-slider" data-obj="raum"
                       step="0.1" min="0" max="10" name="activation_value" id="activation_value" oninput="activation_val(this.value)"
                       onchange="activation_val(this.value)" data-id="" data-mini="true"  data-popup-enabled="true" data-highlight="true"/>
            </div>
            <div>
                Sobald Smart-Heat-OS innerhalb von 10 Minuten einen Temperaturabfall in
                der oben eingestellten Höhe registriert,
                wird für den jeweiligen Raum ein negativer Offset i.H.v. 10K aktiviert.
            </div>
        </li>

        <li>
            <div>
                Zur <span style="color: #cb0963">Deaktivierung</span>  notwendiger Temperaturanstieg ab der tiefsten gemessenen Temperatur:
                <span id="deactive-slider-val">{{ deactivation_value }}</span>
            </div>
            <div class="row-slider">
                <input type="range" value="{{ deactivation_value}}" class="fenster-slider" data-obj="raum"
                       step="0.1" min="0" max="10" name="deactivation_value" id="deactivation_value" oninput="deactivation_val(this.value)"
                       onchange="deactivation_val(this.value)" data-id="" data-mini="true"  data-popup-enabled="true" data-highlight="true"/>
            </div>
            <div>
                Die Fenster-offen-Erkennung bleibt so lange aktiv, bis die Temperatur im Raum wieder steigt.
                Der obige Wert definiert den zur Deaktivierung des Offsets notwendigen Temperaturanstieg.
            </div>
        </li>
        <li data-icon='false'>
                <a href="#" onclick="reset_offset();" style="text-align:center; color: #cb0963">
                    Offsets in allen Räumen zurücksetzen
                </a>
        </li>
        <li class="fenster-room-selection">
            <div  class="select-room">
                <h2>Raum-Auswahl</h2>
                <input type="checkbox" name="select-all" value="select-all" id="select-all" class="select-all" />
                <label id="select-all-label" for="select-all" data-corners="false" class="bold" >
                    alle Räume auswählen
                </label>
                {% for e in eundr %}
                    {% for etage, raeume in e.items %}
                        {% for r in raeume %}
                            <input type="checkbox" name="rooms" value="{{ r.id }}" class="room"
                                    data-house="{{ etage.id }}" style="border-bottom-width: 1px;margin-left: 15px;"
                                    id="room-{{ r.id }}"
                                   {% if r.id|stringformat:"i" in rooms or not rooms %} checked="checked"{% endif %} />
                            <label for="room-{{ r.id }}" style="border-bottom-width: 1px;margin-left: 15px;" class="line-border">
                                <img width="20" src="/static/icons/{{ r.icon }}.png"/>&nbsp;
                                {{etage.name}} | {{ r.name }}
                            </label>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
        </li>
        <li data-icon='false'>
                <a href="#" onclick="$('#fenster_offen').get(0).submit();" style="text-align:center">
                    Speichern
                </a>
        </li>
    </ul>
</form>

{% endblock %}

{% block footer %}
{% endblock %}