{% extends "m/m_base_new.html"%}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS" %} {% trans "Benutzerverwaltung" %}{% endblock %}
{% block bodyclass %} page jahreskalender benutzer-edit{% endblock %}
{% block mheader %}
    <a href="/m_benutzerverwaltung/{{ haus.id }}/"
       class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none">&nbsp;</a>
{% endblock %}

{% block mcontent %}
    <style>
        label{
            white-space: initial;
        }
        .desc-text{
            width: 100%;
            font-style: italic;
            font-size: 12px;
            margin-top: 5px;
            text-align: center;
            overflow-wrap: break-word;
            word-break: break-all;
            white-space: initial;
        }
        @media (max-width: 960px){
            .desc-text{
                font-size: 1.5vw;
                /* font-size: 10pt; */
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                font-weight: normal !important;
            }
        }
        #smart-access-selection-button,#smart-access-selection-button option,
        #smartui-default-tab-button, #smartui-default-tab-button option{
            color: #438BA5;
        }

        #proui-access-selection-button,#proui-access-selection-button option,
        #proui-default-func-button, #proui-default-func-button option{
            color: #773F9B;
        }
        .select-room{
            padding-bottom: 0 !important;
        }
    </style>
    <form action="" id="accessform" method="post" style="margin-top: -20px">{% csrf_token %}

        <ul data-role="listview" data-divider-theme="a" class="ui-alt-icon sort">
            <li data-role="list-divider" class="align-center" style="height: 60px">
                <div class="align-center" style="margin-top: 10px;">
                    {% trans "Berechtigungen" %} <span class="underline">{{ profile.user.email }}</span>
                </div>
                <div class="align-center desc-text" style="color: #8C8B8A; ">
                    {% trans "Stelle hier die Berechtigungen für den angelegten Benutzer ein." %}
                        <span style="cursor: pointer;" onclick="window.open('https://support.controme.com/benutzerverwaltung/', '_blank').focus();"
                              class="underline">Weitere Infos…</span>
                </div>
            </li>
            <li>
                <a href="/m_benutzerverwaltung/{{ haus.id }}/profile/{{ profile.id }}/" class="ui-btn ui-btn-icon-right ui-icon-carat-r">Namen und Emailadresse ändern</a>
            </li>
            <li>
                <a href="/m_benutzerverwaltung/{{ haus.id }}/password/{{ profile.id }}/" class="ui-btn ui-btn-icon-right ui-icon-carat-r">Passwort ändern</a>
            </li>

            {% if request.user != profile.user and haus.eigentuemer != profile.user %}
            <li>
                <div style="padding: 15px;">
                        <label for="configaccess"
                            class="select">
                            {% trans "Benutzertyp" %}
                        </label>
                        <select name="configaccess" id="configaccess" data-iconpos="right">
                            <option value="1" {% ifnotequal profile.role 'K' %} selected="selected" {% endifnotequal %}>Admin-Benutzer</option>
                            <option value="0" {% ifequal profile.role 'K' %} selected="selected" {% endifequal %}>Standard-Benutzer</option>
                    </select>
                </div>
            </li>
            {% endif %}

            {% if request.user.userprofile.get != profile and haus.eigentuemer != profile.user  %}
            <li>
                <a  href="/m_benutzerverwaltung/{{ haus.id }}/delete/{{ profile.id }}/"
                    onclick="return confirm('Sind Sie sich sicher?')"
                    data-role="button" data-icon="false" data-mini="true"
                    data-inline="true" class="ui-btn-right align-center" style="color:#cb0963;">Benutzer löschen</a>
            </li>
            {% endif %}

            <li data-role="list-divider" style="height: 60px">
                <div class="align-center" style="margin-top: 10px;">
                    {% trans "Default-Interface und Konfiguration" %}
                </div>
                <div class="align-center desc-text" style="color: #8C8B8A; ">
                     {% trans "Stelle hier das Default-Interface beim Aufrufen der Miniserver-Adresse ein und entscheide,ob der Benutzer Zugriff auf die Konfiguration bekommt.." %}
                            <span style="cursor: pointer;" onclick="window.open('https://support.controme.com/benutzerverwaltung/', '_blank').focus();"
                              class="underline">Weitere Infos…
                            </span>
                </div>
            </li>
            <li>
                <div style="padding: 15px;">
                        <label for="user-main-page" class="select">Default-Interface</label>
                        <select name="mainpage_selection" id="user-main-page" data-iconpos="right">
                            <option value="pro" {% ifequal user_main_page 'pro' %} selected="selected"
                            {% endifequal %}>{% trans "Raumregelung PRO" %}</option>
                            <option value="smart" {% ifequal user_main_page 'smart'  %} selected="selected"
                            {% endifequal %}>{% trans "Raumregelung SMART" %}</option>
                    </select>
                </div>
            </li>
            <li>
                <!-- Smart ui segment -->
                <div class="align-center" style="color: #438BA5;">
                    {% trans "Raumregelung SMART" %}
                </div>
                <div class="align-center desc-text" style="color: #438BA5; ">
                   {% trans "Raumregelung SMART ist einfaches und selbsterklärendes Interface. Es kann genau die Dinge, die du am häufigsten brauchst." %}
                    <span style="cursor: pointer;"
                          onclick="window.open('https://support.controme.com/benutzerverwaltung/', '_blank').focus();">Info...
                    </span>
                </div>
            </li>
            {% if request.user != profile.user and haus.eigentuemer != profile.user %}
            <li>
                <!-- first option -->
                <div class="only-admin-cls" style="padding: 15px; color: #438BA5;">
                    <label for="smart-access-selection" class="select">{% trans "Funktionsauswahl" %}</label>
                    <select name="smartui_access" id="smart-access-selection" data-iconpos="right">
                        <option value="full_access" {% ifequal perm_params.smartui_access 'full_access' %} selected="selected"
                        {% endifequal %}>Vollzugriff</option>
                        <option value="only_temporal" {% ifequal perm_params.smartui_access 'only_temporal' %} selected="selected"
                            {% endifequal %}>Nur temporäre Änderungen möglich</option>
                        <option value="only_permanent" {% ifequal perm_params.smartui_access 'only_permanent' %} selected="selected"
                                {% endifequal %}>Nur permanente Änderungen möglich</option>
                        <option value="no_access" {% ifequal perm_params.smartui_access 'no_access' %} selected="selected"
                                {% endifequal %}>Kein Zugriff</option>
                    </select>
                </div>
            </li>
            {% endif %}
            <li class="smartui-default-li">
                <!-- second option -->
                <div style="padding: 15px; color: #438BA5;">
                    <label for="smartui-default-tab" class="select">{% trans "Default-Tableiste" %}</label>
                    <select name="smartui_default_tab" id="smartui-default-tab" data-iconpos="right">
                        <option value="temporal" {% ifequal perm_params.smartui_default_tab 'temporal' %} selected="selected"
                        {% endifequal %}>temporäre Änderungen</option>
                        <option value="permanent" {% ifequal perm_params.smartui_default_tab 'permanent' %} selected="selected"
                            {% endifequal %}>dauerhafte Änderungen</option>
                    </select>
                </div>
            </li>
            <!-- Pro ui segment -->
            <li>
                <div class="align-center" style="color: #773F9B;">
                    {% trans "Raumregelung PRO" %}
                </div>
                <div class="align-center desc-text" style="color: #773F9B; ">
                    {% trans "Raumregelung PRO ist das ultimative Interface für alle fortgeschritteneren User."%}
                    <span style="cursor: pointer;"
                          onclick="window.open('https://support.controme.com/benutzerverwaltung/', '_blank').focus();">Info...
                    </span>
                </div>
            </li>
            {% if request.user != profile.user and haus.eigentuemer != profile.user %}
            <li>
                <!-- first option -->
                <div class="only-admin-cls" style="padding: 15px; color: #773F9B;">
                    <label for="proui-access-selection" class="select">{% trans "Funktionsauswahl für „Raumregelung PRO“" %}</label>
                    <select name="proui_access" id="proui-access-selection" data-iconpos="right">
                        <option value="full_access" {% ifequal perm_params.proui_access 'full_access' %} selected="selected"
                        {% endifequal %}>Vollzugriff</option>
                        <option value="only_temporal" {% ifequal perm_params.proui_access 'only_temporal' %} selected="selected"
                            {% endifequal %}>Nur temporäre Änderungen möglich</option>
                        <option value="only_permanent" {% ifequal perm_params.proui_access 'only_permanent' %} selected="selected"
                                {% endifequal %}>Nur permanente Änderungen möglich</option>
                        <option value="no_access" {% ifequal perm_params.proui_access 'no_access' %} selected="selected"
                                {% endifequal %}>Kein Zugriff</option>
                    </select>
                </div>
            </li>
            {% endif %}
            <li class="proui-default-li">
                <!-- second option -->
                <div style="padding: 15px; color: #773F9B;">
                    <label for="proui-default-func" class="select">{% trans "Default-Verhalten beim ändern von Temperaturen" %}</label>
                    <select name="proui_default_func" id="proui-default-func" data-iconpos="right">
                        <option value="permanent" {% ifequal perm_params.proui_default_func 'permanent' %} selected="selected"
                        {% endifequal %}>dauerhaft ändern</option>
                        <option value="temporal" {% ifequal perm_params.proui_default_func 'temporal' %} selected="selected"
                            {% endifequal %}>temporär ändern</option>
                    </select>
                </div>
            </li>
        </ul>
        {% if request.user != profile.user and haus.eigentuemer != profile.user %}

        <div class="ui-grid-a select-room only-admin-cls">
            <fieldset data-role="controlgroup" data-iconpos="right">
                <input type="checkbox" name="multizone_showtemp" id="proui-showtempbar"
                       value="1" {%if perm_params.proui_tempbar %} checked {%endif%}/>
                <label for="proui-showtempbar" data-corners="false" style="color: #773F9B;"
                       style="border: 1px;">
                    {% trans "Temperatur-Bar anzeigen im, Regelung PRO Interface" %}
                </label>
            </fieldset>
        </div>

        <ul data-role="listview" data-divider-theme="a" class="ui-alt-icon sort only-admin-cls">

           <!-- Zugriff auf Räume und Regelungen ... -->
            <li>
                <div class="align-center">
                    {% trans "Zugriff auf Räume und Regelungen" %}
                </div>
                <div class="align-center desc-text" style="">
                        <i>{% trans "Wähle hier die einzelnen Räume und Regelungen aus, auf die der Benutzer Zugriff hat" %}
                        </i>
                </div>
            </li>
        </ul>

        <ul class='only-admin-cls' style="margin-top: 0px" data-role="listview" data-divider-theme="a", >
            <li data-role="list-divider">
                {% trans "Zugriffsrechte für Benutzer" %} <i>{{ profile.user.email }}</i> {% trans "ändern" %}
            </li>

        </ul>

        <div class="ui-grid-a select-room only-admin-cls">
            <fieldset data-role="controlgroup" data-iconpos="right">
            <input type="checkbox" name="select-all" value="select-all" id="select-all" class="select-all"/>
            <label id="select-all-label" for="select-all" class="bold" data-corners="false" style="margin: 0; border-bottom-width: 1px;">{% trans "alle Räume auswählen" %}</label>
            {% for e in eundr %}
                {% for etage, raeume in e.items %}
                    {% for raum in raeume %}
                        <input type="checkbox" name="room-{{ raum.id }}" value="{{ etage.id }}" data-house="{{ etage.id }}"
                                {% if raum.id in access_list %} checked {% endif %} id="room-{{ raum.id }}" class="room"/>
                        <label for="room-{{ raum.id }}" class="line-border">
                            <img src="/static/icons/{{ raum.icon }}.png"/>
                            {{etage.name}} | {{ raum.name }}
                        </label>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
            <input type="checkbox" name="select-all-diff" value="select-all" id="select-all-diff" class="select-all-diff"/>
            <label id="select-all-label-diff" for="select-all-diff" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">{% trans "alle Differenzregelungen auswählen" %}</label>
            {% for dregid,reg_objid, dparams in diff_params %}
                <input type="checkbox" name="diff-{{ dregid }}" value="{{ dregid }}" data-house="{{ dregid }}"
                                {% if dregid in access_list_reg %} checked {% endif %} id="diff-{{ dregid }}" class="diff"/>
                        <label for="diff-{{ dregid }}" class="line-border">
                            {% if dparams.icon %}<img src="/static/heating-icons/icon_{{ dparams.icon }}.png"/> {% endif %}
                            {{ dparams.name }}
                        </label>
            {% endfor %}
            <input type="checkbox" name="select-all-vor" value="select-all" id="select-all-vor" class="select-all-vor"/>
            <label id="select-all-label-vor" for="select-all-vor" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">{% trans "alle Vorlauftemperaturregelungen auswählen" %}</label>
            {% for dregid, reg_objid, dparams in vor_params %}
                <input type="checkbox" name="vor-{{ dregid }}" value="{{ dregid }}" data-house="{{ dregid }}"
                                {% if dregid in access_list_reg %} checked {% endif %} id="vor-{{ dregid }}" class="vor"/>
                        <label for="vor-{{ dregid }}" class="line-border">
                            {% if dparams.icon %}<img src="/static/heating-icons/icon_{{ dparams.icon }}.png"/> {% endif %}
                            {{ dparams.name }}
                        </label>
            {% endfor %}
            <input type="checkbox" name="select-all-pl" value="select-all" id="select-all-pl" class="select-all-pl"/>
            <label id="select-all-label-pl" for="select-all-pl" data-corners="false" class="bold" style="margin: 0; border-bottom-width: 1px;">{% trans "alle Raumanforderungen auswählen" %}</label>
            {% for regid, name in pl_params %}
                <input type="checkbox" name="pl-{{ regid }}" value="{{ regid }}" data-house="{{ regid }}"
                                {% if regid in access_list_reg %} checked {% endif %} id="pl-{{ regid }}" class="pl"/>
                        <label for="pl-{{ regid }}" class="line-border">
                            {% if dparams.icon %}<img src="/static/heating-icons/icon_{{ dparams.icon }}.png"/> {% endif %}
                            {{ name }}s
                        </label>
            {% endfor %}
            </fieldset>
        </div>
        {% endif %}

        <ul data-role="listview">
            <li data-icon='false'>
                <a href="#" onclick="$('#accessform').get(0).submit();" style="text-align:center">
                    {% trans "Speichern" %}
                </a>
            </li>
        </ul>

    </form>
    <script>

        $('#smart-access-selection').change(function (){
            if ($('#smart-access-selection').val() != 'full_access'){
                $('.smartui-default-li').hide();
            }else{
                $('.smartui-default-li').show();
            }

        })


        $('#proui-access-selection').change(function (){
            if ($('#proui-access-selection').val() != 'full_access'){
                $('.proui-default-li').hide();
            }else{
                $('.proui-default-li').show();
            }
        })

        $(document).ready(function () {
            if ($('#smart-access-selection').val() && $('#smart-access-selection').val() != 'full_access'){
                $('.smartui-default-li').hide();
            }
            ///
            if ($('#proui-access-selection').val() && $('#proui-access-selection').val() != 'full_access'){
                $('.proui-default-li').hide();
            }

            // admin user, standard user
            let set_user_options = function(){
                if ($('#configaccess').val() == '1'){
                    $('.only-admin-cls').hide();
                    $('#smart-access-selection').val('full_access').change();
                    $('#proui-access-selection').val('full_access').change();
                }else{
                    $('.only-admin-cls').show();
                }

            }
            set_user_options()

            $('#configaccess').change(function(){
                set_user_options();
            });

        })
    </script>
{% endblock %}