﻿{% load custom_tags %}

<html class="ui-nosvg">
<head>
    <title>﻿{% load i18n %}{% block title %}Page Title{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">

    <style type="text/css">
        @font-face {
            font-family: 'Droid Sans';
            local: 'Droid Sans';
            src: url("/static/DroidSans.ttf") format('truetype');

        }
    </style>
    <link rel="stylesheet" href="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="/static/custom.1.4.5.css" />
    <link rel="stylesheet" href="/static/new_home.css?v=reload" />

    <link rel="apple-touch-icon" href="/static/images/contromeicon16x16.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/contromeicon57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/contromeicon72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/contromeicon114x114.png" />

    <script src="/static/jquery-1.11.3.min.js"></script>


    <script type="text/javascript">
        $(document).on("mobileinit", function () {
            $.extend($.mobile, {
                linkBindingEnabled: false,
                ajaxEnabled: false
            });
        });
        $(document).bind( "mobileinit", function(event) {
            $.extend($.mobile.zoom, {locked:true,enabled:false});
        });
    </script>
    <script src="/static/jquery.mobile-1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script type="text/javascript" src="/static/new_home.js?v=reload"></script>
</head>

<body class="{% block bodyclass %}{% endblock %}">

<div data-role="page" class="ui-responsive-panel" id="hm" data-theme='a'>

    <div data-role="header" class="first-header">
        <center><a href="/"><img  src="/static/icons/Logo-header-retina-Kopie-1.png"/></a></center>
        <a href="#nav-room-list" class="ui-alt-icon ui-nodisc-icon btn-no-bg"  data-iconshadow="false" data-icon="bars" id="open-room" data-iconpos="notext">Room List</a>
        <a href="#nav-panel" class="ui-alt-icon ui-nodisc-icon btn-no-bg"  data-iconshadow="false" data-icon="bars" id="open-menu" data-iconpos="notext">Menu</a>

    </div>

    <div data-role="header" class="second-header">
        {% block mheader %}{% endblock %}
    </div>
    <div class="ui-alt-icon"   data-role="panel" data-position="left"  data-display="overlay" id="nav-room-list">
        <ul data-role="listview" data-inset="true" data-divider-theme="a" ></ul>

    </div>
    <div data-role="content" id="cntnt" data-theme='a'>
        {% block mcontent %}{% endblock %}
    </div>


    <div class="ui-alt-icon" data-position="right" data-role="panel" data-display="overlay" id="nav-panel">
        <h4>
            <u>{{ request|is_standard_user_with_smartui:'Plugin-Ansichten' }}</u>
        </h4>
        <ul data-role="listview"  data-inset="true" data-divider-theme="a" class="module-list"></ul>
        <h4>
            <u>
               {{ request|is_standard_user_with_smartui:'System' }}
            </u>
        </h4>
        <ul data-role="listview"  data-inset="true" data-divider-theme="a" class="system-list"></ul>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            var win = $(this);
            var counter = 0;
            var heightfixer = setInterval(function(){ 
                if(counter===10) clearInterval(heightfixer);
                if (win.width() >= 960) { 
                    var contentHeight = $('#cntnt').height();
                    var navRoomListHeight = $('#nav-room-list div.ui-panel-inner').height();
                    if(navRoomListHeight>contentHeight){
                        var newContentHeight = navRoomListHeight + 80;
                        $('#cntnt').css({
                            height: newContentHeight+'px'
                        });
                        clearInterval(heightfixer);
                    }
                }
                counter++;
            }, 100);
        });
    </script>

</div>
</body>
</html>