<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,500" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="style.css">
</head>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid rgb(0, 0, 0);
        }
        
    tr:nth-of-type(odd) {
        background: #f4f4f4;
        }
        
    tr:nth-of-type(even) {
        background: #fff;
        }
        
    th {
        background: #157dd1;
        color: #ffffff;
        font-weight: 700;
        border: 2px rgb(0, 0, 0);
        }
        
    td,th {
        padding: 10px;
        border: 1px solid rgb(0, 0, 0);
        text-align: left;
        }
        
    td:nth-of-type(1) {
        font-weight: 500 !important;
        }
        
    td {
        font-family: 'Roboto', sans-serif !important;
        font-weight: 400;
        line-height: 20px;
        }
        
    span {
        font-style: italic
        }
        
        @media only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px) {
        
    table.responsive,
    .responsive thead,
    .responsive tbody,
    .responsive th,
    .responsive td,
    .responsive tr {
        display: block !important;
    }
        
    .responsive thead tr {
        position: absolute !important;
        top: -9999px;
        left: -9999px;
        }
        
    .responsive tr {
            border: 1px solid #ccc;
        }
        
    .responsive td {
            border: none;
            border-bottom: 1px solid #eee !important;
            position: relative !important;
            padding-left: 25% !important;
        }
        
    .responsive td:before {
            position: absolute !important;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap !important;
            font-weight: 500 !important;
        }
        
        
    .responsive td:before {
            content: attr(data-table-header) !important;
        }
        }

    .one{
        height: 10px;
        line-height: 5px;
        display:block;
        margin:0 auto;
        width: fit-content;
        text-align:center;
        padding-top: 30px;
    }

    .two{
        float: left;
        background-color: #157dd1;
        color: white;
        font-size: 16px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px;
    
    }
</style>
<body>
    <div class="one">
        <button class="two" onclick="location.href = '/support';" >Return Support page</button>  
    </div>
    
    <div class="row">
        <div class="container">
            <table class="table responsive" id="sort">
                <thead>
                    <tr>
                        <th scope="col" style='text-align: center;' >Zeitpunkt</th>
                        <th scope="col" style='text-align: center;' >Typ</th>
                        <th scope="col" style='text-align: center;' >Gerät</th>
                        <th scope="col" style='text-align: center;' >Message</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in btle_table  %}
                    <tr>
                        <td data-table-header="Zeitpunkt">{{ line.0 }}</td>
                        <td data-table-header="Typ">{{ line.1 }}</td>
                        <td data-table-header="Gerät">{{ line.2 }}</td>
                        <td data-table-header="Message">{{ line.3 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js'></script>
<script  src="function.js"></script>
<script>
$(document).ready(function() {
   $('#sort').DataTable( {
        "lengthMenu": [[10, 25, 50, 100, 200, 500, 1000, -1], [10, 25, 50, 100, 200, 500, 1000, "All"]]
    } );
});
</script>
<script>

</script>
</html>
