{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/hardware/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="https://support.controme.com/mini-server/#Regelgeraete_Gateways_anlegen" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $(document).on('pageshow', function(){
        $.ajax({
            url: "/m_setup/{{haus.id}}/hardware/gwc/",
            dataType: "json",
            success: function(data) {
                $(".ggw").remove(); // wg. page caching
                $.each(data, function(gwidx, _data) {
                    if(gwidx == 0) {
                        var $lst = $("#fbhgwcreated");
                    } else {
                        var $lst = $("#hrgwcreated");
                    }
                    if(_data.length) {
                        $.each(_data, function (index, value) {
                            $lst.after("<li data-icon='arrow-r' class='ggw' id='gw" + value[0] + "'><a href='/m_setup/{{haus.id}}/hardware/gwedit/" + value[0] + "/'><span id='gwdet" + value[0] + "'><h5><span style='color:" + value[4] + ";font-size:x-large'>&#8226;</span> " + value[1] + " - " + value[2] + "</h5></span></a></li>");
                            if (value[3]) {
                                $("#gwdet" + value[0]).append("<p>Letzte Anfrage: " + value[3] + "</p>");
                            } else {
                                $("#gwdet" + value[0]).append("<p>Letzte Anfrage: -</p>");
                            }
                        });
                    } else {
                        $lst.after("<li>-</li>");
                    }
                });
                $(".spinner").hide();
                $("#fbhgwlist").listview('refresh');
                $("#hrgwlist").listview('refresh');
            }
        });
    });
</script>

<ul data-role="listview" data-divider-theme="a" id="fbhgwlist">
    <li data-role="list-divider" id="fbhgwcreated">Gateways Fußbodenheizung (FBH)</li>
    <li class='spinner'><span><center><img src='/static/images/ajax-loader.gif'/></center></span></li>
</ul>

<ul data-role="listview" data-divider-theme="a" id="hrgwlist" style="margin-top: 14px">
    <li data-role="list-divider" id="hrgwcreated">Gateways Heizraum</li>
    <li class='spinner'><span><center><img src='/static/images/ajax-loader.gif'/></center></span></li>
</ul>

{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false">
        <ul>
            <li>
                <a href='/m_setup/{{haus.id}}/hardware/gwedit/' data-icon='gear'>Gateway anlegen</a>
            </li>
        </ul>
    </div>
{% endblock %}