{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/hardware/gw/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    {% if gw.id %}
        {% if user.userprofile.get.role != 'K' %}
            <a href="/m_setup/{{haus.id}}/hardware/gwedit/?gwdel={{ gw.id }}" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
        {%endif%}
    {% endif %}
{% endblock %}

{% block mcontent %}

    <form action="/m_setup/{{haus.id}}/hardware/gwedit/{% if gw.id %}{{gw.id}}/{% endif %}" method="post" data-ajax="false" id='gwform'>{% csrf_token %}
        <ul data-role="listview">
            <li>
                <label for="name">MAC Adresse</label>
                <input type="text" name="name" id="name" value="{{gw.name}}" data-clear-btn="true" data-mini="true"/>
                <small>
                    Die MAC Adresse identifiziert das physische Gateway. Stellen Sie eine korrekte Eingabe sicher, damit
                    die Daten eines übertragenden Gateways Ihrem Haus zugeordnet werden können.
                </small>
            </li>
            <li>
                <label for="description">Name</label>
                <input type="text" name="description" id="description" value="{{gw.description}}" data-clear-btn="true" data-mini="true"/>
                <small>
                    Mnemonischer Name, um ein Gateway im heizManager leichter identifizieren zu können, z.B. "Gateway
                    Keller" oder "HKV EG".
                </small>
            </li>

            <li id="liim">
                <label for="install_mode">Installationsmodus</label>
                <input type="checkbox" name="install_mode" id="install_mode" {% if install_mode %}checked{% endif %} data-mini="true"/>
                <small>
                    Der Installationsmodus setzt das Übertragungsintervall für das Gateway herab. Sensorlinien können
                    so einfacher und schneller in Betrieb genommen werden. Der Installationsmodus wird nach 30 Minuten
                    automatisch wieder deaktiviert.
                </small>
            </li>

            <li id="lii">
                <label for="invert">Ausgänge invertieren</label>
                <input type="checkbox" name="invert" id="invert" {% if invert %}checked{% endif %} data-mini="true"/>
            </li>

            {% if gw.version >= "5.00" and gw.version < "6.00" and gw.version != "nix" %}
                <li>
                    <label for="outs">Maximale Öffungswerte für Ausgänge</label>
                    {% for out, open in max_open %}
                        <div data-role="fieldcontain">
                            <label for="out{{ out }}" style="display: inline; vertical-align: .6em; margin-right: 2em">Ausgang {% if out < 10 %}&nbsp;&nbsp;{% endif %}{{ out }} </label>
                            <input type="range" name="out{{ out }}" min="0" max="100" step="1" value="{{ open }}" data-mini="true" data-highlight="true" required/>
                        </div>
                    {% endfor %}
                </li>
                <li>
                    <label for="regelbereich">Effektiver Regelbereich</label>
                    <div data-role="fieldcontain">
                        <label for="regelbereich_min" style="display: inline; vertical-align: .6em; margin-right: 2em">von</label>
                        <input type="range" name="regelbereich_min" min="0" max="100" step="1" data-mini="true" value="{{ rb_min }}" required/>
                    </div>
                    <div data-role="fieldcontain">
                        <label for="regelbereich_max" style="display: inline; vertical-align: .6em; margin-right: 2.35em">bis</label>
                        <input type="range" name="regelbereich_max" min="0" max="100" step="1" data-mini="true" value="{{ rb_max }}" required/>
                    </div>
                </li>
            {% endif %}

            {% if gwerror %}
                <li style="color:#cb0963" id="error">
                    {% autoescape off %}{{gwerror}}{% endautoescape %}
                </li>                
            {% endif %}
            <li data-icon='false'>
                <a href="#" onclick="$('#gwform').get(0).submit();" style="text-align:center">Speichern</a>
            </li>
        </ul>
    </form>
    <ul data-role="listview" style="margin-top: 3em;">
        <li class="hrgw">
            <a href="http://{{ ip }}">IP: {{ ip }}</a>
        </li>
        <!-- <li id="updateli_spinner" class="hrgw"> -->

        <!-- </li> -->
        <li class="hrgw" style="padding-bottom: 0;">
            <form id="uform" name="uform" method="post">{% csrf_token %}
            {% if uptodate %}Softwarestand: aktuell{% else %}<input type="submit" value="Aktualisieren" id="doupdate" name="doupdate" data-mini="true"/>{% endif %}
            </form>
        </li>
        <li class="hrgw" style="padding-bottom: 0;">
            <form id="rform" name="rform" method="post">{% csrf_token %}
                <input type="submit" value="Neustarten" id="reboot" name="reboot" data-mini="true"/>
            </form>
        </li>
        <li class="hrgw" style="padding-bottom: 0;">
            <form id="sform" name="sform" method="post">{% csrf_token %}
                <input type="submit" value="Herunterfahren" id="shutdown" name="shutdown" data-mini="true"/>
            </form>
        </li>
        <li class="hrgw" style="padding-bottom: 0;">
            <form id="resetform" name="resetform" method="post">{% csrf_token %}
                <input type="submit" value="Zur&uuml;cksetzen" id="reset" name="reset" data-mini="true"/>
            </form>
        </li>
        <li class="hrgw" style="padding-bottom: 0;">
            <form id="refform" name="refform" method="post">{% csrf_token %}
                <input type="submit" value="Referenzfahrt" id="reffahrt" name="reffahrt" data-mini="true"/>
            </form>
        </li>
    </ul>

    <script type="text/javascript">
        $(document).on("pageshow", function() {
            {% if gw.id %}
                namehandler();
            {% else %}
                $("#liim").hide();
                $("#lii").hide();
                $(".hrgw").hide();
            {% endif %}
        });
        
        $("#name").keyup(function() {
            namehandler();
        });

        function namehandler() {
            var name = $("#name").val();
            if(name.substr(0,3) == "90-") {
                $("#liim").show();
                $("#lii").show();
                $(".hrgw").hide();
            } else if(name.substr(0,3) == "b8-" || name.substr(0,3) == "dc-" || name.substr(0,3) == "e4-") {
                $("#liim").hide();
                $("#lii").hide();
                $(".hrgw").hide();
                
                {% if ip %}
                $(".hrgw").show();
                $("#updateli_spinner").show();
                var ld2 = new loader("updateli_spinner");
                $("#updateli_button").hide();
                $.ajax({
                    url: "http://{{ ip }}/settings/?verdate",
                    success: function (response) {
                        $("#updateli_spinner").hide();
                        $("#updateli_button").show();
                    },
                    error: function(xhr, options, error) {
                        $("#update").html("(neueste Version)");
                        $("#updateli_button").show();
                        $("#updateli_spinner").hide();
                    }
                })
                {% endif %}
            } else {
                $("#liim").hide();
                $("#lii").hide();
                $(".hrgw").hide();
            }
        };

        function doUpdate() {
            var ld1 = new loader("update");
            $.ajax({
                url: "http://{{ip}}/settings/?update"
            }).complete("error", function() {
                window.location.reload();
            });
        }
    </script>

{% endblock %}

