{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/hardware/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="https://support.controme.com/mini-server/#Ausgaenge_zuordnen_bei_Raumregelung" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}

<style>

    ::placeholder {
        color: rgb(209, 209, 209);
        }
        
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 45%;
        background-color: rgb(255, 255, 255);
        color: rgb(53, 53, 53);
        text-align: center;
        float: right;
        font-size: 15px;
        font-family:cursive;
        text-shadow: none;
        position: absolute;
        padding:2px;
        margin-left: 35%;
        margin-right: 7%;
        z-index:10;
        border-color: rgb(221, 221, 221);
        border-radius: 15px;
        border-style: solid;
        box-shadow: 5px 10px 18px #888888;
        }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            visibility: visible;
            opacity: 1;
        }
        }
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            visibility: hidden;
            opacity: 0;
        }
        }
</style>

<script>
    $('body').on('click', function(e) {
        var elements = document.getElementsByClassName("tooltiptext");
        for(var i = 0; i < elements.length; i++) {
            if($(e.target).closest('#'+elements[i].id.split('text_')[1]).length == 0
            && $(e.target).closest('#'+elements[i].id).length == 0) {
                if ($('#'+elements[i].id).css('visibility') == 'visible'){
                    $('#'+elements[i].id).css({
                        'animation':' 1s fadeOut',
                        'animation-fill-mode': 'forwards',
                        'visibility': 'hidden',
                        });
                    }
                }}
    });

    function autosave_input() {
        var device_id = $(event.target)[0].id;
        var device_value = document.getElementById(device_id).value;
        $.ajax({
                url: "/m_setup/{{haus.id}}/hardware/act/",
                type: "POST",
                data: {csrfmiddlewaretoken: "{{ csrf_token }}",id: device_id, value: device_value},
                async: true,
                success: function (result) {
                    //
                },})
    };

    function toggle_tip() {
        var device_id = $(event.target)[0].id;
        var e = $("input[name='"+device_id+"']").parent().css('display');
        if (e == 'inline-block' || e == 'block') {
            $("input[name='"+device_id+"']").parent().hide();
            document.getElementById(device_id).style.color = "gray";
        }
        else{
            $("input[name='"+device_id+"']").parent().show();
            document.getElementById(device_id).style.color = "black";
        };
    };

    function showTool() {
        var elid = $(event.target)[0].id;
        var elid_display = $('#text_'+elid).css('visibility');
        if (elid_display == 'hidden') {
            $('#text_'+elid).css({
                'font-family': 'Arial, Helvetica, sans-serif',
                'visibility': 'visible',
                'animation':' 1s fadeIn',
                'animation-fill-mode': 'forwards',
            });
        }
        else{
            $('#text_'+elid).css({
            'animation':' 1s fadeOut',
            'animation-fill-mode': 'forwards',
            'visibility': 'hidden',
            });
        }
    };

</script>

<script type="text/javascript">
    function jq(myid) {
        return myid.replace(/[:]/g, "\\$&").replace(/[/]/g, "\\$&");
    }

    $(document).on('pageshow', function(){
        var gw2s;

        $.ajax({
            url: "/m_setup/{{haus.id}}/hardware/acs/",
            dataType: "json",
            async: false,
            success: function(data) {
                gw2s = data;
            }
        });
        $.ajax({
            url: "/m_setup/{{haus.id}}/hardware/ac/",
            dataType: "json",
            success: function(data) {
                $(".aa").remove(); // wg. page caching
                $.each(data, function(k,v) {
                    var kid = k.split('##')[0];
                    var kname = k.split('##')[1];
                    console.log(kname);
                    var ktype = k.split('##')[2];
                    var kdevice = k.split('##')[3];
                    var kmac = k.split('##')[4];
                    var extra_info = "##" + kdevice + "##" + kmac;
                    var kmatch = k.replace(extra_info, "");
                    
                    $("#cset").append("<div data-role='collapsible' class='aa'><h5>" + kmac + kname + kdevice + "</h5>" +
                        "<div class='tooltip'><a href='#' onclick='toggle_tip()' id='" + kmac + kname + kdevice + "' "+
                            "style='padding: 0;border: none;background: none;float: right; margin-bottom:15px; text-decoration: none; color: inherit; color:gray; font-size: small;'"+
                            ">Textfelder einblenden <img id='tool_tip_" + kid + ktype + "' onclick='showTool()' style='margin-bottom:-3px;' width='15' height='15' src='/static/images/hw_text.png' /> </a><span class='tooltiptext'"+
                            " id='text_tool_tip_"+ kid + ktype + "' >Bei Systemen mit verschiedenen Verbrauchern (z.B. mehrere Heizungspumpen, Heizungsmischer, etc) sollten Sie in den Textfeldern Informationen"+
                            " zu den physikalisch angeschlossenen Verbrauchern hinterlegen.</span></div><br>"+
                            "<ul data-role='listview' id='zlist" + ktype + kid + "'></ul></div>"); // data-collapsed='false'?

                    $.each(v, function(u, w) {
                        var zlistlabel = "<li data-role='fieldcontain' class='aa' style='text-align:right;'>";
                        var listidx = w[0];
                        var selectid = kid + '_' + ktype + '_' + w[0];
                        text_var = w.slice(-1);
                        zlistlabel += "<label for='" + selectid + "' style='padding-right: 0px'>";
                        zlistlabel += listidx + ": " + w[1] + "</label>";
                        zlistlabel += "<select id='" + selectid + "' name='" + selectid + "' data-mini='true'></select><br>";
                        zlistlabel += "<br><input class='badchild' type='text' style='font-size:13px;' onkeyup='this.onchange();' onchange='autosave_input();' name='"
                                      + kmac + kname + kdevice + "' id='"+ w[1] + ' || ' + kname + "'  value='"+ text_var +"' placeholder='Zusatzinfos/Beschreibung/Identifikation des angeschlossenen Verbrauchers.' ></li>";
                        $("#zlist" + ktype + kid).append(zlistlabel);
                        var $select = $("#" + jq(selectid));
                        $select.append("<option " +((w.length > 2) ? "" : "selected='selected' ") +"value=''>Ausgang keiner Funktion zugewiesen</option>");
                        var selected = null;
                        if(w.length > 3) {
                            selected = w[2];
                            $select.append("<option value='" + w[2] + "' selected='selected'>" + w[3] + "</option>");
                            if (w[2] == "inactive") {
                                $("#" + jq(selectid)).prop('disabled', 'disabled');
                            }
                        }
                        if(gw2s[kmatch]) {
                            $.each(gw2s[kmatch], function (i, s) {
                                if (selected != s[0]) {
{#                                  das ist natuerlich nicht optimal. waere besser, wenn das in django passieren wuerde.  #}
                                    if(zlistlabel.indexOf("Analog") > -1) {
                                        if (s[0].indexOf("ana") > -1 || s[0].startsWith("fps") || s[0].startsWith("nullreg")) {
                                            $("#" + jq(selectid)).append("<option value='" + s[0] + "'>" + s[1] + "</option>");
                                        }
                                    } else if(zlistlabel.indexOf("+") > -1) {
                                        $("#" + jq(selectid)).append("<option value='" + s[0] + "'>" + s[1] + "</option>");
                                    } else {
                                        if(s[0].indexOf("ana") < 0) {
                                            $("#" + jq(selectid)).append("<option value='" + s[0] + "'>" + s[1] + "</option>");
                                        }
                                    }
                                }
                            });
                        }

                        $select.selectmenu();
                        $select.selectmenu("refresh", true);

                        $select.on("focusin", function() {
                            $("#error").hide();
                            $("#error").html("");
                        }).on("change", function() {
                            var cnt = $(this).val();
                            var parentname = $(this).attr("name");
                            if(cnt.indexOf('mischer') == 0 && cnt.indexOf('ana') == -1) {
                                $("select[value='" + cnt + "'] :selected").each(function() {
                                    if($(this).parent().attr("name") != parentname) {
                                        $("#" + $(this).parent().attr("name") + " option[value='']").attr("selected", "selected");
                                        $(this).parent().selectmenu("refresh", true);
                                        // fehler setzen!
                                        $("#error").text("Digitale auf/ab Mischerausgänge können nur jeweils einmal zugeordnet werden!");
                                        $("#error").show();
                                    }
                                });
                            }
                        });
                    });

                    $("#zlist" + ktype + kid).trigger('create');
                    $('.badChild').parent().hide();

                });
                selectGray()
                $('#spinner').hide();
                $("#cset").collapsibleset('refresh');
                $("ul[id^='zlist']").listview('refresh');
            }
        });

        $('body').on('change', 'select', function () {
            var element = $(this).find('option:selected')
            var text = element.html()
            var parent = element.parents('.ui-btn')
            changeSelectColorByCondition(parent, text)
        })

        function selectGray () {
            $('select').each(function (index) {
                var text = $(this).find('option:selected').html()
                var parent = $(this).parents('.ui-btn')
                changeSelectColorByCondition(parent, text)
            })
        }

        function changeSelectColorByCondition (element, text) {
            if(text == 'Ausgang keiner Funktion zugewiesen') {
                element.css('color', '#ced2d4')
                element.css('border-color', 'rgb(239, 239, 239)')
            } else {
                element.css('color', 'black')
                element.css('border-color', '#cccccc')
            }
        }


    });



</script>
<style type="text/css">
    label.ui-btn, a.ui-collapsible-heading-toggle {
        font-weight: normal;
    }
</style>
<form action="/m_setup/{{haus.id}}/hardware/a/" method="post" data-ajax="false" id='zform'>{% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li>
            <div data-role="collapsible-set" data-inset="false" id='cset'>
            </div>
            <span id='spinner'><center><img src='/static/images/ajax-loader.gif'/></center></span>

        </li>
        <li style="color:#cb0963; white-space:normal; display:none" id="error">

        </li>
        <li data-icon='false'>
            <a href="#" onclick="$('#zform').get(0).submit();" style="text-align:center">Zuordnung speichern</a>
        </li>
    </ul>
</form>
{% endblock %}
