{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/hardware/s/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    {% if s.id %}
        {% if user.userprofile.get.role != 'K' %}
            <a href="/m_setup/{{haus.id}}/hardware/sedit/?sdel={{ s.name|urlencode }}" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block mcontent %}
    <script type="text/javascript">
        $("#sform").submit(function(e) {
            e.preventDefault();
            checkForm();
            return false;
        });
        function checkForm() {
            if($("#sensortyp").val() == "0") {
                $("#selsenerr").html("Bitte Sensortyp auswählen!<p/>");
                return false;
            } else {
                $("#sensortyp").selectmenu("refresh", true);
                $("#sform").get(0).submit();
            }
        }
    </script>
    {% if 'pt1000' in s.name %}
    <form action="/m_setup/{{haus.id}}/hardware/sedit/PT1000_an_{{ s.gateway.name }}/" method="post" data-ajax="false" id='sform'>{% csrf_token %}
        <ul data-role="listview">
            {% if serror %}
                <li style="color:#cb0963; white-space:normal;" id="error">
                    {% autoescape off %}{{serror}}{% endautoescape %}
                </li>
            {% endif %}
            <li>
                <label for="ssn_">Sensor ID</label>
                <input type="text" name="ssn_" id="ssn_" value="PT1000 an {{ s.gateway.name }}" disabled/>
                <input type="hidden" name="ssn" value="{{ s.name }}"/>
            </li>
            <li id="offsetli">
                <label for="sensor_offset" style="font-weight: normal">Korrekturoffset</label>
                <input type="number" name="sensor_offset" id="sensor_offset" {% if s.offset %}value="{{s.offset}}"{% else %}value="0.0"{% endif %} data-mini="true"/>
                <small>
                Manche Sensoren zeigen aufgrund äußerer Einflüsse (z.B. Zugluft oder Montage an kühler Außenwand)
                konstant zu hohe oder niedrige Werte. Ein Korrekturoffset wird automatisch auf jeden
                übertragenen Sensorwert aufgeschlagen.
                </small>
            </li>
            <li>
                <label for="description">Name (optional)</label>
                <input type="text" name="description" id="description" value="{{s.description}}" placeholder="Name (optional)" data-clear-btn="true" data-mini="true"/>
                <small>
                    Mnemonischer Name, um den Sensor später im System einfach identifizieren zu können.
                </small>
            </li>
            <li data-icon='false'>
                <a href="#" onclick="checkForm($('#sform').get(0));" style="text-align:center">Speichern</a>
            </li>
        </ul>
    </form>
    {% elif '#ui' in s.name %}
    <form action="/m_setup/{{haus.id}}/hardware/sedit/{% if s.id %}Digitaleingang_{{ uinum }}_an_{{ s.gateway.name }}/{% endif %}" method="post" data-ajax="false" id='sform'>{% csrf_token %}
        <ul data-role="listview">
            {% if serror %}
                <li style="color:#cb0963; white-space:normal;" id="error">
                    {% autoescape off %}{{serror}}{% endautoescape %}
                </li>
            {% endif %}
            <li>
                <label for="ssn_">Sensor ID</label>
                <input type="text" name="ssn_" id="ssn_" value="Digitaleingang {{ uinum }} an {{ s.gateway.name }}" disabled/>
                <input type="hidden" name="ssn" value="{{ s.name }}"/>
            </li>
            <li id="offsetli">
                <small>
                    Digitale Eingänge können im Plugin FPS (frei programmierbare Steuerung) konfiguriert werden.
                </small>
            </li>
            <li>
                <label for="description">Name (optional)</label>
                <input type="text" name="description" id="description" value="{{s.description}}" placeholder="Name (optional)" data-clear-btn="true" data-mini="true"/>
                <small>
                    Mnemonischer Name, um den Sensor später im System einfach identifizieren zu können.
                </small>
            </li>
        <li data-icon='false'>
                <a href="#" onclick="checkForm($('#sform').get(0));" style="text-align:center">Speichern</a>
        </li>
        </ul>
    </form>
    {% else %}
    <form action="/m_setup/{{haus.id}}/hardware/sedit/{% if s.id %}{{s.name}}/{% endif %}" method="post" data-ajax="false" id='sform'>{% csrf_token %}
        <ul data-role="listview">
            {% if serror %}
                <li style="color:#cb0963; white-space:normal;" id="error">
                    {% autoescape off %}{{serror}}{% endautoescape %}
                </li>
            {% endif %}
            <li>
                <label for="ssn">Sensor ID</label>
                <input type="text" name="ssn" id="ssn" value="{{ s.name }}" required/>

                <small>
                    Die ID identifiziert den physischen Sensor. Stellen Sie eine korrekte Eingabe sicher, damit
                    die Daten eines übertragenden Sensors Ihrem Haus zugeordnet werden können.
                </small>

            </li>
            <li>
                <label for="raumid">Raum</label>
                <select id="raumid" name="raumid" data-mini="true">
                    <option value="0">---</option>
                    {% for e in eundr %}
                        {% for etage, raeume in e.items %}
                            {% for raum in raeume %}
                                {% ifequal raum.id s.raum_id %}
                                    <option selected="selected" value="{{raum.id}}">{{etage.name}}/{{raum.name}}</option>
                                {% else %}
                                    <option value="{{raum.id}}">{{etage.name}}/{{raum.name}}</option>
                                {% endifequal %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </select>
                <small>

                    
                </small>
            </li>
            <li>
                <label for="gateway">Gateway</label>
                <select id="gateway" name="gateway" data-mini="true">
                    <option value="0">---</option>
                    {% for gateway in gateways %}
                        {% ifequal s.gateway gateway %}
                            <option selected="selected" value="{{gateway.id}}">{{gateway.name}} {{ gateway.description }}</option>
                        {% else %}
                            <option value="{{gateway.id}}">{{gateway.name}} {{ gateway.description }}</option>
                        {% endifequal %}
                    {% endfor %}
                </select>
                <small>
                    Das Gateway, an dem der Sensor physisch angeschlossen ist. Diese Angabe ist nötig, um später mögliche
                    Ausgangszuordnungen vorzuselektieren.
                </small>
            </li>
            <li>
                <label for="description">Name (optional)</label>
                <input type="text" name="description" id="description" value="{{s.description}}" placeholder="Name (optional)" data-clear-btn="true" data-mini="true"/>
                <small>
                    Mnemonischer Name, um den Sensor später im System einfach identifizieren zu können.
                </small>
            </li>
            <li>
                <label for="sensortyp">Sensortyp</label>
                <select name="sensortyp" id="sensortyp" data-mini="true">
                    {% if s.id and s.gateway_id %}
                    <option value="0">-</option>
                    <option value="rt" {% if s.mainsensor %}selected="selected"{% endif %}>Raumtemperatursensor</option>
                    <option value="rl" {% if rlsensor %}selected="selected"{% endif %}>Rücklaufsensor</option>
                    <option value="at" {% if atsensor %}selected="selected"{% endif %}>Außentemperatursensor</option>
                    {% if s.gateway.is_heizraumgw %}
                    <option value="hr" {% if not atsensor and not rlsensor and not s.mainsensor %}selected="selected"{% endif %}>Heizraumsensor</option>
                    {% else %}
                    <option value="no" {% if not atsensor and not rlsensor and not s.mainsensor %}selected="selected"{% endif %}>keine Funktion</option>
                    {% endif %}
                    {% endif %}
                </select>
                <span style="color:#cb0963" id="selsenerr"></span>
                <small id="typedesc">
                    Ein Raumtemperatursensor ist der Sensor, der in der Raumliste für den jeweiligen Raum und im Raum
                    selbst angezeigt wird. Er ist außerdem der für die Heizungssteuerung maßgebliche Sensor. Jedem
                    Raum kann nur ein Raumtemperatursensor zugeordnet sein.
                    <br/>
                    Ein Rücklaufsensor ist ein Sensor, der an einem Rücklauf im Heizkreisverteiler installiert ist. Sobald
                    einem Raum ein Rücklaufsensor zugeordnet ist, wird der Raum per Rücklaufregelung geregelt.
                    <br/>
                    Ein Außentemperatursensor wird hausweit an den entsprechenden Stellen zur Messung der aktuellen
                    Außentemperatur verwendet. Es kann hausweit nur einen Außentemperatursensor geben.
                    <br/>
                    Die Auswahl eines Sensortyps ist <i>nicht</i> zwingend erforderlich. Wenn kein Typ ausgewählt wurde,
                    wird der Sensor nur angezeigt, vom System aber nicht aktiv in einer Steuerungsfunktion verwendet.
                </small>
            </li>
            <li id="offsetli">
                <label for="sensor_offset" style="font-weight: normal">Korrekturoffset</label>
                <input type="number" name="sensor_offset" id="sensor_offset" {% if s.offset %}value="{{s.offset}}"{% else %}value="0.0"{% endif %} data-mini="true"/>
                <small>
                    Manche Sensoren zeigen aufgrund äußerer Einflüsse (z.B. Zugluft oder Montage an kühler Außenwand)
                    konstant zu hohe oder niedrige Werte. Ein Korrekturoffset wird automatisch auf jeden
                    übertragenen Sensorwert aufgeschlagen.
                </small>
            </li>
            <li data-icon='false'>
                <a href="#" onclick="checkForm($('#sform').get(0));" style="text-align:center">Speichern</a>
            </li>
        </ul>
    </form>

    <script type="text/javascript">
        var hrgws = [{% for gw in gateways %}{% if gw.is_heizraumgw %}{{ gw.id }},{% endif %}{% endfor %}];
        $(document).on("pageshow", function() {
            {% if s.id and s.get_type == "Luftfeuchtigkeitssensor" %}
            ssnhandler();
            {% endif %}
        });

        $("#ssn").change(function() {
            ssnhandler();
        });

        $("#gateway").change(function() {
            ssnhandler();
        });

        function ssnhandler() {
            var ssn = $("#ssn").val();
            var $typselect = $("#sensortyp");
            if(ssn.substr(0,3) == "26_") {
                $typselect.find("option").remove();
                $typselect.append(new Option("Luftfeuchtigkeit", "lf"));
                $typselect.selectmenu("refresh", true);
                $("#typdesc").hide();
            } else if(ssn.substr(0,3) == "28_" || ssn.substr(0,3) == "10_" || ssn.substr(0,3) == "00_" || ssn.substr(0,3) == "01_") {
                $("#offsetli").show();
                $("#sensor_offset").prop("disabled", false);
                $("#sensortyp").children().remove();
                
                if(hrgws.indexOf(parseInt($('#gateway').val())) > -1) {
                    $("#sensortyp").append(new Option("Heizraumsensor", "hr"));
                } //else {
                $("#sensortyp").append(new Option("Außentemperatursensor", "at"));
                $("#sensortyp").find("option[value='at']").before(new Option("Raumtemperatursensor", "rt"));
                $("#sensortyp").find("option[value='at']").before(new Option("Rücklaufsensor", "rl"));
                $("#sensortyp").find("option[value='at']").after(new Option("keine Funktion", "no"));
                $("#sensortyp").val(0);
                //}
                $("#sensortyp").selectmenu("refresh", true);
                $("#typdesc").show();
            }
        };
    </script>
    {% endif %}
{% endblock %}

