{% extends "m_base_new.html"%}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page home no-input-slider{% endblock %}

{% block mheader %}

{% endblock %}

{% block mcontent %}

{% if haus %}
    <input type="hidden" id="haus_id" value="{{ haus.id }}">
    <input type="hidden" id="func_access" value="{{ func_access }}">
{% csrf_token %}
    <div class="content">
        <div class="ui-nodisc-icon ui-alt-icon ui-collapsible ui-collapsible-inset ui-corner-all home_rome_list">
            <h3 class="ui-collapsible-heading">
                {% if en_ruecklaufregelung %}
                    <div class="warningDiv"><b>Achtung:</b> Bitte deaktivieren Sie das Plugin “Rücklaufregelung”. Es wurde durch das Plugin “Heizflächenoptimierung” ersetzt. Sie können die Umstellung <a href="/m_setup/{{haus.id}}/module/" target="_blank" onclick="window.open(this.href);">hier</a> vornehmen.</div>
                {%endif%}
                <a class="ui-collapsible-heading-toggle ui-btn ui-fullsize ui-btn-up-a" style="height:28px;cursor: initial;">
                    <span class="ui-btn-icon-notext ui-icon ui-icon-shadow open-sub-collapsible ui-icon-arrow-d">&nbsp;</span>

                    {% if tempmode %}
                    <span class="ui-btn-tex mode-selection mode-select">
                        <center>
                            <select data-id="{{raum.id}}" id="mode-select"  data-shadow="false">
                              <option value="0"} selected>----</option>
                              {% for id,name in tempmodes%}
                               <option value="{{id}}">{{name}}</option>
                              {% endfor %}
                            </select>
                        </center>
                    </span>
                    {% endif %}

                    <span class="temp-type
                    {% ifequal func_access  'only_temporal' %}temporaryCls hide{% endifequal %}
                    {% ifequal func_access  'only_permanent' %}hide{% endifequal %}
                    {% if func_access == 'full_access' and proui_default_func == "temporal" %}temporaryCls{% endif %}"
                    >temporär</span>

                    <span class="delete-all-hand hide"><img width="25" height="25" src="/static/icons/icon-hand-delete.png" style="position: absolute;float: right;right: 37px;top: 7px;"></span>
                    <span  onclick="window.open('https://support.controme.com/bedienung/#Interface_Raumregelung_PRO');" style="float: right;margin-top: 5px;position: absolute;right: 15px;top: 5px;"><img src="/static/icons/bulb-icon-grey.png" width="20" height="20" ></span>

                </a>
            </h3>
            {% for e in eundr %}
                {% for etage, raeume in e.items %}
                <div class="floor-header">{{etage.name}}</div>
                <div class="ui-collapsible-content">
                {% for raum in raeume %}
                    <ul data-role="none" data-id="{{ raum.id }}" class="room_list">
                        <li class=" ui-li ui-li-static roomli">

                        </li>
                        <li class="customli ui-li ui-li-static sub-collapsible">
                            <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-minus minus-tempOne">&nbsp;</span>
                            <span class="ui-btn-icon-notext ui-icon-shadow ui-icon-plus plus-tempOne">&nbsp;</span>
                        </li>
                    </ul>
                {% endfor %}
                </div>
               {% endfor %}
            {% endfor %}
        </div>
    </div>

{% else %}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_wXF9KHdrJsBIVAf4P5FFrNGRCAMUiZs&sensor=false"></script>
    <script type="text/javascript">

        $("#addressform").submit(function(e) {
            var self = this;
            e.preventDefault();
            codeAddress();
            return false;
        });
        function codeAddress() {
            try {
                var geocoder = new google.maps.Geocoder();
                var address = $("#str").val() + ' ' + $("#nr").val() + ' ' + $("#plz").val() + ' ' + $("#ort").val();
                geocoder.geocode({'address': address}, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        $("#lat").val(results[0].geometry.location.lat());
                        $("#lng").val(results[0].geometry.location.lng());
                        $("#addressform").get(0).submit();
                    } else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
                        $("#lierror").html('Unbekannte Adresse.');
                        $("#lierror").show();
                    } else {
                        $("#lierror").html('Fehler. Bitte probieren Sie es sp&auml;ter wieder. Administratoren wurden verst&auml;ndigt.');
                        $("#lierror").show();
                    }
                });
            } catch(ReferenceError) {
                $("#addressform").get(0).submit();
            }
        }
    </script>
    <form action='/index/' method="post" data-ajax='false' id='addressform'>{% csrf_token %}

        <input type="hidden" name="lat" id="lat"/>
        <input type="hidden" name="lng" id="lng"/>
        <ul data-role="listview" data-divider-theme='a'>
            <li data-role="list-divider">Registrierung abschliessen</li>
            <li>
                <label for='vorname'>Vorname</label>
                <input type='text' id='vorname' name='vorname' value="{{vn}}"/>
            </li>
            <li>
                <label for='nachname'>Nachname</label>
                <input type='text' id='nachname' name='nachname' value="{{nn}}"/>
            <li data-role="list-divider">Haus anlegen</li>
            <li>
                <label for='str'>Strasse</label>
                <input type='text' id='str' name='str' value="{{s}}"/>
            </li>
            <li>
                <label for='nr'>Hausnummer</label>
                <input type='number' id='nr' name='nr' value="{{n}}"/>
            </li>
            <li>
                <label for='plz'>Postleitzahl</label>
                <input type='number' id='plz' name='plz' value="{{p}}"/>
            </li>
            <li>
                <label for='ort'>Ort</label>
                <input type='text' id='ort' name='ort' value="{{o}}"/>
            </li>
            <li style="color:#cb0963; display:none;" id='lierror'></li>
            <li>
                <a href="#" data-role="button" onclick="codeAddress();">Speichern</a>
            </li>
        </ul>
    </form>
{% endif %}

<!--<div class="footer">-->

    <!--<span class="heizprogramm-en-dis {% if en_hiezprogramm == 0%} disable {% else %} enable {% endif %}"></span>-->
    <!--<span><input type="submit" data-hausid="{{haus.id}}" class="en-dis {% if en_hiezprogramm == 0%} disable {% else %} enable {% endif %}" value='Heizprogramm {% if en_hiezprogramm == 0%} AUS {% else %} EIN {% endif %}' data-enable="" style="padding:0px;" data-corners="false" id="en-heizprogramm"  name="submit"></span>-->
<!--</div>-->

    <div data-role="popup" id="popupTemp" class="popupSollTemp ui-corner-all smart-popup" data-theme="a">
        <div id="popupTempContent">
            <p class="align-center header-text">Neue Standardtemperatur</p>
            <div class="popupTempIcon align-center"><img src=""> </div>
            <div class="popupTempName align-center"></div>
                <input type="hidden" id="soll_popup_roomid">
            <div class="ui-grid-b">
                <div class="ui-block-a"></div>
                <div class="ui-block-b temp-input-block">
                    <input type="text" name="popupSollInput" id="popupSollInput" value="">
                </div>
                <div class="ui-block-c"></div>
            </div>
            {% if tempmode %}
                <p class="info-text">Gültig für Temperaturszene: <span></span></p>
            {% endif %}
            <a href="#" id="popupSollSave" class="ui-btn blue-str">Speichern</a>
        </div>
    </div>

    <div data-role="popup" id="popupZielTemp" data-theme="a" class="ui-corner-all smart-popup">
        <div id="popupTempContent">
            <p class="align-center header-text">Neue temporäre Zieltemperatur</p>
            <div class="popupTempIcon align-center"><img src=""> </div>
            <div class="popupTempName align-center"></div>
                <input type="hidden" id="ziel_popup_roomid">
            <div class="ui-grid-b">
                <div class="ui-block-a"></div>
                <div class="ui-block-b temp-input-block">
                    <input type="text" name="popupTempInput" id="popupZielInput" value=""> </div>
                </div>
                <div class="ui-block-c"></div>
            <a href="#" id="popupZielSave" class="ui-btn blue-str">Speichern</a>
            <p class="info-text">Der Raum wird für den voreingestellten Zeitraum auf die neue Zieltemperatur fixiert. Offsets werden solange ignoriert.</p>
        </div>
    </div>

    <div data-role="popup" id="popupTime" data-theme="a" class="ui-corner-all smart-popup">
            <p class="header-text align-center" style="margin-top: 10px;margin-bottom: 0; padding: 0;">Zeit ändern</p>
            <div class="popupTimeContent">
                <div class="align-center">
                        <div class="popup_room_icon"><img alt="icon" width="25" height="25"/></div>
                        <div class="popup_raum_name"></div>
                    <input type="hidden" id="popup_room_id" value="0">
                </div>
                <div class="align-center underline">
                    Manueller Zielwert bis <span class="showtime">{{time}}</span>
                </div>
                <div class="align-center">
                    <input type="number" data-type="range" name="time" id="time" value="0" min="0" max="720" step="10" data-mini="true" data-highlight="true" data-popup-enabled="false" class="ui-input-text ui-body-a ui-corner-all ui-shadow-inset ui-mini ui-slider-input">
                </div>
                <div class="align-center time_row">
                    <div class="slider_left">0h</div>
                    <div class="slider_center">6h</div>
                    <div class="slider_right">12h</div>
                </div>
                <div class="info-text" style="margin-top: 10px;">
                    Ändere, wie lange der temporäre Zielwert gültig<br /> sein soll. Nach Ablauf wird wieder auf die<br/> Standardtemperatur gewechselt.
                </div>
                <div class="align-center">
                    <a href="#" id="popupTimeSave" class="ui-btn red-str">löschen</a>
                </div>
                <div class="info-text">
                    Lösche die temporäre Zieltemperatur<br/> und setze diesen Raum auf seine Standardtemperatur.
                </div>
            </div>
    </div>
    <!-- delete all hand modes popupe clicked on cross hand -->
    <div data-role="popup" id="delete-all-handmode-popup" data-theme="a" class="ui-corner-all smart-popup">
        <p class="align-center header-text">Alle temporären Temperaturen löschen</p>
        <a href="#" id="delete-btn" class="ui-btn btn-red">löschen</a>
        <p class="align-center info-text">Lösche alle temporären Zieltemperaturen und<br/> setze jeden Raum auf seine Standardtemperatur.</p>
    </div>
    <!-- isttemperature -->
    <div data-role="popup" id="popupTempIst" data-theme="a" class="ui-corner-all smart-popup">
        <div id="popupTempContent">
            <p class="align-center header-text" style="margin-top: 10px;margin-bottom: 0; padding: 0;">Isttemperatur</p>
            <div class="popupTempIcon align-center"><img src=""> </div>
            <div class="popupTempName align-center"></div>
            <div class="align-center isttemp-val bold" style="font-size: 18px; margin-top: 10px;"></div>
            <p class="info-text">Die aktuelle Temperatur in <span class="popupRoomName"></span><br/> beträgt <span class="isttemp-val"></span> Grad.</p>
        </div>
    </div>

    <!-- Temperaturszene umschalten -->
    <div data-role="popup" id="popup-change-mode" data-theme="a" class="ui-corner-all smart-popup">
        <div id="popupTempContent">
            <p class="align-center header-text" style="margin-top: 10px;margin-bottom: 0; padding: 0;">Temperaturszene umschalten</p>
            <div class="popupTempIcon align-center"><img src=""> </div>
            <div class="popupTempName align-center"></div>
            <input type="hidden" id="changemode_popup_roomid">
            {% if tempmode %}
                <div class="mode-selection">
                    <select data-id="{{raum.id}}" data-hid="{{haus.id}}" id="mode-select" data-shadow="false">
                      <option value="0" selected>----</option>
                      {% for id, name in tempmodes%}
                       <option value="{{id}}">{{ name }}</option>
                      {% endfor %}
                    </select>
                </div>
            {% endif %}
            <p class="info-text">Schalte hier den ausgewählten Raum auf eine<br/> andere Temperaturszene</p>
        </div>
    </div>
{% endblock %}

