{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/hardware/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    <a href="#" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right"  onclick="doEdit();" id='sortbutton'>Sortieren</a>
    <a href="https://support.controme.com/mini-server/#Etagen_und_Raeume_anlegen" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" style="right: 90px;"></a>
{% endblock %}

{% block mcontent %}
<style type="text/css">
.ui-li-aside {
float: right;  text-align: right; margin:  0;  width: 85px;
max-height: 42px; vertical-align: middle;
}
.ui-controlgroup.ui-mini {
    margin:0;
}
</style>
<script type="text/javascript">   
    $(document).on('pageshow', function(){
        $.ajax({
            url: "/m_setup/{{haus.id}}/hardware/erc/",
            dataType: "json",
            success: function(data) {
                $(".erer").remove(); // wg. page caching
                
                $.each(data, function() {
                    $.each(this, function(k,v) {
                        $("#erlist").append("<li data-theme='a' class='erer divider' id='e" + k.split('##')[0] + "' data-icon='arrow-r'>" +
                                                "<a style='font-weight:700;' href='/m_setup/{{haus.id}}/hardware/eedit/" + k.split('##')[0] + "/'>" + k.split('##')[1] + "</a>" +
                                                "<div class='del ui-li-aside' data-role='controlgroup' data-type='horizontal' style='display:none; height:42px;' data-mini='true'>" +
                                                    "<a data-role='button' data-icon='arrow-d' data-iconpos='notext' href='#' onclick='moveEtage("+k.split('##')[0]+",\"down\");'/>" +
                                                    "<a data-role='button' data-icon='arrow-u' data-iconpos='notext' href='#' onclick='moveEtage("+k.split('##')[0]+",\"up\");'/>" +
                                                "</div></li>").trigger('create');
                        $("#erlist").listview('refresh');
                        $.each(v, function() {
                            $("#erlist").append("<li class='erer' id='r" + this[0] + "' style='padding-left:1em' data-icon='arrow-r'>" +
                                                    "<a href='/m_setup/{{haus.id}}/hardware/redit/" + this[0] +"/'><img src='/static/icons/" + this[2] + ".png' class='ui-li-icon'/>" + this[1] + "</a>" +
                                                    "<div class='del ui-li-aside' data-role='controlgroup' data-type='horizontal' style='display:none' data-mini='true'>" +
                                                    "<a data-role='button' data-icon='arrow-d' data-iconpos='notext' data-mini='true' href='#' onclick='moveRaum("+this[0]+",\"down\");'/>" +
                                                    "<a data-role='button' data-icon='arrow-u' data-iconpos='notext' data-mini='true' href='#' onclick='moveRaum("+this[0]+",\"up\");'/>" +
                                                "</div></li>").trigger('create');
                        });
                    });
                });
                $("#erlist").listview('refresh');
            }
        });
    });
    
    function doEdit() {
        if($('.del').css('display') == 'none') {
            $('.del').show();
            $('#sortbutton .ui-btn-text').text('Fertig');
        } else {
            $('.del').hide();
            $('#sortbutton .ui-btn-text').text('Sortieren');
        }
        $('#erlist').listview('refresh');
    }
    
    function moveRaum(raumid,dir) {
        $.ajax({
            url: "/m_setup/{{haus.id}}/hardware/" + raumid + "/" + dir + "/",
            success: function() {
                if(dir=="up" && $("#r"+raumid).prev().attr('id')[0] == 'r') {
                    $("#r"+raumid).insertBefore($("#r"+raumid).prev());
                }
                if(dir=="down" && $("#r"+raumid).next().attr('id')[0] == 'r') {
                    $("#r"+raumid).insertAfter($("#r"+raumid).next());
                }
                $("#erlist").listview('refresh');
            }
        });
    }
    function moveEtage(etagenid, dir) {
        $.ajax({
            url: "/m_setup/{{haus.id}}/hardware/e/" + etagenid + "/" + dir + "/",
            success: function() {
                if(dir == "up" && $("#e"+etagenid).prevAll(".divider").length > 0) {
                    var $children = $("#e"+etagenid).nextUntil(".divider");
                    $("#e"+etagenid).insertBefore($("#e"+etagenid).prevAll(".divider").first());
                    $children.insertAfter("#e"+etagenid);
                }
                if(dir == "down" && $("#e"+etagenid).nextAll(".divider").length > 0) {
                    var $nextdivider = $("#e"+etagenid).nextAll(".divider").first();
                    var $children = $nextdivider.nextUntil(".divider");
                    $nextdivider.insertBefore($("#e"+etagenid));
                    $children.insertAfter($nextdivider);
                }
                $("#erlist").listview('refresh');
            }
        });
    }

</script>

<ul data-role="listview" id="erlist" data-dividertheme='c'>

</ul>
{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false" id='footer'>
        <ul>
            <li>
                <a href='/m_setup/{{haus.id}}/hardware/eedit/' data-icon="gear">Etage anlegen</a>
            </li>
            <li>
                <a href='/m_setup/{{haus.id}}/hardware/redit/' data-icon='gear'>Raum anlegen</a>
            </li>
        </ul>
    </div>
{% endblock %}