{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Men&uuml;{% endblock %}

{% block mheader %}
     
{% endblock %}

{% block bodycls %}
    config-menu
{%endblock%}

{% block mcontent %}
<style type="text/css">
    .config-menu .menu-title {
        padding-top: 40px !important;
        background: initial !important;
        font-weight: bold !important;
    }
    .config-menu .menu-title-first{
        background: initial !important;
        font-weight: bold !important;
    }

    .desc-text{
        color: #8C8B8A;
        font-size: 14px;
        position: absolute;
        top: 32px;
        left: 13px;
        text-shadow: none;
        max-width: 90%;
    }
    .desc-text a {
        font-weight: normal !important;
    }

    .info-link{
        color: #8C8B8A !important;
        text-shadow: none;
    }

    @media (max-width: 960px){
        .desc-text span{
            font-size: 1.44vw;
            /* font-size: 10pt; */
            max-width: max-content;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
        .desc-text a {
            display: table-caption;
            font-weight: normal !important;
            font-size: 1.4vw;
        }
    }

    @media (max-width: 400px){
        .desc-text span{
            font-size: 2vw;
            max-width: max-content;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }
        .desc-text a {
            display: table-caption;
            font-weight: normal !important;
            font-size: 2vw;
        }
    }

    .desc-text {
        vertical-align: middle;
    }

    .desc-text a {
        display: inline-block;
    }

    .desc-text span {
        vertical-align: middle;
    }
    .desc-text span > span {
        padding-bottom: 1px;
        display: inline-block;
    }
    ul[data-role='listview'] .ui-icon.ui-icon-arrow-r{
        margin: 0;
    }

    .margin-arrow .ui-icon-arrow-r{
        margin-top: -9px !important;
    }
    .desc-text.margin-bottom {
        margin-top: 18px;
    }
    .module-row {
        min-height: 60px !important;
    }

    .module-row.ui-li-has-arrow .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-arrow {
        height: 60px;
    }
    .module-row.ui-btn-icon-right>.ui-btn-inner>.ui-icon {
        top: 41%;
    }
    .center-align{
        text-align: center;
    }

    .cat-selection .ui-select{
        margin-top: 15px;
    }
    .info-link.head{
         font-size: 1.44vw;
    }
    @media (min-width: 960px){
        .info-link.head{
         font-size:15px;
        }
    }

    [data-modname="heizflaechenoptimierung"] a{
        height: 104px !important;
    }
</style>
{% if user.userprofile.get.role != 'K' %}
<ul data-role="listview">
    <li class="module-li module-row">
        <h5 class="center-align">
            Aktivierte Plugins
        </h5>
        <p class="center-align head info-link">
            <i>
             Smart-Heat-OS integriert intelligente Funktionen in Form von Plugins. Nachfolgend erscheinen alle aktivierten Plugins. <br/>
             <a href="/m_setup/{{ haus.id }}/module/" class="info-link">Hier können Sie weitere Plugins aktivieren...</a>
            </i>
        </p>
    </li>
    <li class="module-li module-row cat-selection">
    <select name="cat-select" data-mini="true" id="cat-select">
        <option value="0">alle Kategorien</option>
        {% for cat in category_dict %}
            <option value="{{ cat.0 }}">{{ cat.1.name }}</option>
        {% endfor %}
    </select>
    </li>
    {% for mod, modename , desc, desc_link, link in swlinks %}
            {% if mod not in hidden_modules %}
                <li class="module-li module-row" data-modname="{{ mod }}" style="min-height: 40px;">
                    {% autoescape off %}{{ link }} {% endautoescape %}
                    <div class="desc-text">
                    <span>
                        <i>{% if desc %}{{desc}} {% endif %}</i>
                        {% if desc_link %}<a href="{{desc_link}}" class="info-link" target="_blank"> <i>info...</i> </a>{% endif %}
                    </span>

                    </div>
                    <div class="desc-text margin-bottom">
                        <span><i>Kategorie: </i><span class="module-cat"></span></span>
                    </div>
                </li>
            {% endif %}
    {% endfor %}

    <li data-role="list-divider" class="menu-title margin-arrow">Einstellungen</li>
    <li class="margin-arrow">
        <a href="/m_setup/{{ haus.id }}/hardware/">Haus & Geräte</a>
    </li>
    <li class="margin-arrow">
        <a href="/m_setup/{{ haus.id }}/module/">Plugins</a>
    </li>


    <li data-role="list-divider" class="menu-title margin-arrow">Benutzer</li>
    <li class="margin-arrow">
        <a href="/m_houseprofile_edit/">Hausprofil editieren</a>
    </li>
    <li class="margin-arrow">
        <a rel="external" href="/accounts/logout/">Logout</a>
    </li>
</ul>
{% endif %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#checkbox-config").change(function(){
            var checked = $(this).is(':checked') == true ? 1 : 0;
            $.ajax({
                url: '/config/',
                type: 'post',
                data: {
                   'checked' : checked
                }
             })
        });

       // category
       let categories = JSON.parse("{{ cat|escapejs }}");
       $('#cat-select').change(function () {
            let selectedCategory = $(this).val()
            //$this.value;
            $('.module-li[data-modname]').each(function() {
                category = $(this).find('.module-cat').data('category')
                console.log(selectedCategory, category)
                if (selectedCategory == category || selectedCategory == '0'){
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });

       });

       let mods = [];
       let elem;
       for(let cat in categories){
           mods = categories[cat].mod_list;
           for(let mod in mods){
               elem = $(".module-li[data-modname="+ mods[mod].modname + "]").find('.module-cat');
               elem.text(categories[cat].name)
               elem.css('color', categories[cat].color)
               elem.attr('data-category', cat)
           }
       }

        $('[data-modname="heizflaechenoptimierung"] .desc-text.margin-bottom').html('<span>- Automatischer hydraulischer Abgleich (AHA) <br> - Dynamischer hydraulischer Maximalabgleich (DHMA) <br>- Fußbodenheizung-KI (KI) <br> <span><i>Kategorie: </i><span class="module-cat" data-category="fussbodenheizung_optimierung" style="color: rgb(119, 154, 69);">Fußbodenheizung-Optimierung</span></span></span>')

    });
</script>
{% endblock %}