{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Plugins{% endblock %}

{% block mheader %}
        <a href="/config/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/module/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" sty></a>
{% endblock %}

{% block mcontent %}

<style type="text/css">
    div.ui-btn {
        font-weight: normal;
    }
    .desc-text{
        color: #8C8B8A;
        font-size: 14px;
        text-shadow: none;
    }

    .info-link{
        color: #8C8B8A !important;
    }

    @media (max-width: 960px){
        .desc-text{
            font-size: 1.8vw;
        }
    }

    @media (max-width: 400px){
        .desc-text{
            font-size: 2vw;
        }
    }

</style>

    <h3>Aktivierte Plugins</h3>
    <div>
        <select name="cat-select" data-mini="true" id="cat-select">
            <option value="0">alle Kategorien</option>
            {% for cat in category_dict %}
                <option value="{{ cat.0 }}">{{ cat.1.name }}</option>
            {% endfor %}
        </select>
    </div>
    {% if user.userprofile.get.role != 'K' %}
        <form method="POST" action="/m_setup/{{ haus.id }}/module/" id="modform">{% csrf_token %}

            {% for mod, modname, desc, desc_link, link in mods %}
                {% if mod in active or mod not in phaseout %}
                    {% if mod not in hidden_modules %}
                    <p class="module-name" data-modname="{{ mod }}">
                        <label for="{{ mod }}" style="font-weight: normal">
                            {{ modname }}
                            <br/>
                            <span class="desc-text">
                                <i> {% if desc %}{{desc}} {% endif %} {% if desc_link %}
                                    <a href="{{desc_link}}" class="info-link" target="_blank"> info... </a>{% endif %}
                                </i>
                            </span>
                            <br/>
                            <span class="desc-text">Kategorie: <span class="module-cat"></span></span>
                        </label>
                        <input type="checkbox" id="{{ mod }}" name="{{ mod }}" {% if mod in active %}checked{% endif %}/>
                    </p>
                    {% endif %}
                {% endif %}
            {% endfor %}

            <a href="#" onclick="$('#modform').get(0).submit();" style="text-align:center;" data-role="button">Speichern</a>

        </form>

    {% endif %}

<script type="text/javascript">
    $(document).ready(function(){
            $('.ui-checkbox a').bind("tap click", function( event, data ){
            event.stopPropagation();
        });
       let categories = JSON.parse("{{ cat|escapejs }}");
       $('#cat-select').change(function () {
            let selectedCategory = $(this).val()
            //$this.value;
            $('#modform p.module-name').each(function() {
                category = $(this).find('.module-cat').data('category')
                console.log(selectedCategory, category)
                if (selectedCategory == category || selectedCategory == '0'){
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });

       })
       // category

       let mods = [];
       let elem;
       for(let cat in categories){
           mods = categories[cat].mod_list;
           for(let mod in mods){
               elem = $("#modform p[data-modname="+ mods[mod].modname + "]").find('.module-cat');
               elem.text(categories[cat].name)
               elem.css('color', categories[cat].color)
               elem.attr('data-category', cat)
           }
       }
    });

</script>


{% endblock %}