{% extends "m_base_new.html"%}
{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}
{% block bodyclass %}page raumregelung-smart{% endblock %}
{% block mheader %}
{% load static %}
<script src="{% static 'sweetalert2.all.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'sweetalert2.min.css' %}">
{% endblock %}

{% block mcontent %}

<style>

.hide{
        display: none !important;
        visibility: hidden !important;
        }
.page div.ui-slider.ui-mini {
        margin: 20px 0 10px 0 !important;
        }
input.ui-slider-input {
        margin-top: 0.1px !important;
        margin-left: 20px;
        }

.ui-slider.ui-mini{
        margin-top: 15px !important;

        }
.ui-slider-track{
        margin:0 !important;
        margin-left: 100px !important;
        }
.ui-slider-track   .ui-btn-active{
        background: #4d9c39 !important;
        }
.labelcss {
        margin-top: 5.5px !important;
        margin-left: 45px !important;
        font-size: small;
        float:left;
        width : 20px;
        }
.floated {
        text-align: center;
        display: inline-block;
        width : 20px;
        }
.system_status {
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        text-align: center;
        font-size: 12px;
        display:none;
        }

</style>

</table>
    <ul data-role="listview">
        <li>
            <div  data-role="navbar">
                <ul>
                    <li>
                        <button href="#" onclick="log_out();">⛔ Log out from support</button>
                    </li>
                </ul>
            </div>
        </li>
        <li>
           <b>Bluetooth-Status:&nbsp;&nbsp;</b>{{ status }}
        </li>
        <li>
            <b>Bluetooth-Version:&nbsp;&nbsp;</b>{{ version }}
        </li>
        <li>
            <b>Bluetooth-Geräte:&nbsp;&nbsp;</b>{{ devices }}
        </li>
        <li>
            <b>Bluetooth-Verbindungen:&nbsp;&nbsp;</b>{{ connections }}
        </li>
        <li>
            <b>Betriebssystem-Info:&nbsp;&nbsp;</b>{{ os_info }}
        </li>
        <li>
            <b>Betriebssystem-Version:&nbsp;&nbsp;</b>{{ os_version }}
        </li>
        <li>
            <b>Network:&nbsp;&nbsp;</b>{{ network_info }}
        </li>
        <li>
            <b>Log-Gerät:&nbsp;&nbsp;</b>{{ log_device_hw }}
        </li>
        <li>
            <b>Handler-Version:&nbsp;&nbsp;</b>{{ handler_version_number }}
        </li>
        <li>
            <b>Secret inside Files:&nbsp;&nbsp;</b><br><br>
            {% for file in secret_file_contents %}
            &nbsp;&nbsp;&nbsp;<b>{{ file.names }}: </b> {{ file.content }}<br>
            {% endfor %}<br>
            <b>Secret inside DB:&nbsp;&nbsp;</b><br><br>
            &nbsp;&nbsp;&nbsp;<b>MAC:</b> {{ secret_dbs.0 }}<br>
            &nbsp;&nbsp;&nbsp;<b>AES:</b> {{ secret_dbs.1 }}<br>
            &nbsp;&nbsp;&nbsp;<b>VAC:</b> {{ secret_dbs.2 }}<br>
            <br>
        </li>
        <li>
            <b>Supervisorctl Status:</b><br>
            <pre id="supervisor_status" class="system_status"><div style="display: inline-block; text-align: left;"><li>{{ supervisorctl_status }}</li></div></pre>
             <br>
             <div data-role="navbar">
                <ul>
                    <li><input type="button" name="answer" value="Supervisor status" onclick="show_supervisor()"></li>
                </ul>
            </div>
            <br>
            <div data-role="navbar">
                <ul>
                    <li><input type="button" name="restart" value="Supervisor restart" onclick="restart_supervisor()"></li>
                </ul>
            </div>  
        </li>
        <li>
             <b>System Status:</b><br>
             <pre id="system_status" class="system_status">
                 <br><b>SD-Card Status:</b><br><br>{{ sd_info }}<br>
                 <br><b>RAM Status:</b><br><br><div style="display: inline-block; text-align: left; line-height: 11pt">{% for info in ram_t%}<li>{{ info }}</li>{% endfor %}</div><br>
                 <br><b>CPU Status:</b><br><br>{{ cpu_t }}</pre>
              <br>
              <div data-role="navbar">
                 <ul>
                     <li><input type="button" name="answer" value="System status" onclick="show_system()"></li>
                 </ul>
             </div>  
        </li>
        <li id="restartli" >
            <a id="restart-link" style="text-align: center; color: #019BB0;">Neustarten</a>
        </li>
        <li id="shutdownli">
            <a id="shutdown-link" style="text-align: center; color: #e61873;">
                Herunterfahren
            </a>
        </li>
        <li>
            Installierte Softwareversion: {{ current_branch }} <br/>
            Softwarestand von: {{ updated_date|truncatechars:27 }} (neueste Version)

        </li>
        <li>
            <label><b>Stable:2020-Version installieren / updaten</b></label>
            <br>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" onclick="stable2020();"><b>Stable:2020-Version</b></a></li> 
                </ul>
            </div>   
        </li>
        <li>
            <label><b>Stable:2021-Version installieren / updaten</b></label>
            <br>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" onclick="stable2021();"><b>Stable:2021-Version</b></a></li>
                </ul>
            </div>
        </li>
        <li>
            <label><b>Stable:2022-Version installieren / updaten</b></label>
            <br>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" onclick="stable2022();"><b>Stable:2022-Version</b></a></li>
                </ul>
            </div>
        </li>
        <li>
            <label><b>Development-Version installieren / updaten</b></label>
            <br>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" onclick="dev();"><b>Development-Version</b></a></li> 
                </ul>
            </div>   
        </li>
        <li>
            <label><b>Revive-Version installieren / updaten</b></label>
            <br>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" onclick="revive();"><b>Revive-Version</b></a></li>
                </ul>
            </div>
        </li>  
        <li>
            <label for="branch">Branch-name eingeben</label>
            <input type="text" id="branch">
        </li>
        <li data-icon='false'>
            <a href="#" onclick="submit_btn();" class="ui-btn" style="text-align:center">Version Installieren</a>
            <li data-icon="false" id="updatever">
                Installierte Softwareversion: {{ branch }}<br/>
                Softwarestand von: {{ lu }}
            </li>
            <li>
                Stable-Version installieren / updaten<br/>
                <small>
                    Die Stable-Version ist die letzte stabile Version von Controme Smart-Heat-OS. Im <a href="http://support.controme.com/changelog-controme-smart-heat-os/" target="_blank">Changelog</a>
                    können Sie die Änderungen nachvollziehen.
                </small>
                <br/>
                Aktuelle Stable-Version: <span id="cnt_stable"></span>
            </li>
            <li>
                Lab-Version installieren<br/>
                <small>
                    Neue Funktionen, Bugfixes und Verbesserungen werden zunächst als Lab-Version veröffentlicht.
                    Bitte beachten Sie, dass die Lab-Version zu Fehlfunktionen führen kann. 
                    Im <a href="http://support.controme.com/changelog-controme-smart-heat-os/" target="_blank">Changelog</a>
                    können Sie nachvollziehen, was die Lab-Version von der aktuellen Stable-Version unterscheidet.
                </small>
                <br/>
                Aktuelle Lab-Version: <span id="cnt_lab"></span>
            </li>

            {% if branch == 'Stable' %}
                <li>
                    <a href="#" onclick="doSwitchVersion('lab');" style="text-align: center">Zur Lab-Version wechseln</a>
                </li>
            {% elif branch == 'Lab' %}
                <li>
                    <a href="#" onclick="doSwitchVersion('stable');" style="text-align: center">Zur Stable-Version wechseln</a>
                </li>
            {% elif branch == 'dev' %}
                <li>
                    <a href="#" onclick="doSwitchVersion('lab');" style="text-align: center">Zur Lab-Version wechseln</a>
                </li>
            {% elif branch == 'revive' %}
                <li>
                    <a href="#" onclick="doSwitchVersion('lab');" style="text-align: center">Zur Lab-Version wechseln</a>
                </li>
            {% endif %}
            <li data-icon="false" id="branchli_spinner">
                <br/><span id="branchspinner"><center><img src='/static/images/ajax-loader.gif'/></center></span><br/>
        </li>
        <li>
            <p style="font-weight: bold; font-size: large;">Plugin Aktivierung</p>
            <p><a class="ui-btn" href="/support/activation/">zur Plugin Aktivierungsseite...</a> </p>
        </li>

        <li>
            <p style="font-weight: bold; font-size: large;">Email Support-Interface</p>
            <p><a class="ui-btn" href="/m_setup/{{ haus.id }}/support-benachrichtigung/">Email Support-Interface öffnen...</a> </p>
        </li>
        <li>
            <p style="font-weight: bold; font-size: large;">Dot Color Configuration</p>
            <p><a class="ui-btn" href="/set_values_custom_function/">Dot Color Configurator öffnen…</a> </p>
        </li>
        <li data-icon='false'>
            <b>🔵 Bluetooth-Treiber ändern:</b><br><br>
            <div style="width: 60%; margin: auto; font-size: 13px; padding-bottom: 5px; text-align: center;">
                <select id='ble_driver' Name="Name_of_list_box" Size="Number_of_options">  
                    <option value="0"> Wählen Sie Version</option>  
                    <option value="1"> 5.54 (Empfohlen)</option>  
                    <option value="2"> 5.50</option>  
                </select> 
            </div>
            <div data-role="navbar">
                <ul>
                    <li>
                        <a href="#" onclick="update_btn();" class="ui-btn" style="text-align:center"><b>Starten BLE-Version Update</b></a>
                    </li>
                </ul>
            </div>
        </li>
        <li data-icon='false'>
            <label><b>BTLE Handler Version</b></label>
            <br>
            <div data-role="navbar">
                <ul>
                <li><a href="#"  onclick="handler_old_service();" {% if handler_version == 'Ein' %} class="ui-btn-active" {% else %} class="ui-btn-inactive" {% endif %}>Alt</a></li>
                <li><a href="#"  onclick="handler_new_service();" {% if handler_version == 'Aus' %} class="ui-btn-active" {% else %} class="ui-btn-inactive" {% endif %}>Neu</a></li>
                </ul>
            </div>  
        </li>
        <li data-icon='false'>
            <form action="/support/" method="post"> {% csrf_token %}
                <div data-role="navbar">
                    <a href="#" onclick="ble_scan();" class="ui-btn" style="text-align:center">Scan Bluetooth</a>
                    <ul>
                        <li><button id='ble_log' name="ble" value="ble_log" >Download Bluetooth Log</button></li>
                    </ul>
                </div>
            </form>
        </li>
        <li data-icon='false'>
            <a href="#" onclick="ble_restart_new_handler();" class="ui-btn" style="text-align:center">Neu-Handler restart</a>
        </li>
        <li data-icon='false'>
            <a href="#" onclick="ble_restart();" class="ui-btn" style="text-align:center">Bluetooth-Dienst neu starten</a>
        </li>
        <li data-icon='false'>
            <a href="#" onclick="ble_restart_hw();" class="ui-btn" style="text-align:center">Bluetooth-HW neu starten</a>
        </li>
        <li>
            <div data-role="navbar">
                <input type="checkbox" id="rf_pairing_status" name="rf_pairing_status" {% if rf_pairing_status == 'log-on' %} checked {% else %} unchecked {% endif %}>
                <label for="rf_pairing_status">eTRV pairing status</label>
            </div>
            <div  data-role="navbar">
                <ul>
                    <li>
                        <button id='save_rf_pairing' onclick="save_rf_pairing();">Speichern</button>
                    </li>
                </ul>
            </div>
        </li>
        <li data-icon='false'>
            <label><b>Periodischer Neustart FUNKSERVICE in Minuten</b></label>
            <div>
                <Input class="solltemp-slider" id="textInput" name="rangeInput" data-mini="true" data-highlight="true"  type="range"  value="{{ble_repeat_service}}" min="30" max="10080" ></Input>
            </div>
            {% if ble_service_status == 'active' %}
                <label style='font-size: 11px;' ><b>FUNKSERVICE-Script ist aktiv seit {{ ble_active_time }}. Neue Reset werden alle {{ ble_repeat_service }}m generiert. Nächster Berechnung in {{ ble_left_time }}.</b></label>
            {% endif %}
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    Nach der eingegebenen Anzahl an Minuten wird der FUNKSERVICE automatisch neu gestartet. Der eingegebeneWert muss zwischen 30 und 10080 (1 Woche) liegen.<br>
                </i>
            </p>   
            <div data-role="navbar">
                <ul>
                <li><a href="#"  onclick="ble_service_stop();" {% if ble_service_status != 'active' %}class="ui-btn-active"{% else %} class="ui-btn-inactive" {% endif %}>AUS</a></li>
                <li><a href="#"  onclick="ble_service_start();" {% if ble_service_status != 'active' %}  class="ui-btn-inactive"  {% else %} class="ui-btn-active" {% endif %}>EIN</a></li>
                </ul>
            </div>   
        </li>
        <li>
            Systemverfügbarkeit: {{ system_uptime }}
        </li>
        <li data-icon='false'>
            <label><b>Periodischer Neustart MINISERVER in Minuten</b></label>
            <div>
                <Input class="solltemp-slider" id="textInput2" name="rangeInput" data-mini="true" data-highlight="true"  type="range"  value="{{rpi_repeat_service}}" min="30" max="10080" ></Input>
            </div>
            {% if rpi_service_status == 'active' %}
                <label style='font-size: 11px;' ><b>MINISERVER-Script ist aktiv seit {{ rpi_active_time }}. Neue Reset werden alle {{ rpi_repeat_service }}m generiert. Nächster Berechnung in {{ rpi_left_time }}.</b></label>
            {% endif %}
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    Nach der eingegebenen Anzahl an Minuten wird der MINISERVER automatisch neu gestartet. Der eingegebene Wert muss zwischen 30 und 10080 (1 Woche) liegen.<br>
                </i>
            </p>
            <div data-role="navbar">
                <ul>
                <li><a href="#"  onclick="rpi_service_stop();" {% if rpi_service_status != 'active' %}class="ui-btn-active" {% else %} class="ui-btn-inactive" {% endif %}>AUS</a></li>
                <li><a href="#"  onclick="rpi_service_start();" {% if rpi_service_status != 'active' %}class="ui-btn-inactive"{% else %} class="ui-btn-active"{% endif %}>EIN</a></li>
                </ul>
            </div>   
        </li>
        <li id='rf_slider' data-icon='false'>
            <label><b>RF Ereignisprotokoll-Zeit</b></label>
            <div>
                <Input id='rf_input' data-mini="true" data-highlight="true"  type="range"  value="{{rf_exec_logmonitor}}" min="5" max="1440"  onchange="show_rf_Val(this.value)"></Input>
            </div> 
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    RF-Script: Nächster Berechnung in {{ rf_exec_duration }} Minuten.
                </i>
            </p>
            <form action="/support/" method="post"> {% csrf_token %}
                <div data-role="navbar">
                    <ul>
                        <li><button id='rf_log' name="ble" value="rf_log" >Download RF Log</button></li>
                    </ul>
                </div>  
            </form> 
        </li>
        <li>
            <div data-role="navbar">
                <input type="checkbox" id="rf_logger_status" name="rf_logger_status" {% if rf_log_status == 'log-on' %} checked {% else %} unchecked {% endif %}>
                <label for="rf_logger_status">Ereignisprotokoll: Funksensoren Ausfallanzeige</label>
            </div>
            <div  data-role="navbar">
                <ul>
                    <li>
                        <button id='save_rf_status' onclick="save_rf_status();">Speichern</button>
                    </li>
                </ul>
            </div>
            <br>
            <div  data-role="navbar">
                <ul>
                    <li>
                        <button id='delete_rf_log' onclick="delete_rf_log();">Ausfallanzeige-Logs Löschen</button>
                    </li>
                </ul>
            </div>
            <br>
        </li>
        <li>
            <label for="flip-1"><b>BLE: Btmon log</b></label>
            <div style="position:relative;float:right;margin-top: -45px;">
            <select name="flip-1" id="flip-1" data-role="slider" data-mini="true"  >
                <option value="off">AUS</option>
                <option value="on" {% if btmon_status != 'no' %} selected="on" {% endif %}>EIN</option>
            </select>
            </div>
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    Das btmon-Tool kann verwendet werden, um Dateien für das Live-Debugging zu erfassen und für später zu speichern.<br>
                </i>
            </p> 
            <form action="/support/" method="post"> {% csrf_token %}
                <div data-role="navbar">
                    <ul>
                        <li><button id='btmon_log' name="ble" value="btmon_log" >Download Btmon Log</button></li>
                    </ul>
                </div>  
            </form> 
        </li> 
        <li>
            <label for="flip-2"><b>BLE: DBUS log</b></label>
            <div style="position:relative;float:right;margin-top: -45px;">
            <select name="flip-2" id="flip-2" data-role="slider" data-mini="true"  >
                <option value="off">AUS</option>
                <option value="on" {% if dbus_status != 'no' %} selected="on" {% endif %}>EIN</option>
            </select>
            </div>
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    Die dbus-Kommunikationsschnittstelle in Linux-Systemen verwaltet die meisten Informationen oder Steuerungen auf Systemebene.<br>
                </i>
            </p> 
            <form action="/support/" method="post"> {% csrf_token %}
                <div data-role="navbar">
                    <ul>
                        <li><button id='dbus_log' name="ble" value="dbus_log" >Download DBUS Log</button></li>
                    </ul>
                </div>  
            </form> 
        </li>
        <li>
            <label><b>BLE: Btle log</b></label>
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    Btle log zeichnet die btle handler Anwendung im Supervisor auf.<br>
                </i>
            </p> 
            <form action="/support/" method="post"> {% csrf_token %}
                <div data-role="navbar">
                    <ul>
                        <li><button {% if check_btle_log == 'no' %} onclick="btle_init_function();" id='btle_init' name="ble" value="btle_init" 
                                    {% else %} id='btle_log' name="ble" value="btle_log" {% endif %}>Download Btle Log</button>
                        </li>
                    </ul>
                </div>  
            </form> 
            <div  data-role="navbar">
                <ul>
                    <li>
                        <button onclick="location.href = '/btle_log';" >Open Btle Table</button>
                    </li>
                </ul>
            </div>
            <script>
                function btle_init_function() {
                    alert ("Backend says: Btle_handler initialized!\nPlease try later to download logs.");}
            </script>
        </li>
        <li>
            <label><b>UWSGI-Verbesserungen</b></label>
            <div  data-role="navbar">
                <ul>
                    <li>
                        <button href="#" onclick="uwsgi_improve_20220520();">UWSGI-Verbesserungen 2022-05-20</button>
                    </li>
                </ul>
            </div>
            <br>
            <div  data-role="navbar">
                <ul>
                    <li>
                        <button href="#" onclick="uwsgi_default();">UWSGI-Standard</button>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <label><b>Ereignisprotokoll: Delete logs</b></label>
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    Löschen Sie Ereignisprotokoll-Protokolle, wenn ein Problem im Protokoll Monitor aufgetreten ist.<br>
                </i>
            </p> 
            <div  data-role="navbar">
                <ul>
                    <li>
                        <button href="#" onclick="delete_uwsgi_log();">Ereignisprotokoll-Protokoll löschen</button>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <b>Logger wechseln</b><br>
            <div data-role="navbar">
                <input type="checkbox" id="logger_check" name="logger_check" {% if log_device_hw == 'SD-Karte' %} checked {% else %} unchecked {% endif %}>
                <label for="logger_check">Logging auf SD-Karte anstatt USB-Stick</label>
            </div>
            <div  data-role="navbar">
                <ul>
                    <li>
                        <button id='sdcard_log' onclick="switch_log();">Speichern</button>
                    </li>
                </ul>
            </div>
            <div  data-role="navbar">
                <ul>
                    <li>
                        {% if log_device_hw == 'SD-Karte' %}
                        <button id='reset_sdcard_log' onclick="reset_sdcard_log();">SD-Karte log löschen</button>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <br>
            <b>KI-files hochladen</b>
            <form action='/support/' method='post' enctype='multipart/form-data' id="ulcsvlog">
                {% csrf_token %}
                <input type='file' name='csv_logs' multiple/>
                <input type="hidden" name="update" value="upload_csv_files" multiple/>
            </form>
            <div data-role="navbar">
                <ul>
                    <li><button href="#" onclick="validate_update_Form_csv_log();">Datei hochladen</button></li> 
                </ul>
            </div>
        </li>
        <li>
            <b>General Tests</b><br>
            <div data-role="navbar">
                <input type="checkbox" id="global_testmode_check" name="global_testmode_check" {% if global_test_mode %} checked {% else %} unchecked {% endif %}>
                <label for="global_testmode_check">Test new developments</label>
            </div>
            <div  data-role="navbar">
                <ul>
                    <li>
                        <button id='global_testmode_check' onclick="global_testmode_save();">Speichern</button>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <b>Testmode</b><br>
            <div data-role="navbar">
                <input type="checkbox" id="testmode_check" name="testmode_check" {% if test_mode == 'on' %} checked {% else %} unchecked {% endif %}>
                <label for="testmode_check">versteckt die Buttons Herunterfahren, Neustarten, Wechsel Stable-Lab</label>
            </div>
            <div  data-role="navbar">
                <ul>
                    <li>
                        <button id='testmode_check' onclick="testmode_save();">Speichern</button>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <b>eTRV data encryption für Dropserver</b><br>
            <div data-role="navbar">
                <input type="checkbox" id="handler_zlib" name="handler_zlib" {% if handler_zlib == 'on' %} checked {% else %} unchecked {% endif %}>
                <label for="handler_zlib">Checkbox setzten, wenn Danfoss eTRV nicht zum Master-Server übertragen.</label>
            </div>
            <div  data-role="navbar">
                <ul>
                    <li>
                        <button id='handler_zlib' onclick="zlib_save();">Speichern</button>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <b>ZWave data splitter für Dropserver</b><br>
            <div data-role="navbar">
                <input type="checkbox" id="zwave_check" name="zwave_check" {% if single_zwave == 'on' %} checked {% else %} unchecked {% endif %}>
                <label for="zwave_check">Checkbox setzten, wenn Danfoss ZWave Wandthermostate nicht zum Master-Server übertragen.</label>
            </div>
            <div  data-role="navbar">
                <ul>
                    <li>
                        <button id='zwave_check' onclick="zwave_save();">Speichern</button>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <b>Restart von Bluetooth</b><br>
            <div data-role="navbar">
                <input type="checkbox" id="sh_check" name="sh_check" {% if sh_reset_status != 'on' %} checked {% else %} unchecked {% endif %}>
                <label for="sh_check">Automatischer Restart von Bluetooth-Dienst und Bluetooth-HW.</label>
            </div>
            <div  data-role="navbar">
                <ul>
                    <li>
                        <button id='sh_check' onclick="sh_save();">Speichern</button>
                    </li>
                </ul>
            </div>
        </li>
        <li data-icon='false'>
            <label><b>Zeitdienst</b></label>
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    <a href="https://support.controme.com/ntp/" target="_blank">Weitere Infos ></a><br>
                </i>
            </p>  
            <div data-role="navbar">
                <ul>
                  <li><a href="#"  onclick="time_ntp_start();" {% if ntp_status == 'active' %} class="ui-btn-active" {% else %} class="ui-btn-inactive" {% endif %}>NTP</a></li>
                  <li><a href="#"  onclick="time_syncd_start();" {% if timesyncd_status == 'active' %}  class="ui-btn-active"  {% else %} class="ui-btn-inactive" {% endif %}>Timesyncd</a></li>
                </ul>
            </div>   
        </li>
        <li data-icon='false'>
            <label><b>Manuelle Zeit und Datum einstellen</b></label>
            <input type="datetime-local"  id="timedatetext" data-clear-btn="true" value="{{current_time_date_format}}"/>
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    Sofern der Miniserver ohne Internet betrieben wird, kann die Systemzeit manuell gesetzt werden. Die manuelle Eingabe wird überschreiben, wenn Internet vorhanden ist.<br>
                </i>
            </p> 
            <li>
                Aktuelle Systemzeit: {{ current_time_date }}
            </li> 
            <div data-role="navbar">
                <ul>
                  <li><a href="#"  onclick="savedatetime();">Zeit einstellen</a></li>
                </ul>
            </div>   
        </li>
         <li>
        Bitte VPN Daten nur im Notfall l&oumlschen!
        </li>
        <li data-icon='false'>
            <a href="#" onclick="delVPN_btn();" class="ui-btn" style="text-align:center">VPN Daten l&oumlschen</a>
        </li>
        <li {% if timesyncd_status == 'active' and ntp_status != 'active' %} class="hide" {% endif %} data-icon='false'>
            <label><b>NTP-Client konfigurieren</b></label>
            <input type="text"  id="ntp_server_ip" data-clear-btn="true" {% if ntp_server != 'no' %}value="{{ntp_server}}" {% else %} value='Keinen benutzerdefinierten NTP-Server' {% endif %}/>
            <p style="word-wrap: normal; white-space: initial;">
                <i>
                    Sie können den NTP-Client konfigurieren, indem Sie die IP-Adresse des NTP-Servers angeben.<br>
                </i>
            </p>  
            <p style="word-wrap: normal; white-space: initial;">
            <div data-role="navbar">
                <ul>
                  <li><a href="#"  onclick="set_default_ntp();" {% if ntp_default == 'yes' %} class="ui-btn-active" {% else %} class="ui-btn-inactive" {% endif %}>NTP-Standardkonfiguration</a></li>
                  <li><a href="#"  onclick="set_custom_ntp();" {% if ntp_custom == 'yes' %}  class="ui-btn-active"  {% else %} class="ui-btn-inactive" {% endif %}>Benutzerdefinierte Konfiguration</a></li>
                </ul>
            </div>   
        </li>
        <li data-icon='false'>
            <label><b>Uploud-Größe ändern: Nginx</b></label>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" onclick="nginx();">Nginx neu laden</a></li> 
                </ul>
            </div>      
        </li>
        <li data-icon='false'>
            <label><b>Produzieren Sie einen gefälschten Gateway-Fehler</b></label>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" onclick="nginx_502();">Nginx 502 error</a></li> 
                </ul>
            </div>      
        </li>
        <li>
            <label><b>Offline-Softwareupdate</b></label>
            <form action='/support/' method='post' enctype='multipart/form-data' id="ulform">
                {% csrf_token %}
                <input type='file' name='db'/>
                <input type="hidden" name="update" value="upload_zip"/>
                <p style="word-wrap: normal; white-space: initial;">
                    <i>
                        Laden Sie eine Zip-Datei hoch und aktualisieren Sie das System.<br>
                    </i>
                </p><br>
                <label><b>Upload-Passwort</b></label>
        
                <input type="text"  id="pwd" name="pwd"  data-clear-btn="true">
                <p style="word-wrap: normal; white-space: initial;">
                    <i>
                        Das Update ist nur mit einem passwort möglich, das Sie zusammen mit der zip-Datei vom Controme-Support erhalten.<br>
                    </i>
                    Datum des letzten Uploads: {{ offline_date }}
                </p> 
            </form>
            <div data-role="navbar">
                <ul>
                    <li><button href="#" onclick="validate_update_Form();">Datei hochladen</button></li> 
                    <li><button href="#" onclick="offline();">Update starten</button></li> 
                </ul>
            </div>
            <form action="/support/" method="post"> {% csrf_token %}
                <div data-role="navbar">
                    <ul>
                        <li><button id='updates_log' name="update" value="updates_log" >Download update Log</button></li>
                    </ul>
                </div>  
            </form> 
        </li>
        <li>
        Firstboot Datei vorhanden: {{ firstboot }}
        </li>
        <li>
        FBI Änderungsdatum: {{ fbi }}
        </li>
    </ul>

<script>

let delVPN_btn = function (){ 
    if (confirm('This will delete the VPN configs! Are you sure?')) {
        alert('VPN will be deleted from server. Please wait 20 seconds and then try to restart server');
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'del': 'yes'},
            async: true,
            success: function (result) {
            //
            },
    });  
    } else {
    alert('Process canceled.');
    }  
};

let update_btn = function (){
    var ble_value = document.getElementById('ble_driver').value;
    if (ble_value != "0") {
        alert('BLE is going to be installed and OS will reboot in 10 minutes!')
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'ble':'update_ble_driver', 'ble_version': ble_value},
            async: true,
            success: function (result) {
            //
            },
        });
    }
};

let submit_btn = function (){
    alert('Wait 15 Seconds, until the server gets restarted!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'branch': $('#branch').val()},
        async: true,
        success: function (result) {
        //
        },
    });
};

let ble_scan = function (){
    alert('BLE scan starting!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble':'ble_scan'},
        async: true,
    });
};


let ble_restart = function (){
    alert('BLE service restart!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble':'ble_restart'},
        async: true,
        success: setTimeout(function (result) {
        location.reload();
        },2000),
    });
};

let ble_restart_new_handler = function (){
    alert('BLE service restart!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble':'ble_restart_new_handler'},
        async: true,
        success: setTimeout(function (result) {
        location.reload();
        },2000),
    });
};

let ble_restart_hw = function (){
    alert('BLE HW service restart!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble':'ble_restart_hw'},
        async: true,
        success: setTimeout(function (result) {
        location.reload();
        },8000),
    });
};

let ble_service_start = function (){
    alert('BLE Periodical service start!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble': 'ble_start_service', 'ble_start_value':$('#textInput').val()},
        async: true,
        success: setTimeout(function (result) {
        location.reload();
        },2000),
    }); 
};

let ble_service_stop = function (){
    alert('BLE Periodical service stop!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble': 'ble_stop_service'},
        async: true,
        success: setTimeout(function (result) {
        location.reload();
        },2000),
    }); 
};

let rpi_service_start = function (){
    alert('RPI Periodical service start!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble': 'rpi_start_service', 'rpi_start_value':$('#textInput2').val()},
        async: true,
        success: setTimeout(function (result) {
        location.reload();
        },2000),
    }); 
};

let rpi_service_stop = function (){
    alert('RPI Periodical service stop!');
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble': 'rpi_stop_service'},
        async: true,
        success: setTimeout(function (result) {
        location.reload();
        },2000),
    }); 
};

$(document).on( "slidestop",  "#flip-1" ,function( event, ui ) {
    if ($("#flip-1").val() == "on"){
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'ble':'btmon_start'},
            async: true,
            success: function (result) {
                //        
            },});}
    else {
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'ble':'btmon_stop'},
            async: true,
            success: function (result) {
            //        
            },})}
});

$(document).on( "slidestop",  "#flip-2" ,function( event, ui ) {
    if ($("#flip-2").val() == "on"){
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'ble':'dbus_start'},
            async: true,
            success: function (result) {
            //        
            },});}
    else {
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'ble':'dbus_stop'},
            async: true,
            success: function (result) {
            //        
            },})}
});

function show_supervisor() {
    var e = document.getElementById('supervisor_status');
    e.style.display = (e.style.display == 'block') ? 'none' : 'block';
};
function show_system() {
    var e = document.getElementById('system_status');
    e.style.display = (e.style.display == 'block') ? 'none' : 'block';
};

let restart_supervisor = function (){
        alert('Please wait 10 second to to restart supervisor!');
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'system':'supervisor_restart'},
            async: true,
            success: setTimeout(function (result) {
            location.reload();
            },8000),
        });
};

function validate_update_Form() {
    var pwd_field = document.getElementById('pwd').value;
    if (pwd_field == null || pwd_field == "") {
        alert("Please fill Upload-Passwort !");
        return false;
        }
    else{
        $('#ulform').get(0).submit();
    }
};

function validate_update_Form_csv_log() {
$('#ulcsvlog').get(0).submit();
};

let time_ntp_start = function (){
        alert('Please wait 5 second to configure NTP service!');
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'NTP':'NTP_start'},
            async: true,
            success: setTimeout(function (result) {
            location.reload();
            },5000),
        }); 
};
    
    let time_syncd_start = function (){
        alert('Please wait 5 second to configure Timesyncd service!');
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'NTP':'syncd_start'},
            async: true,
            success: setTimeout(function (result) {
            location.reload();
            },5000),
        }); 
};
    
    let savedatetime = function (){
        alert('Change date and time manually!');
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'NTP': 'date_time', 'date_time_value':$('#timedatetext').val()},
            async: true,
            success: setTimeout(function(result) {
            location.reload();
            },1000),
        }); 
};

    let set_default_ntp = function (){
        alert('Set default NTP config!');
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'NTP':'ntp_conf_default'},
            async: true,
            success: setTimeout(function(result) {
            location.reload();
            },2000),
        }); 
};

    let set_custom_ntp = function (){
        alert('Set custom NTP config!');
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'NTP': 'ntp_conf_custom', 'ntp_conf_custom_value':$('#ntp_server_ip').val()},
            async: true,
            success: setTimeout(function(result) {
            location.reload();
            },2000),
        }); 
};

    let offline = function (){
        var pwd_field = document.getElementById('pwd').value;
        if (pwd_field == null || pwd_field == "") {
            alert("Please fill Upload-Passwort !");
            return false;
            }
        else {
            $.ajax({
                url: "/support/",
                type: "POST",
                data: {'update': 'git_update', 'password':$('#pwd').val()},
                async: true,
                success: setTimeout(function(result) {
                location.reload();
                },2000),
            });
            alert('Offline update may take some minutes!');}
};

    let nginx = function (){
            $.ajax({
                url: "/support/",
                type: "POST",
                data: {'update': 'nginx'},
                async: true,
                success: setTimeout(function(result) {
                location.reload();
                },3000),
            }); 
            alert('update nginx!');
};

    let nginx_502 = function (){
            $.ajax({
                url: "/support/",
                type: "POST",
                data: {'update': 'nginx_502'},
                async: true,
                success: setTimeout(function(result) {
                location.reload();
                },3000),
            }); 
            alert('Starting Gateway error!');
};

    let dev = function (){
                $.ajax({
                    url: "/support/",
                    type: "POST",
                    data: {'dev': 'activate'},
                    async: true,
                    success: setTimeout(function(result) {
                    location.reload();
                    },6000),
                }); 
                alert('Wait to activate development branch!');
};

let revive = function (){
                $.ajax({
                    url: "/support/",
                    type: "POST",
                    data: {'revive': 'activate'},
                    async: true,
                    success: setTimeout(function(result) {
                    location.reload();
                    },6000),
                });
                alert('Wait to activate revive branch!');
};

let stable2020 = function (){
                $.ajax({
                    url: "/support/",
                    type: "POST",
                    data: {'stable2020': 'activate'},
                    async: true,
                    success: setTimeout(function(result) {
                    location.reload();
                    },9000),
                }); 
                alert('Wait to activate Stable:2020 branch!');
};

let stable2021 = function (){
                $.ajax({
                    url: "/support/",
                    type: "POST",
                    data: {'stable2021': 'activate'},
                    async: true,
                    success: setTimeout(function(result) {
                    location.reload();
                    },9000),
                });
                alert('Wait to activate Stable:2021 branch!');
};

let stable2022 = function (){
                $.ajax({
                    url: "/support/",
                    type: "POST",
                    data: {'stable2022': 'activate'},
                    async: true,
                    success: setTimeout(function(result) {
                    location.reload();
                    },9000),
                });
                alert('Wait to activate Stable:2022 branch!');
};

    let delete_uwsgi_log = function (){
                    $.ajax({
                        url: "/support/",
                        type: "POST",
                        data: {'log': 'uwsgi_delete'},
                        async: true,
                        success: setTimeout(function(result) {
                    location.reload();
                    },1000),
                });
};

let log_out = function (){
                    $.ajax({
                        url: "/support/",
                        type: "POST",
                        data: {'auth': 'log_out'},
                        async: true,
                        success: setTimeout(function(result) {
                    location.reload();
                    },1000),
                });
};


var currentRequest = null; 
let show_rf_Val = function (value){
    clearTimeout($(this).data('timer'));
    var timer = setTimeout(function() {
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'rf_log_value': $('#rf_input').val()},
            beforeSend : function(){           
                if(currentRequest != null) {
                    currentRequest.abort();
                        }
                },
            async: true,
            success: function (result) {
            //
            },});}, 300);
    $(this).data('timer', timer);  
};

let save_rf_status = function (){
if ($("#rf_logger_status").is(':checked') == false){
    alert('RF logs are hidden...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'log':'rf_hide'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },1000),});}
else {
    alert('RF logs are shown...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'log':'rf_shown'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },1000),})}
};

let save_rf_pairing = function (){
if ($("#rf_pairing_status").is(':checked') == false){
    alert('Pairing is hidden...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'log':'pairing_hide'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },1000),});}
else {
    alert('Pairing is shown...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'log':'pairing_shown'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },1000),})}
};

let delete_rf_log = function (){
        $.ajax({
            url: "/support/",
            type: "POST",
            data: {'log': 'rf_delete'},
            async: true,
            success: setTimeout(function(result) {
        location.reload();
        },1000),
    });
};

let global_testmode_save = function (){
if ($("#global_testmode_check").is(':checked') == false){
    alert('Disabling global test mode ...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'rc_global_test_mode':'off'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },1000),});}
else {
    alert('Enabling global test mode ...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'rc_global_test_mode':'on'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },1000),})}
};

let testmode_save = function (){
if ($("#testmode_check").is(':checked') == false){
    alert('Disabling test mode ...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'test_mode':'off'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },1000),});}
else {
    alert('Enabling test mode ...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'test_mode':'on'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },1000),})}
};

let zwave_save = function (){
if ($("#zwave_check").is(':checked') == false){
    alert('Disabling data spliter ...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'single_zwave':'off'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },1000),});}
else {
    alert('Enabling data spliter ...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'single_zwave':'on'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },1000),})}
};

let sh_save = function (){
if ($("#sh_check").is(':checked') == false){
    alert('Disabling automatic restart ...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble':'ble_hs_disable'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },1000),});}
else {
    alert('Enabling automatic restart ...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble':'ble_hs_enable'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },1000),})}
};

let zlib_save = function (){
if ($("#handler_zlib").is(':checked') == false){
    alert('Disabling zlib for handler ...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'zlib_handler':'off'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },1000),});}
else {
    alert('Enabling zlib for handler ...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'zlib_handler':'on'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },1000),})}
};

let switch_log = function (){
if ($("#logger_check").is(':checked') == false){
    alert('Logging switched to USB-Device ...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'hw_log':'usbdisk'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },5000),});}
else {
    alert('Logging switched to SD-Card ...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'hw_log':'sdcard'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },5000),})}
};

let reset_sdcard_log = function (){
    alert('Reseting sd-card logs ...')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'hw_log':'sdcard_reset'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },3000),});
};

let uwsgi_improve_20220520 = function (){
    alert('Please wait 10 seconds for custom UWSGI config!')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'log':'uwsgi_improve_20220520'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },10000),});
};

let uwsgi_default = function (){
    alert('Please wait 10 seconds for default UWSGI config!')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'log':'uwsgi_default'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },10000),});
};

let handler_old_service = function (){
    alert('Please wait 10 seconds for old handler config!')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble':'handler_old'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },8000),});
};

let handler_new_service = function (){
    alert('Please wait 10 seconds for new handler config!')
    $.ajax({
        url: "/support/",
        type: "POST",
        data: {'ble':'handler_new'},
        async: true,
        success: setTimeout(function(result) {
        location.reload();
        },8000),});
};

$("#shutdown-link").click(function (e) {
    Swal.fire({
    title: 'Warnung!',
    text: 'Möchten Sie den Miniserver wirklich herunterfahren?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#779A45',
    cancelButtonColor: '#cb0963',
    confirmButtonText: ' Ja ',
    cancelButtonText: 'Nein'
    }).then((result) => {
    if (result.isConfirmed) {
        Swal.fire(
        'Herunterfahren',
        'Herunterfahren bestätigt!',
        'success'
        )
        e.preventDefault();
        $.ajax({
            url: "/m_setup/{{ haus.id }}/hardware/setup_rpi/?shutdown=1",
            success: function(response) {
            },
            error: function(xhr, options, error) {}
        });
    }})
});

$("#restart-link").click(function (e) {
    Swal.fire({
    title: 'Warnung!',
    text: 'Möchten Sie den Miniserver wirklich neustarten?',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#779A45',
    cancelButtonColor: '#cb0963',
    confirmButtonText: ' Ja ',
    cancelButtonText: 'Nein'
    }).then((result) => {
    if (result.isConfirmed) {
        Swal.fire(
        'Neustart',
        'Neustart bestätigt!',
        'success'
        )
        e.preventDefault();
        $.ajax({
            url: "/m_setup/{{ haus.id }}/hardware/setup_rpi/?reboot=1",
            success: function(response) {
            },
            error: function(xhr, options, error) {
            }
        });
    }})
});
$.ajax({
    url: "/m_setup/{{ haus.id }}/hardware/setup_rpi/?vertarget=stable&ms={{ rpi.id }}",
    success: function(response) {
        console.log(response);
        $("#cnt_stable").text(response);
    },
    error: function(xhr, options, error) {}
});
$.ajax({
    url: "/m_setup/{{ haus.id }}/hardware/setup_rpi/?vertarget=lab&ms={{ rpi.id }}",
    success: function(response) {
        $("#cnt_lab").text(response);
    },
    error: function(xhr, options, error) {}
});
$("#branchli_spinner").hide();
function doSwitchVersion(targetversion) {
            $("#branchli_spinner").show();
            $.ajax({
                url: "/m_setup/{{ haus.id }}/hardware/setup_rpi/?switchto=" + targetversion + "&ms={{ rpi.id }}"
            }).complete("error", function() {
                window.location.reload();
            });
        }
</script>

{% endblock %}