{% extends "m_base_new.html"%}
{% block title %}Smart-Heat-OS - Module Activation{% endblock %}
{% block bodyclass %}page module-activation{% endblock %}
{% block mheader %}
    </style>


    </style>
{% endblock %}

{% block mcontent %}
<form method="post" id="mods-form" action=".">{% csrf_token %}
<table class="table-td-th, -table">
    <tr>
        <th colspan="2" class="table-td-th, -th" style="text-align: center">Interface</th>
    </tr>
    <tr>
        <td class="table-td-th">
            <input type="radio" name="interface" id="smartui-ch" value="smartui" {% if interface == 'smartui' %} checked {% endif %}/>
            <label class="chbox-mod-active-lbl" for="smartui-ch" data-corners="false">
                Smart-UI
            </label>
        </td>
        <td class="table-td-th">
            <input type="radio" name="interface" id="proui-ch" value="proui" {% if interface == 'proui' %} checked {% endif %}>
            <label class="chbox-mod-active-lbl" for="proui-ch" data-corners="false">
                Pro-UI
            </label>
        </td>
    </tr>
    <tr>
     <th colspan="2" class="table-td-th, -th" style="text-align: center">Alle</th>
     </tr>
    <tr>
        <td class="table-td-th">
            <input type="checkbox"  id="active-ch-all" value="1" checked/>
            <label class="chbox-mod-active-lbl" for="active-ch-all" data-corners="false">
                Aktivirungsseite
            </label>
        </td>
        <td class="table-td-th">
            <input type="checkbox"  id="config-ch-all" value="1" checked/>
            <label class="chbox-mod-active-lbl" for="config-ch-all" data-corners="false">
                Konfigurationsseite/rechtes Menü
            </label>
        </td>
    </tr>
    {% for mod in mods %}
    <tr>
        <th colspan="2" class="table-td-th, -th" style="text-align: center">{{ mod.1 }}</th>
    </tr>
    <tr>
        <td class="table-td-th">
            <input type="checkbox"
                   name="mods_activation"
                   id="active-ch-{{ mod.0 }}"
                   class="active-ch"
                   value="{{ mod.0 }}"
                   {% if mod.0 in mods_activation %} checked {% endif %}
            />
            <label class="chbox-mod-active-lbl" for="active-ch-{{ mod.0 }}" data-corners="false">
                Aktivierungsseite
            </label>
        </td>
        <td class="table-td-th">
            <input type="checkbox"
                   name="mods_configuration"
                   class="config-ch"
                   id="config-ch-{{ mod.0 }}"
                   value="{{ mod.0 }}"
                   {% if mod.0 in mods_configuration %} checked {% endif %}

            />
            <label class="chbox-mod-active-lbl" for="config-ch-{{ mod.0 }}" data-corners="false">
                Konfigurationsseite/rechtes Menü
            </label>
        </td>
    </tr>
    {% endfor %}
</table>
<input type="submit" value='Speichern' style="padding: 0px; width: 100%" data-corners="false" class="ui-btn ui-btn"/>
</form>

<script>
    $('#active-ch-all').change(function (){
        if ($(this).is(':checked')){
            $('.active-ch').prop('checked', true).checkboxradio('refresh');
        }else{
            $('.active-ch').prop('checked', false).checkboxradio('refresh');
        }
    })

    $('#config-ch-all').change(function (){
        if ($(this).is(':checked')){
            $('.config-ch').prop('checked', true).checkboxradio('refresh');
        }else{
            $('.config-ch').prop('checked', false).checkboxradio('refresh');
        }
    })
</script>
{% endblock %}