{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}

{% block mheader %}

{% endblock %}

{% block mcontent %}
    <script type="text/javascript">
        $(document).on('pageshow', function(){
            $.each($("span[id^='raum']"), function() {
                var raumid = $(this).attr("id").split("_")[1];
                $(this).load("/?r="+raumid);
            });
        });
    </script>


    {% if haus %}
        <ul data-role="listview" data-divider-theme="a">
            {% for etname, raeume in etagen %}
                <li data-role="list-divider" data-theme='a'>{{etname}}</li>
                {% for raum in raeume %}
                    <li style="max-height:42px;">
                        <a href="/m_raum/{{raum.0}}/" style="max-height:20px;">
                            <img src="/static/icons/{{raum.2}}.png" alt="icon" class="ui-li-icon"/>
                            {{raum.1}}
                            <span id="raum_{{ raum.0 }}" class="ui-li-aside" style="margin-top: 0; max-height: 42px"></span>
                        </a>
                    </li>
                {% endfor %}
            {% endfor %}

            {% for link in links %}
                {% autoescape off %}{{link}}{% endautoescape %}
            {% endfor %}
        </ul>
    {% else %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
            $("#addressform").submit(function(e) {
                var self = this;
                e.preventDefault();
                codeAddress();
                return false;
            });
            function codeAddress() {
                try {
                    var geocoder = new google.maps.Geocoder();
                } catch (ReferenceError) {
                    $("#lat").val(0);
                    $("#lng").val(0);
                    $("#addressform").get(0).submit();
                }
                var address = $("#str").val() + ' ' + $("#nr").val() + ' ' + $("#plz").val() + ' ' + $("#ort").val();
                geocoder.geocode( { 'address': address}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        $("#lat").val(results[0].geometry.location.lat());
                        $("#lng").val(results[0].geometry.location.lng());
                        $("#addressform").get(0).submit();
                    } else if(status == google.maps.GeocoderStatus.ZERO_RESULTS) {
                        $("#lierror").html('Unbekannte Adresse.');
                        $("#lierror").show();
                    } else {
                        $("#lierror").html('Fehler. Bitte probieren Sie es sp&auml;ter wieder. Administratoren wurden verst&auml;ndigt.');
                        $("#lierror").show();
                    }
                });
            }
        </script>
        <form action='/' method="post" data-ajax='false' id='addressform'> {% csrf_token %}
            <input type="hidden" name="lat" id="lat"/>
            <input type="hidden" name="lng" id="lng"/>
            <ul data-role="listview" data-divider-theme='a'>
                <li data-role="list-divider">Registrierung abschliessen</li>
                <li>
                    <label for='vorname'>Vorname</label>
                    <input type='text' id='vorname' name='vorname' value="{{vn}}"/>
                </li>
                <li>
                    <label for='nachname'>Nachname</label>
                    <input type='text' id='nachname' name='nachname' value="{{nn}}"/>
                <li data-role="list-divider">Haus anlegen</li>
                <li>
                    <label for='str'>Strasse</label>
                    <input type='text' id='str' name='str' value="{{s}}"/>
                </li>
                <li>
                    <label for='nr'>Hausnummer</label>
                    <input type='number' id='nr' name='nr' value="{{n}}"/>
                </li>
                <li>
                    <label for='plz'>Postleitzahl</label>
                    <input type='number' id='plz' name='plz' value="{{p}}"/>
                </li>
                <li>
                    <label for='ort'>Ort</label>
                    <input type='text' id='ort' name='ort' value="{{o}}"/>
                </li>
                <li style="color:#cb0963; display:none;" id='lierror'></li>
                <li>
                    <a href="#" data-role="button" onclick="codeAddress();">Speichern</a>
                </li>
            </ul>
        </form>
    {% endif %}
{% endblock %}

{% block footer %}
    {% if haus %}
        <div data-role='navbar' data-position="fixed" data-tap-toggle="false" id='footer'>
            <ul>
                <li>
                    <a href='/' data-icon="home">Raumtemperaturen</a>
                </li>
                <li>
                    {% if haus %}
                        <a href='/config/{{haus.id}}/' data-icon='gear'>Einstellungen</a>
                    {% else %}
                        <a href='/config/{{raum.etage.haus.id}}/' data-icon='gear'>Einstellungen</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}