{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Einrichtung{% endblock %}

{% block mheader %}

    <a href="/support/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    <a href="https://support.controme.com/mini-server/#Funkkomponenten" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" style="margin-right:30px;"></a>

{% load static %}
    <script src="{% static 'sweetalert2.all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'sweetalert2.min.css' %}">
{% endblock %}
{% csrf_token %}
{% block mcontent %}
<ul data-role="listview">
<li>
  <br>
  <label style="font-weight: bold; font-size: 20px;" >Multiplikatoren</label><br><br>
  <label>Die Standard-Zeit, bis ein Punkt seine Farbe von grün in gelb oder rot wechselt, wird mit der im jeweiligen Feld angegebenen Zahl multipliziert. Der Multiplikator wird auf alle Geräte innerhalb des betreffenden Protokolls angewendet.</label>
  <br><br>
  <div>
    <form method="post" id="protocol-form" onsubmit="return validateForm()">
      {% csrf_token %}
      <label for="btle_input">Protokoll Multiplikation: Btle</label>
      <input type="number" name="btle_input" min="1" value={{ btle_value }}>
      <label for="enocean_input">Protokoll Multiplikation: Enocean</label>
      <input type="number" name="enocean_input" min="1" value={{ enocean_value }}>
      <label for="sensors_input">Protokoll Multiplikation: kabelgebundene Sensoren</label>
      <input type="number" name="sensors_input" min="1" value={{ sensors_value }}>
      <label for="gateways_input">Protokoll Multiplikation: Gateways</label>
      <input type="number" name="gateways_input" min="1" value={{ gateways_value }}>
      <br>
      <input type="submit" value="Speichern">
    </form>
  </div>
</li>

<li>
    <form method="post" onsubmit="return validateForm()">
      {% csrf_token %}
      <br>
      <label style="font-weight: bold; font-size: 20px;" >Gerätespezifische Einstellung</label><br><br>
      <label>Sofern die Zeit bis zum Farbwechsel für ein spezifisches Gerät definiert werden soll, ist dies durch eine gerätespezifische Einstellung möglich. Achtung: Diese Einstellung überschreibt alle anderen Berechnungsmethoden für die Punkte inkl. der Batteriespar-Felder der Raumcontroller.</label>
      <br><br>
      <br>
      <label style="color:#cb0963;; font-weight: bold;">Bei Box-Auswahl ignoriert die App andere Funktionen und setzt den Wert.</label>
      <select id="name" name="name" onchange="updateValues()">
          <option value="hkt">Heizkörper Thermostat Comet</option>
          <option value="hktControme">Raumcontroller PRO</option>
          <option value="hktGenius">Heizkörper Thermostat Genius</option>
          <option value="hkteTRV">Heizkörperthermostat eTRV</option>
          <option value="sensora50401">Temperatur-/Luftfeuchtesensor (A5-04-01)</option>
          <option value="sensora50205">Temperatursensor (A5-02-05)</option>
          <option value="sensora50213">Außentemperatursensor (A5-02-13)</option>
          <option value="hkta52001">Heizkörperthermostat (A5-20-01)</option>
          <option value="pira50703">Bewegungsmelder (A5-07-03)</option>
          <option value="cntct">Fensterkontakt</option>
          <option value="sensors">kabelgebundene Sensoren</option>
          <option value="gateways">Gateways</option>
      </select>
      <label for="custom_function">Benutzerdefinierte Funktion verwenden</label>
      <br>
      <div id="color-settings">
        <input type="checkbox" id="custom_function" name="custom_function">
        <label for="red"><span style="display: inline-block; color: red; margin-right: 5px;">●</span>Rot:</label>
        <input type="number" id="red" name="red" min="60">
        <label for="yellow"><span style="display: inline-block; color: yellow; margin-right: 5px;">●</span>Gelb:</label>
        <input type="number" id="yellow" name="yellow" min="60">
        <label for="green"><span style="display: inline-block; color: green; margin-right: 5px;">●</span>Grün:</label>
        <input type="number" id="green" name="green" min="0">
        <br>
        <button type="button" onclick="restoreDefaults()">Standardwerte wiederherstellen</button>
      </div>
      <div id="max-allowed-rc-soll" style="display: none;">
        <label for="max_allowed_rc_soll">Maximal erlaubte Solltemp. RC→RPI:</label>
        <input type="number" id="max_allowed_rc_soll" name="max_allowed_rc_soll" min="0" value={{ max_allowed_rc }}>
      </div>
      <div id="max-allowed-etrv-soll" style="display: none;">
        <label for="max_allowed_etrv_soll">Maximal erlaubte Solltemp. eTRV→RPI:</label>
        <input type="number" id="max_allowed_etrv_soll" name="max_allowed_etrv_soll" min="0" value={{ max_allowed_etrv }}>
      </div>
      <button type="submit" id="submit-button" value="Werte speichern">Absenden</button>
    </form>
</li>
</ul>

<script>
  const thermostatValues = {{ thermostat_values|safe }};
  const defaultThermostatValues = {{ default_thermostat_values|safe }};

  function updateValues() {
    const selectedThermostat = document.getElementById('name').value;
    // Show/hide the max_allowed_rc_soll field
    const maxAllowedRcSoll = document.getElementById('max-allowed-rc-soll');
    if (selectedThermostat === 'hktControme') {
        maxAllowedRcSoll.style.display = 'block';
    } else {
        maxAllowedRcSoll.style.display = 'none';
    }
    // Show/hide the max_allowed_eTRV_soll field
    const maxAllowedeTRVSoll = document.getElementById('max-allowed-etrv-soll');
    if (selectedThermostat === 'hkteTRV') {
      maxAllowedeTRVSoll.style.display = 'block';
    } else {
      maxAllowedeTRVSoll.style.display = 'none';
    }
    const redInput = document.getElementById('red');
    const yellowInput = document.getElementById('yellow');
    const greenInput = document.getElementById('green');
    const custom_function = document.getElementById('custom_function');

    if (thermostatValues[selectedThermostat]) {
        redInput.value = thermostatValues[selectedThermostat].red;
        yellowInput.value = thermostatValues[selectedThermostat].yellow;
        greenInput.value = thermostatValues[selectedThermostat].green;
        custom_function.checked = thermostatValues[selectedThermostat].custom_function;
        document.querySelector('label[for="red"]').innerHTML = '<span style="display: inline-block; color: red; margin-right: 5px;">●</span>Rot (' + defaultThermostatValues[selectedThermostat].red + '):';
        document.querySelector('label[for="yellow"]').innerHTML = '<span style="display: inline-block; color: yellow; margin-right: 5px;">●</span>Gelb (' + defaultThermostatValues[selectedThermostat].yellow + '):';
        document.querySelector('label[for="green"]').innerHTML = '<span style="display: inline-block; color: green; margin-right: 5px;">●</span>Grün (' + defaultThermostatValues[selectedThermostat].green + '):';
    } else {
        redInput.value = defaultThermostatValues[selectedThermostat].red;
        yellowInput.value = defaultThermostatValues[selectedThermostat].yellow;
        greenInput.value = defaultThermostatValues[selectedThermostat].green;
        custom_function.checked = false;
        document.querySelector('label[for="red"]').innerHTML = '<span style="display: inline-block; color: red; margin-right: 5px;">●</span>Rot (' + defaultThermostatValues[selectedThermostat].red + '):';
        document.querySelector('label[for="yellow"]').innerHTML = '<span style="display: inline-block; color: yellow; margin-right: 5px;">●</span>Gelb (' + defaultThermostatValues[selectedThermostat].yellow + '):';
        document.querySelector('label[for="green"]').innerHTML = '<span style="display: inline-block; color: green; margin-right: 5px;">●</span>Grün (' + defaultThermostatValues[selectedThermostat].green + '):';
    }
    $(custom_function).checkboxradio("refresh");
    toggleRelatedElements();
}


  function restoreDefaults() {
    const selectedThermostat = document.getElementById('name').value;
    const redInput = document.getElementById('red');
    const yellowInput = document.getElementById('yellow');
    const greenInput = document.getElementById('green');

    redInput.value = defaultThermostatValues[selectedThermostat].red;
    yellowInput.value = defaultThermostatValues[selectedThermostat].yellow;
    greenInput.value = defaultThermostatValues[selectedThermostat].green;
}

// Call the updateValues function when the page content has loaded
document.addEventListener('DOMContentLoaded', function() {
updateValues();
});

$(document).ready(function() {
  $("#submit-button").on("click", function(event) {
    event.preventDefault();

    const redInput = parseInt(document.getElementById('red').value);
    const yellowInput = parseInt(document.getElementById('yellow').value);
    const greenInput = parseInt(document.getElementById('green').value);

    if (redInput > yellowInput && yellowInput > greenInput) {
      const data = {
        csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
        name: $("#name").val(),
        red: $("#red").val(),
        yellow: $("#yellow").val(),
        green: $("#green").val(),
        custom_function: $("#custom_function").is(':checked')
      };

      $.ajax({
        type: "POST",
        url: "",
        data: data,
        success: function(response) {
          Swal.fire({
            icon: 'success',
            title: response.success_message,
            confirmButtonText: 'OK'
          }).then(() => {
            location.reload(); // Add this line to reload the page
          });
        },
        error: function() {
          Swal.fire({
            icon: 'error',
            title: 'Ein Fehler ist aufgetreten. Bitte versuchen Sie es erneut.',
            confirmButtonText: 'OK'
          });
        }
      });
    } else {
      Swal.fire({
        icon: 'warning',
        title: 'Ungültige Werte. Rot sollte größer als Gelb sein und Gelb sollte größer als Grün sein.',
        confirmButtonText: 'OK'
      });
    }
  });
});

function toggleRelatedElements() {
  const isChecked = $("#custom_function").is(':checked');
  const displayStyle = isChecked ? 'block' : 'none';
  $('#color-settings').css('display', displayStyle);
}

// Call the toggleRelatedElements function when the custom_function checkbox is clicked
$("#custom_function").on("change", toggleRelatedElements);

// Call the toggleRelatedElements function when the page content has loaded
document.addEventListener('DOMContentLoaded', function() {
  updateValues();
  toggleRelatedElements(); // Add this line
});

$(document).ready(function() {
  $("#protocol-form").on("submit", function(event) {
    event.preventDefault();

    Swal.fire({
      title: 'Möchten Sie diese Werte speichern?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Ja, speichern!',
      cancelButtonText: 'Abbrechen'
    }).then((result) => {
      if (result.isConfirmed) {
        // Submit the form and reload the page
        this.submit();
      }
    });
  });
});

// Inside your $(document).ready function
$("#max_allowed_rc_soll").on("change", function() {
    const data = {
        csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
        max_allowed_rc_soll: $(this).val(),
        // You may want to include other data here, like the thermostat id/name
    };

    $.ajax({
        type: "POST",
        url: "",  // You need to specify the url where this data will be sent
        data: data,
        success: function(response) {
            Swal.fire({
                icon: 'success',
                title: response.success_message,
                confirmButtonText: 'OK'
            });
        },
        error: function() {
            Swal.fire({
                icon: 'error',
                title: 'Ein Fehler ist aufgetreten. Bitte versuchen Sie es erneut.',
                confirmButtonText: 'OK'
            });
        }
    });
});

// Inside your $(document).ready function
$("#max_allowed_etrv_soll").on("change", function() {
    const data = {
        csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val(),
        max_allowed_etrv_soll: $(this).val(),
        // You may want to include other data here, like the thermostat id/name
    };

    $.ajax({
        type: "POST",
        url: "",  // You need to specify the url where this data will be sent
        data: data,
        success: function(response) {
            Swal.fire({
                icon: 'success',
                title: response.success_message,
                confirmButtonText: 'OK'
            });
        },
        error: function() {
            Swal.fire({
                icon: 'error',
                title: 'Ein Fehler ist aufgetreten. Bitte versuchen Sie es erneut.',
                confirmButtonText: 'OK'
            });
        }
    });
});

</script>
{% endblock %}
