{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Raumgruppen - Hilfe{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/raumgruppen/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

    <h2>Raumgruppen</h2>

    <h3>Funktionsweise</h3>

        <p>
            Eine Raumgruppe fasst mehrere Räume zusammen, damit in diesen gleichzeitig bestimmte Einstellungen
            vorgenommen werden können. Raumgruppen werden in der Raumübersicht unter den physischen Räumen angezeigt,
            um schnellen Zugriff zu gewährleisten.
        </p>

        <p>
            Eine Raumgruppe ist ohne Gedächtnis, d.h. die getroffenen Einstellungen werden auf die jeweiligen Räume
            übernommen, die Raumgruppe hat aber keine eigene Anzeige für die Einstellungen der einzelnen Räume. Das
            hat zur Folge, dass nachfolgende Änderungen an den Einstellungen einzelner Räume auch keine Rückwirkung
            auf die Raumgruppe haben. Außerdem kann ein Raum so Teil mehrerer Raumgruppen sein, so kann z.B. ein
            Wohnzimmer gleichzeitig Teil der Raumgruppen "Wohnräume" und "Südseite" sein, ohne dass die Raumgruppen
            sich gegenseitig beeinflussen.
        </p>

        <p>
            Über eine Raumgruppe lassen sich an den zusammengefassten Räumen folgende Einstellungen vornehmen:
            <ul>
                <li>Solltemperatur ändern: die Solltemperatur in allen Räumen auf diesen Wert setzen</li>
                <li>Solltemperaturoffset: die Solltemperatur in allen Räumen um diesen Wert anheben oder absenken</li>
                <li>Wettersteuerung deaktivieren: Wetter Plugin in allen Räumen deaktivieren</li>
                <li>Wetterparameter ändern: die Wetterparameter zur frühzeitigen Anhebung und Absenkung der
                    Raumtemperatur in allen Räumen einstellen</li>
                <li>Zeitschalter deaktivieren: aktivierte Zeitschalter in allen Räumen entfernen</li>
                <li>Zeitschalter: Zeitschalter in allen Räumen setzen</li>
            </ul>
        </p>

    <h3>Konfigurationsmöglichkeiten</h3>

        <p>
            Raumgruppen lassen sich anlegen und editieren. Eine Raumgruppe benötigt einen Namen und eine Anzahl von
            Räumen, die in ihr zusammengefasst werden sollen. Es können auch alle Räume eines Hauses in einer
            Raumgruppe zusammengefasst werden, um einfachen Zugriff auf die Solltemperaturen, Zeitschalter- und
            Wettereinstellungen aller Räume zu haben.
        </p>

{% endblock %}
