{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page room{% endblock %}
{% block mheader %}
{#        <a href="/"class="ui-btn-icon-notext ui-icon-shadow  ui-icon-carat-l ui-alt-icon " data-role="none">&nbsp;</a>#}
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $(document).on('pageshow', function(){
        $("#wgrid").hide();
        $("#sspan").hide();
        $("#sospan").hide();
        $("#zsgrid").hide();
        $('#rglv').listview('refresh', true);
        $("#sollwert").change(function() {
            $("#soll").attr('onchange', '');
            $('#soll').attr('value', $('#sollwert').val());
            $("#soll").slider('refresh');
        });
        $(".ui-slider-track").bind('vmousedown', function() {
            $("#soll").attr('onchange', "$('#sollwert').val($('#soll').val())");
            $("#soll").slider('refresh');
        });
    });
    function toggleSlider(target) {
        $("#" + target).toggle();
        $('#rglv').listview('refresh', true);
    }
    function toggleActive(s,t,grid) {
        if($("#"+s).prop('checked')) {
            $("#"+t).prop('checked', false);
            $("#"+t).attr('disabled',true);
            $("#"+grid).hide();
            $("#"+t).checkboxradio('refresh');
        } else {
            $("#"+t).attr('disabled', false);
            $("#"+t).checkboxradio('refresh');
        }
    }
</script>
<style type="text/css">
{#    .hideslider.ui-slider-input {#}
{#        display: none !important;#}
{#    }#}
{#    .hideslider.ui-slider-track {#}
{#        margin:0;#}
{#    }#}
    label.ui-btn {
	    font-weight:normal;
    }
</style>

<form action="/m_raumgruppen/{{rg.id}}/" method="post" id="rgform" data-ajax='false'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" id='rglv' style="margin-top: -9px">
        <li data-role='list-divider'>Raumgruppe {{rg.name}}</li>
        <li>
            R&auml;ume: <span style="font-size:14px">{{raeume}}</span>
        </li>
        
        <li data-role="fieldcontain">
            <label  data-corners="false"><input type="checkbox" onclick="toggleSlider('sspan');" name="temp" value='1'/>Solltemperatur &auml;ndern</label>
            
            <div id="sspan">
                <br/>
                <label for='soll'>Solltemperatur</label>
                <input name='soll' id='soll' type="range" data-mini="true"
                       min="18" max="26" value="21" step=".1"
                       data-highlight="true" data-popup-enabled="true"
                       class="hideslider"/>
            </div>
        </li>
        
        <li>
            <label  data-corners="false"><input type="checkbox" name="solloffset" onclick="toggleSlider('sospan')" value="1"/>Solltemperaturoffset</label>
            
            <div id="sospan">
                <br/>
                <label for="soffsetval">Solltemperatur Offset</label>
                <input type="range" name="soffsetval" id="soffsetval" value="0.0" min="-4" max="4" step="0.1"  data-mini="true"
                            data-highlight="true" data-popup-enabled="true"/>
            </div>
        </li>
        
        {% if error %}
            <li style="color:#cb0963">{{error}}</li>
        {% endif %}
        <li style="padding:0px;" data-icon='false'>
            <a href="#" onclick="$('#rgform').get(0).submit();" style="text-align:center">Speichern</a>
        </li>
    </ul>
</form>
{% endblock %}
