{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Solarpuffer - Hilfe{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/solarpuffer/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

    <h2>Solarpuffer</h2>

    <h3>Funktionsweise</h3>

        <p>
            Das controme Solarpuffer-Plugin macht sich die Wettervorhersage zunutze, um vorhandene Wärme im Solarpuffer
            besser auszunutzen. Wenn der Wetterbericht einen Temperatureinbruch vorhersagt und der Puffer gleichzeitig
            ausreichend aufgeheizt ist, dann spült das Solarpuffer-Plugin frühzeitig Wasser aus dem Puffer ins Haus.
            Damit wird das Haus leicht aufgeheizt, so dass der kommende Temperatureinbruch besser abgefedert wird. Da
            der Temperatureinbruch noch bevorsteht und die Puffertemperatur eine voreingestellte Schwelle nicht
            unterschreiten darf, federt der aktuelle Wärmeeintrag wiederum einen Einbruch der Puffertemperatur ab.
        </p>

        <p>
            Der Solarpuffer wird durch das Plugin angesteuert, indem - vergleichbar zur Wettersteuerung - ein Offset
            auf die Solltemperatur in ausgewählten Räumen addiert wird. Das Solarpuffer-Plugin lässt sich entsprechend
            für einzelne Räume (de-)aktivieren. Ebenso kann der zu addierende Offset raumindividuell konfiguriert
            werden.
        </p>

    <h3>Hausweite Konfigurationsmöglichkeiten</h3>

        <p>
            Damit der Puffer nicht zu sehr beansprucht wird und damit auch bei niedrigeren Außentemperaturen noch
            genug Wärme zur Verfügung steht, legt die <b>Deaktivierungsschwelle der Puffertemperatur in °C</b> eine
            untere Grenze für die Puffertemperatur fest. Zeigt der Puffersensor eine Temperatur an, die unter dieser
            Schwelle liegt, so stellt das Solarpuffer-Plugin seine Funktion ein.
        </p>

        <p>
            Der <b>Vorhersagezeitraum</b> gibt an, wie viele Stunden der Wetterbericht vorausschauen soll. Je länger
            dieser Zeitraum gewählt wird, desto früher wird das Solarpuffer-Plugin aktiv. Je träger ein Haus auf
            Beheizung reagiert, desto länger sollte dieser Zeitraum gewählt werden.
        </p>

        <p>
            Die <b>Aktivitätsgrenze</b> definiert die Maximaltemperatur im Vorhersagezeitraum, damit das
            Solarpuffer-Plugin aktiv wird. Wird diese Temperatur im Vorhersagezeitraum vom Wetterbericht auch nur einmal
            überschritten, dann wird das Plugin nicht aktiv.
        </p>

        <p>
            Die Puffertemperatur wird durch den <b>Puffersensor</b> gemessen.
        </p>

        <p>
            Neben der indirekten Aktivierung des Solarpuffer-Plugin durch Ausgabe von Offsets auf einzelne
            Raumsolltemperaturen, kann auch ein <b>zu aktivierender Ausgang</b> an einem Gateway festgelegt werden.
        </p>

    <h3>Raumspezifische Konfigurationsmöglichkeiten</h3>

        <p>
            Der einzige raumspezifische Parameter ist die <b>maximale Temperaturerhöhung für den jeweiligen Raum
            durch Solarpufferung</b>. Wenn das Solarpuffer-Plugin aktiv wird, wird die eingestellte maximale
            Temperaturerhöhung als Offset auf die Solltemperatur des Raumes aufgeschlagen. Sobald die Raumtemperatur
            diesen Wert modifizierten Sollwert erreicht, wird das Plugin für den jeweiligen Raum inaktiv.
        </p>

{% endblock %}
