{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}
{% block bodyclass %}page wetter{% endblock %}
{% block mheader %}
    <span><a href="http://support.controme.com/bedienung-module/modul-solarpuffer/" target="_blank" data-role="none" class="bulb-link"><img src="/static/icons/bulb-icon-grey.png" width="25" height="25"></a></span>
    <span><a href="/m_raum/{{raum.id}}/" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon arrow-link" data-role="none"></a></span>
{% endblock %}
{% block mcontent %}
<script type="text/javascript">
    $(document).on('pageshow', function(){
        {% if not active %}
            $("#wgrid").hide();
        {% endif %}
        $('#raumsplv').listview('refresh', true);
    });
    function toggleSlider() {
        $("#wgrid").toggle();
        $('#raumsplv').listview('refresh', true);
    }
</script>
<style type="text/css">
    label.ui-btn {
        font-weight: normal;
    }
</style>

{% if raum.name %}
<a data-role="none" href="/m_raum/{{ raum.id }}/" class="ui-link-inherit custome_a">
    <div class="room_wrapper">
        <img src="/static/icons/{{raum.icon}}.png" alt="icon">{{raum.name}}
    </div>
</a>
{% endif %}

<form action="/m_raum/{{raum.id}}/solarpuffer/" method="post" data-ajax='false' id='sprform'>{% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" id='raumsplv'>
        <li data-role='list-divider'>Solarpuffereinstellungen</li>
        <li>
            <label style="margin:0px;border:0;" data-corners="false">
                <input type="checkbox" onclick="toggleSlider();" name="solarpuffer" value='1' {%if active%}checked{%endif%}/>
                Solarpuffer aktiviert
            </label>

            <div id="wgrid">
                <br/>
                <hr/>
                <br/>
                maximale Temperaturerh&ouml;hung f&uuml;r diesen Raum durch Solarpufferung

                <input type="range" name="offset" id="offset" value="{{offset}}"
                   min="0" max="10" step=".1"  data-mini="true" data-highlight="true" data-popup-enabled="true"/>
            </div>
        </li>
        <li data-icon='false' style="padding:0px;">
            <a href="#" onclick="$('#sprform').get(0).submit();" style="text-align:center">Speichern</a>
        </li>
    </ul>
</form>
{% endblock %}