{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Solarpuffer{% endblock %}

{% block mheader %}
        <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/bedienung-module/modul-solarpuffer/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}
{% block mcontent %}

<script type="text/javascript">
    $(document).on('pageshow', function() {
        {% if not active %}
            $(".hideli").hide();
        {% endif %}
    });
</script>
<style type="text/css">
    label.ui-btn, div.ui-btn {
        font-weight: normal;
    }
</style>

<form method="post" action="/m_setup/{{haus.id}}/solarpuffer/" data-ajax="false" id='spform'>{% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" id="rlrlv">
        <li data-role="list-divider">Solarpuffer</li>

        <li>
            Das Solarpuffer-Plugin leert einen aufgeheizten Solarpuffer ins Haus, sofern ein Wetterumschwung bevorsteht
            und der jeweilige maximale Temperaturanstieg in den Räumen noch nicht erreicht ist.
        </li>

        <li class="hideli">
            <label>
                Deaktivierungsschwelle Puffertemperatur in °C
                <input type="number" name="lower_threshold" id="lower_threshold" value="{{ lower_threshold }}"/>
            </label>

            <small>
                Das Plugin wird deaktiviert, wenn die Temperatur im Puffer diesen Wert unterschreitet.
            </small>
        </li>

        <li class="hideli">
            <label>
                Vorhersagezeitraum
                <select id="lookahead" name="lookahead">
                    <option value="1" {% ifequal lookahead 1 %}selected="selected"{% endifequal %}>12 Stunden</option>
                    <option value="2" {% ifequal lookahead 2 %}selected="selected"{% endifequal %}>24 Stunden</option>
                    <option value="3" {% ifequal lookahead 3 %}selected="selected"{% endifequal %}>36 Stunden</option>
                    <option value="4" {% ifequal lookahead 4 %}selected="selected"{% endifequal %}>48 Stunden</option>
                    <option value="5" {% ifequal lookahead 5 %}selected="selected"{% endifequal %}>60 Stunden</option>
                    <option value="6" {% ifequal lookahead 6 %}selected="selected"{% endifequal %}>72 Stunden</option>
                </select>
            </label>

            <small>
                Der Zeitraum, der zur Identifikation von Wetterumschwüngen herangezogen wird.
            </small>
        </li>

        <li class="hideli">
            <label>
                Aktivitätsgrenze: Maximaltemperatur in °C im Vorhersagezeitraum
                <input type="number" name="max_forecast_temp" id="max_forecast_temp" value="{{ max_forecast_temp }}"/>
            </label>

            <small>
                Das Plugin wird aktiv, wenn die maximale Temperatur im oben ausgewählten Zeitraum diesen Wert nicht
                überschreitet.
            </small>
        </li>

        <li class="hideli">
            <label>
                Puffersensor
                <select name="puffersensor" id="puffersensor">
                    <option value="0">---</option>
                    {% for s in haus.sensor_related.all %}
                        <option value="{{ s.get_identifier }}" {% ifequal s.get_identifier sensor.get_identifier %}selected="selected"{% endifequal %}>
                            {{ s.raum.etage.name }}/{{ s.name }}
                            {% for sensor_info in sensors_info %}
                                {% if s.name == sensor_info.sensor_name and sensor_info.sensortyp %} 
                                    <span style="color:#cb0963;">({{ sensor_info.sensortyp|upper }})</span>{% if sensor_info.raum_name %} - {{ sensor_info.raum_name }} {% endif %}
                                {% endif %}
                            {% endfor %}
                        </option>
                    {% endfor %}
                </select>
            </label>
        </li>

        <li class="hideli">
            <label>
                Zu aktivierender Ausgang
                <select name="ausgang" id="ausgang">
                    <option value="0">---</option>
                    {% for gw in haus.gateway_related.all %}
                        <optgroup label="{{ gw.name }}">
                            {% if gw.id == ausgang.gateway.id %}
                                <option value="{{ gw.id }}_{{ ausgang.ausgang }}" selected="selected">{{ ausgang.ausgang }}</option>
                            {% endif %}
                            {% for a in gw.get_unassigned_outputs %}
                                <option value="{{ gw.id }}_{{ a }}">{{ a }}</option>
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </label>

            <small>
                Zusätzlich zur Anhebung der Zieltemperatur in einzelnen Räumen kann auch ein Ausgang an einem
                Gateway geschalten werden, um etwa eine Pumpe zu aktivieren.
            </small>
        </li>

        {% if error %}
            <li class='hideli' style="color:#cb0963">{{error}}</li>
        {% endif %}
        <li data-icon='false'>
            <a href="#" onclick="$('#spform').get(0).submit();" style="text-align:center">Einstellungen speichern</a>
        </li>
    </ul>
</form>

{% endblock %}
