{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Homebridge{% endblock %}

{% block mheader %}
   <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
   <a href="https://support.controme.com/apple-home-integration/" target="_blank" data-role="button"
      data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon"
      data-iconpos="notext"></a>
{% endblock %}

{% block bodycls %}homebridge{% endblock %}

{% block mcontent %}
   <input type="hidden" id="haus-id" value="{{ haus.id }}">
   <style type="text/css">
       .green-font{
           padding-left: 15px;
           color: #67a540;
       }

       .red-font{
       padding-left: 15px;
           color: #cb0963;

       }

       .blue-font{
           color: #559ab2 !important;
       }

       .title{
           font-weight: bold;
       }
       .new-req .ui-icon.ui-icon-arrow-r.ui-icon-shadow{
           display: none;
       }

       .desc-txt{
           color: #8C8B8A;
           font-style: italic;
           margin-top: 10px;
       }
   </style>

   <form method="post" action="/m_setup/{{ haus.id }}/homebridge/" data-ajax="false" id='hb-form'> {% csrf_token %}
       <ul data-role="listview" data-divider-theme="a" id="loglist">
           <li data-role="list-divider">
               Apple Homekit
           </li>
           <li class="">
               <div data-role="fieldcontain">
                    <label for="temperature-type" style="margin-top: .5em;">Temperaturänderungen:</label>
                    <select name="temperature_type" data-mini="true" id="temperature-type">
                        <option value="temporal"
                                {% ifnotequal m_params.temperature_type 'temporal' %}selected="selected"
                                {% endifnotequal %}>temporär
                        </option>
                        <option value="permanent" {% ifequal m_params.temperature_type 'permanent' %}
                                selected="selected" {% endifequal %}>dauerhaft</option>
                    </select>
                    <div class="desc-txt">Temperaturänderungen können dauerhaft und temporär übernommen werden.</div>
               </div>
           <li>
                <div data-role="fieldcontain">
                    <label for="duration" style="vertical-align: middle;">Zeiteinstellung in Minuten</label>
                    <input type="number" name="duration" id="duration"
                           value="{{ m_params.duration|default:"300" }}" required/>
                    <br/>
                    <div class="desc-txt">
                        Stellen Sie hier ein, wie lange die vorgenommene Temperatureinstellung über
                        Apple Home gilt (bei Einstellung „temporär“).
                    </div>
                </div>
           </li>
           <li data-icon='false'>
               <a href="#" onclick="$('#hb-form').get(0).submit();" style="text-align:center">Speichern</a>
           </li>
           <li> <span class=blue-font">
               Über den nachfolgenden Reset-Button können Sie Apple-Homekit zurücksetzen. Der Miniserver wird dadurch von Ihrer Apple-ID getrennt und kann erneut verbunden werden. <br>
               Ein vollständiger Reset von Apple-Home erfordert folgende Schritte: <br>
               1. Löschen Sie die Controme-Bridge aus Ihrer Apple-Home-App, bevor Sie den Reset-Button klicken. <br>
               2. Führen Sie einen <a href="/m_setup/1/hardware/setup_rpi/?reboot=1"> Neustart </a> des Miniservers aus, nachdem Sie den Reset-Button geklickt haben.</span>
           </li>
           <li data-icon='false'>
               <a href="#" id='homebridge-reset' style="text-align:center">Reset</a>
           </li>
       </ul>
   </form>
{% endblock %}