{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Wetter-Pro{% endblock %}

{% block mheader %}
        <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/wetter-pro/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block bodycls %}wetter-pro{%endblock%}

{% block mcontent %}

<script type="text/javascript">

</script>
<style type="text/css">
    .green-font{
        padding-left: 15px;
        color: #67a540;
    }

    .red-font{
    padding-left: 15px;
        color: #cb0963;

    }

    .blue-font{
        color: #559ab2 !important;
    }

    .title{
        font-weight: bold;
    }
    .new-req .ui-icon.ui-icon-arrow-r.ui-icon-shadow{
        display: none;
    }
</style>

<ul data-role="listview" data-divider-theme="a">
    <li><span class="title">Wetter-Pro</span></li>
    <li>
        {% if is_active %}
            <span style="color: #67a540;">Wetter-Pro ist erfolgreich aktiviert.</span>
        {% else %}
            <span style="color: #cb0963;">Wetter-Pro bezieht laufend aktualisierte Wetterdaten aus dem Internet.
                Hierfür ist eine kostenpflichtige Aktivierung nötig. Die Aktivierung erfolgt automatisch nach Bezug
                <a href="https://shop.controme.com/produkt/wetter-pro-12-monate/" target="_blank">dieses Artikels</a> aus dem Controme Store.</span>
        {% endif %}
    </li>
    <li>
        <a href="/m_setup/{{ haus.id }}/wetter_pro/weather_data/">Aktuelle Wetterdaten</a>
        <p class="green-font"><i>Hier können die zuletzt abgefragten Wetterdaten eingesehen werden.</i></p>
    </li>

    <li>&nbsp;</li>

    <li> <span class="title"> Wetter-Abfragen</span></li>
    {% for id,name, assign_result in wetter_regs %}
    <li>
        <a href="/m_setup/{{ haus.id }}/wetter_pro/edit/{{id}}/">{{name}}</a>
        <p class="green-font"><i>Ergebnis {% if last_cals_updated%} {{last_cals_updated}} {% endif %}: {{assign_result|floatformat:2}}</i></p>
    </li>
    {% endfor %}
    <li class="new-req">
        {% if is_there_address %}
        <a  href="/m_setup/{{ haus.id }}/wetter_pro/edit/" style="text-align:center" class="blue-font">neuen Wetter Offset anlegen</a>
        {% else %}
        <span class="red-font">
            Achtung: Das Wetter-Pro-Plugin benötigt den Standort des Gebäudes.
            Bitte geben Sie auf der Hausprofil-Seite eine Gebäudeadresse ein.
        </span>
        {% endif %}
    </li>



</ul>

{% endblock %}
