{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Wetter-Pro{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/wetter_pro/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/wetter-pro/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" style="right: 80px;"></a>
        {% if wid%}
            <a href="/m_setup/{{haus.id}}/wetter_pro/delete/{{wid}}/" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
        {% endif %}
{% endblock %}

{% block bodycls %}wetter-pro{%endblock%}

{% block mcontent %}

<script type="text/javascript">
$(document).ready(function(){
    $('#wetter_value').change(function(){
        var period_a = $('#perioda').val();
        var period_b = $('#periodb').val();
        var wetter_value = $(this).val();
        var q_str = '?wetter_value=' + wetter_value + '&period_a=' + period_a + '&period_b=' + period_b;
        $.ajax({
                url: '/m_setup/{{ haus.id }}/wetter_pro/get_wetter_value_list/' + q_str,
                type: 'get',
                async: true,
                success: function(data){
                    var str = "";
                    if(data.wetter_values_list){
                        for(var item in data.wetter_values_list){
                            str += data.wetter_values_list[item][0] + " (" + data.wetter_values_list[item][1] + "),";
                        }
                    }else{
                        str = data.message;
                    }
                    $('.w_values').text(str);
                }
            });
    });

    $('#assign_value').change(function(){
        var period_a = $('#perioda').val();
        var period_b = $('#periodb').val();
        var assign_value = $(this).val();
        var wetter_value = $("#wetter_value").val();
        var q_str = '?assign_value=' + assign_value + '&period_a=' + period_a + '&period_b=' + period_b + '&wetter_value='+ wetter_value;
        $.ajax({
                url: '/m_setup/{{ haus.id }}/wetter_pro/get_assign_value/' + q_str,
                type: 'get',
                async: true,
                success: function(data){
                    var result ="";
                    if(data.assign_value)
                        result = data.assign_value.toFixed(2)
                    else
                        result = data.message;
                    $('.result').text(result);
                }
            });
    });

    $("#frmwetterpro").submit(function (event) {
        var frmwetterpro = $("#frmwetterpro");
        $(".errors", frmwetterpro).remove();
        var notValid = false;
        var input = $('#wetter_req_name', frmwetterpro).val();
        if (input == "") {
            $("#frmwetterpro ul#ui_list li:eq(0)").before("<li style='color:#cb0963' class='ui-li ui-li-static ui-btn-up-a errors'>bitte Namen eingeben.</li>");
            $('html, body').animate({scrollTop : 0},300);
            $('#wetter_req_name', frmwetterpro).focus();
            notValid = true;
        }
        if (!notValid) {
            return;
        }
        event.preventDefault();
        return false;
    });
});
</script>
<style type="text/css">
    .lochen-btn{
        padding-top:12px;
        padding-bottom: 12px;
        margin-top: 0;
        color: #cb0963 !important;
    }

    .titles{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #ui_list .ui-submit.ui-btn.ui-btn-up-a{
        margin: 0 !important;

    }

</style>

{% if wid %}
    <form action="/m_setup/{{haus.id}}/wetter_pro/edit/{{wid}}/" method="post" data-ajax='false' id="frmwetterpro">
{% else %}
    <form action="/m_setup/{{haus.id}}/wetter_pro/edit/" method="post" data-ajax='false' id="frmwetterpro">

{% endif %}
<ul data-role="listview" data-divider-theme="a" style="padding-top: 20px;" id="ui_list">

    {% csrf_token %}
    <li style="padding-left: 20px; padding-right: 20px">
        <label for="wetter_req_name">Name der Wetterabfrage</label>
        <input type="text" name="wetter_req_name" value="{{wetter_req_name}}" id="wetter_req_name" value=""/>
    </li>

    <li>
        <span class="titles">Wetter-Zeitraum</span>
        <br><br>
        <div class="ui-grid-b">
            <div class="ui-block-a" style="min-width:30px;max-width:20%;text-align:right; padding-right:15px;padding-top:8px;">
                von
            </div>
            <div class="ui-block-b" style="max-width:100%;min-width:60%;">
                <div data-role="rangeslider" data-mini="true">

                  <input name="perioda" id="perioda" min="-72" max="72" value="{{period.0}}" type="range" />

                  <input name="periodb" id="periodb" min="-72" max="72" value="{{period.1}}" type="range" />
                </div>
            </div>
            <div class="ui-block-c"  style="min-width:30px;max-width:20%; padding-left:15px;padding-top:8px;">
                bis
            </div>
        </div>
        <br><br>
        <span class="titles">Geben Sie hier ein, welcher Wetter-Zeitraum beobachtet werden soll.</span>
        <br><br>
    </li>
    <li>
        <span class="titles">Wetter-Wert {{ wetter_value }}</span>
        <br><br>
            <select id="wetter_value" name="wetter_value" data-mini="true">
                <option value="1" {% if wetter_value == 1 %} selected="selected" {% endif %}>Temperatur</option>
                <!-- <option value="2" {% if wetter_value == 2 %} selected="selected" {% endif %}>Taupunkt in °C</option>
                <option value="3" {% if wetter_value == 3 %} selected="selected" {% endif %}>Taupunkt englisch</option> -->
                <option value="4" {% if wetter_value == 4 %} selected="selected" {% endif %}>Bedeckungsgrad in %</option>
                <!-- <option value="5" {% if wetter_value == 6 %} selected="selected" {% endif %}>UV-Index</option> -->
                <option value="6" {% if wetter_value == 6 %} selected="selected" {% endif %}>Luftfeuchtigkeit in % </option>
                <option value="7" {% if wetter_value == 7 %} selected="selected" {% endif %}>Regen in mm</option>
                <option value="8" {% if wetter_value == 8 %} selected="selected" {% endif %}>Regenwahrscheinlichkeit in %</option>
                <option value="9" {% if wetter_value == 9 %} selected="selected" {% endif %}>Luftdruck in hPa</option>
                <option value="10" {% if wetter_value == 10 %} selected="selected" {% endif %}>Voraussichtliche Sonneneinstrahlung in W/qm</option>
                <option value="11" {% if wetter_value == 11 %} selected="selected" {% endif %}>Strompreis DE EUR/MWh netto</option>
                <option value="12" {% if wetter_value == 12 %} selected="selected" {% endif %}>Strompreis AT EUR/MWh netto</option>
            </select>
        <br><br>
        <span class="titles">Wählen Sie hier den Wetter-Wert, der verarbeitet werden soll.</span>
        <br><br>
        <span class="titles">Wertereihe:
            <span class="w_values">
                {% for item in wetter_values_list %}
                    {{item}},
                {% endfor %}
            </span>
        </span>
        <br><br>
    </li>

    <li>
        <br><br>
        <span class="titles"> Verknüpfung </span>
        <br><br>
        <select id="assign_value"  name="assign_value" data-mini="true">
            <option value="1" {% if assign_value == 1 %} selected="selected" {% endif %} >Minimalwert</option>
            <option value="2" {% if assign_value == 2 %} selected="selected" {% endif %}>Maximalwert</option>
            <option value="3" {% if assign_value == 3 %} selected="selected" {% endif %}>Medianwert</option>
            <option value="4" {% if assign_value == 4 %} selected="selected" {% endif %}>Durchschnittswert</option>
            <option value="5" {% if assign_value == 5 %} selected="selected" {% endif %}>Durchschnitt ohne Minimum</option>
            <option value="6" {% if assign_value == 6 %} selected="selected" {% endif %}>Durchschnitt ohne Maximum</option>
            <option value="7" {% if assign_value == 7 %} selected="selected" {% endif %}>Durchschnitt ohne Minimum und Maximum </option>
        </select>
        <br><br>
        <span class="titles">Die Auswahl im Feld Funktion bestimmt, wie die Einzelwerte
            aus der Vorhersagereihe verknüpft bzw. selektiert werden.
        </span>
        <br><br>
        Ergebnis: <span class="result">{{assign_result}}</span>
        <br><br>
    </li>

    <input type="submit" value='Speichern'  style="padding:0px;" data-corners="false" class="ui-btn ui-btn" name="submit">

</ul>
</form>
{% endblock %}
