{% extends "m/m_base.html" %}

{% block title %}hSmart-Heat-OS - Hochtarifoptimierung{% endblock %}

{% block mheader %}
        <a href="/config" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        <a href="http://support.controme.com/bedienung-module/modul-hochtarifoptimierung/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $(document).on('pagecreate', function(){
        {% if not active %}
            $(".hideli").hide();
        {% endif %}
        $("#paramgrid").hide();
    });
    function toggleParams() {
        if($("#p_set").prop('checked')) {
            $("#paramgrid").show();
        } else {
            $("#paramgrid").hide();
        }
    }
</script>
<style type="text/css">
    label.ui-btn, div.ui-btn {
        font-weight: normal;
    }
</style>

<form method="post" action="/m_setup/{{haus.id}}/hochtarifoptimierung/" data-ajax="false" id='hthform'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a">
        <li data-role="list-divider">Hochtarifoptimierung</li>
        <li>
            <p class='hideli' style="white-space:normal"><br/>
                Die Hochtarifoptimierung sperrt abh&auml;ngig von den von der Wettervorhersage
                erwarteten Temperaturen im Tagesverlauf
                die Nutzung von Hochtarifstrom zum Betrieb Ihrer W&auml;rmepumpe.
                Die Verwendung dieser Funktion wird nur bei den W&auml;rmequellen
                Erdw&auml;rme und Wasser empfohlen.
            </p>
        </li>
        <li class="hideli">
            <label for='beginm'>Beginn Hochtarif Mo-Fr</label>
            <select name="beginm">
                {% for z in zeit %}
                    <option value="{{z.0}}" {%ifequal z.0 beginm%}selected="selected"{%endifequal%}>{{z.1}}</option>
                {% endfor %}
            </select>
            <label for='endm'>Ende Hochtarif Mo-Fr</label>
            <select name="endm">
                {% for z in zeit %}
                    <option value="{{z.0}}" {%ifequal z.0 endm%}selected="selected"{%endifequal%}>{{z.1}}</option>
                {% endfor %}
            </select>
            <label for='begins'>Beginn Hochtarif Sa</label>
            <select name="begins">
                {% for z in zeit %}
                    <option value="{{z.0}}" {%ifequal z.0 begins%}selected="selected"{%endifequal%}>{{z.1}}</option>
                {% endfor %}
            </select>
            <label for='ends'>Ende Hochtarif Sa</label>
            <select name="ends">
                {% for z in zeit %}
                    <option value="{{z.0}}" {%ifequal z.0 ends%}selected="selected"{%endifequal%}>{{z.1}}</option>
                {% endfor %}
            </select>
        </li>
        <li class="hideli">
            
            <label style="margin:0px;border:0;" data-corners="false"><input type="checkbox" onclick="toggleParams()" name="p_set" id="p_set" value="1"/>Parameter hausweit setzen</label>
            
            <div id="paramgrid">
                <hr/>

                <br/>
                <label>
                    Hochtarifsperre aktivieren ab Tagestemperatur von
                        <input type="range" name="s" id="s" value="{{s}}" 
                                min="-15" max="25" step="1"  data-mini="true" data-highlight="true"
                            data-popup-enabled="true"/>
                </label>
                <br/>
                <small>
                    Die Hochtarifsperre tritt nur dann in Kraft, wenn die Außentemperaturen an diesem Tag laut
                    Vorhersage nie diesen Wert unterschreiten.<br/>
                </small>
                <br/>

                <hr/>

                <br/>
                <label>
                    Berechnungsgrundlage f&uuml;r Tagestemperatur
                    <style type="text/css">
                        #igrid .ui-slider-input {
                            display: none !important;
                        }
                        #igrid .ui-slider-track {
                            margin-left:15px;
                        }
                    </style>
                    <div class="ui-grid-b" id='igrid'>
                        <div class="ui-block-a" style="min-width:30px;max-width:20%;text-align:right;padding-right:15px;padding-top:8px;">
                            Tagestief
                        </div>
                        <div class="ui-block-b" style="max-width:100%;min-width:60%;">
                            <input type="range" name="i" id="i" value="{{i}}" 
                                           min="0" max=4" step="1"  data-mini="true" data-highlight="true"
                                           data-popup-enabled="true"/>
                        </div>
                        <div class="ui-block-c"  style="min-width:30px;max-width:20%;padding-left:15px;padding-top:8px;">
                            Tageshoch
                        </div>
                    </div>
                </label>
                <br/>
                <small>
                    Da sich die Temperatur im Laufe des Tages verändert, können Sie hier einstellen, welche
                    Tagestemperatur(en) herangezogen werden sollen, um die Aktivierung der Hochtarifsperre auszulösen.
                    Bei Tageshoch und Tagestief wird der Mittelwert der höchsten bzw. niedrigsten Temperaturen in der
                    Hochtarifzeit gebildet. Wenn der Regler in der Mitte steht, wird der Mittelwert über den vollständigen
                    Temperaturverlauf laut Vorhersage gebildet.<br/>
                </small>
                <br/>

                <hr/>

                <br/>
                <label style="margin:0px;border:0;" data-corners="false">
                    Maximaler erlaubter Temperaturabfall
                    <input type="number" name="max_drop" id="max_drop" value="{{ max_drop }}" step=".1"/>
                </label>
                <small>
                    Die Hochtarifsperre setzt einen Offset auf die Zieltemperatur des Raumes. Der maximal erlaubte
                    Temperaturabfall setzt diesen Offset. Ein Wert von 0.0 bedeutet, dass die Hochtarifoptimierung
                    in einem Raum nie aktiv wird.<br/>
                </small>
                <br/>

                <hr/>

                <br/>
                <label style="margin:0px;border:0;" data-corners="false"><input type="checkbox" name="activateall" checked/>
                    Hochtarifoptimierung in allen R&auml;umen aktivieren
                    <br/>
                    <small>
                        (aktiviert das Plugin Hochtarifoptimierung und setzt die Parameter in allen Räumen unabhängig von
                        deren momentaner Einstellung. Eine Hochtarifsperre kann zur nächsten Hochtarifphase aktiv werden.)
                    </small>
                </label>

                <hr/>

                <br/>
                <p style="white-space:normal">
                    Parameter&auml;nderungen werden erst zur n&auml;chsten Hochtarifphase wirksam.
                </p>
            </div>
        </li>
        {% if error %}
            <li class='hideli' style="color:#cb0963">{{error}}</li>
        {% endif %}
        <br/>
        <li data-icon='false'>
            <a href="#" onclick="$('#hthform').get(0).submit();" style="text-align:center">Einstellungen speichern</a>
        </li>
        <br/>
        <li class="hideli" data-icon='false'>
            <input type="hidden" name="alwayson" id='alwayson' value="0"/>
            <a href="#" onclick="$('#alwayson').val(1);$('#hthform').get(0).submit();" style="text-align:center">Generelle Hochtarifsperre setzen</a>
        </li>
        <li class="hideli" data-icon='false'>
            <input type="hidden" name="alloff" id='alloff' value="0"/>
            <a href="#" onclick="$('#alloff').val(1);$('#hthform').get(0).submit();" style="text-align:center">Generelle Hochtarifsperre entfernen</a>
        </li>
    </ul>
</form>
{% endblock %}