{% extends "m_base.html" %}

{% block title %}Smart-Heat-OS - R&uuml;cklaufregelung - Hilfe{% endblock %}

{% block mheader %}
    <a href="/m_setup/{{haus.id}}/ruecklaufregelung/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
{% endblock %}

{% block mcontent %}

    <h2>Rücklaufregelung</h2>

    <h3>Funktionsweise</h3>


        <p>
            Mit Hilfe der Controme Rücklaufregelung können Sie ganz einfach für jeden Ihrer Räume eine effektive,
            Außentemperatur-abhängige Rücklauftemperaturbegrenzung einrichten:
            eine normale, thermostat-geführte Heizungsregelung verwendet die Raumtemperatur, um zu entscheiden, ob
            ein Raum beheizt werden soll oder nicht. Gerade im Fall von Fußbodenheizungen führt das zu einer ungenauen
            Regelung. Fußbodenheizungen heizen im Vergleich zu Wandheizkörpern indirekt, da sie Wärme nicht unmittelbar
            an die Umgebungsluft abgeben, sondern an die (Beton-)Masse des Fußbodens. Der Fußboden gibt noch lange nach
            Abschaltung der Heizung Wärme ab und benötigt eine deutlich längere Aufheizphase bis er Wärme an die
            Umgebung abgeben kann als ein Wandheizkörper. Diese Trägheit führt dazu, dass Wandthermostate eigentlich
            ungeeignet sind zur Regelung von Fußbodenheizungen.
        </p>

        <p>
            Eine Rücklaufregelung orientiert sich dagegen nicht an der in den Raum abgegebenen Wärme, sondern an der
            in den Boden abgegeben Wärme. Dazu werden an den Rückläufen der Heizschleifen im Boden Sensoren
            angebracht. Solange der Boden Wärme aufnehmen kann und soll, steigt die Rücklauftemperatur an. Sobald eine
            vorgegebene Rücklauftemperatur erreicht ist, kann man die Wärmezufuhr zu diesem Heizkreis abschalten. Der
            Raum erreicht dann - mit einer gewissen Trägheit - die gewünschte Raumtemperatur. Im Gegensatz zu
            Wandthermostaten übersteuert die Rücklaufregelung aber nicht, d.h. die Raumtemperatur überschreitet nicht
            den eingestellten Wert. Dadurch steigt sowohl der Wohnkomfort, es lassen sich aber auch Einsparungen bei
            Heizkosten erzielen.
        </p>

        <p>
            Neben den unten besprochenen Einstellmöglichkeiten, unterscheiden wir drei Varianten in der controme
            Rücklaufregelung. Die reine Rücklaufregelung verwendet ausschließlich Rücklaufsensoren zur Regelung. Die
            gemischte Regelung verwendet zusätzlich zu den Rücklaufsensoren einen Raumtemperatursensor. In der
            gemischten Regelung wird die Heizung erst abgestellt, wenn die gewünschte Raumtemperatur tatsächlich
            erreicht ist. Obwohl das der Idee der Rücklaufregelung eigentlich zuwiderläuft, ist dies in manchen
            extremen Fällen nötig. Schließlich kann ein Raumtemperatursensor zur Anzeige der Raumtemperatur in der
            Übersicht verwendet, zur Regelung aber ignoriert werden.
        </p>

    <h3>Konfigurationsmöglichkeiten</h3>

        <p>
            Jede moderne Heizung wird über eine <b>Heizkurve</b> konfiguriert. Die zugrundeliegende Idee ist, dass der
            Wärmebedarf in einem Haus direkt von der Außentemperatur abhängt. Je höher die Außentemperatur, desto
            niedriger der Wärmebedarf, je niedriger die Außentemperatur, desto höher der Wärmebedarf. Die Heizung misst
            die Außentemperatur über einen Fühler und berechnet daraus über die Heizkurve einen Temperaturwert. Auf
            diesen Wert heizt die Heizung auf, um den Wärmebedarf im Haus zu decken.
            <br/>
            Die controme Rücklaufregelung verwendet eine ebensolche Heizkurve, um für jeden Raum die optimale
            Rücklauftemperatur zum Erreichen und Halten der gewünschten Raumtemperatur in Abhängigkeit von der
            Außentemperatur zu ermitteln. Die Heizkurve orientiert sich dabei prinzipiell an der im Wärmeproduzenten
            eingestellten Heizkurve. Sie lässt sich aber für einzelne Räume individuell anpassen, um eine bestmögliche
            Regelung für jeden Raum mit seinen Eigenheiten zu erreichen.
        </p>

        <p>
            Der <b>Überschwingschutz</b> kommt nur in der gemischten Regelung zum Einsatz (s.o.). Je nach dem, wie träge
            die Fußbodenheizung ist, kann es passieren, dass die Verwendung eines Raumtemperatursensors Sinn macht. Das
            ist der Fall, wenn die Fußbodenheizung etwa sehr träge ist oder sehr schnell anspricht. Um hier ein
            Übersteuern der Regelung zur Verhindern, können Sie den Überschwingschutz entsprechend konfigurieren.
        </p>

        <p>
            Eine korrekte Rücklauftemperatur kann nur ermittelt werden, wenn auch tatsächlich Wasser durch die Leitung
            fließt. Wir führen daher sogenannte <b>Spülzyklen</b> durch, selbst wenn die gewünschte Raumtemperatur bereits
            erreicht wurde und stabil ist. Die Spülzyklen lassen sich für jeden Raum individuell einstellen in der
            jeweiligen Einstellungsseite der Rücklaufregelung für diesen Raum. Die Spülzyklen werden indirekt gesteuert
            über die "Abschaltungsdauer nach Erreichen der Rücklauftemperatur". Die konkrete Einstellung richtet sich
            nach der Trägheit des Raumes (je träger, desto längere Zyklen) und nach der Einstellung der Heizung (je
            höher die Temperatur über der benötigten Rücklauftemperatur liegt, desto längere Zyklen).
        </p>

        <p>
            Für die Berechnung der Heizkurve ist ein Außentemperaturwert nötig. Als <b>Außentemperatursensor</b> kann
            sowohl ein im Haus verbauter Fühler verwendet werden, als auch ein vom controme Server zur Verfügung
            gestellter Temperaturwert von unserem Wetterdienst.
        </p>

    <h3>Konfiguration der Heizkurve</h3>

        <p>
            Jeder Raum hat eine individuelle Heizkurve, die per Voreinstellung der hausweiten Heizkurve entspricht. In
            den Raumeinstellungen werden beide angezeigt. Die hausweite Heizkurve wird idealerweise nach den beiden
            nachfolgenden Varianten eingestellt. Der Abschnitt zur Feinjustierung bezieht sich dann auf die Heizkurven
            der Räume. Beachten Sie bitte, dass die hausweite Heizkurve einen Standardwert für alle Räume darstellt,
            aber immer durch vorgenommene Änderungen an den Raumeinstellungen für diesen Raum außer Kraft gesetzt wird.
            Sobald eine Anpassung im Raum durchgeführt wird, werden diese Werte für den Raum verwendet und nicht mehr
            die hausweite Heizkurve.
        </p>

        <h5>Variante 1</h5>

            <p>
                Die einfachste und naheliegenste Einstellung übernimmt die Heizkurve der Heizung. Ziehen Sie hierzu
                die Bedienungsanleitung Ihrer Heizung zu Rate oder kontaktieren Sie einen Fachmann.
            </p>

        <h5>Variante 2</h5>

            <p>
                Sollten Sie keinen Zugang zur Heizkurve der Heizung haben oder weichen deren Einstellungen von den
                tatsächlichen Werten signifikant ab, können Sie die Heizkurve auch empirisch bestimmen. Jede Gerade
                lässt sich durch zwei Punkte bestimmen, die Heizkurve durch maximal drei. Je mehr Punkte zur Bestimmung
                zur Verfügung stehen, desto genauer wird die Einstellung.
            </p>

            <p>
                Da die Heizung ihre Wärmeproduktion im Allgemeinen nach der Außentemperatur richtet, können wir über
                die Beeinflußung der Außentemperatur die Einstellung der Heizung ermitteln. Dazu benötigen wir Zugang
                zum Außenfühler der Heizung sowie einen offenen Heizkreis mit Rücklauffühler. Durch Herunterkühlen
                (oder Aufwärmen auf bis zu 20°C) des Außenfühlers und Messung der Temperatur am Außenfühler legen
                wir einen Wert auf der unteren, der x-Achse der Heizkurve fest. Nun beobachten wir den Rücklaufwert
                und notieren diesen, sobald er eine zeitlang konstant geblieben ist. Damit haben wir einen Wert auf der
                linken, der y-Achse bestimmt. Durch Wiederholung dieses Vorgangs lassen sich mehrere Punkte bestimmen.
                Schließlich kann mit den Parametern Neigung, Offset und Krümmung die Heizkurve so angepasst werden,
                dass sie durch die zuvor bestimmten Punkte führt.
            </p>

        <h5>Feinjustierung</h5>

            <p>
                Aufgrund unterschiedlicher Leitungslängen und Durchflußstärken, reagieren Heizkreise unterschiedlich.
                Dem tragen wir in der controme Rücklaufregelung Rechnung dadurch, dass sich jeder Raum individuell
                konfigurieren lässt.
            </p>

            <p>
                Generell unterscheidet man zwei Fälle: allgemein zu hohe/niedrige Temperatur und sich zu langsam/schnell
                verändernde Temperaturen. Der erste Fall lässt sich über die Solltemperatur des Raumes und ggf. eine
                Veränderung des Offsets der Heizkurve erreichen. Zu langsame/schnelle Anpassung an die Außentemperatur
                lässt sich durch eine Veränderung der Neigung der Heizkurve erreichen.
            </p>

{% endblock %}
