{% extends "m/m_base_new.html" %}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung  {% endblock %}
{% block bodyclass %}jahreskalender page{% endblock %}
{% block mheader %}
            <a href="/m_{{regelung}}/{{haus.id}}/show/{{objid}}" class="ui-btn-icon-notext ui-icon-shadow ui-icon-carat-l ui-alt-icon" data-role="none">&nbsp;</a>
{% endblock %}

{% block mcontent %}

    <div class="plus">
        <a href="?add{%if extra_url %}{{extra_url}} {% endif %}" style="float:right" class="ui-btn ui-icon-plus ui-btn-icon-notext ui-corner-all  ui-alt-icon ui-icon-shadow icon-no-bg ">Add</a>
    </div>

    <div class="search-box">
        <form>
            <input data-type="search" id="searchForCollapsibleSet" value="{% if search_name %}{{ search_name }}{% endif %}">
        </form>
    </div>

    <div class="ui-alt-icon">
    <fieldset data-role="controlgroup" data-type="horizontal" class="top-select">
        <label for="select-order" class="select">auswählen</label>
        <select name="select-order" id="select-order" data-icon="arrow-d">
            <option value="relevant">relevante Einträge</option>
            <option value="all">alle Einträge</option>
            <option value="currently">aktuell aktive Einträge</option>
            <option value="past">vergangene Einträge</option>
        </select>

        <label for="select-sort" class="select">auswählen</label>
        <select name="select-sort" id="select-sort" data-icon="arrow-d">
            <option value="start">Startzeit</option>
            <option value="end">Endzeit</option>
            <option value="name">Name</option>
            <option value="created">erstellt am </option>
            <option value="edited">zuletzt bearbeitet </option>
        </select>
    </fieldset>

    <a href="#" class="ui-btn ui-icon-arrow-d ui-btn-icon-right collapsible-open">alle ausklappen</a>
    <div class="record-list" data-filter="true"  id="collapsiblesetForFilter" data-input="#searchForCollapsibleSet">
        {% if list %}
            {% for item in list.hausraum %}
                {% if item and not item.hide %}

                    <div data-collapsed="true" {% if not item.next_start %}data-old="true"{% endif %}
                         data-role="collapsible" class="record-collapsible {% if item.active %}active{% endif %}"
                         data-name='{{ item.name|default:"Unbenannt" }}' data-begin="{{ item.begin_int }}"
                         data-end="{{ item.end_int }}" data-created="{{ item.created_int }}"
                         data-edited="{{ item.edited_int }}" data-collapsed="false" data-iconpos="right" data-inset="false">
                        <h4>
                            <ul>
                                <li><b>{{item.name|default:"Unbenannt"}}</b></li>
                                <li>{% if item.active %} aktuell aktiv {% else %} aktuell nicht aktiv{% endif %}</li>
                                <li>nächster Start: {{item.next_start}}</li>
                                <li>nächstes Ende: {{item.next_end}}</li>
                                <li>aktuelle Zeit: {{ now }}</li>
                                <li>Räume: {{ item.rooms_name|join:", " }}</li>
                                <li>Differenzregelungen: {{ item.diffs_name|join:", " }}</li>
                                <li>Vorlauftemperaturregelungen: {{ item.vors_name|join:", " }}</li>
                            </ul>
                            <span class="offset">{{ item.offset|floatformat }}</span>
                        </h4>
                        <a href="/m_{{regelung}}/{{ haus.id }}/show/{{objid}}/jahreskalender/?edit={{ forloop.counter0 }}&typ=hausraum" class="link-record">
                            <ul>
                                <li>von: {{item.begin_str}}</li>
                                <li>bis: {{item.end_str}}</li>
                                <li>Beenden:  {{item.end_repeat_str}}</li>
                                <li>wiederholen: {{ item.repeat_name|join:", " }}</li>
                                <li>ID: {{forloop.counter0}}</li>
                                <li>erstellt: {{item.created}}</li>
                                <li>zuletzt bearbeitet: {{item.edited}}</li>
                                <li>aktuelle Zeit: {{ now }}</li>
                            </ul>
                        </a>

                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}