{% extends "m/m_base.html" %}

{% block title %}Smart-Heat-OS - Raumanforderung{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/pumpenlogik/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
        {% if user.userprofile.get.role != 'K' and plid %}
          <!-- <a href="/m_setup/{{haus.id}}/pumpenlogik/?pldel={{pl.id}}" data-role="button" data-icon="delete" data-mini="true" data-inline="true" class="ui-btn-right" data-iconpos="notext"></a> -->
          <a href="/m_setup/{{haus.id}}/pumpenlogik/?pldel={{pl.id}}" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
          <a href="http://support.controme.com/bedienung-module/modul-raumanforderung/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" style="right: 80px"></a>
        {% else %}
          <a href="http://support.controme.com/bedienung-module/modul-raumanforderung/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
        {%endif%}
{% endblock %}

{% block mcontent %}
<script type="text/javascript">
    $(document).on('pageshow', function() {
        {% for i in input %}
            $(document.getElementById("i_{{i.1}}_{{i.2}}_ed")).prop('checked', true);
            $(document.getElementById("i_{{i.1}}_{{i.2}}_ed")).checkboxradio('refresh');
        {% endfor %}
        {% for o in output %}
            $(document.getElementById("o_{{o.1}}_{{o.2}}_ed")).prop('checked', true);
            $(document.getElementById("o_{{o.1}}_{{o.2}}_ed")).checkboxradio('refresh');
        {% endfor %}
    });

    function toggleSelection(gwid) {
        if($("#edgwa"+gwid).prop('checked')) {
            $("#edgw"+gwid+" .cbe").each(function() {
                $(this).prop('checked', true);
                $(this).checkboxradio('refresh'); 
            });
        } else {
            $("#edgw"+gwid+" .cbe").each(function() {
                $(this).prop('checked', false);
                $(this).checkboxradio('refresh');
            });
        }
    }
</script>
<style type="text/css">
    a.ui-collapsible-heading-toggle, div.btn {
        font-weight: normal;
    }
</style>

<form method="post" action="/m_setup/{{haus.id}}/pumpenlogik/" data-ajax="false" id='pleform'> {% csrf_token %}
    <ul data-role="listview" data-divider-theme="a" id="pleditlist">
        <li data-role="list-divider">Raumanforderung {% if plid %}editieren{% else %}anlegen{% endif %}</li>

        {% if error %}
            <li style="color:#cb0963">
                {% autoescape off %}{{error}}{% endautoescape %}
            </li>
        {% endif %}
        
        <li>
            <label for="plname">Name</label>
            <input type="text" id="plname" name="plname" value='{{name}}'/>
        </li>
        <li>
            <label style="margin-bottom:25px">Auswahl der zu prüfenden Ausgänge</label>
            {% for gateway, aausgaenge in gwausgaenge.items %}
                <div data-role="collapsible">
                    <h5>
                        {{gateway.name}} {% if gateway.description != gateway.name %}{% if gateway.description %}-{% endif %} {{ gateway.description }}{% endif %}
                    </h5>
                    {% if aausgaenge|length %}
                        <label for='edgwa{{gateway.name}}'><input name="edgwa{{gateway.name}}" id="edgwa{{gateway.name}}" type="checkbox" onclick="toggleSelection('{{gateway.name}}')"/>alle</label>
                    {% endif %}
                    <span id="edgw{{gateway.name}}">
                        {% for aausgang in aausgaenge %}
                            <label for='i_{{gateway.name}}_{{aausgang.0}}_ed'>
                            <input class="cbe" type="checkbox" data-mini="true" name="i_{{gateway.name}}_{{aausgang.0}}_ed" id="i_{{gateway.name}}_{{aausgang.0}}_ed"/>
                            {{aausgang.0}}:
                            {% if aausgang.2 %}
                                Sensor {{aausgang.2.name}} - {{aausgang.2.raum.etage.name}}/{{aausgang.2.raum.name}}
                            {% else %}
                                {{aausgang.1}}
                            {% endif %}
                            </label>
                        {% endfor %}
                    </span>
                </div>
            {% endfor %}
        </li>

        {% if show_ra_min_valve_setting %}
        <li>
            <label for="ra-min-valve-setting">
                Minimale Ventilstellung für Freigabe
            </label>
            <input type="number" min="0" maxlength="100" id="ra_min_valve_setting"
                   name="ra_min_valve_setting" value='{{ ra_min_valve_setting }}'/>
            <small>
                Die Raumforderung wird freigegeben,
                sobald die Ventilstellung eines der oben ausgewählten Ausgänge den eingegebenen Wert überschreitet.
                Bitte geben Sie den Wert als Ganzzahl oder Dezimalzahl zwischen 0 und 100 ein.
            </small>
        </li>
        {% endif %}
        
        <li>
            <label style="margin-bottom:25px">Auswahl des zu schaltenden Ausgangs bei vorhandener Freigabe</label>
            {% for gateway, ausgangnos in vausgaenge.items %}
                <div data-role="collapsible">
                    <h5>
                        {% if gateway.get_protocol_info %}  {{ gateway.get_protocol_info  }} {% else %} {{gateway.name}} {% endif %} {% if gateway.description != gateway.name %}{% if gateway.description %}-{% endif %} {{ gateway.description }}{% endif %}
                    </h5>
                    <fieldset data-role="controlgroup" data-type="horizontal">
                        {% for ausgangno in ausgangnos %}
                            <label><input type="checkbox" id="o_{{gateway.name}}_{{ausgangno}}_ed" name="o_{{gateway.name}}_{{ausgangno}}_ed"/>{{ausgangno}}</label>
                        {% endfor %}
                    </fieldset>
                </div>
            {% endfor %}
            <span style="color:#cb0963" id="outerror"></span>
        </li>

        <li>
            <legend>Standardwert im Fehlerfall / RA deaktiviert</legend>
            <input type="radio" name="defval" id="defvalon" value="on" {% if default == 1 %}checked{% endif %}/>
            <label for="defvalon" style="font-weight: normal;">Ein</label>
            <input type="radio" name="defval" id="defvaloff" value="off" {% if default == 0 %}checked{% endif %}/>
            <label for="defvaloff" style="font-weight: normal;">Aus</label>
            <small>
                Die zu schaltenden Ausgänge werden auf diesen Wert gestellt, wenn ein Fehler auftritt, also z.B. das
                Gateway eines zu schaltenden Ausganges keine Internetverbindung mehr hat, oder das Plugin Raumanforderung
                insgesamt deaktiviert wird.
            </small>
        </li>
        {% if einvzg or ausvzg or invertout%}
        <li>
            <label for="einvzg">Einschaltverzögerung (Mindestwert in Sekunden)</label>
            <input type="number" name="einvzg" id="einvzg" value="{{ einvzg }}"/>
            <label for="ausvzg">Ausschaltverzögerung (Mindestwert in Sekunden)</label>
            <input type="number" name="ausvzg" id="ausvzg" value="{{ ausvzg }}"/>
            <small>
                Der Wert ist jeweils ein Mindestwert, da der Ausgang physisch erst nach der nächsten Übertragung ans Gateway nach Ablauf der Verzögerung geschalten wird.
            </small>
        </li>

        <li>
            <label for="invertout">Ausgang invertieren</label>
            <input type="checkbox" name="invertout" id="invertout" {% if invertout %}checked="checked"{% endif %}"/>
            <small>
                Invertiert den Ausgangszustand, so dass im Fall von Wärmebedarf der Ausgang auf 0 anstatt auf 1 geschalten wird.
            </small>
        </li>
        {% endif %}

        <li>
            <label for="show_in_menu">Link im linken Benutzermenü anzeigen</label>
            <input type="checkbox" name="show_in_menu" id="show_in_menu" {% if show_in_menu == None or show_in_menu %}checked="checked"{% endif %}/>
        </li>
        {% if pl.id %}
            <li>
                <a href="/m_pumpenlogik/{{haus.id}}/show/{{ pl.id }}/" target="_blank">öffne Benutzeroberfläche</a>
            </li>
        {% endif %}
        
        <li data-icon='false'>
            <input type="hidden" value="true" id="pledit" name="pledit"/>
            <input type="hidden" value="{{plid}}" name="plid" id="plid"/>
            <a href="#" onclick="$('#pleform').get(0).submit();" style="text-align:center">Raumanforderung speichern</a>
        </li>
    </ul>
</form>
{% endblock %}
