{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Gateway Monitor{% endblock %}

{% block mheader %}
        <a href="/m_setup/{{haus.id}}/gatewaymonitor/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>

        {% if gmregid %}
          <!-- <a id="drdel" href="/m_setup/{{ haus.id }}/differenzregelung/delete/{{ gmregid }}/" data-role="button" data-icon="delete" data-mini="true" data-inline="true" class="ui-btn-right" data-iconpos="notext"></a> -->
          <a id="drdel" href="/m_setup/{{ haus.id }}/gatewaymonitor/delete/{{ gmregid }}/" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
          <a href="http://support.controme.com/gateway-monitor/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext" style="right: 80px;"></a>
        {% else %}
          <a href="http://support.controme.com/gateway-monitor/" target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
        {% endif %}
{% endblock %}

{% block bodyclass %}gatewaymonitor-edit{% endblock %}
{% block mcontent %}

<style type="text/css">
    label.ui-btn, div.ui-btn {
        font-weight: normal;
    }
    .ui-btn-text {font-weight:normal;}
    #igrid .ui-slider-input {
        display: none !important;
    }
    #igrid .ui-slider-track {
        margin-left:15px;
    }
</style>

<script type="text/javascript">
function sendChanges(type, val,obj) { 
  var url = "/m_setup/{{haus.id}}/gatewaymonitor/?type="+type+"&val=" + encodeURIComponent(val);
  $.ajax({
    url: url,
    async: false,
    success: function(data) {
      if (type == "FireMonitor")
      {
       if (!data['error']) {
              document.getElementById(obj).innerHTML = "Reset wird ausgelöst."
          }
          else {
              document.getElementById(obj).innerHTML = data['error']
          }
      }
    },
    error: function(data) {
      $("#fb1").text("Änderungen nicht gespeichert");
    }
  });
      
}
</script>

<form method="post" action="/m_setup/{{haus.id}}/gatewaymonitor/" data-ajax="false" id='drform'> {% csrf_token %}
    {% if gmregid %}
    <input type="hidden" name="gmreg" id="gmreg" value="{{ gmregid }}"/>
    {% endif %}
    <input type="hidden" name="type" id="type" value="add"/>
    <ul data-role="listview" data-divider-theme="a" id="rlrlv">
        <li data-role="list-divider">Gateway Monitor<div style="float:right;" id="fb1"></div></li>

        {% if error %}
            <li style="color:#cb0963">
                {% autoescape off %}{{error}}{% endautoescape %}
            </li>
        {% endif %}
    
       

        <li>
        <div data-role="fieldcontain">
            <label for="name" style="vertical-align: middle;">Name</label>
            <input type="text" name="name" id="name" value="{{ name }}" required/>
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="mac" style="margin-top: .5em;">Gateway</label>
            <select name="mac" data-mini="true" id="mac">
                <option name="_mac" id="_mac">-</option>
                {% for gw in gws %}
                    <option value="{{ gw.name }}" {% if mac == gw.name %}selected="selected"{% endif %}>{{ gw.name }} - {{ gw.description}}</option>
                {% endfor %}
            </select>                 
        </div>
        </li>

        <li>
        <div data-role="fieldcontain">
            <label for="alive1" style="margin-top: .5em;">Alive-Überwachung</label>
            <input style="padding-top: 50px;" type="checkbox" data-clear-btn="false" name="alive1" id="alive1" {% if alive %} checked {% endif %} value="1"></input>
        </div>
        </li>
        <!--
        <li>
        <div data-role="fieldcontain">
            <label for="alive2" style="margin-top: .5em;">Sensor-Überwachung</label>
            <input type="checkbox" data-clear-btn="false" name="alive2"  {% if sensor %} checked {% endif %}  id="alive2" value="2" />
        </div>
        </li>
        -->
        {% if gmregid %}
        <li>
        <div data-role="fieldcontain">
            <a onclick="sendChanges('FireMonitor',{{gmregid}},'actionResult')" data-role="button" data-icon="false" data-mini="true" data-inline="true">Manuell auslösen</a>
            <div name=id="actionResult" id="actionResult"></div>
        </div>
        </li>
        {% endif %}
        <li>

        <li data-icon='false'>
            <a href="#" onclick="$('#drform').get(0).submit();" style="text-align:center">Speichern</a>
        </li>
    </ul>

</form>

{% endblock %}

{% block footer %}

{% endblock %}
