.api-query-edit .selectbox-label{
    margin-top: -25px !important;
}

.api-query-edit .input-label-cls{
    vertical-align: middle !important;
}

.api-query-edit .json-post-div{
    display: none;
}

.api-query-edit .post-div{
    display: none;
}

.api-query-edit .get-div{
    display: none;
}

.api-query-edit .params-table-cls{
    width: 100%;
}

.api-query-edit .errors-li{
    color: red;
    display: none;
}


.sensor-simulator .zero-padding{
    padding: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.sensor-simulator .zero-padding div, .sensor-simulator .zero-padding{
    margin: 0;
}

.sensor-simulator .desc-text{
    color: #8C8B8A;
    font-size: 14px;
    text-shadow: none;
    font-style: italic;
    margin-top: 20px;
    overflow-wrap: break-word;
    overflow: auto;
    white-space: normal;
}

.sensor-simulator .hour-slider-li .ui-btn-active{
    background-color: #9ec552 !important;
    background-image: none;
}


.periodischer-reset .zero-padding{
    padding: 0;
    border-top-width: 0;
    border-bottom-width: 0;
}

.periodischer-reset .zero-padding div, .periodischer-reset .zero-padding{
    margin: 0;
}

.periodischer-reset .desc-text{
    color: #8C8B8A;
    font-size: 14px;
    text-shadow: none;
    font-style: italic;
    margin-top: 20px;
    overflow-wrap: break-word;
    overflow: auto;
    white-space: normal;
}

.periodischer-reset .hour-slider-li .ui-btn-active{
    background-color: #9ec552 !important;
    background-image: none;
}
