{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - APIQuery{% endblock %}

{% block bodycls %}api-query-edit{%endblock%}

{% block mheader %}
    <a href="/m_setup/{{ haus.id }}/api_query/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    {% if api_id %}
        <a href="/m_setup/{{haus.id}}/api_query/delete/{{api_id}}/" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right" style="color:#cb0963;">löschen</a>
    {% endif %}
{% endblock %}

{% block mcontent %}


<form method="post" action="/m_setup/{{haus.id}}/api_query/edit/{% if api_id %}{{ api_id }}/{% endif %}" data-ajax="false" id='api-form'> {% csrf_token %}
    <input type="hidden" id="api-id" value="{{ api_id }}">
    <ul data-role="listview" data-divider-theme="a">
        <li data-role="list-divider">API-Query-Plugin</li>
        <li class="errors-li">{{ error }}</li>
        <li>
            <div data-role="fieldcontain">
                <label for="name" class="input-label-cls">Name</label>
                <input type="text" name="name" id="name" value="{{ api_param.name }}" required/>
            </div>
        </li>

        <li>
            <div data-role="fieldcontain">
                <label class="selectbox-label input-label-cls host-selection" for="host-selection">Host</label>
                <select name="host" id="host-selection">
                    {% for host in hosts %}
                        <option value="{{ host }}" {% ifequal api_param.host host %} selected="selected" {% endifequal %}>{{ host }}</option>
                    {% endfor %}
{#                    <option value="custom" {% ifequal api_param.host 'custom' %} selected="selected" {% endifequal %}>Custom</option>#}
                </select>
            </div>

            <div data-role="fieldcontain" class="host-selection-div">
                <label for="custom-host-input" class="input-label-cls">Custom Host</label>
                <input type="text" name="custom_host" id="custom-host-input" value="{{ api_param.custom_host }}"  placeholder="ip or url of the target host" required/>
            </div>
        </li>
        <li class="fetched-data data-module-li">
            <div data-role="fieldcontain">
                <label class="selectbox-label input-label-cls" for="data-module">Schnittstelle</label>
                <select name="data_module" id="data-module" data-hausid="{{ haus.id }}">
                <option value="-1">----</option>
                {% for mod, modname in data_modules %}
                    <option value="{{ mod }}" {% ifequal api_param.data_module mod%} selected='selected' {% endifequal %}>{{ modname }}</option>
                {% endfor %}
                </select>
            </div>
        </li>

        <li>
            <div data-role="fieldcontain">
                <label class="selectbox-label input-label-cls" for="request-type">Anfragetyp</label>
                <select name="request_type" id="request-type">
                    <option value="get" {% ifequal api_param.request_type 'get'%} selected="selected" {% endifequal %}>GET</option>
                    <option value="post" {% ifequal api_param.request_type 'post'%} selected="selected" {% endifequal %}>POST</option>
                </select>
            </div>
            <div class="get-div">
                <div data-role="fieldcontain">
                    <label class="input-label-cls" for="query-params">Query Parameter</label>
                    <input type="text" name="query_params" id="query-params" value="{{ api_param.query_params }}" placeholder="?a=x&b=x">
                </div>
            </div>

            <div class="post-div">
                <div data-role="fieldcontain">
                    <label class="selectbox-label input-label-cls" for="data-type">Datentyp</label>
                    <select name="data_type" id="data-type">
                        <option value="parametric" {% ifequal api_param.data_type 'parametric'%} selected="selected" {% endifequal %}>Parametriertes POST</option>
                        <option value="json" {% ifequal api_param.data_type 'json'%} selected="selected" {% endifequal %}>JSON POST</option>
                    </select>
                </div>
            </div>

            <div class="payload-div post-div">
                <div class="parametric-post-div">
                    <div data-role="fieldcontain">
                        <label class="input-label-cls" for="parameters-number">Anzahl der Parameter</label>
                        <input type="number" id="parameters-number" name="parameters_number"
                               value="{{ api_param.parameters_number|default:0 }}" placeholder="number of parameters">
                        <input type="hidden" id="post-parameters" name="post_parameters">
                    </div>
                    <div style="margin-left: 22%">
                        <table class="params-table-cls table-td-th" id="parameters-table">
                            {% for name, val in post_parameters %}
                                <tr>
                                    <td class="table-td-th">
                                       <input type="text"  id="param-name-{{ forloop.counter0 }}" value="{{ name }}" placeholder="name"/>
                                    </td>
                                    <td class="table-td-th">
                                      <input type="text"  id="param-value-{{ forloop.counter0 }}" value="{{ val }}" placeholder="value"/>
                                    </td>
                                 </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>

                <div class="json-post-div" style="margin-left: 22%">
                    <textarea data-clear-btn="true" name="post_json" id="json-input" cols="40" rows="40" style="height: 200px" placeholder="json input">{{ api_param.post_json|default:'{}' }}</textarea>
                </div>
            </div>
        </li>

        <li data-icon='false'>
            <a id="fetch-btn" style="text-align:center">Daten abrufen</a>
        </li>

        <li class="fetched-data">
            <div data-role="fieldcontain">
                <label class="selectbox-label input-label-cls" for="data-object">Datenobjekt</label>
                <select name="data_object" id="data-object">
                    <option value=-1>----</option>
                    {% for d_o, vals in data_objects.items %}
                        <option value={{ d_o }} {% ifequal d_o api_param.data_object %}selected="selected"{% endifequal %}>{{ vals.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </li>

        <li>
            <div data-role="fieldcontain">
                <label for="interval" style="vertical-align: middle;">Abfrageintervall</label>
                <input type="number" name="interval" id="interval" value="{{ api_param.interval|default:900 }}"  placeholder="Abfrageintervall in Sekunden" required>
            </div>
        </li>

         <li data-icon='false'>
            <a href="#"  id="save-btn" style="text-align:center">Speichern</a>
        </li>
    </ul>
</form>

{% endblock %}
