{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - API Requester{% endblock %}

{% block bodycls %}api-query{%endblock%}

{% block mheader %}
    <a href="/config/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    <a href="https://support.controme.com/modul-api-query/" target="_blank" data-role="button"
      data-icon="bulb-icon-grey" data-mini="true" data-inline="true" class="ui-btn-right bulb-icon"
      data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}

<ul data-role="listview" data-divider-theme="a" class="items">
    <li data-role="list-divider">Abfragen</li>
    {% for id, params in api_param_items %}
        <li class="apirequest-row">
            <a href="/m_setup/{{ haus.id }}/api_query/edit/{{ id }}/" class="">{{ params.name }}<br/></a>

        </li>
    {% endfor %}
</ul>

{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false">
        <ul>
            <li>
                <a href=' /m_setup/{{ haus.id }}/api_query/edit/' data-icon='gear'>Anlegen</a>
            </li>
        </ul>
    </div>
{% endblock %}
