{% extends "m/m_base.html" %}
{% load i18n %}
{% block title %}{% trans "Smart-Heat-OS Periodischer-Reset" %}{% endblock %}
{% block bodycls %}main-config-page periodischer-reset page{% endblock %}
{% block mheader %}
        <a href="/config/" data-role="button" data-icon="arrow-l" data-mini="true"
           data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>

        <a href="https://support.controme.com/periodischer-reset/"
           target="_blank" data-role="button" data-icon="bulb-icon-grey" data-mini="true"
           data-inline="true" class="ui-btn-right bulb-icon" data-iconpos="notext"></a>
{% endblock %}

{% block mcontent %}
    {% csrf_token %}
    <input type="hidden" value="{{ haus.id }}" id="haus_id">
    <ul data-role="listview" data-divider-theme="a">
        <li class="hour-slider-li">
            <div>
                <label for="hour-slider">Periodischer Reset Datenbank in Stunden</label>
                <input type="range" name="hour_slider" id="hour-slider"
                       class="hour-slider" data-mini="true" data-id="{{ haus.id }}"
                       data-highlight="true" data-popup-enabled="true"
                       min="1" max="168" step="1" value="{{ params.hour_slider|default:30 }}">
            </div>

            <p class="desc-text">Nach der eingegebenen Anzahl in Stunden wird die DATENBANK auf die hochgeladene Datenbank zurückgesetzt.
                Der eingegebene Wert muss zwischen 1 und 168 (1 Woche) liegen.
            </p>

        </li>

        <li class="zero-padding">
            <div data-role="navbar">
                <ul>
                    <li>
                        <a href="#"
                        class="{% if params.status|default:'off' == 'off' %} ui-btn-active {% else %} ui-btn-inactive {% endif %}  set-status set-off">
                            AUS</a>
                    </li>
                    <li>
                        <a href="#"
                           class="{% if params.status == 'on' %} ui-btn-active {% else %} ui-btn-inactive {% endif %} set-status set-on">
                            EIN</a>
                    </li>
                </ul>
            </div>
        </li>
        {% if params.status == 'on' %}
        <li>
            <label>Reset-Script ist aktiv seit {{ params.date }}. Neue DB-Reset werden alle {{ params.hour_slider }}h generiert. Nächster Berechnung in {{ left_time }}.</label>
        </li>
        {% endif %}
        <li>
            <form method='post' enctype='multipart/form-data' id="ulform">
                {% csrf_token %}
                <input type="hidden" name="db_backup" value="db_backup_periodic"/>
                <label for="db-file">Datenbank Upload</label>
                <input type="file" name="db_file" id="db-file">
                <p class="desc-text">
                Laden Sie hier die gewünschte Datenbank als Zip-Datei hoch.
                </p>
                <li class="zero-padding">
                    <input type="submit" onclick="validate_update_Form();" value='{% trans "Datenbank hochladen" %}' style="padding:0px;" data-corners="false" class="ui-btn ui-btn"/>
                </li>
            </form>
        </li>

        <li>
           Dateiname der hochgeladenen Reset-Datenbank: <br>
           {{ zipdb_name }}
        </li>

        <li class="zero-padding">
            <form method="post"> {% csrf_token %}
                <div data-role="navbar">
                    <ul>
                        <li><button id='db_reset_log' name="db_reset_log" value="db_reset_log" >Download Database Reset Log</button></li>
                    </ul>
                </div>  
            </form> 
        </li>

    </ul>

    <script>

        function validate_update_Form() {
            $('#ulform').get(0).submit();

        };

    </script>
{% endblock %}
