{% extends "m_base.html"%}

{% block title %}Smart-Heat-OS - Temperatur&uuml;berwachung{% endblock %}

{% block mheader %}
    <a href="/config/{{haus.id}}/" data-role="button" data-icon="arrow-l" data-mini="true" data-inline="true" class="ui-btn-left">Zur&uuml;ck</a>
    <a href="#" data-role="button" data-icon="false" data-mini="true" data-inline="true" class="ui-btn-right"  onclick="doEdit();" id='sortbutton'>Sortieren</a>
{% endblock %}

{% block mcontent %}
<style type="text/css">
    .ui-li-aside {
    float: right;  text-align: right; margin:  0;  width: 85px;
    max-height: 42px; vertical-align: middle;
    }
    .ui-controlgroup.ui-mini {
        margin:0;
    }
</style>
<script type="text/javascript">
    $(document).ready(function() {
        $('#right-menu-ch').change(function(){
            let right_menu = 0;
            if ($(this).attr("checked")){
                right_menu = 1;
            }
            $.ajax({
                url: '/m_setup/{{haus.id}}/temperaturszenen/',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'right_menu_ajax': right_menu
                },
                type: 'post',
                success: function() {

                }
            });
        })

    })
    var timeout;
    function doEdit() {
        if($('.del').css('display') == 'none') {
            $('.del').show();
            $('#sortbutton .ui-btn-text').text('Fertig');
        } else {
            $('.del').hide();
            $('#sortbutton .ui-btn-text').text('Sortieren');
        }
        $('#erlist').listview('refresh');
    }

    function getModsList(){
        $.ajax({
                url: "/m_setup/{{haus.id}}/temperaturszenen/getmodeslist/",
                dataType: "json",
                success: function(data) {
                  $('#mode_list').append('<li data-role="list-divider" id="modes">Angelegte Temperaturszenen</li>');
                  for(mode in data){
                  $('#mode_list').append('<li data-id='+data[mode][0]+ ' class="temperaturmodes">'+
                  '<a href="/m_setup/{{ haus.id }}/temperaturszenen/edit/'+ data[mode][0] +'/">' + data[mode][1].name+ '</a>'+
                  '<div class="del ui-li-aside" data-role="controlgroup" style="display: none;" data-type="horizontal"  data-mini="true">'+
                        '<a data-role="button" data-icon="arrow-d" data-iconpos="notext" href="#" onclick="moveDown('+data[mode][0]+');"/></a>' +
                        '<a data-role="button" data-icon="arrow-u" data-iconpos="notext" href="#" onclick="moveUp('+data[mode][0]+');"/></a>' +
                   '</div></li>').trigger('create');
                   $("#mode_list").listview('refresh');
              }
                }
        });
    }

    getModsList();
    function setModsList(){
        data = [];
        $( "#mode_list li" ).each(function( ) {
          console.log( $(this).index() + ": " + $( this ).text() );
          obj = {};
          if($(this).index()){
              data.push($( this ).attr('data-id'));
          }
        });
        $.ajax({
                url: "/m_setup/{{haus.id}}/temperaturszenen/setmodeslist/",
                dataType: "json",
                type: "post",
                data: {'modes': data},
                success: function(data) {
                }
        });
    }

    function moveDown(id){
        clearTimeout(timeout);
        var parentli = $("li[data-id="+id+"]");
        var afterli = $(parentli).next('li');
        $(parentli).insertAfter($(afterli));
        timeout = setTimeout(function(){ setModsList(); }, 1000);

    }
    function moveUp(id){
        clearTimeout(timeout);
        var parentli = $("li[data-id="+id+"]");

        var prevli = $(parentli).prev('li');
        if($(prevli).attr('id')=="modes")
            return;
        $(parentli).insertBefore($(prevli));
        timeout = setTimeout(function(){ setModsList(); }, 500);
    }
</script>

<ul data-role="listview" id="wlist" style="margin-bottom: 0">
    <li data-role="list-divider">
        Temperaturszenen
    </li>
    <li>
        <label style="margin:0px;border:0;" data-corners="false">
            <input type="checkbox" {%if r_m_active %}checked{%endif%}
                   name="right_menu" id="right-menu-ch" value='1'/>
                   Link zur Konfigurationsseite im rechten Menü anzeigen
        </label>

    </li>

    <li data-icon='false' style="padding:0px">
        <a href=" /m_temperaturszenen/{{ haus.id }}/" target="_blank" style="text-align:center">öffne Benutzeroberfläche</a>
    </li>

</ul>
<ul data-role="listview" data-divider-theme="a" id="mode_list" style="margin-top: 0">


</ul>

{% endblock %}

{% block footer %}
    <div data-role='navbar' data-position="fixed" data-tap-toggle="false">
        <ul>
            <li>
                <a href='/m_setup/{{haus.id}}/temperaturszenen/edit/' data-icon='gear'>Temperaturszenen anlegen</a>
            </li>
        </ul>
    </div>
{% endblock %}